h2 如何撰写评测

p KnewOne 牛玩 作为一个新奇酷产品交流社区，非常期待您客观真实的评测。我们会每天选出优秀的评测文章，为作者送出 KnewOne 牛玩 的纪念礼品。同时，优秀作者在 KnewOne 牛玩 的领养活动中也有更高的成功率。

h3 KnewOne 牛玩 中写评测指南

h4 测评步骤：
ol
  li 搜索您要评测的产品的关键词，进入产品页面；如果该产品在网站中还没有被分享过，可先分享产品；
  li 点击产品页面右侧的“写评测”进入编辑器窗口；
  li 评测完成后点击右上角的“发布”按钮；
  li 若暂时未完成可点击“保存”按钮将评测保存在草稿箱；当输入间隔超过1.5s时，草稿也会自动保存在草稿箱中。草稿箱可在网页顶栏头像右边的下拉菜单中找到。

h4 字数限制：
p 为方便用户浏览，少于140字的评测可选择直接转为短评。短评内容将为评测的正文和图片，不包括评测标题与视频。

h4 风格要求：
p 不管是图文视频评测还是纯文字评测，对产品是褒是贬，风格是客观叙述、开箱美拍或是二次元卖萌，只要能让网站用户看到您真实的使用体验，我们都非常欢迎。

h4 内容格式：
p 录入正文文本后，选择需要改变格式的文本会弹出浮动格式栏。格式栏中可实现对文本添加超链接、加粗、倾斜、添加删除线、转为副标题和现实引用等功能。

h4 插入素材：
p 添加素材时，移动鼠标至文本左下部分时会弹出浮动“+”，单击“+”可选择添加图片（建议实拍照片）或视频通用代码。照片建议适当处理尺寸以提高上传速度，视频代码请选择通用代码以便保证在移动端上的播放。
