- present users.first do |up|
  = up.link_to_with_avatar :tiny, {class: "meta"}, {class: "img-circle"}
span.meta.feed_users
  = users.map { |user| present(user).link_to_with_name }.join(',').html_safe
