$('[href=#tab-feelings], [href=#tab--mobile-feelings]').trigger('click');
$('#tab-feelings .nothing, #tab--mobile-feelings .nothing').replaceWith('<div class="feelings list"></div>');
$('<%= escape_javascript render(@feeling) %>')
  .hide()
  .prependTo('.feelings')
  .fadeIn('slow');

$('.feeling_form').data('reset').resolve();

var count = parseInt($('.feelings_count').text()) || 0;
$('.feelings_count').text(count + 1);

$('.score').score();
