html.home_landing {
  height: 100%;
  width: 100%;

  body {
    height: 100%;
    width: 100%;
  }

  .feature {
    @media screen and (min-width: $screen-md-min + 1) {
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    > h1 {
      font-family: "orbitron-bold";
      font-size: 2em;
      margin: .25em 0 .25em 46px;

      @media screen and (min-width: $screen-md-min + 1) {
        left: 30px;
        margin: 0;
        position: absolute;
        top: 30px;
        z-index: 2;
      }

      img {
        margin-right: 12px;
      }

      a {
        color: #049cdb;
      }
    }

    .feature_name {
      color: $brand-info;
      display: block;
      font-family: "orbitron-bold";
      font-size: 1.2em;
      margin-left: 20px;
      margin-top: 5px;

      @media screen and (min-width: $screen-md-min + 1) {
        margin: 0;
        position: absolute;
        right: 50px;
        top: 150px;
      }
    }

    .feature_image {

      @media screen and (max-width: $screen-md-min) {
        display: block;
        height: 500px;
        max-width: 100%;
        position: relative;
        overflow: hidden;
        width: 100%;
      }

      @media screen and (max-width: $screen-xs-min) {
        height: 200px;
      }

      img {
        @include stretch(-1000%, -1000%, -1000%, -1000%);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        margin: auto;
        max-height: none;
      }
    }

    .feature_comment {
      margin: 5px 20px 1em 20px;

      @media screen and (min-width: $screen-md-min + 1) {
        bottom: 50px;
        margin: 0;
        position: absolute;
        right: 50px;
      }

      img {
        height: 48px;
        vertical-align: top;
        width: 48px;

        @media screen and (min-width: $screen-md-min + 1) {
          height: 80px;
          vertical-align: middle;
          width: 80px;
        }
      }

      p {
        @include border-radius(5px);
        display: inline-block;
        margin-bottom: 0;
        margin-left: 20px;
        max-width: 75%;
        padding: 1em;
        position: relative;
        vertical-align: middle;

        &:before {
          border-color: transparent;
          border-style: solid;
          border-width: 8px;
          content: '';
          left: -16px;
          position: absolute;
          top: 16px;
        }

        @media screen and (min-width: $screen-md-min + 1) {
          margin-left: 1.5em;
          max-width: 20em;
          padding: 1em;
        }
      }
    }

    .entry {
      @include border-radius(8px);
      border-style: solid;
      border-width: 1px;
      margin: 0 auto 1em;
      padding: 15px;

      @media screen and (max-width: $screen-md-min) {
        margin-left: 9%;
        margin-right: 9%;
      }

      @media screen and (min-width: $screen-md-min + 1) {
        left: 50px;
        margin: 0;
        position: absolute;
        top: 200px;
        width: 280px;
      }

      .oauth {
        text-align: center;

        .fa {
          margin-right: .85em;

          &:hover {
            color: #049cdb !important;
          }
        }

        .fa-envelope {
          margin-right: 0;
        }
      }

      #classic_form {
        display: none;
        margin-top: 1em;

        .tab-content {
          padding-top: 1em;

          .form-group {

            &:nth-last-child(2) {
              margin-bottom: 0;
            }

            &:last-child {
              margin-bottom: 0;
              margin-top: 15px;
            }
          }

          .fa {
            width: 14px;
          }

          .btn {
            margin-bottom: 15px;
            width: 100%;

            &:last-child {
              margin-bottom: 0;
            }

            @media screen and (min-width: $screen-md-min + 1) {
              margin-bottom: 0;
              width: auto;
            }
          }

          .alert {
            margin-bottom: 0;
          }
        }
      }
    }

    @media screen and (min-width: $screen-md-min + 1) {
      &.theme_dark {

        .feature_name {
          color: #ddd;
        }

        .feature_comment {

          p {
            background-color: rgba(#1e1e1e, 0.7);
            border-color: #181818;
            box-shadow: 0 0 30px #191919;
            color: #bbb;

            &:before {
              border-right-color: rgba(#1e1e1e, 0.7);
            }
          }
        }

        .entry {
          background-color: rgba(#1e1e1e, 0.7);
          border-color: #181818;
          box-shadow: 0 0 30px #191919;

          .oauth {

            .fa {
              color: #404b53;
            }
          }

          .nav-pills-list {

            > li {

              > a {
                color: darken(#ddd, 50%);
                word-spacing: 1em;

                &:hover,
                &:focus {
                  background-color: transparent;
                  color: #ddd;
                }
              }

              &.active {
                border-bottom-color: #049cdb;

                > a {
                  color: #ddd;

                  &:hover,
                  &:focus {
                    background-color: transparent;
                  }
                }
              }
            }
          }

          .input-group-addon {
            background-color: #333;
            border-color: #333;
            color: #ddd;
          }

          .alert {
            background-color: #404b53;
            border-color: #181818;
            color: #ddd;
          }

          #classic_form {
            color: #bbb;
          }
        }
      }

      &.theme_light {

        .feature_name {
          color: #333;
        }

        .feature_comment {

          p {
            background-color: rgba(#feffff, 0.5);
            box-shadow: 8px 8px 30px #ddd;

            &:before {
              border-right-color: rgba(#feffff, 0.5);
            }
          }
        }

        .entry {
          background-color: rgba(#feffff, 0.5);
          border-color: #ddd;
          box-shadow: 0 0 30px #ddd;

          .oauth {

            .fa {
              color: darken(#ddd, 50%);
            }
          }

          .nav-pills-list {

            > li {

              > a {
                word-spacing: 1em;

                &:hover,
                &:focus {
                  background-color: transparent;
                  color: #333;
                }
              }

              &.active {

                > a {

                  &:hover,
                  &:focus {
                    background-color: transparent;
                  }
                }
              }
            }
          }

          .alert {
            background-color: #fff;
            border-color: #ccc;
            color: #555;
          }
        }
      }
    }
  }

  #home_index {

    @media screen and (min-width: $screen-md-min + 1) {
      padding-top: 40px;
    }
  }
}

html.home_landing,
html.home_index {

  #home_index {
    @include make-row;
    @include site_margin;

    > section {
      @include make-md-column(8);
    }

    > aside {
      display: none;
      @media (min-width: $screen-md-min) {
        display: block;
      }
      @include make-md-column(4);
    }
  }

  #home_things {
    @include make-row;
    li {
      @include make-sm-column(6);
      @include make-lg-column(4);
      @include make-xl-column(3);
      margin-bottom: 2em;
    }
  }

  #home_reviews {
    background: white;
    padding: 1em;
    @include border-radius(8px);

    li {
      padding: 1em 0;
      color: $text-muted;

      article {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        img {
          @extend .img-circle;
          vertical-align: -20px;
        }

        small {
          margin: 0 .5em;
        }
      }

      .media {
        @include clearfix;
        .media-heading {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px dashed $gray-light;
      }
    }
  }

  #home_filling {
    margin: 2em 0;
    text-align: center;
    color: $text-muted;
  }

  #qr_entry {
    @include responsive-wrapper;
    text-align: center;
    > a {
      display: block;
      margin: 1em 0;
    }
    .fa-comments {
      color: $green;
    }
  }
}
