#settings_wrapper {
  @media screen and (min-width: $screen-lg-min + 100) {
    margin-left: auto;
    margin-right: auto;
    width: $screen-lg-min;
  }

  #main {

    .form-horizontal {

      .form-group {
        margin-left: 0;
        margin-right: 0;

        @media screen and (min-width: $screen-sm-min) {

          .control-label {
            @include make-sm-column(2);
          }

          .controls {
            @include make-sm-column(5);
          }

          .help-block {
            @include make-sm-column(4);
          }

          .form-action {
            @include make-sm-column(9);
            @include make-sm-column-offset(2);
          }
        }
      }
    }

    #table_oauth {
      text-align: center;
      width: 100%;

      @include make-sm-column(6);
      @include make-sm-column-offset(2);
      @include make-md-column(4);
      @include make-md-column-offset(2);

      thead {

        th {
          text-align: center;

          &:first-child {
            text-align: left;
          }
        }
      }

      tbody {

        td {
          padding-bottom: .5em;
          padding-top: .5em;

          &:first-child {
            text-align: left;
          }
        }
      }
    }
  }

  #aside {

    nav {

      .list-group-item {
        color: $text-muted;

        &:hover {
          color: $list-group-active-color;
          background-color: $list-group-active-bg;
          border-color: $list-group-active-border;
        }

        &.active {
          color: $list-group-active-color;
        }
      }
    }
  }
}