@import '../base';

.adoption {
  margin-bottom: 1rem;

  @media (min-width: $screen-md-min) {
    padding-right: 120px;
    position: relative;
  }
}

.adoption-details {
  margin-bottom: $padding-large-vertical;
}

.adoption-thing {
  @include imgtxt(left, $padding-large-horizontal, '.foo');
  margin-bottom: $padding-large-vertical;

  .foo {

    .title {
      font-size: 18px;
    }

    > output {
      display: inline-block;
      font-size: 16px;
      font-weight: 200;
      padding: 6px 12px;
      background-color: transparent;
      border-style: solid;
      border-width: 1px;

      &.waiting, &.denied {
        color: #ccc;
        border-color: #ccc;
      }

      &.approved {
        color: $blue;
        border-color: $blue;
      }
    }
  }
}

.adoption-actions {

  @media (min-width: $screen-md-min) {
    position: absolute;
    right: 0;
    top: 0;
  }

  .btn {
    display: block;
    margin-bottom: $padding-large-vertical;
    width: 100%;

    @media (min-width: $screen-md-min) {
      width: 120px;
    }
  }
}

.adoption-result {

  .help-block {
    font-size: 12px;
    font-style: normal;
    margin-top: 0;
  }

  > ul {
    text-align: center;

    li {
      display: inline-block;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      img {
        @extend .img-circle;
      }
    }
  }
}

#adoption-modal {
  #new_address {
    margin-top: 5px;
  }
}
