@import '../base';

html.bong_index {
  body {
    padding: 0;

    @media (min-width: $screen-sm-min) {
      padding: {
        bottom: 50px;
        top: 50px;
      }
    }
  }

  #header {
    display: none;
  }

  #wrapper {
    @include wrapper(simple, $max-width: $screen-sm-max);
    margin-bottom: 0;
  }

  .page-header {
    @include clearfix;

    h1 {
      float: left;
    }

    .btn {
      float: right;
    }

    b {
      display: inline-block;
      font-style: normal;
      font-weight: normal;

      @media (min-width: $screen-sm-min) {
        border-top: 5px solid $brand-color;
        margin-top: -28px;
        padding-top: 23px;
      }

      a {
        color: $text-color;
      }
    }
  }

  main {
    > h2 {
      font-size: 24px;
    }
  }

  .thumbnails,
  .groups {
    @media (min-width: $screen-sm-min) {
      @include make-row;
    }
    
    > li {
      @media (min-width: $screen-sm-min) {
        @include make-sm-column(4);
      }
    }
  }

  .thumbnail {

    > .image {
      @include stretch_img;
    }

    > .caption {
      h3 {
        @include text-overflow;
        text-align: center;
      }

      p {
        @include text-overflow;
        text-align: center;
      }
    }
  }

  .groups {
    @media (max-width: $screen-sm-max) {
      margin: {
        left: 0;
        right: 0;
      }
    }
  }
}
