@import '../base';

html.home_bong {
  #wrapper {
    @include wrapper(simple, $max-width: $screen-sm-max);
  }

  .page-header {
    b {
      display: inline-block;
      font-style: normal;
      font-weight: normal;

      @media (min-width: $screen-sm-min) {
        border-top: 5px solid $brand-color;
        margin-top: -28px;
        padding-top: 23px;
      }
    }
  }

  main {
    > h2 {
      font-size: 24px;
    }
  }

  .thumbnails,
  .groups {
    @media (min-width: $screen-sm-min) {
      @include make-row;
    }
    
    > li {
      @include make-sm-column(4);
    }
  }

  .thumbnail {

    > .image {
      @include stretch_img;
    }
  }
}
