@import '../base';

html.bong_index {
  $media-padding-right: 220px;

  body {
    padding: 0;

    @media (min-width: $screen-sm-min) {
      padding: {
        bottom: 50px;
        top: 50px;
      }
    }
  }

  #header {
    display: none;
  }

  #wrapper {
    @include wrapper(simple, $max-width: $screen-sm-max);
    margin-bottom: 0;
  }

  .page-header {
    @include clearfix;

    h1 {
      float: left;
    }

    .btn {
      float: right;
    }

    b {
      display: inline-block;
      font-style: normal;
      font-weight: normal;

      @media (min-width: $screen-sm-min) {
        border-top: 5px solid $brand-color;
        margin-top: -28px;
        padding-top: 23px;
      }

      a {
        color: $text-color;
      }
    }
  }

  main {
    > h2 {
      font-size: 24px;
    }
  }

  .thumbnails,
  .groups {
    @media (min-width: $screen-sm-min) {
      @include make-row;
    }
    
    > li {
      @media (min-width: $screen-sm-min) {
        @include make-sm-column(4);
      }
    }
  }

  .thumbnail {

    > .image {
      @include stretch_img;
    }

    > .caption {
      h3 {
        @include text-overflow;
        text-align: center;
      }
    }
  }

  .groups {
    @media (max-width: $screen-sm-max) {
      margin: {
        left: 0;
        right: 0;
      }
    }
  }

  .media {
    position: relative;
  }

  .media-left {
    display: block;
    left: 0;
    position: absolute;
    top: 0;

    img {
      height: 45px;
      width: 45px;

      @media (min-width: $screen-sm-min) {
        height: 90px;
        width: 90px;
      }
    }
  }

  .media-body {
    background-color: #F7F7F7;
    border-radius: 4px;
    display: block;
    margin-left: 65px;
    overflow: visible;
    padding: 20px;
    position: relative;

    &::before {
      border-color: transparent #f7f7f7 transparent transparent;
      border-style: solid;
      border-width: 10px;
      content: '';
      left: -20px;
      position: absolute;
      top: 10px;
    }

    p:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $screen-sm-min) {
      margin-left: 115px;
      padding-right: $media-padding-right;

      &::before {
        border-width: 15px;
        left: -30px;
        top: 15px;
      }
    }
  }

  .media-affix {
    margin-left: 65px;
    padding-top: 10px;

    .btn-success {
      width: 100%;
    }

    @media (min-width: $screen-sm-min) {
      margin-left: 0;
      padding-top: 0;
      position: absolute;
      right: 20px;
      text-align: center;
      top: 30px;
      width: $media-padding-right - 40px;

      .btn-success {
        width: auto;
      }
    }
  }
}
