html.cart_items_index {

  #wrapper {
    @include wrapper(simple, $max-width: $screen-md-min);
  }

  .carts {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1em;

    @media screen and (min-width: $screen-sm-min) {
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  .cart_item {
    @include clearfix;
    position: relative;
    margin-bottom: 1em;

    &:not(:last-child) {
      border-bottom: 1px dashed #e5e5e5;
      padding-bottom: .5em;
    }

    &[disabled] {
      opacity: 0.5;

      .stock_hint {display: inline;}
    }

    .thing {
      margin-bottom: 1em;
      padding: 0;

      .cover {
        display: inline-block;
      }

      .info {
        display: inline-block;
        max-width: 53%;
        margin-left: 2em;

        @media screen and (min-width: $screen-sm-min) {
          max-width: none;
        }

        .title {
          font-size: 1.25em;
          margin-bottom: 1em;
        }
      }

      .stock_hint {
        color: $red;
        display: block;
        font-weight: normal;

        @media screen and (min-width: $screen-sm-min) {
          display: inline;
          margin-left: 2em;
        }
      }
    }

    .item_opts {
      @include clearfix;

      @media screen and (min-width: $screen-sm-min) {
        float: right;
      }

      .price {
        float: right;
        font-size: 1.25em;
        max-width: 7em;
        text-align: right;
      }

      .destroy {
        text-align: center;
        margin: 0 1.5em;
        float: right;

        a {color: $text-muted;}
      }

      .quantity {
        float: left;

        @media screen and (min-width: $screen-sm-min) {
          float: right;
        }

        span {
          display: inline-block;
          text-align: center;
          width: 3em;
        }

        .fa-plus {margin-left: .5em;}
      }
    }
  }

  .total_price {
    text-align: right;
    color: $text-muted;

    strong {
      display: inline-block;
      margin-left: .5em;
      font-size: 1.25em;
      color: $red;
      width: auto;
    }

    @media screen and (min-width: $screen-sm-min) {
      margin-right: 1em;
    }
  }

  .deliver_free_gap {
    color: $red;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }

  button[type="submit"] {
    float: right;
    width: 8em;

    @media screen and (min-width: $screen-sm-min) {
      margin-right: 1em;
    }
  }

  .deliver_tip {
    color: $text-muted;
  }
}
