@import '../base';

html.categories_index,
html.categories_all {

  #wrapper {
    @include wrapper(simple, $max-width: $screen-lg-min);
  }

  .feature {
    margin-bottom: 30px;

    @media (min-width: $screen-sm-min) {
      position: relative;
    }
  }

  .feature_image {
    display: block;
    height: 0;
    margin-bottom: 1em;
    padding-bottom: 40%;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 0;
    }

    img {
      max-width: 100%;
    }
  }

  .feature_comment {
    @include clearfix;

    @media (min-width: $screen-sm-min) {
      bottom: 1em;
      left: 1em;
      position: absolute;
    }

    img {
      float: left;
      height: 40px;
      margin-right: .5em;
      width: 40px;

      @media (min-width: $screen-sm-min) {
        float: none;
        vertical-align: text-bottom;
      }
    }

    p {
      color: $text-color;
      margin-bottom: 0;
      overflow: hidden;

      @media (min-width: $screen-sm-min) {
        color: #fff;
        display: inline-block;
      }

      .fa-heart {
        color: $red;
      }
    }
  }
}