@import '../base';

html.categories_index {

  #wrapper {
    background-color: #ebeced;
    padding: {
      left: 0;
      right: 0;
    }

    @media (min-width: $screen-sm-min) {
      padding-top: 0;
    }

    @media (min-width: $screen-lg-min) {
      @include wrapper(simple, $max-width: $screen-lg-min);
    }
  }

  @media (max-width: $screen-md-max) {
    .page-header {
      border-bottom: none;
      margin-bottom: 0;
      padding: 0 20px;

      @media (min-width: $screen-sm-min) {
        padding: {
          left: 0;
          right: 0;
        }
        width: percentage(5 / 12);
      }

      h1 {
        font-size: 20px;
        line-height: 60px;
      }
    }

    .categories {
      margin: {
        left: 0;
        right: 0;
        top: 0;
      }
    }

    .thumbnail--category {

      .info {

        > h5 {

          a {
            font-size: 16px;
            margin-right: 0;
            text-align: center;
          }
        }
      }
    }
  }
}
