html.dialogs_index {
  #wrapper {
    @include wrapper(simple);

    > header {
      h1 {
        span {
          @extend .hidden-xs;
        }
      }
      button {float: right;}
    }
  }
}

#dialogs {
  .dialog {
    padding: 1em 0;
    border-bottom: 1px dashed #ccc;

    header {
      @include clearfix;
      margin-bottom: 1em;

      .sender_avatar {
        float: left;
        margin-right: 1em;
        img {
          width: 40px;
          height: 40px;
        }
      }

      .sender_name, .new_messages_count {
        margin-top: 15px;
      }

      .sender_name {
        float: left;
        color: $text-muted;
      }

      .new_messages_count {
        float: right;
        @extend .badge;
        margin-right: 1em;
        background: $blue;
      }
    }
  }
}
