@import '../base';

html.dialogs_index, html.dialogs_show {
  #wrapper {margin: 0;}

  .container {
    margin: 0 auto;
    padding: 0;
    max-width: 800px;

    > nav {
      margin: 30px 0 0 1em;

      h1 {
        display: inline;
        font-size: $font-size-h4;
        color: $gray;
        vertical-align: middle;
      }

      .new_private_message, .readall {margin-left: 1em;}

      @include from-breakpoint(md) {
        @include clearfix;
        margin: 0 0 0 10em;
        h1 {
          float: left;
          margin: 0;
        }
        .new_private_message, .readall {float: right;}
      }
    }

    > main {
      margin-top: 30px;

      > form {
        margin-bottom: 30px;

        button {
          margin-top: 1em;
          width: 100%;
        }

        @include from-breakpoint(md) {
          @include clearfix;
          margin: 0 0 30px 10em;
          button {
            float: right;
            width: 180px;
          }
        }
      }
    }
  }
}
