html.dialogs_index, html.dialogs_show {
  #wrapper {
    @include wrapper(simple);

    > header {
      h1 {
        span {@extend .hidden-xs;}
      }
      button {@extend .pull-right;}
    }
  }
}

.private_message {
  @include vertical-list-item;

  header {
    @include clearfix;
    margin-bottom: 1em;

    .sender_avatar {
      @extend .pull-left;
      margin-right: 1em;
    }

    .sender_name, .messages_count {margin-top: 15px;}

    .sender_name {
      @extend .pull-left;
      color: $text-muted;
    }

    .messages_count {
      @extend .pull-right;
      margin-right: 1em;
      > a {
        @extend .badge;
        &.unread {background: $blue;}
      }
    }
  }

  footer {
    .operations {
      @extend .pull-right;
      margin-right: 1em;
      > a {
        color: $text-muted;
        font-size: $font-size-small;
        margin-left: 1em;
        &:hover {color: $link-color;}
      }
    }
  }
}

#private_messages form {
  margin: 1em 0;
  button {
    margin-top: 1em;
    width: 100%;
  }

  @media screen and (min-width: $screen-sm-min) {
    textarea {width: 80%;}
    button {width: 100px;}
  }
}
