@import '../base';

html.explore {
  body {
    background-attachment: fixed;
    background-color: #000;
    background-image: url(http://image.knewone.com/photos/bb57246181bc46a67df861ba6100caec.jpg);
    background-repeat: no-repeat;
    background-position: center 45px;
    background-size: 100%;

    @media (min-width: $screen-md-min) {
      background-image: url(http://image.knewone.com/photos/a9096d008b5e9daec0d24681a7866d7d.jpg);
      background-position: center top;
      background-size: auto auto;
    }
  }

  #header {
    margin-bottom: 45px;
  }

  #wrapper {
    margin: 0 auto;
    max-width: $screen-md-min;
    padding: 0 10px;
    position: relative;

    @media (min-width: $screen-md-min) {
      padding: 0 50px;
    }

    @media (min-width: $screen-lg-min) {
      padding: 0;
    }

    > header {
      @include clearfix;
      margin-bottom: 10px;

      @media (min-width: $screen-md-min) {
        margin-bottom: 30px;
      }

      h1 {
        clear: both;
        font-size: 26px;
        margin: 0;
        padding: 60px 10px 50px;
        text-align: right;

        @media (min-width: $screen-md-min) {
          font-size: 36px;
          padding: 50px 0 40px;
        }

        a {
          color: #fff;
          font-family: STHeiti;
        }

        .logo {
          margin-right: .25em;
        }
      }

      nav {
        float: right;

        li {
          display: inline-block;
          margin-left: 5px;

          &:first-child {
            margin-left: 0;
          }

          @media (min-width: $screen-md-min) {
            margin-left: 0;
          }

          > a {
            color: #fff;
            display: block;
            font-family: STHeiti;
            line-height: 1em;
            padding: 10px;

            @media (min-width: $screen-md-min) {
              font-size: 16px;
              padding: 12px 14px;
            }
          }

          &.active {
            > a {
              border-bottom: 2px solid $blue;
              color: $blue;
              padding-bottom: 8px;

              @media (min-width: $screen-md-min) {
                border-bottom: 3px solid $blue;
                padding-bottom: 9px;
              }
            }
          }
        }
      }
    }
  }

  .thumbnail--article--featured {
    @media (min-width: $screen-md-min) {
      @include clearfix;
      position: relative;

      .thumbnail-cover {
        float: left;
        padding-bottom: 29%; /* ≈ 70% * (9 / 16) */
        width: 70%;
      }

      .thumbnail-body {
        bottom: 0;
        height: auto;
        padding: {
          bottom: 60px;
          top: 60px;
        }
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
        width: 30%;

        &::before {
          border-color: transparent #fff transparent transparent;
          left: -20px;
          right: auto;
          top: calc((100% - 60px - 20px) / 2);
        }

        .metas {
          > li {
            margin-bottom: 5px;

            &:nth-child(odd) {
              min-width: 40%;
            }


            &.name {
              vertical-align: middle;
            }

            &.time {
              margin-right: 0;
            }
          }
        }
      }

      .thumbnail-title {
        overflow: visible;
        white-space: normal;
      }

      .thumbnail-label {
        bottom: 0;
        top: auto;
        width: 100%;

        > label {
          display:block;
          height: 60px;
          line-height: 60px;
          text-align: right;
        }

        .entry-avatar {
          left: 20px;
          margin: auto;
          top: -30px;
        }
      }
    }
  }

  .block_list {
    > li {
      margin-bottom: 40px;

      @media (min-width: $screen-md-min) {
        float: left;
        width: 50%;

        &:nth-child(odd) {
          padding-right: 20px;
        }

        &:nth-child(even) {
          padding-left: 20px;
        }

        &.first {
          padding-right: 0;
          width: 100%;

          & ~ li {
            &:nth-child(even) {
              padding: {
                left: 0;
                right: 20px;
              }
            }

            &:nth-child(odd) {
              padding: {
                left: 20px;
                right: 0;
              }
            }
          }
        }
      }
    }
  }

  .contribute_button {
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0;
    position: absolute;
    text-align: left;

    &:hover {
      color: $blue;
    }
  }

  .pagination {
    li {
      a {
        background-color: transparent;
        color: #fff;

        &:hover {
          background-color: transparent;
          color: $blue-dark;
        }
      }

      &.active {
        a {
          background-color: transparent;
          color: $blue;
        }
      }

      &.disabled:hover {
        a {
          background-color: transparent;
        }
      }
    }
  }

  &.touch {
    body {
      padding-top: 45px;
    }
  }

  &.mobile {
    body {
      padding-bottom: 0;
    }
  }
}
