@import '../base';

html.explore {

  #wrapper {
    @include wrapper(simple, $max-width: $screen-lg-min);
    @include clearfix;

    @media (min-width: $screen-md-min) {
      padding: 0 0 4rem;
      position: relative;
    }

    main {

      > header {
        @include clearfix;
        margin: 1.7rem 0;

        a {
          color: #868686;
          display: block;
          font-size: 2.5rem;
          text-align: center;

          @media (min-width: $screen-sm-min) {
            float: right;
            text-align: right;
            font-size: 40px;
          }
        }

        .logo {
          font-family: "orbitron-medium";
          font-size: 1.2em;
          vertical-align: -1px;
        }
      }
    }

    > nav {
      float: right;
      margin-right: 14%;

      > .nav {
        border-left: 1px solid #878485;

        &.affix-top {
          margin-top: 102px;
        }

        > li {

          > a {
            color: #868686;
            padding: {
              left: 2em;
              right: 0;
            }
            width: 4.5em;
          }

          &:hover,
          &:active,
          &.active {

            > a {
              background-color: transparent;
              border-left: 1px solid #878485;
              color: $text-color;
              padding-left: calc(2em - 1px);
            }
          }
        }
      }
    }
  }

  .article {
    margin-top: 2rem;

    @media (min-width: $screen-md-min) {
      margin-top: 24px;
    }

    > header {

      > .title {
        border-bottom-color: #868686;
        color: #868686;
        margin-bottom: 30px;
        padding-bottom: 33px;
      }

      figure {
        border-bottom: 1px solid #868686;
        margin-bottom: $padding-large-vertical;
        padding-bottom: 33px;
        text-align: center;

        img {
          border: 1px solid #868686;
          margin-right: $padding-large-horizontal;

          @media (min-width: $screen-md-min) {
            margin-right: 30px;
          }
        }

        figcaption {
          display: inline-block;
          vertical-align: middle;
          text-align: left;

          @media (max-width: $screen-sm-max) {
            max-width: calc(100% - 82px - #{$padding-large-horizontal});
          }

          label {
            color: $text-color;
            font-weight: normal;
            margin-bottom: $padding-base-vertical;
          }

          small {
            color: $text-muted;
            display: block;
            font-size: 1em;
          }
        }
      }
    }

    .content {
      line-height: 1.5;

      img {
        margin-bottom: 0;
      }
    }
  }

  .article_thumb {
    margin-bottom: 6rem;

    &:last-child {
      margin-bottom: 0;
    }

    > figure {
      margin-bottom: 2rem;
      overflow: hidden;

      a {
        display: block;
        height: 0;
        padding-bottom: percentage(9 / 16);

        img {
          width: 100%;
        }
      }
    }

    > footer {
      @include clearfix;
      border-right: 1px solid #878485;
      padding: 0 1rem;

      @media (min-width: $screen-sm-min) {
        padding: 0 2rem;
      }

      .title {
        color: #646464;
        float: right;
        font-size: 20px;
        margin-top: 0;

        a {
          color: $text-color;
        }
      }

      .metas {
        clear: both;
        float: right;
        text-align: right;
        width: 60%;

        @media (min-width: $screen-sm-min) {
          width: auto;
        }

        > li {

          @media (max-width: $screen-xs-max) {
            margin-bottom: .5rem;
          }
        }

        .name {
          border-right: $border_default;
          padding-right: 1rem;
        }

        .time {

          @media (max-width: $screen-xs-max) {
            margin-right: 0;
          }
        }
      }
    }
  }

  .recommendation {
    padding-right: 3rem;

    &:last-child {
      padding-right: 0;
    }

    @media (max-width: $screen-sm-max) {

      display: block;
      margin: {
        bottom: 1rem;
        left: auto;
        right: auto;
      }
      max-width: 300px;
      padding-right: 0;
    }

    @media (min-width: $screen-md-min) {
      display: table-cell;
      min-width: 200px;
      text-align: center;
      width: 1%;
    }

    img {
      vertical-align: top;
    }

    .description {
      color: $text-muted;
      display: inline-block;
      margin-left: $padding-base-horizontal;
      text-align: left;
      max-width: calc(100% - 80px - #{$padding-base-horizontal});
      vertical-align: top;

      .title {
        @include text-overflow();
        color: $text-color;
        font-size: 14px;
        margin-top: 0;
        max-width: 200px;
      }

      p {
        height: 3em;
        margin-bottom: 0;
        overflow: hidden;
      }
    }
  }

  .actions {
    @include clearfix;
    margin-bottom: 6rem;

    .voting {
      float: left;

      .btn {
        @include button_inverse(#ececec, #6e6e6e);

        &.done {
          background-color: #6e6e6e;
          color: #ececec;
          opacity: 1;
        }
      }
    }
  }

  .panel {
    margin-bottom: 5rem;
  }

  .panel-heading {
    margin-bottom: 5px;
  }

  .pager {
    border-top-color: $text-muted;
    font-size: 16px;
    margin-bottom: 6rem;
    padding-top: 5px;
  }

  .voting {

    .btn {
      background-color: transparent;
      border: 1px solid #dedede;
      border-radius: 4px;
      padding: {
        left: 15px;
        right: 15px;
      }
      position: relative;

      .fa {
        margin-right: 10px;
      }

      .fa-weixin {
        font-size: 1.8em;
      }

      span {
        border-left: 1px solid #dedede;
        display: inline-block;
        padding-left: 20px;

        &:after {
          content: ' èµž';
        }
      }
    }
  }

  // @TODO
  .pager {

    &:empty {
      display: none;
    }
  }

  &.tablet {

    #wrapper {

      main {
        margin: {
          left: auto;
          right: auto;
        }
        width: 60%;
      }
    }
  }

  &.desktop {

    #wrapper {

      main {
        float: left;
        margin-left: 14%;
        min-height: 300px;
        width: 60%;
      }
    }
  }
}
