@import '../base';

html.groups_index,
html.groups_show,
html.groups_edit,
html.groups_create,
html.groups_members,
html.groups_fancies,
html.topics_new,
html.topics_edit,
html.topics_create,
html.topics_show {
  #wrapper {
    @include wrapper(grid, 2);
    > header { @include make-md-column-push(9); }
    > section { @include make-md-column-pull(3); }
  }

  .flash_topics, .hot_groups {
    > header {
      h4 {
        border-bottom: $border-default;
        margin-top: 0;
        padding: {
          bottom: 10px;
          left: .5em;
        }
        color: $gray;
      }
    }
  }

  .flash_topics {
    > header {
      display: none;
      @media screen and (min-width: $screen-md-min) {
        display: block;
      }
    }
  }

  .hot_groups {

    > header {
      h4 {
        a {
          color: $gray;
          &:hover {color: $text-color;}
        }
        a.more {float: right;}
      }
    }

    > section {
      display: none;
      @media screen and (min-width: $screen-md-min) {
        display: block;
      }
    }
  }

  .group_info {
    .name {
      margin-bottom: 1em;

      > * {
        display: inline-block;
        vertical-align: bottom;
      }

      img {
        @include square(40px);
        @extend %img-rounded;
        margin-right: 1em;
      }

      h1 {
        font-size: $font-size-large;
        margin: 0;
        a {color: $text-color;}
        i {
          font-size: $font-size-base;
          margin-left: .5em;
          color: $text-muted;
        }
      }
    }

    blockquote {
      display: none;
      font-size: $font-size-base;
      color: $text-muted;

      .author {
        img {
          width: 40px;
          height: 40px;
        }
      }
    }

    .membership {
      margin-bottom: 1em;

      .be_member {
        color: $text-muted;
        span {
          display: none;
          a {
            color: $text-muted;
            margin-right: 1em;
          }
        }

        @media screen and (min-width: $screen-md-min) {
          span {
            display: block;
            margin: .5em 0;
          }
        }
      }
    }

    @media screen and (min-width: $screen-md-min) {
      padding-bottom: 1em;
      border-bottom: $border-default;
      margin-bottom: 1em;

      .name {
        > * {display: block;}
        img {
          width: 80px;
          height: 80px;
          margin-bottom: 1em;
        }
      }
      blockquote {display: block;}
    }
  }

  .panel {
    /* TODO: same with user panel */

    &:last-of-type {
      margin-bottom: 0;
      box-shadow: none;
    }

    .panel-heading {
      @include clearfix;
      padding-left: 0;

      .panel-title {
        color: $text-muted;
        float: left;
      }

      .more {
        color: $text-muted;
        display: block;
        float: right;

        &:hover {
          color: $text-color;
        }
      }
    }

    .panel-body {
      padding: {left: 0; right: 0;}
    }
  }

  .members {
    display: none;

    .panel-body > ul {
      @include clearfix;

      li {
        float: left;
        margin: .5em 0;
      }
    }

    @media screen and (min-width: $screen-md-min) {
      display: block;
    }
  }

  .fancies {
    display: none;

    .panel-body > ul li {
      width: 100%;
      @include vertical-list-item;

      figure {
        img {max-width: 100%;}
      }
      figcaption {
        h5 {
          margin-bottom: 0;
          text-align: center;
          color: $text-muted;
          @include text-overflow;
        }
      }
    }

    @media screen and (min-width: $screen-md-min) {
      display: block;
    }
  }

  .topics {
    .article_compact {margin-bottom: .3em;}

    .article_header {
      .article_title {
        text-align: left;
        font-size: $font-size-h4;
        a {
          @include text-overflow;
          display: inline-block;
          max-width: 80%;
          vertical-align: middle;
        }
        i {
          font-size: $font-size-base;
          margin-left: 1em;
          color: $red;
        }
      }

      @media screen and (min-width: $screen-sm-min) {
        padding-right: 100px;
        margin-bottom: 0;
      }
    }

    .article_body {
      figure {
        margin-top: 0 - $font-size-h4 * $line-height-base;
        img {
          @include square(60px);
          @extend %img-circle;
        }
      }
    }

    .article_feature {
      @media screen and (min-width: $screen-sm-min) {
        top: 14px;
      }
    }

    .metas {
      text-align: left;
      .meta {
        a {
          color: $gray;
          &:hover {color: $text-color;}
        }
      }

      .topic_commented_at {
        // @extend .hidden-xs;
        @media (max-width: $screen-xs-max) { display: none; }
      }
    }
  }

  #group_content {
    .new_topic {margin: 1em 0;}
  }
}

html.groups_index {
  .topics {
    margin-top: $padding-large-vertical;
  }
}

html.groups_all {
  #wrapper {
    @include wrapper(simple, $max-width: $screen-lg-min);
  }

  .new_group {float: right;}
}

html.groups_new {
  #wrapper {
    @include wrapper(simple, $max-width: $screen-md-min);
  }
}

html.topics_show {
  &.mobile {
    #wrapper {
      > header {
        display: none;
      }
      > section {
        > nav {
          display: none;
        }
      }
    }
    .post_show {
      > header {
        > p {
          @include clearfix;
          margin-top: 10px;

          .group_name {
            @include text-overflow;
            color: $gray;
            float: left;
            font-size: 12px;
            line-height: 30px;
            max-width: 65%;
          }

          .btn {
            float: right;
          }
        }
      }
    }
  }
}
