html.groups_show,
html.groups_new,
html.groups_edit,
html.groups_create,
html.topics_new,
html.topics_edit,
html.topics_create,
html.topics_show {

  #wrapper {
    /* TODO: same with users#show styles, should be merged */
    @include wrapper(what);

    > header {
      @include make-md-column(3, $gutter: 4em);
      @include make-md-column-push(9);

      border-bottom: $border-default;
      margin-bottom: 2em;
      padding: {left: 0; right: 0;}

      @media screen and (min-width: $screen-sm-min) {
        border-bottom: none;
        margin-bottom: 0;
        padding: {left: 2em; right: 2em;}
      }
    }

    > section {
      @include make-md-column(9, $gutter: 4em);
      @include make-md-column-pull(3);

      padding: {left: 0; right: 0;}

      @media screen and (min-width: $screen-sm-min) {
        padding: {left: 2em; right: 2em;}
      }

      @media screen and (min-width: $screen-md-min) {
        border-right: $border-default;
        min-height: 800px;
      }
    }
  }

  .group_info {
    @media screen and (min-width: $screen-sm-min) {
      border-bottom: $border-default;
      margin-bottom: 2em;
    }

    h1 {font-size: $font-size-large;}

    blockquote {
      font-size: $font-size-base;
      color: $text-muted;
    }

    .membership {
      @include clearfix;
      margin-bottom: 1.5em;

      #join_group {
        float: left;
        margin-right: 2em;
      }

      .members_count {
        float: left;
        margin-top: .5em;

        /* TODO: same with user friendship */
        color: $text-color;
        font-size: $font-size-large;
        small {
          color: $gray;
          font-size: $font-size-base;
          padding-left: .5em;
        }
      }
    }
  }

  .members {
    display: none;


    @media screen and (min-width: $screen-md-min) {
      display: block;

      /* TODO: same with user panel */
      .panel-heading {
        @include clearfix;
        padding-left: 0;

        .panel-title {
          color: $text-muted;
          float: left;
        }

        .more {
          color: $text-muted;
          display: block;
          float: right;

          &:hover {
            color: $text-color;
          }
        }
      }

      .panel-body {
        padding: {left: 0; right: 0;}

        .user_list {
          @include clearfix;
          
          li {
            float: left;
            margin: .5em 0;
          }
        }
      }
    }
  }

}

/* html.groups_show, */
/* html.topics_new, */
/* html.topics_create, */
/* html.topics_edit, */
/* html.topics_show { */

/*   #wrapper { */
/*     @include wrapper(simple); */
/*   } */
/* } */

/* #group_header { */
/*   border-bottom: 1px solid #eee; */
/*   margin-bottom: 2em; */

/*   h1 { */
/*     a { */
/*       color: $text-color; */
/*       &:hover {color: $link-color;} */

/*       i { */
/*         vertical-align: 2px; */
/*       } */
/*     } */

/*     @media screen and (max-width: 767px) { */
/*       font-size: 2em; */
/*     } */
/*   } */

/*   p {color: $text-muted;} */

/*   .new_topic { */
/*     float: right; */
/*     margin: {top: 3em; right: 2em;} */

/*     @media screen and (max-width: 767px) { */
/*       margin: {top: .3em; right: 0;} */
/*     } */
/*   } */
/* } */

/* #topics { */
/*   .topic { */
/*     @include clearfix; */
/*     padding: 1em 0; */
/*     border-bottom: 1px dashed #ccc; */

/*     > a:first-child { */
/*       float: left; */
/*       img { @extend .img-rounded; } */
/*       margin-right: 2em; */

/*       @media screen and (max-width: 767px) { */
/*         float: none; */
/*       } */
/*     } */

/*     aside { */
/*       float: right; */
/*       margin: {top: 25px;right: 2em;} */
/*     } */

/*     h4 { */
/*       margin {right: 10%; top: 0;} */
/*       i { */
/*         margin: 0 0 0 1em; */
/*         color: $red; */
/*       } */
/*     } */

/*     .summary { */
/*       margin-top: 20px; */

/*       a { */
/*         color: $text-muted; */
/*         &:hover {color: $text-color;} */
/*       } */

/*       .commented_at { */
/*         color: $text-muted; */
/*         margin-left: 2em; */

/*         time { */
/*           font-size: 1em; */
/*           margin-left: .5em; */
/*         } */
/*         a {margin: 0 .5em;} */
/*       } */
/*     } */
/*   } */
/* } */

/* #topic_show { */
/*   > header { */
/*     margin-bottom: 2em; */
/*   } */

/*   > section { */
/*     ol {list-style: decimal inside;} */
/*     ul {list-style: disc inside;} */
/*   } */

/*   #topic_comments { */
/*     margin-top: 2em; */
/*     border-top: 1px solid #eee; */
/*     padding-top: 2em; */

/*     p.login_tip { */
/*       margin: 2em 0; */
/*     } */
/*   } */
/* } */
