html.help {

  #wrapper {
    @include wrapper(grid, 2);

    @media (min-width: $screen-md-min) {
      min-height: 650px;
    }
  }

  main {

    > article {
      line-height: 30px;
      padding: 0 2rem;
    }
  }

  h2,
  h3,
  h4 {
    color: $blue;
    margin: $line-height-computed 0;
  }

  h2 {
    font-size: $font-size-h3;
  }

  h3 {
    font-size: $font-size-h4;
  }

  h4 {
    font-size: $font-size-h5;
  }
}
