@import '../base';

html.home_hits body {
  padding-top: 45px;
  #header {margin: 0;}
  #wrapper {margin: 0;}
}

html.home_hits .container-fluid {
  padding: 0;
  @media (min-width: $screen-md-min) {
    padding: 0 10%;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-large-desktop;
    padding: 0 $screen-lg-min * 0.1;
  }
}

html.landing_mobile, html.home_hits {
  header.jumptron {
    @include clearfix;

    @media (min-width: $screen-sm-min) {
      margin: 40px 0 30px;
    }
  }
}

html.home_hits section.hits, html.landing_mobile section.hits {
  @include clearfix;
  $gutter: 20px;
  $font-color: #777777;

  article {
    margin-bottom: $gutter;
  }

  section.thing_list, article.thing, article.review {
    padding: 20px;
    background-color: #F7F7F7;
    @media (min-width: $screen-md-min) {
      background-color: #FFFFFF;
    }
  }

  article.review {
    @include to-breakpoint(sm) {
      header.cover {
        background: white;
      }
    }
  }

  .thing_list {
    width: 100%;
    margin-bottom: $gutter;
    padding: 1em;
    background: $ghost-white;


    @media (max-width: $screen-sm-min) {
      .thing_list-cover {
        margin-bottom: 20px;
      }
      .thing_list-description {
        padding-top: 0;
        border: none;
      }
      h4 {
        font-size: 16px;
      }
    }
    @media (min-width: $screen-sm-min) {
      float: left;
    }
  }

  article {
    &.thing {
      .content {
        padding: 16px 0;
        h4 {
          font-size: 16px;
        }
        a {
          color: $font-color;
        }
      }

      .info {
        padding: 0;
      }

      @media (min-width: $screen-sm-min) {
        float: left;
        .content h4 {
          font-size: 14px;
          a {
            color: $black;
          }
        }
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        &:nth-of-type(odd) {margin-right: $gutter;}
        width: 350px;
        width: calc((100% - #{$gutter})/2);
      }

      @media (min-width: $screen-md-min) {
        &:nth-of-type(3n+1), &:nth-of-type(3n+2) {margin-right: $gutter;}
        width: 306px;
        width: calc((100% - (#{$gutter} + 1px) * 2) / 3);
        padding: 0;
        .content, .info {
          padding-left: 16px;
          padding-right: 16px;
        }
        .info {
          padding-bottom: 16px;
        }
      }
    }

    &.review {
      width: 100%;

      @media (min-width: $screen-sm-min) {
        float: left;
      }

      @media (min-width: $screen-md-min) {
        /* So thing:review is golden porpotion */
        padding: 35px;
      }
    }
  }
}

html.home_hits .container-fluid > footer {
  ul.pager {
    margin: 0;
    .previous {margin-right: 20px;}
    .next {margin-left: 20px;}
    li > a, li > span {
      border-radius: 0;
      color: $gray;
      float: none;
    }
  }
}
