html.guest_homepage {

  // Layout
  // ---------------------------------------------------------------------------

  body {
    padding-bottom: 0;
  }

  #wrapper {
    margin: 0;
  }


  // Section
  // ---------------------------------------------------------------------------

  #header {
    display: none;
  }

  #footer {
    color: $text-muted;
    height: 40px;
    line-height: 40px;
    text-align: center;

    @media (min-width: $screen-md-min) {
      height: 50px;
      line-height: 50px;
    }
  }

  .landing {

    @media (min-width: $screen-md-min) {
      min-height: 432px;
      overflow: hidden;
      position: relative;
    }

    > header {
      @include clearfix;

      padding-top: 5px;
      text-align: center;

      @media (min-width: $screen-md-min) {
        left: 12%;
        margin: 0;
        padding-top: 0;
        position: absolute;
        text-align: left;
        top: 32%;
        z-index: 1;
      }

      img {
        height: 48px;
        margin-right: 12px;
        width: 48px;

        @media (min-width: $screen-md-min) {
          height: 60px;
          width: 60px;
        }
      }

      h1 {
        color: #049cdb;
        display: inline-block;
        font-family: "orbitron-bold";
        font-size: $font-size-h2;
        line-height: 48px;
        margin: 0;
        vertical-align: middle;

        @media (min-width: $screen-md-min) {
          line-height: 60px;
        }
      }

      small {
        display: block;
        margin: 5px 0;

        @media (min-width: $screen-md-min) {
          color: #fff;
          font-size: 18px;
          margin: {
            bottom: 0;
            left: 20px;
            top: 30px;
          }
        }
      }
    }

    .entry {
      margin-bottom: 0;
      padding: 15px;

      @media (max-width: $screen-sm-max) {
        @include decoration;

        width: 262px;
      }

      @media (min-width: $screen-md-min) {
        background-color: transparent;
        border-color: #ccc;
        margin-top: -190px;
        position: absolute;
        right: 10%;
        top: 50%;
        width: 280px;
        z-index: 1;

        .oauth {

          .fa {
            color: #ccc;
          }
        }

        .nav-pills-list {

          > li {

            > a {
              color: darken(#ddd, 25%);

              &:hover,
              &:focus {
                background-color: transparent;
                color: #ddd;
              }
            }

            &.active {
              border-bottom-color: #049cdb;

              > a {
                color: #ddd;

                &:hover,
                &:focus {
                  background-color: transparent;
                }
              }
            }
          }
        }

        .entry_email {
          color: #bbb;

          .tab-content .form-group.addon > a {
            color: #bbb;

            &:hover {
              color: #fff;
            }
          }
        }

        .alert {
          background-color: #404b53;
          border-color: #181818;
          color: #ddd;
        }
      }

      .entry_email {
        display: block;
      }

      .nav-justified > li > a {
        margin-bottom: 0;
      }

      .tab-content  {
        padding-top: 1.5em;

        .form-group {
          margin-bottom: 1.5em;

          &:nth-last-child(2) {
            margin-bottom: .5em;
          }

          &:last-child {
            margin-bottom: 0;
            margin-top: 1em;
          }
        }
      }

      .input-group-addon {
        background-color: #333;
        border-color: #333;
        color: #ddd;
      }
    }

    .landing_image_wrap {
      display: none;

      @media (min-width: $screen-md-min) {
        display: block;
        height: 0;
        padding-bottom: 25%;
      }

      img {
        @media (min-width: $screen-md-min) {
          bottom: -1000%;
          left: -1000%;
          margin: auto;
          position: absolute;
          right: -1000%;
          top: -1000%;
        }

        @media (min-width: $screen-xl-min) {
          position: static;
          width: 100%;
        }
      }
    }
  }

  .explore {
    display: none;

    @media (min-width: $screen-md-min) {
      display: block;
    }
  }

  .explore_header {
    display: none;

    @media (min-width: $screen-md-min) {
      background-color: #fff;
      box-shadow: 0 1px 2px #ccc;
      display: block;
      margin-bottom: 50px;
      padding: 13px 0;
    }

    .explore_header_inner {
      @include clearfix;

      height: 34px;
      position: relative;

      margin: {
        left: auto;
        right: auto;
      }
      max-width: 1440px;
      width: 90%;
    }

    .btn {
      color: $gray;
      left: 150px;
      position: absolute;

      &:hover {
        color: $text-color;
      }
    }

    form {
      display: inline-block;
      left: percentage(10 / 12);
      margin-left: -40px;
      position: absolute;
    }

    .form-control {
      border: none;
      box-shadow: none;
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  .explore_body {

    @media (min-width: $screen-md-min) {
      @include make-row;

      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: $screen-lg-min;
      width: 90%;
    }
  }

  .explore_nav {
    @include make-md-column(2);
    @include make-md-column-push(10);

    ul {
      border-left: 2px solid #fff;
      margin-left: 20px;
      padding: {
        bottom: 1em;
        left: 0;
        top: 1em;
        right: 0;
      }

      li {

        a {
          @include text-overflow;

          color: $text-muted;
          display: block;
          line-height: 14px;
          padding: {
            bottom: 9px;
            left: 30px;
            top: 9px;
          }

          &:hover {
            color: $text-color;
          }
        }

        &.active {

          a {
            border-left: 2px solid #049cdb;
            color: $text-color;
            margin-left: -2px;
            text-decoration: none;
          }
        }
      }
    }
  }

  .explore_content {
    @include make-md-column(10);
    @include make-md-column-pull(2);
    @include clearfix;
    @include decoration;

    height: 490px;
    padding: 30px;

    .explore_content_item {
      display: none;

      &.active {
        display: block;
      }
    }

    .thing {
      float: left;
      height: 430px;
      width: 370px;
    }

    .reviews {
      border-left: $border-default;
      overflow: hidden;
      padding-left: 25px;
    }

    .review {
      @include clearfix;

      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .review_author {
      color: $gray;
      display: block;
      float: left;
      margin-right: 1em;
      text-align: center;
      width: 70px;

      .name {
        @include text-overflow;

        display: block;
        height: 40px;
        margin-top: 10px;
        overflow: hidden;
      }
    }

    .review_wrap {
      overflow: hidden;
    }

    .review_header {
      @include clearfix;

      line-height: 18px;
      margin-bottom: 10px;

      .like {
        font-style: normal;
        float: right;
        width: 50px;
      }
    }

    .review_title {
      float: left;
      line-height: 18px;
      margin: 0;
      max-width: 75%;

      a {
        @include text-overflow;

        display: block;
        font-size: 16px;
      }
    }

    .review_body {
      background-color: $background-text;
      padding: 15px;

      p {
        color: $text-muted;
        height: 52px;
        line-height: 26px;
        margin-bottom: 0;
        overflow: hidden;
      }
    }
  }
}

html.signed_in_homepage {

  // Layout
  // ---------------------------------------------------------------------------

  #wrapper {
    @include wrapper(grid, 2);

    > main {
      min-height: 940px;
    }

    > aside {
      display: none;

      @media (min-width: $screen-md-min) {
        display: block;
      }
    }
  }


  // Section
  // ---------------------------------------------------------------------------

  .page-header {
    display: none;

    @media (min-width: $screen-md-min) {
      @include clearfix;

      display: block;
    }

    h1 {
      color: $gray;
      float: left;
      font-size: 18px;
      line-height: 34px;

      .fa {
        margin-left: 10px;
      }
    }

    .btn {
      float: right;
    }
  }

  .thing {
    border-radius: 0;

    .metas {
      color: $gray;
      margin-bottom: 10px;

      .meta {

        &.fa-heart {
          color: $red;
        }

        &.fa-check {
          color: $green;
        }
      }

      a.meta {
        color: $gray;
      }
    }
  }

  .article_compact {
    border-bottom: none;
    margin-bottom: 0;
  }

  aside {

    .nav {

      > li.active {

        > a {
          background-color: $nav-link-hover-bg;
          color: $text-color;
        }
      }

      a {
        color: $gray;

        &.home {
          @include text-overflow;

          margin-bottom: 30px;
        }

        &:hover {
          color: $text-color;
        }
      }

      .divider {
        border-bottom: $border-default;
        margin: 30px 0;
      }
    }

    .panel {
      color: $gray;

      .panel-heading {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    footer {
      color: $text-muted;
      padding: {
        left: 10px;
        right: 10px;
      }
    }

    .nav_bottom {
      margin-bottom: 1em;

      > a {
        border-right: $border-default;
        color: $text-muted;
        display: inline-block;
        margin-right: .5em;
        padding-right: .5em;

        &:last-child {
          border-right: none;
          margin-right: 0;
          padding-right: 0;
        }
      }
    }
  }

  #choiceness {

    .panel-heading {
      @include clearfix;
      color: $text-muted;

      .more {
        color: $text-muted;
        float: right;
        line-height: 24px;
      }
    }

    .panel-title {
      float: left;
    }

    figure {
      overflow: hidden;

      > a {
        display: block;
        height: 0;
        padding-bottom: 100%;
        position: relative;

        img {
          bottom: 0;
          left: 0;
          max-width: 100%;
          margin: auto;
          position: absolute;
          right: 0;
          top: 0;
        }
      }

      figcaption {
        @include text-overflow;

        background-color: #fff;
        display: block;
        padding-top: 5px;
        position: relative;
        text-align: center;
        z-index: 1;
      }
    }
  }

  .promotion {
    display: block;
    margin: {
      left: 10px;
      right: 10px;
    }

    img {
      margin-bottom: 20px;
      height: auto;
      width: 100%;
    }
  }

  #wrapper {

    > .promotion {
      @include center-block;
      display: none;

      @media (min-width: $screen-md-min) {
        display: none;
      }
    }
  }

  #activities {

    .row {
      margin: {
        left: 0;
        right: 0;
      }

      &:first-child {

        @media (min-width: $screen-sm-min) {
          border-top: none;
        }

        > [class *= 'col-sm']:first-child {
          border-top: none;
        }
      }

      @media (min-width: $screen-sm-min) {
        border-top: $border-default;
        display: none;
      }
    }

    .col-sm-6 {
      border-top: $border-default;
      margin: {
        bottom: 1em;
        left: auto;
        right: auto;
      }

      @media (min-width: $screen-sm-min) {
        border-top: none;
        margin-top: 1em;
      }

      @media (min-width: $screen-md-min) {
        margin-bottom: 1em;
        margin-top: 1em;
      }

      &:first-child {

        @media (min-width: $screen-sm-min) {
          border-right: $border-default;
        }
      }
    }

    .col-sm-12 {
      border-top: $border-default;

      @media (min-width: $screen-sm-min) {
        border-top: none;
      }

      &.thing {

        @media (min-width: $screen-sm-min) {
          float: none;
          margin-left: auto;
          margin-right: auto;
          max-width: 450px;
        }
      }
    }

    @media (min-width: $screen-sm-min) {
      .thing,
      .article_compact {
        display: none;
      }
    }
  }
}
