@import '../base';

html.home {
  #wrapper {margin: 0;}

  .container {
    padding: 0;

    > nav {
      margin: 15px 0;

      .nav {
        text-align: center;
      }

      @include breakpoint(md) {
        margin-top: 0;
        margin-left: 10em;
        .nav {text-align: left;}
      }
    }

    > main {
      width: 100%;

      @include breakpoint(md) {
        float: left;
        width: percentage(2 / 3);
        padding-right: 30px;
      }
    }

    > aside {
      display: none;

      @include breakpoint(md) {
        display: block;
        float: left;
        width: percentage(1 / 3);
      }

      > * {
        margin-bottom: 30px;
        padding: 1rem;
      }

      h2 {
        margin: 0;
        margin-bottom: 1rem;
        color: black;
        font-size: 16px;
        font-weight: bold;
      }

      .promotions {
        padding: 0;
        .promotion {
          display: block;
          margin-bottom: 30px;
        }
      }

      .drafts {
        background: white;
        margin-bottom: 0;
        padding-bottom: 1rem;

        .drafts-count {
          margin-left: 0.5rem;

          @include border-radius(20px);
          padding: 1px 5px;
          background: $gray-light;
          color: white;
          font-size: 90%;
          font-weight: normal;
        }
      }

      .tags {
        background: white;
      }

      .about {
        .contacts {
          text-align: center;
          a {
            color: $gray;
          }
          a:not(:last-child) {
            padding-right: .5em;
            margin-right: .5em;
            border-right: 1px solid $gray;
          }
        }

        .icp {
          text-align: center;
          color: $gray-light;
        }
      }
    }
  }

  #feeds {
    @include clearfix;

    > .feed {
      margin-bottom: 30px;

      .feed-latest-user {
        display: none;

        width: 11em;
        text-align: center;

        img {
          @extend %img-circle;
          width: 60px;
        }
      }

      @include breakpoint(md) {
        position: relative;
        margin-left: 10em;

        .feed-latest-user {
          display: block;
          position: absolute;
          top: 0;
          right: 100%;
        }
      }

      .feed-review {
        margin-top: 20px;
        padding: 16px;
        background: white;

        .feed-review_title {
          @include clearfix;

          h4 {
            float: left;
            width: 65%;
            margin: 0;
            color: $black;
          }

          .score {
            float: right;
            width: 35%;
            text-align: right;

            margin: 3px 0;
            .rate { padding: 0; }
          }
        }

        .feed-review-summary {
          margin-top: 16px;
          color: $gray-light;
        }

        .feed-review-info {
          @include clearfix;
          width: 100%;

          .user_avatar {
            float: left;
            max-width: 50%;
          }

          .interactions {
            float: right;
            max-width: 50%;
            @include text-overflow;
            margin-top: 5px;

            > * {
              margin-left: 0.5em;
              color: $gray-light;
            }
          }
        }
      }

      .feed-activities {
        background: white;
      }

      .feed-activity {
        > ul {
          li {
            display: inline-block;
          }
        }

        margin: 0 16px;
        padding-bottom: 10px;

        &:first-child {
          padding-top: 10px;
          border-top: 1px solid $gray-lighter;
        }

        .feed-user, .feed-action {
          vertical-align: bottom;

          > * {
            vertical-align: bottom;
            color: $gray;
          }
        }

        .feed-user {
          margin-right: .5em;
          img {
            @extend %img-circle;
            width: 26px;
            margin-right: 0.5em;
          }
        }

        .feed-action {
          color: $gray;

          time {
            margin-right: .5em;
            color: #999;
          }

          a {
            margin: 0 .2em;
            color: $link-color;
          }
        }

        .feed-operations {
          margin-left: 1em;

          > button {
            margin-right: 1em;
            background: $gray-lighter;
            &.active { background: darken($gray-lighter, 10%); }
            i {margin: 0;}
            span {margin-left: .5em;}
          }
        }

        .feed-feeling,
        .feed-thing-list {
          p {
            margin: 1em 0 0 0;
            font-size: 13px;
            color: $gray-light;
            i {color: #ccc;}
            i.fa-quote-right {margin-left: .5em;}
            i.fa-quote-left {margin-right: .5em;}
          }
        }

        .feed-feeling {
          ul.feed-feeling-photos {
            text-align: left;
            li {
              display: inline-block;
              margin: 1em;
            }
          }

          .comments {
            .comment-form {
              display: none;

              @include clearfix;

              textarea {
                margin: 1em 0;
              }

              .btn {
                float: right;
              }
            }

            > ul {
              padding: 0;
              margin: 1em 0;

              .avatar {
                img {width: 30px; height: 30px;}
              }

              .comment {
                > header, > section {
                  padding-left: 40px;
                  p {margin: 0;}
                }
              }
            }
          }
        }
      }
    }

    .comments_wrap {
      display: none;
      h4 { display: none; }
    }
  }

  .loading-things {
    float: none;
    width: auto;
    margin-top: 1em;

    @include breakpoint(sm) {
      margin-left: 10em;
    }
  }

  .pagination {
    display: none;
  }
}
