html.home_landing {
  height: 100%;
  overflow: hidden;
  width: 100%;

  $feature_position_right: 50px;
  $feature_position_left: 50px;

  body {
    height: 100%;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: $navbar-height + 1px;
    width: 100%;

    @media screen and (min-width: $screen-md-min + 1) {
      padding-top: 0;
    }

    > header {
      margin-bottom: 0;

      @media screen and (min-width: $screen-md-min + 1) {
        display: none;
      }
    }

    > footer {
      background: none;
      color: $text-muted;
      margin: 0;
      padding: 0 0 1em;
      text-align: center;

      @media screen and (min-width: $screen-md-min + 1) {
        bottom: 1em;
        left: calc(50% - 100px);
        padding: 0;
        position: absolute;
        width: 200px;
      }

      img {
        margin-right: .5em;
      }
    }
  }

  .feature {
    @media screen and (min-width: $screen-md-min + 1) {
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    header {
      display: none;

      @media screen and (min-width: $screen-md-min + 1) {
        display: block;
        margin: .2em 0 .2em 46px;
      }

      > img {
        height: 48px;
        margin-right: 12px;
        width: 48px;

        @media screen and (min-width: $screen-md-min + 1) {
          height: 72px;
          margin-top: 8px;
          width: 72px;
          float: left;
        }
      }

      > h1 {
        color: #049cdb;
        display: inline-block;
        font-family: "orbitron-bold";
        font-size: $font-size-h2;
        line-height: 48px;
        margin: 0;
        vertical-align: middle;

        @media screen and (min-width: $screen-md-min + 1) {
          display: block;
          line-height: $headings-line-height;
        }
      }

      > p {
        display: none;

        @media screen and (min-width: $screen-md-min + 1) {
          color: $gray-light;
          display: block;
          font-size: 24px;
          margin-top: 0;
          overflow: hidden;
        }
      }

      @media screen and (min-width: $screen-md-min + 1) {
        min-width: 500px;
        left: $feature_position_left - 13px;
        margin: 0;
        position: absolute;
        top: 30px;
        z-index: 2;
      }
    }

    .feature_name {
      display: block;
      font-family: "orbitron-bold";
      font-size: 1.2em;
      margin-bottom: 5px;
      margin-left: 20px;
      margin-top: 5px;
      text-align: center;

      @media screen and (min-width: $screen-md-min + 1) {
        font-size: $font-size-h3;
        margin: 0;
        position: absolute;
        right: $feature_position_right;
        text-align: center;
        bottom: 38.2%;
      }
    }

    .feature_image {
      @media screen and (max-width: $screen-md-min) {
        display: block;
        height: 500px;
        max-width: 100%;
        position: relative;
        overflow: hidden;
        width: 100%;
      }

      @media screen and (max-width: $screen-xs-min) {
        height: 200px;
      }

      img {
        @include stretch(-1000%, -1000%, -1000%, -1000%);
        margin: auto;
        max-height: none;

        @media screen and (min-width: $screen-xl-min+1) {
          height: 100%;
          width: 100%;
        }
      }
    }

    .feature_comments {
      margin: 5px 20px 10px 20px;
      position: relative;

      @media screen and (min-width: $screen-md-min + 1) {
        top: 85%;
        margin: 0;
        position: absolute;
        right: $feature_position_right;
      }

      .feature_comment {
        display: none;
        position: absolute;
        top: 0;

        &:first-child {
          display: block;
          position: static;
        }

        img {
          height: 48px;
          vertical-align: top;
          width: 48px;

          @media screen and (min-width: $screen-md-min + 1) {
            height: 60px;
            vertical-align: middle;
            width: 60px;
          }
        }

        blockquote {
          @include border-radius(5px);
          background-color: #feffff;
          border-left: none;
          box-shadow: 0 0 1px #ddd;
          display: inline-block;
          margin-bottom: 0;
          margin-left: 20px;
          max-width: 75%;
          padding: .75em;
          position: relative;
          vertical-align: middle;

          @media screen and (min-width: $screen-md-min + 1) {
            margin-left: 1.5em;
            max-width: 25em;
            padding: 1em;
          }

          &:before {
            border-color: transparent;
            border-style: solid;
            border-width: 8px;
            border-right-color: #feffff;
            content: '';
            left: -16px;
            position: absolute;
            top: 16px;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }

    .entry {
      margin-bottom: 1em;
      padding: 15px;

      @media screen and (max-width: $screen-md-min) {
        margin-left: 9%;
        margin-right: 9%;
      }

      @media screen and (min-width: $screen-md-min + 1) {
        left: $feature_position_left;
        margin: 0;
        position: absolute;
        top: 26%;
        width: 280px;

        .entry_email {
          display: block;
        }
      }
    }

    @media screen and (min-width: $screen-md-min + 1) {
      &.theme_dark {

        .feature_name {
          color: #ddd;
        }

        .feature_comment {

          blockquote {
            background-color: rgba(#1e1e1e, 0.7);
            border-color: #181818;
            box-shadow: 0 0 30px #191919;
            color: #bbb;

            &:before {
              border-right-color: rgba(#1e1e1e, 0.4);
            }
          }
        }

        .entry {
          background-color: rgba(#1e1e1e, 0.7);
          border-color: #181818;
          box-shadow: 0 0 30px #191919;

          .oauth {
            .fa {color: #404b53;}
          }

          .nav-pills-list {

            > li {

              > a {
                color: darken(#ddd, 50%);

                &:hover,
                &:focus {
                  background-color: transparent;
                  color: #ddd;
                }
              }

              &.active {
                border-bottom-color: #049cdb;

                > a {
                  color: #ddd;

                  &:hover,
                  &:focus {
                    background-color: transparent;
                  }
                }
              }
            }
          }

          .input-group-addon {
            background-color: #333;
            border-color: #333;
            color: #ddd;
          }

          .alert {
            background-color: #404b53;
            border-color: #181818;
            color: #ddd;
          }

          .entry_email {
            color: #bbb;
          }
        }
      }

      &.theme_light {

        $background_light: rgba(#feffff, 0.45);

        .feature_name {
          color: $text-muted;
          &:hover {color: $text-color;}
        }

        .feature_comment {

          blockquote {
            background-color: $background_light;
            box-shadow: 0 0 1px #ddd;

            &:before {
              border-right-color: $background_light;
            }
          }
        }

        .entry {
          background-color: $background_light;
          border-color: #ddd;
          box-shadow: 0 0 1px #ddd;

          .oauth {
            .fa {color: darken(#ddd, 50%);}
          }

          .nav-pills-list {

            > li {

              > a {

                &:hover,
                &:focus {
                  background-color: transparent;
                  color: #333;
                }
              }

              &.active {

                > a {

                  &:hover,
                  &:focus {
                    background-color: transparent;
                  }
                }
              }
            }
          }

          .alert {
            background-color: #fff;
            border-color: #ccc;
            color: #555;
          }
        }
      }
    }
  }
}

html.home_index {

  #home_index {
    @include make-row;
    @include site_margin;

    > section {
      @include make-md-column(8);
    }

    > aside {
      display: none;
      @media (min-width: $screen-md-min) {
        display: block;
      }
      @include make-md-column(4);
    }
  }

  #home_things {
    @include make-row;
    li {
      @include make-sm-column(6);
      @include make-lg-column(4);
      @include make-xl-column(3);
      margin-bottom: 2em;
    }
  }

  #home_reviews {
    background: white;
    padding: 1em;
    @include border-radius(8px);

    li {
      padding: 1em 0;
      color: $text-muted;

      article {
        @include text-noflow;

        img {
          @extend .img-circle;
          vertical-align: -20px;
        }

        small {
          margin: 0 .5em;
        }
      }

      .media {
        @include clearfix;
        .media-heading {@include text-noflow;}
      }

      &:not(:last-child) {
        border-bottom: 1px dashed $gray-light;
      }
    }
  }

  #home_filling {
    margin: 2em 0;
    text-align: center;
    color: $text-muted;
  }

  #qr_entry {
    @include responsive-wrapper;
    text-align: center;
    > a {
      display: block;
      margin: 1em 0;
    }
    .fa-comments {
      color: $green;
    }
  }
}
