html.home_welcome {
  $color_primary: #009ade;
  $gap: 30px;
  $gap_lg: 60px;

  // Layout
  // ---------------------------------------------------------------------------

  #wrapper {
    @include wrapper(simple, $max-width: $screen-lg-min);

    min-height: 380px;
    overflow: hidden;
    padding: 0;
    position: relative;
  }

  // Section
  // ---------------------------------------------------------------------------

  .logo {
    font-family: "orbitron-bold";
    font-weight: normal;
  }

  .btn_compact {
    @include button_compact(#fff, $color_primary);
    @include transition(all .2s ease);
  }

  .btn_compact_inverse {
    @include button_compact($color_primary, #fff);
    @include transition(all .2s ease);
  }

  .actions {
    min-height: 34px;
    padding: 0 $gap;
    text-align: center;

    .btn {
      margin-bottom: 10px;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: $screen-md-min) {
        margin: {
          bottom: 0;
          left: 10px;
          right: 10px;
        }
        width: auto;
      }
    }
  }

  .section {
    margin-bottom: $gap;
    text-align: center;

    @media (min-width: $screen-sm-min) {
      margin-bottom: $gap_lg;
      padding: {
        left: 20px;
        right: 20px;
      }
    }

    > h2 {
      font-size: 28px;
      margin-top: 0;

      @media (min-width: $screen-sm-min) {
        font-size: 40px;
      }
    }

    > p {
      font-size: 16px;
      margin-bottom: 20px;

      @media (min-width: $screen-sm-min) {
        font-size: 22px;
        margin-bottom: 40px;
      }
    }
  }

  .step {
    display: none;

    &.active {
      display: block;
    }
  }

  .step_header {
    @extend .section;

    background-color: $color_primary;
    padding: {
      bottom: $gap_lg;
      left: 0;
      right: 0;
      top: 10%;
    }

    h1 {
      background-color: #fff;
      color: $color_primary;
      font-size: 32px;
      font-weight: bold;
      margin: {
        bottom: 20px;
        top: 0;
      }
      padding: $gap;

      @media (min-width: $screen-sm-min) {
        font-size: 50px;
      }
    }

    p {
      color: #fff;
      padding: 0 $gap;
    }
  }

  .step_body {
    padding: {
      left: $gap;
      right: $gap;
    }
  }

  .step_footer {
    border-top: $border-default;
    padding: $gap_lg $gap;
    text-align: center;
  }

  #step2 {

    h1 {
      margin-bottom: 60px;
    }

    .pre_ribbon {
      display: none;
    }

    @media (min-width: $screen-md-min) {
      ul.things > li {
        width: percentage(1/3);
      }
    }
  }

  #fill_info {
    display: none;

    .form-group {
      display: inline-block;
      min-width: 200px;
      vertical-align: middle;
      width: 25%;
    }

    .form-control {
      @include transition(all .2s ease);

      background: transparent;
      border-color: #fff;
      color: #fff;

      &:focus {
        background-color: #fff;
        color: $text-color;
      }
    }

    .input-group-addon {
      background: transparent;
      border-color: #fff;
      color: #fff;
    }

    .btn {
      @include transition(all .2s ease);

      background: transparent;
      border: 1px solid #fff;
      color: #fff;
      margin: {
        bottom: 15px;
        left: 10px;
      }
      width: auto;

      &:hover {
        background-color: #fff;
        color: $color_primary;
      }

      @media (min-width: $screen-sm-min) {
        margin-bottom: 0;
      }
    }

    .help-block {
      color: #fff;
      font-style: normal;
      margin-top: 10px;
    }
  }
}
