@import '../base';
@import 'bootstrap/buttons';

html.home_welcome {

  // Layout
  // ---------------------------------------------------------------------------

  #wrapper {
    @include wrapper(simple, $max-width: $screen-md-min);
    border-radius: 10px;
    margin: 1rem;
    overflow: hidden;
    padding: 0;

    @media (min-width: $screen-md-min) {
      margin: {
        bottom: 0;
        top: 0;
      }
    }
  }

  // Section
  // ---------------------------------------------------------------------------

  .btn-inverse-white {
    @include button-variant(#fff, $brand-primary, #fff);
    @include button-size($padding-base-vertical,
                          $padding-base-horizontal,
                          $font-size-base,
                          $line-height-base,
                          $border-radius-base);
    @include button-inverse($brand-primary, #fff);
    background-image: none;
    border-style: solid;
    border-width: 1px;
  }

  .btn-inverse-blue {
    @include button-variant($brand-primary, #fff, $brand-primary);
    @include button-size($padding-base-vertical,
                          $padding-base-horizontal,
                          $font-size-base,
                          $line-height-base,
                          $border-radius-base);
    @include button-inverse(#fff, $brand-primary);
    background-image: none;
    border-style: solid;
    border-width: 1px;
  }

  .btn-weibo,
  .btn-twitter,
  .btn-qq,
  .btn-douban {
    @extend .btn;
  }
  .btn-weibo   {@include button-variant(#fff, #db564d, #db564d);}
  .btn-twitter {@include button-variant(#fff, #55acee, #55acee);}
  .btn-qq      {@include button-variant(#fff, #3e8aca, #3e8aca);}
  .btn-douban  {@include button-variant(#fff, #007d1d, #007d1d);}

  .step {
    display: none;

    &.is-active {
      display: block;
    }
  }

  .step-header {
    @include clearfix;
    background-color: $brand-primary;
    color: #fff;
    padding: 15px;

    @media (min-width: $screen-md-min) {
      background: $brand-primary image-url("face.png") 30px 20px no-repeat;
      padding-left: 128px;
    }

    h1 {
      font-size: 16px;
      line-height: 34px;
      margin: 0;
    }

    .logo {
      color: #fff;
    }
  }

  .step-body {

    @media (min-width: $screen-md-min) {
      padding: 0 15px;
    }

    .panel {
      border: none;
      border-radius: 0;
      box-shadow: none;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .panel-heading {
      @include clearfix;
      padding: 15px;

      button {
        float: right;
        margin-left: 1em;
      }
    }

    .panel-title {
      line-height: 34px;
      float: left;

      small {
        color: #a5a5a5;
        font-size: 14px;
        padding-left: 1em;

        .logo {
          color: #a5a5a5;
        }
      }
    }

    .panel-footer {
      background-color: transparent;
      border: none;
      padding: 15px;

      button {
        display: block;
        width: 100%;

        @media (min-width: $screen-md-min) {
          display: block;
          margin: 0 auto;
          width: auto;
        }
      }
    }
  }

  .box {

    > footer {
      margin-bottom: 1rem;
    }
  }

  .friendships {
    margin-bottom: 0;
  }

  .friendship-group {

    @media (min-width: $screen-sm-min) {
      @include make-row;
    }
  }

  .friendship {
    border-bottom: $border-default !important;
    border-radius: 0;
    box-shadow: none;
    margin: {
      bottom: 1rem;
      top: 0 !important;
    }

    &:last-child {
      border-bottom: none !important;
      margin-bottom: 0;
    }

    output {
      color: $green;
      line-height: 34px;
      padding-top: 0;
    }

    @media (min-width: $screen-md-min) {
      @include make-md-column(3);
      border: {
        bottom: none !important;
        right: $border-default !important;
      }
      &:last-child {
        border-right: none;
      }

      .box {
        display: block !important;
      }
    }
  }

  .friendship-buttons {
    border-right: $border-default;
    padding-right: 30px;
  }

  .friendship-button {
    box-shadow: none;
    margin-bottom: 1rem;
    width: 100%;

    &:active {
      box-shadow: none;
    }
  }

  .friendship-pane {

    > header {
      @include clearfix;

      h3 {
        color: $gray;
        float: left;
        font-size: 14px;
        margin: 0;
      }

      button {
        float: right;
      }
    }
  }

  .recommended-users {
    height: 440px;
    overflow: hidden;
    padding: 0 1em;

    @media (min-width: $screen-md-min) {
      @include make-row;
    }
  }

  .recommended-user {
    margin: 0;

    @media (min-width: $screen-md-min) {
      @include make-md-column(6);
    }
  }

  .thing {
    .title {
      text-align: center;
    }
 
    .subtitle,
    footer.info {
      display: none;
    }

    @media (max-width: $screen-sm-max) {
      .fancy_button  {
        display: none;
      }

      section.content {
        width: 100%;
      }
    }
  }

  #step2 {

    .step-body {

      > .panel {

        > .panel-body {

          > p {
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  &.mobile {

    .recommended-user {
      min-height: 60px;
    }

    .tags {
      text-align: center;
    }
  }

  &.tablet,
  &.desktop {

    .recommended-user {
      padding: 0 50px;

      &:nth-child(odd) {
        border-right: $border-default;
      }
    }
  }
}
