@import '../base';

html.home {
  #wrapper {margin: 0;}

  .container {
    padding: 0;

    > nav {
      @include clearfix;
      margin: 15px 0;

      .nav {
        text-align: center;
      }

      > a {
        float: right;
        padding: 0 10px;
        text-decoration: none;
        margin-top: -34px;
        color: #999999;
        line-height: 34px;
        font-size: 14px;
        float: right;
      }

      @include from-breakpoint(md) {
        margin-top: 0;
        margin-left: 10em;
        width: calc(66.6666666667% - 10em - 30px);
        .nav {
          float: left;
          text-align: left;
        }

        > a {
          padding: 5px 10px;
          float: right;
          margin-top: -5px;
        }
      }
    }

    > main {
      width: 100%;

      @include from-breakpoint(md) {
        float: left;
        width: percentage(2 / 3);
        padding-right: 30px;
      }
    }

    > aside {
      display: none;

      @include from-breakpoint(md) {
        display: block;
        float: left;
        width: percentage(1 / 3);
      }

      > * {
        margin-bottom: 30px;
        padding: 1rem;
      }

      h2 {
        margin: 0;
        margin-bottom: 1rem;
        color: black;
        font-size: 16px;
        font-weight: bold;
      }

      .promotions {
        padding: 0;
        .promotion {
          display: block;
          margin-bottom: 30px;
        }
      }

      .panel {
        border: none;
        border-radius: 0;
        padding: 0;

        > header {
          background-color: $smoke-white;
          padding: 20px 30px;
          position: relative;

          &::after {
            border-color: $smoke-white transparent transparent transparent;
            border-style: solid;
            border-width: 10px;
            bottom: -20px;
            content: '';
            left: 40px;
            position: absolute;
          }

          h2 {
            color: $text-color;
            font-weight: normal;
            margin-bottom: 0;
          }
        }
      }

      .drafts {

        .panel-heading {
          &::after {
            display: none;
          }
        }

        .drafts-count {
          margin-left: 0.5rem;

          @include border-radius(20px);
          padding: 1px 5px;
          background: $gray-light;
          color: white;
          font-size: 90%;
          font-weight: normal;
        }
      }

      .tags {
        background: white;
      }

      .about {
        .contacts {
          text-align: center;
          a {
            color: $gray;
          }
          a:not(:last-child) {
            padding-right: .5em;
            margin-right: .5em;
            border-right: 1px solid $gray;
          }
        }

        .icp {
          text-align: center;
          color: $gray-light;
        }
      }
    }
  }

  #feeds {
    @include clearfix;

    > .feed {
      margin-bottom: 30px;

      article.thing {
        .content,
        .info {
          padding-left: 16px;
          padding-right: 16px;
        }

        .content {
          h4 {
            max-width: 70%;
            max-width: calc(100% - 7em);
          }
        }

        .info {
          position: relative;
          padding-top: 0;
          padding-bottom: 0;

          .stats {
            margin-top: 0;
            padding-bottom: 16px;
          }

          .interactions {
            position: absolute;
            top: -38px;
            right: 16px;
          }
        }
      }

      > .thing_list {
        padding: $padding-base-vertical;
        background: $ghost-white;

        h4,
        > footer {
          padding: 0 (16px - 2px);
        }
      }

      .feed-review {
        margin-top: 20px;
        padding: 16px;
        background: white;

        .feed-review-summary {
          @include clearfix;

          margin-top: 16px;
          color: $gray-light;

          img {
            float: right;
            margin: 0 0 1em 1em;
          }
        }

        .feed-review-info {
          @include clearfix;
          width: 100%;

          .user_avatar {
            float: left;
            max-width: 50%;
          }

          .interactions {
            float: right;
            max-width: 50%;
            @include text-overflow;
            margin-top: 5px;

            > * {
              margin-left: 0.5em;
              color: $gray-light;
            }
          }
        }
      }

      .feed-activities {
        background: white;
      }

      .feed-activity {
        margin: 0 16px;
        padding-bottom: 10px;

        &:first-child {
          padding-top: 10px;
          border-top: 1px solid $gray-lighter;
        }

        .feed-brief > * {
          display: inline-block;
          vertical-align: middle;
        }

        .user_avatar {
          margin-right: .5em;
          img {
            @extend %img-circle;
            width: 26px;
            margin-right: 0.5em;
          }
        }

        time {
          margin-right: .5em;
          color: #999;
        }

        .feed-action a {
          margin: 0 .2em;
          color: $link-color;
        }

        .score {
          display: inline;
          margin-left: .5em;
          .rate { padding: 0; }
        }

        .feed-operations {
          .comments_toggle,
          .feed-voting {
            display: inline-block;
            vertical-align: middle;
            margin-left: .5em;
          }

          .comments_toggle,
          .btn--like {
            color: $gray-light;
          }

          .comments_toggle {
            .fa { margin-right: 0; }
            .comments_count { margin-left: .5em; }
          }

          .btn--like {
            padding: 0;

            span {
              font-size: 14px;
            }
          }
        }

        .feed-impression,
        .feed-feeling,
        .feed-thing-list {
          p {
            margin: 1em 0 0 0;
            font-size: 13px;
            color: $gray-light;
            i {color: #ccc;}
            i.fa-quote-right {margin-left: .5em;}
            i.fa-quote-left {margin-right: .5em;}
          }
        }

        .feed-feeling {
          ul.feed-feeling-photos {
            text-align: left;
            li {
              display: inline-block;
              margin: 1em;
            }
          }

          .comments {
            .comment-form {
              display: none;

              @include clearfix;

              textarea {
                margin: 1em 0;
              }

              .btn {
                float: right;
              }
            }

            > ul {
              padding: 0;
              margin: 1em 0;

              .avatar {
                img {width: 30px; height: 30px;}
              }

              .comment {
                > header, > section {
                  padding-left: 40px;
                  p {margin: 0;}
                }
              }
            }
          }
        }
      }
    }

    .comments_wrap {
      display: none;
      h4 { display: none; }
    }
  }

  .loading-things {
    float: none;
    width: auto;
    margin-top: 1em;

    @include from-breakpoint(sm) {
      margin-left: 10em;
    }
  }

  .pagination {
    display: none;
  }
  #manage_categories {
    text-decoration: none;
    color: #999999;
    font-size: 14px;
    margin-left: 5px;
  }
}
