@import '../base';

html.home_jobs {

  // Layout

  #wrapper {
    @include wrapper(grid);

    @media screen and (max-width: $screen-md-min) {
      margin: {
        left: 0;
        right: 0;
      }
    }

    @media screen and (min-width: $screen-lg-min + 100) {
      margin: 0 auto;
      width: $screen-lg-min;
    }

    > main {
      @include make-md-column(9);
      @include decoration;
      padding: 1em 1.5em 50px;

      > header {
        text-align: center;
        margin-bottom: 2em;
      }

      @media screen and (max-width: $screen-md-min) {
        border-radius: 0;
      }
    }

    > aside {
      display: none;

      @media screen and (min-width: $screen-md-min) {
        @include make-md-column(3);

        display: block;
        padding-left: 60px;
      }
    }
  }

  // Sections


  .section {
    border-bottom: $border-dashed;
    margin-bottom: 30px;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }

  .section_header {
    margin-top: 0;
    text-align: center;

    @media screen and (min-width: $screen-sm-min) {
      @include clearfix;

      padding: 5px 15px;
      text-align: left;
    }

    .btn {
      display: block;
      margin: 10px auto 0;
      padding-bottom: 7px;
      padding-top: 7px;
      width: 150px;

      @media screen and (min-width: $screen-sm-min) {
        display: inline-block;
        float: right;
        margin: 0;
        width: auto;
      }
    }

    > small {
      @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        float: right;
        line-height: 36px;
        margin-right: 1em;
      }
      @media screen and (min-width: $screen-md-min) {
        display: none;
      }
    }
  }

  .section_content {
    @include clearfix;
    padding: 15px;

    > .body {

      @media screen and (min-width: $screen-md-min) {
        overflow: hidden;
        padding-left: 20px;
      }

      h1, h2, h3,
      h4, h5, h6 {
        margin-top: 0;
      }

      p {
        margin-bottom: 1em;
      }

      ol {
        list-style-type: lower-greek;
        margin-bottom: 1em;
        padding-left: 1.5em;
      }
    }
  }

  #office {
    margin-bottom: 2em;
  }

  #navigation {
    margin-top: 80px;

    &.affix {
      margin-top: 0;
    }

    .nav {

      > li {

        > a {
          color: $text-muted;
          padding-bottom: 2px;
          padding-top: 2px;

          &:hover {
            background-color: transparent;
            color: $text-color;
          }
        }

        &.active {

          > a {
            border-left: 2px solid #049cdb;
            color: $text-color;
            padding-left: 13px;
          }
        }
      }
    }
  }
}
