html.landing_mobile {
  h2.slogan {
    margin: 0;
    padding: 1em 0;
    background: $blue;
    color: white;

    font-size: 16px;
    text-align: center;
  }

  .things {
    margin: 0;

    .thing {
      margin-top: 20px;
      &:first-child { margin-top: 0; }
    }
  }
}
