body {
  padding-bottom: $navbar-margin-bottom + $font-size-base;

  #header {
    margin-bottom: $navbar-height + $navbar-margin-bottom + $font-size-base;
  }
}

.navbar {
  border: none;
  box-shadow: 0 1px 3px #555;

  .navbar-brand {
    position: relative;
    margin-left: 40px;
    margin-right: 8px;
    font-family: "orbitron-bold";

    img {
      position: absolute;
      left: -40px;
      z-index: 100;
      width: 48px;
      height: 48px;
    }

    span {
      text-shadow: 0 1px 1px #111;
    }
  }

  .navbar-collapse {
    padding-top: $padding-large-vertical;

    @media screen and (max-width: $screen-sm-min) {
      max-height: none;
    }

    @media screen and (min-width: $screen-sm-min) {
      padding-top: 0;
    }

    .navbar-nav {

      > li {

        > a {
          line-height: 40px;
          padding: 0 15px;

          .fa {

            @media screen and (min-width: $screen-sm-min) {
              font-size: 1.3333333333333333em;
              line-height: 0.75em;
              vertical-align: -15%;
            }
          }
        }

        &.nav_olark {

          .fa {
            @media screen and (min-width: $screen-sm-min) {
              vertical-align: baseline;
            }
          }
        }
      }
    }

    .navbar-form {
      @media screen and (max-width: $screen-sm-min) {
        border-bottom-width: 0;
        margin-bottom: 0;
      }

      @media screen and (min-width: $screen-sm-min) {
        margin-bottom: 7px;
        margin-top: 7px;
        transition-duration: .4s;
        transition-property: width;
        width: 15%;
      }

      &.focus {

        @media screen and (min-width: $screen-sm-min) {
          width: 25%;
        }
      }

      .form-group {
        margin-bottom: 0;
        position: relative;
        width: 100%;
        @include search-input;

        input[type="search"] {
          background-color: #fcfcfc;
          font-size: 12px;
          height: 26px;
          line-height: 14px;
          padding: 5px 10px 5px 30px;
          width: 100%;

          &:focus {
            background-color: #fff;
          }

          + .fa {
            top: 6px;
          }
        }
      }
    }
  }

  .nav_user {

    .nav_user_action,
    .nav_user_action > a {
      background-color: transparent;
      color: $navbar-inverse-link-color;

      &:hover {
        background-color: transparent;
        color: $navbar-inverse-link-hover-color;
      }
    }

    .nav_user_account {

      @media screen and (max-width: $screen-sm-min) {
        & > .dropdown-menu > li > a {
          padding: $padding-base-vertical $padding-large-horizontal;
        }
      }

      @media screen and (min-width: $screen-sm-min) {
        float: right;
        margin-left: 20px;
        margin-right: 10px;
      }

      #user {
        background-color: transparent;
        display: inline-block;
        margin-right: 10px;

        @media screen and (min-width: $screen-sm-min) {
          float: right;
          margin-right: 0;

          img {
            height: 40px;
            width: 40px;
          }
        }
      }
    }

    &.is_login {
      @include clearfix;

      border-top: 1px solid darken($navbar-inverse-bg, 7%);
      padding: $padding-small-vertical $padding-large-horizontal;
      padding-bottom: 0;

      .nav_user_action {
        display: inline-block;
        line-height: 30px;
        padding: {
          bottom: 5px;
          right: 30px;
          top: 5px;
        }
        position: relative;

        &:hover,
        &:focus {
          background-color: transparent;
        }

        @media screen and (min-width: $screen-sm-min) {
          height: 40px;
        }

        > .fa {

          @media screen and (min-width: $screen-sm-min) {
            font-size: 1.3333333333333333em;
            line-height: 0.75em;
            vertical-align: -15%;
          }
        }

        > .badge {
          color: #fff;
          left: 14px;
          margin-top: -12px;
          padding: 1px 6px;
          position: absolute;
          top: 50%;
          z-index: 1;

          @media screen and (min-width: $screen-sm-min) {
            font-size: 14px;
            left: 18px;
          }
        }
      }

      .nav_cart {

        & + .popover {
          .popover-title {display: none;}
        }
      }

      @media screen and (min-width: $screen-sm-min) {
        border-top: none;
        padding: 0;

        & > .dropdown-menu {
          margin-right: 10px;
          margin-top: 15px;
        }
      }
    }

    &.is_not_login {

      .nav_user_action {
        display: block;
        padding: $nav-link-padding;
      }
    }
  }
}

.search_candidate {
  $slideshow_control_width: 40px;
  $thing_height: 281px;

  background-color: $text-color;
  display: none;
  padding: 0 $slideshow_control_width;
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: $zindex_search_candidate;

  @media screen and (max-width: $screen-sm-min - 1) {
    display: none !important;
  }

  &:before {
    border-color: transparent transparent $text-color transparent;
    border-style: solid;
    border-width: 15px;
    content: '';
    position: fixed;
    right: 10%;
    top: 30px;
  }

  .search_title {
    color: #fff;
    left: 15px;
    position: absolute;
    top: 0;

    .search_keyword {
      color: $brand-success;
      padding-right: .5em;
    }
  }

  .close {
    color: #fff;
    position: absolute;
    right: 8px;
    top: 10px;
  }

  .slideshow_body {

    .slideshow_inner {
      $gap: 15px;

      > li {
        margin: 40px $gap $gap 0;
        opacity: 1;
        width: 220px;

        &.more {
          background-color: darken($text-color, 10);
          border-radius: 8px;
          height: $thing_height;
          padding: $gap;
          width: 220px;

          > a {
            border: 1px dashed $text-muted;
            border-radius: 6px;
            color: $text-muted;
            display: block;
            font-weight: bold;
            font-size: 1.2em;
            height: 100%;
            line-height: ($thing_height - $gap * 2);
            text-align: center;

            &:hover {
              color: #fff;
            }

            .fa {
              margin-right: 0;
            }
          }
        }

        &.empty {
          color: #fff;
          cursor: default;
          font-size: 18px;
          height: $thing_height;
          line-height: $thing_height;
          text-align: center;
        }
      }
    }
  }

  .slideshow_control {
    background: transparent;
    box-shadow: none;
    color: #fff;
    height: $thing_height;
    top: 40px;
    width: $slideshow_control_width;
  }
}

.search_backdrop {
  @extend .modal-backdrop;
  display: none;
  opacity: 0.5;
  z-index: $zindex_backdrop;
}

#go_top {
  color: $text-muted;
  display: none;
  position: fixed;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  z-index: $zindex_go_top;
  @include opacity(0.5);

  &:hover {
    color: $text-color;
  }

  .fa {
    margin: 0;
  }
}
