@import '../base';

.merchants_show {
  #wrapper {
    margin: 0 auto;
    padding: 0 15px;
    @media (min-width: $screen-md-min) {
      padding: 0 10%;
    }
    @media (min-width: $screen-lg-min) {
      width: $container-large-desktop;
      padding: 0 $screen-lg-min * 0.1;
    }

    .page-header {
      background-color: #fff;
      border-bottom: none;
      margin: {
        left: -15px;
        right: -15px;
      }
      padding: 15px;

      @media (min-width: $screen-sm-min) {
        padding: {
          bottom: 10px;
          top: 10px;
        }
      }

      @media (min-width: $screen-md-min) {
        margin: {
          left: 0;
          right: 0;
        }
      }

      h1 {
        font-size: 22px;
        float: none;
        line-height: 34px;
        margin-bottom: 20px;
        text-align: center;

        @media (min-width: $screen-sm-min) {
          float: left;
          margin-bottom: 0;
          text-align: left;
        }
      }

      .actions {
        text-align: center;

        @media (min-width: $screen-sm-min) {
          float: right;
          text-align: right;
        }

        .btn {
          border-radius: 15px;
          padding: {
            left: 20px;
            right: 20px;
          }
        }

        .btn--orange {
          background-color: $orange;
        }
      }
    }

    .merchant_description {
      @include clearfix;
      background-color: #fafafa;
      margin-top: 20px;
      padding: 1.5em;

      p {
        margin-bottom: 0;
      }
    }

    .group {
      > li {
        list-style-type: none;

        > a {
          background-color: #fafafa;
        }
      }
      margin-top: 20px;
    }

    section.things {
      .thing {
        background-color: transparent;

        .content, .info {
          background-color: white;
        }
      }
    }
  }
}
