html.notifications_index {
  #wrapper {
    @include wrapper(simple);
  }
}

.page-header {
  @include clearfix;

  h1 {
    float: left;

    small {
      font-size: 14px;
      margin-left: 1em;
    }
  }

  #markall {
    float: right;
    margin-top: 3px;
  }
}

#notifications {

  > li {
    border-bottom: 1px dashed #eee;
    &:last-child {border: none;}
    padding: 1em;

    &.unread {background: lighten($blue, 53%);}

    p {
      margin: 0;
      a {margin: 0 1em;}
      time {margin: 0 1em;}
    }
  }
}

