@import '../base';

html.orders_new,
html.orders_create,
.orders_wrapper {

  #wrapper {
    @include wrapper(simple, $max-width: $screen-md-min);
  }

  table.order_detail {
    > tbody {
      th {
        width: 7.3em;
        text-align: right;
      }
    }
  }

  .dropdown-menu {
    li {
      text-align: left;
    }
    min-width: 120px !important;
  }

  .order_actions {
    .btn {
      margin-left: 10px;
    }

    @media screen and (max-width: $screen-xs-min) {
      .btn {
        margin-bottom: 10px;
      }
    }
  }

  button[type="submit"] {
    float: right;
    width: 8em;

    @media screen and (max-width: 767px) {
      margin-right: 0;
    }
  }

  .help_btn {
    margin-right: 4px;
    line-height: 32px;
  }

  .total_price, .partial_price {
    text-align: right;
    color: $text-muted;
    strong {
      margin-left: 1em;
    }

    @media screen and (max-width: 767px) {
      margin-right: 0;
    }
  }

  .total_price strong {
    color: $red;
    font-size: 1.25em;
  }

  .controls {
    li {
      padding-top: 5px;
    }
    .option_list {
      li {
        display: inline-block;
        margin-right: 1em;
      }
    }
  }

  .form-actions {
    border-top: 1px solid #e5e5e5;
    margin-top: 1em;
    padding-top: 1em;
    text-align: right;
  }

  abbr[title] {
    border-bottom: none;
  }

  label.misc_option {
    color: $text-muted;
    margin-left: 2em;
    font-weight: normal;
  }

  .order_items {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1em;
  }

  .price {
    text-align: right;
    width: 6em;
    font-size: 1.25em;
  }

  .rebate {
    @include clearfix;
    margin: 1em 0;
    .info {
      float: left;
      .name {
        font-size: 1.25em;
      }
      .note {
        margin-top: 1em;
      }
    }
    .price {
      float: right;
    }
  }

  .order_item {
    @include clearfix;
    margin-bottom: 1em;

    .thing {
      float: left;
      > * {
        float: left;
      }
      .cover {
        margin-right: 3em;
      }
      .info {
        .title {
          font-size: 1.25em;
        }
        .kind {
          margin-top: 1em;
        }
      }
      @media screen and (max-width: 767px) {
        .cover {
          display: none
        }
      }
    }

    .item_opts {
      float: right;

      > * {
        display: inline-block;
        float: right;
      }
      .quantity {
        margin-right: 1em;
        span {
          display: inline-block;
          text-align: center;
          width: 3em;
        }
        .tip {
          display: none
        }
      }
      @media screen and (max-width: 767px) {
        float: left;
        margin-top: 1em;
        width: 100%;
        .quantity {
          span {
            width: 2em;
          }
          .tip {
            display: inline;
          }
        }
      }
    }
  }

  section {
    @include clearfix;
  }

  .orders {
    .order {
      @include clearfix;
      border-bottom: 1px solid #e5e5e5;
      margin: 1em 0;

      header {
        @include clearfix;
        margin-bottom: 0.5em;

        .summary {
          float: left;

          .success {
            color: green;
          }
          .failure {
            color: red;
          }
        }
        .info {
          float: right;
          > * {
            float: right;
          }
        }
        .tip {
          display: none;
        }
        .total_price {
          font-size: 1em;
        }
        @media screen and (min-width: 900px) {
          width: 85%;
          float: left;
        }
        @media screen and (max-width: 439px) {
          .tip {
            display: inline;
          }
        }
      }

      section {
        width: 85%;
        margin: 1em 0;
        @media screen and (max-width: 899px) {
          width: 100%;
        }
      }

      aside {
        float: right;

        .btn-group {
          @include clearfix;
        }

        .btn {
          min-width: 8em;
        }

        @media screen and (min-width: 900px) {
          > * {
            display: block;
          }
          > *:not(:first-child) {
            margin-top: 0.5em;
          }
        }
        @media screen and (max-width: 899px) {
          float: none;
          text-align: right;
          > *:not(:first-child) {
            margin-left: 0.5em;
          }
        }
      }
    }
  }

  #new_address {
    padding: {
      left: 20px;
      top: 0.5em;
    }
  }

  .consume_point_form {
    margin-bottom: 20px;
  }
}
