@import '../base';

html.orders_new,
html.orders_create,
.orders_wrapper {

  @mixin btn-group-responsive {
    @media screen and (max-width: $screen-md-max) {
      .btn-group {
        display: block;
        margin-bottom: 1rem;

        > .btn:only-child,
        > .dropdown-toggle {
          margin-bottom: 0;
        }

        & ~ .btn {
          width: auto;
        }
      }

      .btn {
        display: block;
        margin-bottom: 1rem;
        width: 100%;
      }

      .dropdown-toggle {
        display: block;
        width: 100%;
      }

      .dropdown-menu {
        width: 100%;

        > li {
          > a {
            padding: {
              bottom: 8px;
              top: 8px;
            }
          }
        }
      }
    }

    @media screen and (min-width: $screen-md-min) {
      .dropdown-menu {
        min-width: 112px;
      }
    }
  }

  #wrapper {
    @include wrapper(simple, $max-width: $screen-md-min);
  }

  table.order_detail {
    > tbody {
      th {
        width: 7.3em;
        text-align: right;
      }
    }
  }

  .order_actions {
    @include btn-group-responsive;
    margin-bottom: 1rem;

    > h5 {
      border-bottom: $border-default;
      margin: {
        bottom: 1rem;
        top: 1rem;
      }
      padding-bottom: 10px;
    }

    @media screen and (min-width: $screen-md-min) {
      @include clearfix;

      > .btn,
      > .btn-group {
        display: inline-block;
        float: right;
        margin: {
          bottom: 0;
          left: 1rem;
        }
        width: auto;
      }

      > .btn[href*=wechat] {
        padding: {
          right: 52px;
        }
      }

      .dropdown-toggle {
        min-width: 112px;
      }
    }

    .btn {
      position: relative;

      sup {
        background-color: $orange;
        border-radius: 0 4px 4px 0;
        font-size: 12px;
        height: 34px;
        line-height: 34px;
        margin-left: 5px;
        padding: 2px 5px 2px 0;
        position: absolute;
        right: -1px;
        top: -1px;

        &::before {
          border-color: transparent $orange transparent transparent;
          border-style: solid;
          border-width: 17px;
          content: '';
          left: -34px;
          position: absolute;
          top: 0;
        }
      }
    }
  }

  button[type="submit"] {
    float: right;
    width: 8em;

    @media screen and (max-width: 767px) {
      margin-right: 0;
    }
  }

  .help_btn {
    margin-right: 4px;
    line-height: 32px;
  }

  .total_price, .partial_price {
    text-align: right;
    color: $text-muted;
    strong {
      margin-left: 1em;
    }

    @media screen and (max-width: 767px) {
      margin-right: 0;
    }
  }

  .total_price strong {
    color: $red;
    font-size: 1.25em;
  }

  .controls {
    li {
      padding-top: 5px;
    }
    .option_list {
      li {
        display: inline-block;
        margin-right: 1em;
      }
    }
  }

  .form-actions {
    border-top: 1px solid #e5e5e5;
    margin-top: 1em;
    padding-top: 1em;
    text-align: right;
  }

  abbr[title] {
    border-bottom: none;
  }

  label.misc_option {
    color: $text-muted;
    margin-left: 2em;
    font-weight: normal;
  }

  .order_items {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1em;
  }

  .price {
    text-align: right;
    width: 6em;
    font-size: 1.25em;
  }

  .rebate {
    @include clearfix;
    margin: 1em 0;
    .info {
      float: left;
      .name {
        font-size: 1.25em;
      }
      .note {
        margin-top: 1em;
      }
    }
    .price {
      float: right;
    }
  }

  .order_item {
    @include clearfix;
    margin-bottom: 1em;

    .thing {
      float: left;
      > * {
        float: left;
      }
      .cover {
        margin-right: 3em;
      }
      .info {
        .title {
          font-size: 1.25em;
        }
        .kind {
          margin-top: 1em;
        }
      }
      @media screen and (max-width: 767px) {
        .cover {
          display: none
        }
      }
    }

    .item_opts {
      float: right;

      > * {
        display: inline-block;
        float: right;
      }
      .quantity {
        margin-right: 1em;
        span {
          display: inline-block;
          text-align: center;
          width: 3em;
        }
        .tip {
          display: none
        }
      }
      @media screen and (max-width: 767px) {
        float: left;
        margin-top: 1em;
        width: 100%;
        .quantity {
          span {
            width: 2em;
          }
          .tip {
            display: inline;
          }
        }
      }
    }
  }

  section {
    @include clearfix;
  }

  .orders {
    .order {
      @include clearfix;
      border-bottom: 1px solid #e5e5e5;
      margin: 1em 0;

      header {
        @include clearfix;
        margin-bottom: 0.5em;

        .summary {
          float: left;

          .success {
            color: green;
          }
          .failure {
            color: red;
          }
        }
        .info {
          float: right;
          > * {
            float: right;
          }
        }
        .tip {
          display: none;
        }
        .total_price {
          font-size: 1em;
        }
        @media screen and (min-width: $screen-md-min) {
          width: 85%;
          float: left;
        }
        @media screen and (max-width: 439px) {
          .tip {
            display: inline;
          }
        }
      }

      section {
        width: 85%;
        margin: 1em 0;
        @media screen and (max-width: 899px) {
          width: 100%;
        }
      }

      aside {
        @include btn-group-responsive;
        @media screen and (min-width: $screen-md-min) {
          float: right;

          .btn-group {
            display: block;
            margin-bottom: 1rem;

            > .btn:only-child,
            > .dropdown-toggle {
              margin-bottom: 0;
            }
          }

          .btn {
            display: block;
            margin-bottom: 1rem;
            width: 100%;
            min-width: 8em;
          }
        }
      }
    }
  }

  #new_address {
    padding: {
      left: 20px;
      top: 0.5em;
    }
  }

  .consume_point_form {
    margin-bottom: 20px;
  }
}

#redirect_prompt_modal {
  .modal-dialog {
    margin-top: 100px;
  }

  .modal-content {
    border-radius: 3px;
  }
}
