html.profiles_recommend_users {

  main {

    > .nav {

      @media (min-width: $screen-md-min) {
        @include center-block;

        margin: {
          bottom: 20px;
          top: 20px;
        }
        text-align: center;
        width: 75%;

        > li {
          display: inline-block;
          float: none;
          min-width: 200px;

          > a {
            color: $gray;

            &:hover,
            &:active,
            &:focus {
              color: $text-color;
            }
          }

          &.active {

            > a {
              &,
              &:hover,
              &:active,
              &:focus {
                background-color: #eee;
                color: $text-color;
              }
            }
          }
        }
      }
    }
  }

  #celebrity .followers_count {
    display: block;
  }
}
