@import '../base';

html.settings {

  // Layout
  // ---------------------------------------------------------------------------

  #wrapper {

    > nav {
      @media (max-width: $screen-sm-max) {
        padding: {
          bottom: 0;
          top: 0;
        }
      }

      @media (min-width: $screen-md-min) {
        @include make-md-column(3, $gutter: 40px);
        @include make-md-column-push(9);

        border-left: $border-default;
        padding: {
          left: 2em;
          right: 2em;
        }
      }
    }
  }

  &.touch {

    #wrapper {
      @include wrapper(simple, $max-width: $screen-md-min);
    }
  }

  &.no-touch {

    #wrapper {
      @include wrapper(grid, 2);

      > main {

        @media (min-width: $screen-md-min) {
          @include make-md-column-pull(3);
        }
      }
    }
  }

  // Section
  // ---------------------------------------------------------------------------

  .nav-pills.nav-pills-list.vertical {
    @media (min-width: $screen-md-min) {
      border: none;

      > li {
        > a {
          border-radius: $border-radius-base;
        }
      }
    }
  }

  .form-horizontal {

    > .alert {
      text-align: center;
    }

    .form-group {
      margin: {
        left: 0;
        right: 0;
      }

      @media screen and (min-width: $screen-sm-min) {
        .control-label {
          @include make-sm-column(2);
        }

        .controls {
          @include make-sm-column(5);
        }

        .help-block {
          @include make-sm-column(4);
        }

        .form-action {
          @include make-sm-column(9);
          @include make-sm-column-offset(2);
        }
      }
    }
  }

  .section:not(:last-child) {
    border-bottom: $border-default;
  }

  .section_title {
    font-size: $font-size-h4;
    margin-bottom: 1em;
    padding-left: 1em;
  }

  #table_oauth {
    text-align: center;
    width: 100%;

    @include make-sm-column(6);
    @include make-sm-column-offset(2);
    @include make-md-column(4);
    @include make-md-column-offset(2);

    thead {

      th {
        text-align: center;

        &:first-child {
          text-align: left;
        }
      }
    }

    tbody {

      td {
        padding-bottom: .5em;
        padding-top: .5em;

        &:first-child {
          text-align: left;

          .fa {
            font-size: 1.4em;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
