html.signed_in_homepage {

  // Layout
  // ---------------------------------------------------------------------------

  body {
    background: #f7f7f9;
  }

  #wrapper {
    > main {
      min-height: 940px;
    }
  }

  // Section
  // ---------------------------------------------------------------------------

  header.filter {
    position: relative;
    margin-bottom: 1.5em;

    font-size: 18px;
    line-height: 1;

    &:after {
      content: '';

      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;

      border-bottom: 1px solid $gray-light;
    }

    h1 {
      display: inline-block;
      width: 80%;

      margin: 0;
      padding: 0;

      font-size: 18px;
      line-height: 1;

      a {
        display: inline-block;
        padding-bottom: 0.5em;
        border-bottom: 2px solid $blue;

        color: $gray;
        font-weight: bold;
      }
    }

    nav {
      display: inline-block;
      width: 20%;

      text-align: right;

      li {
        display: inline-block;
        margin-left: 2em;

        a {
          display: block;
          padding-bottom: 0.5em;
          color: $gray-light;
          font-weight: bold;
        }

        &.active {
          border-bottom: 2px solid $blue;

          a {
            color: $gray;
          }
        }
      }
    }
  }

  #activities {
    @include clearfix;

    $activity-gap: 15px;
    margin-right: -$activity-gap;

    > section,
    > article {
      margin: 0 $activity-gap $activity-gap 0;
      background: white;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .col-sm-3,
    .col-md-3,
    .col-lg-3 {
      width: calc(#{percentage(3 / 12)} - #{$activity-gap});
    }

    .col-sm-4,
    .col-md-4,
    .col-lg-4 {
      width: calc(#{percentage(4 / 12)} - #{$activity-gap});
    }

    .col-sm-6,
    .col-md-6,
    .col-lg-6 {
      width: calc(#{percentage(6 / 12)} - #{$activity-gap});
    }

    .col-sm-12,
    .col-md-12,
    .col-lg-12 {
      width: calc(100% - #{$activity-gap});
    }

    .video {
      display: none;
    }
  }

  footer[role="contentinfo"] {
    display: block;
  }

  &.mobile {

    #activities {

      .feed_article {
        padding: {
          left: 0;
          right: 0;
          top: 1rem;
        }

        > header {

          .avatar {

            a:last-child {
              max-width: 70px;
            }
          }
        }
      }
    }
  }
}
