html.signed_in_homepage {

  // Layout
  // ---------------------------------------------------------------------------

  body {
    background: #f7f7f9;
  }

  #wrapper,
  .wrapper {
    @include clearfix;
    margin: 0 auto;
    max-width: 1380px;
  }

  #wrapper {
    > main {
      min-height: 940px;
    }
  }

  // Section
  // ---------------------------------------------------------------------------

  &.mobile {

    #activities {

      .feed_article {
        padding: {
          left: 0;
          right: 0;
          top: 1rem;
        }

        > header {

          .avatar {

            a:last-child {
              max-width: 70px;
            }
          }
        }
      }
    }
  }
}
