html.signed_in_homepage {

  // Layout
  // ---------------------------------------------------------------------------

  body {
    background: #f7f7f9;
  }

  #wrapper {
    > main {
      min-height: 940px;
    }
  }

  // Section
  // ---------------------------------------------------------------------------

  #activities {
    @include clearfix;

    margin-right: -15px;

    > section,
    > article {
      margin: 0 15px 15px 0;
      background: white;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  footer[role="contentinfo"] {
    display: block;
  }

  &.mobile {

    #activities {

      .feed_article {
        padding: {
          left: 0;
          right: 0;
          top: 1rem;
        }

        > header {

          .avatar {

            a:last-child {
              max-width: 70px;
            }
          }
        }
      }
    }
  }
}
