@import '../base';

html.thing_lists_show.mobile,
html.thing_lists_show.tablet {
  body {
    padding-top: 45px;
    background: image-url('list-background-white.jpg');
    background-position: top center;
    background-attachment: fixed;
  }

  #wrapper {
    @include wrapper(empty);

    > nav {
      line-height: 60px;
      background: $body-bg;

      a {
        @include plain-link($text-color);
      }

      i {
        margin: 0;
        padding: 0 47px 0 44px;
      }
    }

    > header {
      position: relative;
      min-height: 120px;
      padding: 30px 16px 30px (16px + 60px + 20px);
      background: rgba(white, 0.7);

      > header {
        .user_avatar {
          position: absolute;
          left: 16px;

          img {
            width: auto;
            height: 60px;
          }
        }

        .thing_list_name {
          font-size: $font-size-large;
          line-height: 60px;
        }

        .thing_list_description {
          margin: $padding-large-vertical 0 20px;
          color: $gray-light;
        }
      }

      > footer {
        > ul {
          display: flex;
          justify-content: space-between;

          margin-top: $padding-large-vertical;
          max-width: 200px;

          a {
            @include plain-link($gray-light);

            i {
              vertical-align: middle;
              margin-right: $padding-small-horizontal;
              font-size: 28px;
            }
          }

          .fanciers_count {
            color: $red;
          }

          .fa-share-alt {
            margin-right: 0;
          }
        }
      }
    }

    section.thing_list_items {
      margin-top: -30px;

      > .thing_list_item {
        display: inline-block;
        margin-top: 30px;
        vertical-align: top;

        width: 100%;
        @include breakpoint(sm) { width: percentage(1 / 3); }

        box-shadow: 0 0 8px rgba(0,0,0,.1);
        background: $ghost-white;

        > header {
          .thing_list_item-cover {
            position: relative;
            display: block;
            height: 0;
            overflow: hidden;
            padding-bottom: percentage(8 / 11);

            &:before {
              content: '';

              position: absolute;
              bottom: 0;
              left: 48%;
              left: calc(50% - 8px);

              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 8px 11px 8px;
              border-color: transparent transparent $ghost-white transparent;
            }

            img {
              width: 100%;
            }
          }

          h4 {
            @include plain-link;

            @include breakpoint(sm) {
              @include text-overflow;
            }

            margin: 0;
            padding: 20px 16px;
            line-height: 1.2;
            text-align: center;

            font-family: lato-bold;
            font-size: 17px;
          }
        }

        > footer {
          padding: 20px 16px;
          border-top: 1px dashed $gray-lighter;

          position: relative;
          i {
            position: absolute;
            top: 14px;
            color: $gray-lighter;
          }

          p {
            margin: 0 3em;
            text-align: center;
            color: $gray-light;
          }
        }
      }
    }

    > footer {
      margin-bottom: 2em;
      padding: 0 16px;
      background: white;

      h4 {
        display: block;
        margin: 0 -16px 20px;
        line-height: 60px;
        background: $vulcan;
        color: $ghost-white;

        i {
          margin: 0;
          padding: 0 36px;
          vertical-align: middle;
          font-size: 2em;
        }

        span {
          vertical-align: middle;
        }
      }
    }
  }
}
