html.things_new,
html.things_edit {

  form.thing_form,
  #thing_form_content,
  #thing_form_submit {
    margin: 0 10%;
  }

  form.thing_form {
    .form-group {
      margin: 0 0 2em;
      label {@include make-sm-column(2);}
      .controls {@include make-sm-column(8)};
    }

    #thing_candidate {
      display: none;
      background-color: $text-color;
      border-radius: $border-radius-base;
      margin: 0 -15px 2em;
      min-width: 100%;
      padding-bottom: 25px;
      padding-top: 40px;
      position: relative;

      @media screen and (min-width: $screen-sm-min) {
        margin-left: auto;
        margin-right: auto;
        min-width: 0;
        width: 100%;
      }

      > h5 {
        color: #fff;
        left: 15px;
        position: absolute;
        top: 0;
      }

      .close {
        color: #fff;
        position: absolute;
        right: 10px;
        top: 10px;
      }

      .slideshow_control {
        bottom: 25px;
        box-shadow: none;
        color: #fff;
        height: auto;
        top: 40px;
      }

      .slideshow_inner {

        > li {
          opacity: 1;
          width: 160px;
        }
      }
    }
  }

  #new_photo {
    margin-bottom: 2em;

    .fileinput-button {
      position: relative;
      overflow: hidden;
      margin-bottom: 1em;
      width: 20%;
      min-width: 150px;

      i {margin-right: 1em;}

      input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        cursor: pointer;
        @include opacity(0);
      }
    }

    #photos {
      border: 1px dashed #ccc;
      @include transition(background, 0.3s);

      &.dragover {
        background: lighten($green, 50%);
      }

      p {
        padding-top: 1em;
        margin-left: 2em;
        font-size: $font-size-small;
        color: $text-muted;
      }

      ul {
        li {
          margin: 1em;
          padding: 1em;
          background: white;
          @include clearfix();

          .photo {
            float: left;
            max-width: 80px;
            max-height: 80px;
            margin-right: 1em;
            overflow: hidden;
          }

          .file_info {
            color: $text-muted;
            span:first-child {
              margin-right: 2em;
              border-right: 1px solid $text-muted;
              padding-right: 2em;
            }

            > a {
              margin-right: 1em;
            }
          }

          .progress {
            margin-top: 1.5em;
          }

          .fail {
            color: $pink;
          }

          &.uploaded {
            cursor: pointer;
          }

          &.sortable-placeholder {
            background: lighten($green, 50%);
          }
        }
      }
    }
  }

  #thing_form_submit {
    margin-bottom: 1em;
  }

  form.pro_edit_thing_form {
    .form-group {
      margin: 1em 0;
      label {@include make-sm-column(2);}
      .controls {@include make-sm-column(8);}
    }

    select, select.datetime {width: 100px;}

    #thing_price_unit {
      display: inline-block;
      width: 60px;
    }
    #thing_price {
      display: inline-block;
      width: 100px;
    }

    .kinds {
      margin-bottom: 2em;
    }

    .submit {
      text-align: center;
    }
  }
}
