@import '../base';
@import 'bootstrap/buttons';

html.things_show.tablet,
html.things_show.desktop,
html.things_comments,
html.things_groups,
html.things_details,
html.reviews_index,
html.reviews_new,
html.reviews_edit,
html.reviews_show,
html.reviews_create,
html.reviews_update,
html.feelings_index,
html.feelings_show,
html.stories_index,
html.stories_new,
html.stories_edit,
html.stories_show {

  #wrapper {
    @include wrapper(grid, 2);
    > header {clear: both;}
    > aside {
      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }

    padding: {
      bottom: 1em;
      top: 1em;
    }

    @media screen and (min-width: $screen-sm-min) {
      padding: {
        bottom: 1em;
        top: 1em;
      }
    }

    .nav-layout {
      > li a {
        .fa {margin-right: 0;}
        span {display: none;}
        @media screen and (min-width: $screen-sm-min) {
          .fa {margin-right: .5em;}
          span {display: inline;}
        }
      }
    }
  }

  #thing_content {
    $gap: 2em;

    > * {
      padding-bottom: $gap;
      border-bottom: $border-default;
      margin-bottom: $gap;
    }

    > *:last-child {border: none;}

    .post_content {
      $summary_height: 200px;

      &.is_folded {
        margin-bottom: 0;
        max-height: $summary_height;
        overflow: hidden;
        padding-bottom: 0;
      }

      & + .more {
        height: $summary_height + 40px;
        margin-top: -($summary_height + 28px);
        padding-bottom: 0;
        position: relative;

        a {
          background-color: #f5f5f5;
          bottom: 0;
          color: $gray;
          height: 40px;
          line-height: 40px;
          position: absolute;
          text-align: center;
          width: 100%;

          &:hover {
            background-color: darken(#f5f5f5, 5%);
          }

          &:before {
            @include background-image(linear-gradient(bottom, #f5f5f5 5%, rgba(255, 255, 255, 0) 100%));
            content: '';
            height: 20px;
            left: 0;
            position: absolute;
            width: 100%;
            top: -20px;
          }

          .fa {
            font-size: 18px;
            vertical-align: -1px;
          }
        }
      }
    }
  }

  #group_fancy_thing {

    .bootstrap-select {
      margin-bottom: 0;
    }

    .alert {
      margin-bottom: 0;
    }
  }

}

html.shop, html.things_index {
  #wrapper {
    margin: 0;

    .container-fluid {
      padding: 0;
      @media (min-width: $screen-md-min) {
        padding: 0 10%;
      }
      @media (min-width: $screen-lg-min) {
        width: $container-large-desktop;
        padding: 0 $screen-lg-min * 0.1;
      }
    }
  }

  #things_nav {
    margin-bottom: 0px;
    @include clearfix;

    h1 {
      margin: 1em 0 0 0;
      font-size: $font-size-h3;
      color: $gray;
      > a {color: $gray;}
    }

    nav {
      .bootstrap-select {margin: 0;}
    }

    @media (min-width: $screen-sm-min) {
      h1 {margin-top: 0;}
    }
  }

  #things_list {
    @include clearfix;
    $gutter: 20px;
    margin-top: $gutter;

    article.thing {
      margin-bottom: $gutter;

      @media (min-width: $screen-sm-min) {
        float: left;
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        &:nth-child(odd) {margin-right: $gutter;}
        width: 350px;
        width: calc((100% - #{$gutter})/2);
      }

      @media (min-width: $screen-md-min) {
        &:nth-child(3n+1), &:nth-child(3n+2) {margin-right: $gutter;}
        width: 306px;
        width: calc((100% - #{$gutter}*2)/3);
      }
    }
  }
}

html.things_index #things_nav {
  h1 {
    margin-left: 1em;
    .subscribe_category {
      margin-left: 2em;
      vertical-align: 3px;
    }
  }

  nav {
    margin-top: 1em;
    .bootstrap-select, select {margin-left: 1em;}
    .bootstrap-select {width: 150px;}
  }

  @media (min-width: $screen-sm-min) {
    h1 {
      float: left;
      margin-left: 0;
    }
    nav {
      float: right;
      margin-top: 2px;
    }
  }
}

html.shop #things_nav {
  h1 {
    float: left;
    margin-left: 1em;
  }

  nav {
    float: right;
    margin-right: 1em;
    margin-top: 30px;
  }

  @media (min-width: $screen-sm-min) {
    nav {margin-top: 0;}
  }
}

html.things_show.tablet,
html.things_show.desktop,
html.feelings_index,
html.reviews_index {

  #thing_feelings {
    h4 {
      color: $text-muted;
    }
  }

  .feeling_form {
    border-bottom: $border_default;
    margin-bottom: 1em;
    padding-bottom: 2em;
  }

  .feed_article {

    &.feeling {
      @media (min-width: $screen-sm-min) {
        min-height: calc(4em + 90px);
      }
    }

    .review_author,
    .feeling_author {

      img {
        @include square(60px);
      }
    }
  }
}

html.feelings_index {

  #thing_content {

    > form {
      border-bottom: 0;
      margin-bottom: 1em;
      padding-bottom: 0;
    }
  }
}

html.reviews_index {

  #thing_content {

    & > section {

      & > header {
        @include clearfix;

        form {
          float: left;
        }

        .new_review {
          @extend .btn;
          @extend .btn-primary;

          float: right;
        }
      }
    }
  }
}
html.reviews_show {

  #thing_content {

    .article {

      header {

        .author,
        .follow_btn {
          display: inline-block;
          vertical-align: bottom;
        }

        .follow_btn {
          @extend .btn-sm;
        }
      }
    }
  }
}
