html.things_show {

  &.mobile {
    $gap_horizontal: 20px;

    body {
      padding-bottom: 0;
    }

    #wrapper {
      @include wrapper(simple, $max-width: $screen-md-min);
      margin-bottom: 0;
      padding: 0;
    }

    .avatar {
      color: $gray;
      display: inline-block;
      font-style: normal;

      a {
        color: $gray;
      }

      img {
        height: 30px;
        margin-right: .5rem;
        width: 30px;
      }

      .name {
        @include text-overflow;

        color: $text-color;
        display: inline-block;
        font-weight: normal;
        font-size: .8em;
        line-height: 30px;
        margin-bottom: 0;
        max-width: 6em;
        vertical-align: middle;
      }

      small {
        color: #bbb;
        font-size: .8em;
        padding-left: .5em;
      }
    }

    article {

      .content {
        word-break: break-all;
      }

      .more {
        $summary_height: 200px;

        height: $summary_height + 40px;
        margin-top: -($summary_height + 28px);
        padding-bottom: 0;
        position: relative;

        a {
          background-color: #f5f5f5;
          bottom: 0;
          color: $gray;
          height: 40px;
          line-height: 40px;
          position: absolute;
          text-align: center;
          width: 100%;

          &:hover {
            background-color: darken(#f5f5f5, 5%);
          }

          &:before {
            @include background-image(linear-gradient(bottom, #f5f5f5 5%, rgba(255, 255, 255, 0) 100%));
            content: '';
            height: 20px;
            left: 0;
            position: absolute;
            width: 100%;
            top: -20px;
          }

          .fa {
            font-size: 18px;
            vertical-align: -1px;
          }
        }
      }
    }

    .thing_thumb_experimental {
      float: left;
      position: relative;
      width: 50%;

      figcaption {
        background-color: #111;
        bottom: 0;
        color: #fff;
        height: 40px;
        line-height: 40px;
        opacity: .4;
        padding: 0 $gap_horizontal;
        position: absolute;
        width: 100%;
      }
    }

    .groups_compact {

      .card_compact {
        background-color: transparent;
        margin-bottom: 0;

        img {
          float: left;
          height: 50px;
          margin-right: 20px;
          width: 50px;
        }

        h5 {
          color: $text-color;
          line-height: 30px;
          margin: 0;
        }

        .members_count {
          line-height: 20px;
        }
      }
    }

    .header {
      background-color: #f8fafa;
      padding: 20px 30px;
      text-align: center;

      h1 {
        margin: 0 0 10px;
        font-size: 25px;
        font-weight: bold;
        line-height: 35px;

        a {
          color: $text-color;
        }
      }

      p {
        color: $text-muted;
        margin-bottom: 20px;
      }

      .name {
        color: $gray;
      }

      > :last-child {
        margin-bottom: 0;
      }
    }

    .actions {
      background-color: #eef1f1;
      height: 50px;
      padding: 10px 30px;
      text-align: center;

      > div {
        display: inline-block;

        > a {
          color: $text-muted;
          display: inline-block;
          height: 30px;
          line-height: 30px;
          padding:  {
            left: .5rem;
            right: .5rem;
          }

          small {
            padding-left: 5px;
          }
        }
      }

      .fa {
        @include square(20px);
        border-radius: 50%;
        color: #eef1f1;
        font-size: .7em;
        line-height: 20px;
        vertical-align: middle;
      }

      .fanciers {
        .fa { background-color: $red; }
      }
      .owners {
        .fa { background-color: $green; }
      }
      .share {
        .fa { background-color: $blue; }
      }
    }

    .photos {
      height: 210px;
      overflow: hidden;
      position: relative;

      footer {
        @include clearfix;
        background-color: #111;
        bottom: 0;
        color: #fff;
        height: 40px;
        line-height: 40px;
        opacity: .4;
        padding: 0 $gap_horizontal;
        position: absolute;
        width: 100%;
      }
    }

    .details {

      > header {
        @include clearfix;
        background-color: #edeff0;

        time {
          line-height: 30px;
        }
      }

      > footer {
        padding: 10px;
      }
    }

    .section {

      > header {
        @include clearfix;
        background-color: $navbar-inverse-bg;
        color: #fff;
        font-size: 14px;
        height: 40px;

        .title {
          font-size: 14px;
          float: left;
          line-height: 40px;
          margin: 0 0 0 $gap_horizontal;
        }

        .more {
          background-color: lighten($navbar-inverse-bg, 5%);
          color: #fff;
          float: right;
          line-height: 40px;
          padding: 0 $gap_horizontal;
        }
      }

      > section {
        padding: $gap_horizontal;

        &:empty {
          padding: 0 0 10px 0;
        }
      }

      > footer {
        padding: 0 10px 10px;
      }

      &.details,
      &.shopping {

        > header {
          background-color: #edeff0;
          color: $text-color;
        }
      }

      &.details {

        > header {
          height: 50px;
          padding: 10px $gap_horizontal;
        }
      }

      &.shopping {

        > header {

          .more {
            background-color: darken(#edeff0, 5%);
            color: $text-color;
          }
        }
      }

      &.relation {

        > section {
          padding: 0;
        }
      }
    }
  }
}
