@import '../base';

html.thing_lists_show.mobile,
html.thing_lists_show.tablet {
  #wrapper {
    @include wrapper(empty);

    > nav {
      line-height: 60px;
      background: $body-bg;

      a {
        @include plain-link($text-color);
      }

      i {
        margin: 0;
        padding: 0 40px;
      }
    }

    > header {
      position: relative;
      min-height: 120px;
      padding: 30px 16px 30px (16px + 90px);
      background: white;

      > header {
        .user_avatar {
          position: absolute;
          left: 16px;

          img {
            width: auto;
            height: 60px;
          }
        }

        .thing_list_name {
          font-size: $font-size-large;
          line-height: 60px;
        }

        .thing_list_description {
          margin: $padding-large-vertical 0 20px;
          color: $gray-light;
        }
      }

      > footer {
        > ul {
          display: flex;
          justify-content: space-between;

          margin-top: $padding-large-vertical;
          max-width: 200px;

          a {
            @include plain-link($gray-light);

            i {
              vertical-align: middle;
              margin-right: $padding-small-horizontal;
              font-size: 2em;
            }
          }

          .fanciers_count {
            color: $red;
          }
        }
      }
    }

    section.thing_list_items {
      > .thing_list_item {
        background: $ghost-white;

        &:not(:first-child) {
          margin-top: 15px;
        }

        > header {
          h4 {
            @include plain-link;

            margin: 0;
            padding: 20px 0;
            line-height: 1.2;
            text-align: center;
          }
        }

        > footer {
          padding: 0 16px 30px;

          color: $gray-light;
          i {
            color: $gray-lighter;
          }
        }
      }
    }

    > footer {
      padding: 0 16px;
      background: white;

      h4 {
        display: block;
        margin: 0 -16px 20px;
        line-height: 60px;
        background: $vulcan;
        color: $ghost-white;

        i {
          margin: 0;
          padding: 0 36px;
          vertical-align: middle;
          font-size: 2em;
        }

        span {
          vertical-align: middle;
        }
      }
    }
  }
}
