@import '../base';

html.things_show {

  &.mobile {
    $gap_horizontal: 20px;

    body {
      padding-bottom: 0;
    }

    #wrapper {
      @include wrapper(simple, $max-width: $screen-md-min);
      margin-bottom: 0;
      padding: 0;
    }

    // TODO
    a.avatar {
      @extend %avatar;
    }

    article {
      $summary_height: 200px;
      overflow: hidden;

      .post_content {
        word-break: break-all;

        &.is_folded {
          max-height: $summary_height;
          overflow: hidden;
          padding-bottom: 0;
        }
      }

      .more {
        height: $summary_height + 40px;
        margin-top: -($summary_height + 28px);
        padding-bottom: 0;
        position: relative;

        a {
          background-color: #f5f5f5;
          bottom: 0;
          color: $gray;
          height: 40px;
          line-height: 40px;
          position: absolute;
          text-align: center;
          width: 100%;

          &:hover {
            background-color: darken(#f5f5f5, 5%);
          }

          &:before {
            @include background-image(linear-gradient(bottom, #f5f5f5 5%, rgba(255, 255, 255, 0) 100%));
            content: '';
            height: 20px;
            left: 0;
            position: absolute;
            width: 100%;
            top: -20px;
          }

          .fa {
            font-size: 18px;
            vertical-align: -1px;
          }
        }
      }
    }

    .thing_thumb_experimental {
      @include stretch_img;
      float: left;
      padding-bottom: 50%;
      width: 50%;

      figcaption {
        background-color: rgba(#111, .4);
        bottom: 0;
        height: 40px;
        line-height: 40px;
        padding: 0 $gap_horizontal;
        position: absolute;
        width: 100%;

        a {
          @include text-overflow;
          color: #fff;
          display: inline-block;
          width: 100%;
        }
      }
    }

    .feeling_form {
      display: none;
      margin-bottom: 2rem;

      .feeling_score {
        display: none;
      }

      .submit {
        float: none;

        .counter {
          display: none;
        }

        button[type="submit"] {
          // @extend .btn-block;
          display: block;
          width: 100%;
        }
      }
    }

    .header {
      background-color: #f8fafa;
      padding: 20px 30px;
      text-align: center;

      h1 {
        margin: 0 0 5px;
        font-size: 23px;
        font-weight: bold;
        line-height: 35px;

        a {
          color: $text-color;
        }
      }

      p {
        color: $text-muted;
        margin-bottom: 1rem;
      }

      .btn-link {
        @include transition(background-color, .5s, ease);
        @include button_compact(#fff, $navbar-inverse-bg);
        border-radius: 3px;
      }

      > :last-child {
        margin-bottom: 0;
      }
    }

    .actions {
      background-color: #eef1f1;
      height: 50px;
      padding: 10px 30px;
      text-align: center;

      > div {
        display: inline-block;

        > a {
          color: $text-muted;
          display: inline-block;
          height: 30px;
          line-height: 30px;
          padding:  {
            left: .5rem;
            right: .5rem;
          }

          small {
            padding-left: 5px;
          }
        }
      }

      .fa {
        @include square(20px);
        border-radius: 50%;
        color: #eef1f1;
        font-size: .7em;
        line-height: 20px;
        vertical-align: middle;
      }

      .fanciers {
        .fa { background-color: $red; }
      }
      .owners {
        .fa { background-color: $green; }
      }
      .share {
        .fa { background-color: $blue; }
      }
    }

    .photos {
      height: 210px;
      overflow: hidden;
      position: relative;

      .item {
        text-align: center;

        img {
          height: 210px;
        }
      }

      footer {
        @include clearfix;
        background-color: rgba(#111, .4);
        bottom: 0;
        color: #fff;
        height: 40px;
        line-height: 40px;
        padding: 0 $gap_horizontal;
        position: absolute;
        width: 100%;

        em {
          font-style: normal;
        }
      }
    }

    .details {

      > header {
        @include clearfix;
        background-color: #edeff0;

        time {
          line-height: 30px;
        }
      }

      > footer {
        padding: 10px;

        .buy_button {
          width: 100%;
        }
      }
    }

    .section {

      > header {
        @include clearfix;
        background-color: $navbar-inverse-bg;
        color: #fff;
        font-size: 14px;
        height: 40px;

        .title {
          font-size: 14px;
          float: left;
          line-height: 40px;
          margin: 0 0 0 $gap_horizontal;
        }

        .more {
          background-color: lighten($navbar-inverse-bg, 5%);
          color: #fff;
          float: right;
          line-height: 40px;
          padding: 0 $gap_horizontal;
        }

        .bartab {
          height: 100%;

          li {
            display: table-cell;
            width: 1%;

            > a {
              color: #fff;
              display: block;
              line-height: 34px;
              padding: 0;
              position: relative;
              text-align: center;

              .fa {
                color: #fff;
              }

              .badge {
                background-color: #fff;
                color: $navbar-inverse-bg;
                font-size: .8em;
                margin-left: 5px;
              }
            }

            &:not(:last-child) {

              > a:after {
                border-right: 1px solid darken($navbar-inverse-bg, 5%);
                bottom: 10px;
                content: '';
                position: absolute;
                right: 0;
                top: 10px;
              }
            }

            &.active {

              > a {
                background-color: darken($navbar-inverse-bg, 5%);
                border: {
                  bottom: 3px solid darken($navbar-inverse-bg, 20%);
                  top: 3px solid darken($navbar-inverse-bg, 5%);
                }
              }
            }
          }
        }
      }

      > section {
        padding: $gap_horizontal;

        &:empty {
          padding: 0 0 10px 0;
        }

        .box {

          > header,
          > section,
          > footer {
            padding: 10px;
          }

          > section {

            .nomore {
              padding-bottom: 0;
            }
          }
        }
      }

      > footer {
        padding: 0 10px 10px;
      }

      &.foo {

        > header {
          height: 50px;

          .bartab {

            li {

              > a {
                line-height: 44px;
              }
            }
          }
        }
      }

      &.fullarea {

        > section {
          padding: 0;
        }
      }

      &.details {

        > header {
          background-color: #edeff0;
          color: $text-color;
          height: 50px;
          padding: 10px $gap_horizontal;
        }
      }
    }
  }
}

html.reviews_show.mobile {
  .mobile_buy {
    margin: 15px 0;

    & + .new_cart_item {
      display: none;
    }
  }

  .buy_button {
    display: block;
    width: 100%;
  }
}
