@import '../base';

html.shop, html.things_index {
  #wrapper {
    margin: 0;

    .container-fluid {
      padding: 0;
      @media (min-width: $screen-md-min) {
        padding: 0 10%;
      }
      @media (min-width: $screen-lg-min) {
        width: $container-large-desktop;
        padding: 0 $screen-lg-min * 0.1;
      }
    }
  }

  #things_nav {
    @include clearfix;
    background-color: white;
    border-bottom: 1px solid #eee;
    margin-bottom: 0px;
    padding: 0 15px;

    h1 {
      color: $gray;
      font-size: 20px;
      line-height: 2.25;
      margin: 1em 0 0 0;

      a {
        color: #777;
      }
    }

    @media (min-width: $screen-sm-min) {
      h1 {margin-top: 0;}
    }
  }

  nav {
    @media (max-width: $screen-sm-max) {
      margin-top: 20px;
      text-align: center;
    }

    .bootstrap-select {margin: 0;}

    > ol {
      margin-left: 25px;

      > li {
        color: #777;
        font-size: 18px;
        line-height: 2.5;
        padding: 0 5px;
        text-decoration: none;

        &.active {
          color: #999;
        }

        > a {
          color: #777;
        }
      }
    }
  }

  #things_list {
    @include clearfix;
    $gutter: 20px;
    margin-top: $gutter;

    article.thing {
      margin-bottom: $gutter;

      @media (min-width: $screen-sm-min) {
        float: left;
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        &:nth-child(odd) {margin-right: $gutter;}
        width: 350px;
        width: calc((100% - #{$gutter})/2);
      }

      @media (min-width: $screen-md-min) {
        &:nth-child(3n+1), &:nth-child(3n+2) {margin-right: $gutter;}
        width: 306px;
        width: calc((100% - (#{$gutter} + 1px)*2)/3);
      }
    }
  }

  #things_information {
    @include clearfix;
    background-color: #fafafa;
    padding: 1.5em;

    > .col-md-3 {
      padding: 0;
    }

    #description {
      @media (max-width: $screen-sm-max) {
        margin-top: 20px;
      }
    }

    img {
      @media (max-width: $screen-sm-max) {
        display: block;
        margin: 0 auto;
      }
    }

    .tag-button {
      border: none;
      border-radius: 0;
      box-shadow: 0 0 1px rgba(0,0,0,.1);
      color: #777;
      margin: 0 5px 10px 5px;

      &:hover {
        background-color: #049cdb;
        color: white;
      }

      &.active {
        background-color: #ebeced;
        color: #999;
      }
    }

    #tags {
      @media (max-width: $screen-sm-max) {
        height: 80px;
        margin-top: 20px;
        overflow: hidden;
      }
    }

    .more {
      margin-top: 20px;
      text-align: center;

      a {
        color: #999;
      }
    }
  }
}

html.things_shop {
  &.desktop {
    #things_nav {
      .bootstrap-select {
        margin-left: 1em;
        width: 180px;
      }
    }
  }
}

html.things_index #things_nav {
  h1 {
    margin-left: 1em;
    .subscribe_category {
      margin-left: 2em;
      vertical-align: 3px;
    }
    li {
      color: #777;
      padding: 0 2px;
      & + li {
        &::before {
          content: "\f105";
          font-family: FontAwesome;
        }
      }
      &.active {
        color: #999;
      }
    }
  }

  nav {
    margin-top: 1em;
    .bootstrap-select, select {margin-left: 1em;}
    .bootstrap-select {width: 150px;}

    ol {
      li {
        color: #777;

        & + li{
          margin-left: 15px;
          padding: 0 5px;
          &:before {
            content: "";
            margin-left: -10px;
          }
        }

        &.active {
          border-bottom: 2px solid #049cdb;
          color: #999;
        }
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    h1 {
      font-size: 21px;
      float: left;
      margin-left: 0;
    }
    nav {
      float: right;
      margin-top: 2px;
    }
  }
}

html.shop #things_nav {
  h1 {
    float: left;
    margin-left: 1em;
  }

  nav {
    float: right;
    margin-right: 1em;
    margin-top: 30px;
  }

  @media (min-width: $screen-sm-min) {
    nav {margin-top: 0;}
  }
}
