@import '../base';

html.thing_lists_show {
  body {
    position: relative;
    padding-top: 45px;

    @media (max-width: $screen-xs-max) {
      padding-bottom: 0;
    }
  }

  #thing_list_background {
    content: '';

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    opacity: .2;
    background-position: top center;
    background-repeat: no-repeat;

    @include from-breakpoint(md) {
      transition: background-image 1s;
    }
  }

  #header {
    margin-bottom: 0;
  }

  #wrapper {
    @include wrapper(empty);

    $wrapper-max-width: 1280px;
    $header-width: 300px;

    max-width: $wrapper-max-width;

    @include from-breakpoint(md) {
      margin: 0 auto;
      padding-left: $header-width;
    }

    > header {
      padding: 0 16px 30px;
      background: rgba(white, .8);

      @include from-breakpoint(md) {
        position: fixed;
        top: 45px;
        width: $header-width;
        margin-left: -$header-width;
        padding: 0 30px;
      }

      > nav {
        a {
          @include plain-link($text-color);
        }

        i {
          margin: 0;
          padding: 0 47px 0 44px;
        }

        @include to-breakpoint(sm) {
          margin: 0 -16px;
          line-height: 60px;
          background: $body-bg;
        }

        @include from-breakpoint(md) {
          position: absolute;
          top: 100%;
          right: 0;
          left: 0;

          font-size: 16px;
          line-height: 60px;

          border-top: 1px dashed #eee;
          background: $smoke-white;
        }
      }

      position: relative;

      .user_avatar {
        position: absolute;
        top: 60px + 30px;
        left: 16px;

        img {
          width: auto;
          height: 60px;

          border: 1px solid $iron;
          box-shadow: 0 0 5px rgba(black, .2);
        }

        @include from-breakpoint(md) {
          position: static;
          display: block;
          margin: 0 -30px;
          padding: 16px 30px;

          background: $smoke-white;
          border-bottom: 1px solid #eee;

          img {
            width: 50px;
            height: 50px;
            margin-right: 25px;
          }

          .user_avatar-name {
            font-size: 20px;
          }
        }
      }

      .thing_list_sorting_buttons {
        display: none;

        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
        right: 0;

        background: white;
        font-size: 16px;

        > a {
          display: inline-block;
          width: 50%;
          padding: 0;
          line-height: 60px;
          text-align: center;

          color: $text-color;
          background: $smoke-white;

          i {
            margin-left: .7em;
            margin-right: 0;
          }
        }
      }

      .thing_list_change_background_button {
        display: none;

        @include from-breakpoint(md) {
          display: block;

          position: absolute;
          top: 100%;
          left: 0;
          margin-top: 60px;

          width: 50%;
          height: auto;
          padding: 5px;

          border-radius: 0;
          font-size: 16px;
        }
      }

      .thing_list_edit_button {
        position: absolute;
        bottom: 28px;
        left: 16px;
        margin-top: 60px;

        width: 60px;
        padding: 0;

        &.thing_list_edit_button--editing {
          background: $blue-light;
        }

        @include from-breakpoint(md) {
          top: 100%;
          bottom: auto;
          left: 50%;

          width: 50%;
          height: auto;
          padding: 5px;

          border-radius: 0;
          background: $vulcan;
          font-size: 16px;

          &:not(.thing_list_edit_button--editing):after {
            content: '列表';
          }
        }
      }

      .thing_list_info {
        min-height: 130px;
        padding: 30px 0 0 60px + 20px;

        @include from-breakpoint(md) {
          min-height: 0;
          padding: 0;
        }

        .thing_list_name {
          padding: (60px - 18px * 1.25) / 2 0;
          font-size: 18px;
          line-height: 1.25;

          @include from-breakpoint(md) {
            padding: 20px 0 0;
            font-size: 20px;
          }
        }

        .thing_list_description {
          margin: $padding-large-vertical 0 0;
          color: $gray-light;

          @include from-breakpoint(md) {
            margin-top: 20px;
          }
        }
      }

      .thing_list_price_toggle {
        margin: 15px 0;
        margin-left: 80px;

        @include from-breakpoint(md) {
          margin-left: 0;
        }
      }

      .thing_list_actions {
        padding-left: 60px + 20px;

        @include from-breakpoint(md) {
          margin: 0 -30px;
          padding: 0 30px 30px;
        }

        > ul {
          display: flex;
          justify-content: space-between;

          max-width: 200px;
          margin-top: $padding-large-vertical;

          @include from-breakpoint(md) {
            max-width: none;
            margin-top: 0;
          }

          a {
            @include plain-link($gray-light);

            i {
              vertical-align: middle;
              margin-right: $padding-small-horizontal;
              font-size: 30px;
            }
          }

          .fa-heart-o,
          .fanciers_count {
            color: $red;
          }

          .fanciers_count,
          .comments_count {
            font-size: 14px;
          }

          .fa-share-alt {
            margin-right: 0;
          }
        }
      }
    }

    section.thing_list_items {
      margin-top: -30px;

      @include from-breakpoint(md) {
        padding-top: 82px;
      }

      > .thing_list_item {
        position: relative;

        display: inline-block;
        margin-top: 30px;
        vertical-align: top;

        width: 100%;
        @include from-breakpoint(sm) { width: percentage(1 / 3); }

        background: $ghost-white;

        transition: box-shadow .1s linear;
        box-shadow: 0 2px 5px rgba(black, .1);

        &:hover {
          z-index: 1;
          box-shadow: 0 4px 10px rgba(black, .4);
        }

        > header {
          .thing_list_item-cover {
            position: relative;
            display: block;
            height: 0;
            overflow: hidden;
            padding-bottom: percentage(8 / 11);

            &:before {
              content: '';

              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);

              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 8px 11px 8px;
              border-color: transparent transparent $ghost-white transparent;
            }

            img {
              width: 100%;
            }
          }

          h4 {
            @include plain-link;

            @include from-breakpoint(sm) {
              @include text-overflow;
            }

            margin: 0;
            padding: 20px 16px;
            line-height: 1.5;
            text-align: center;

            font-family: 'Lato Bold';
            font-size: 16px;
          }

          .thing_list_item-destroy {
            display: none;
          }

          .thing_list_item-price {
            display: none;
          }
        }

        > footer {
          .thing_list_item-description {
            position: relative;
            padding: 20px 16px;
            border-top: 1px dashed $gray-lighter;
            background: #f7f7f7;

            i {
              position: absolute;
              top: 14px;
              left: 14px;
              color: $body-bg;
              font-size: 20px;
            }

            p {
              margin: 0 2em;
              text-align: center;
              color: $gray-light;
            }

            .editable {
              padding: 0 .5em;
              border-color: #b7b7b7;

            }

            .editable-input textarea {
              text-align: center;
            }
          }
        }
      }

      &.thing_list_items--editing {
        > .thing_list_item {
          cursor: move;

          a:not(.thing_list_item-destroy) {
            cursor: move;
            pointer-events: none;
          }

          .thing_list_item-destroy {
            position: absolute;
            top: 0;
            right: 0;

            display: block;
            width: 40px;
            line-height: 42px;
            font-size: 40px;
            font-family: 'Lato Thin';
            text-align: center;

            background: $vulcan;
            color: white;

            &:hover {
              background: $red;
            }
          }

          &.ui-sortable-helper {
            box-shadow: 5px 10px 30px rgba(black, .9);

            .thing_list_item-destroy {
              display: none;
            }
          }
        }
      }

      &.thing_list_items--with_price {
        > .thing_list_item {
          .thing_list_item-price {
            position: absolute;
            right: 0;
            bottom: 0;

            display: block;
            padding: 5px 14px;

            text-align: center;

            background: rgba($vulcan, .9);
            color: white;
          }
        }
      }

      @include from-breakpoint(md) {
        &.thing_list_items--loose {
          > .thing_list_item {
            display: block;
            box-sizing: content-box;
            width: 35%;
            padding-right: 30%;

            &:not(:first-child) {
              margin-top: 0;
            }

            &:nth-child(even) {
              margin-left: 35%;
            }

            > header {
              position: relative;

              .thing_list_item-cover {
                &:before {
                  content: '';

                  right: 0;
                  bottom: 50%;
                  transform: translateY(50%);
                  left: auto;

                  border-width: 8px 11px 8px 0;
                  border-color: transparent $ghost-white transparent transparent;
                }
              }

              .thing_list_item-thing_title {
                position: absolute;
                top: 0;
                left: 100%;

                width: percentage(30% / 35%);
                height: 100%;

                background: $ghost-white;

                h4 {
                  position: relative;
                  top: 50%;
                  transform: translateY(-50%);

                  white-space: normal;
                }
              }
            }

            > footer {
              width: percentage((35% + 30%) / 35%);
              background: $body-bg;

              i {
                color: white;
              }
            }
          }
        }
      }
    }

    > footer {
      padding: 0 16px;
      background: white;

      @include from-breakpoint(sm) {
        margin-bottom: 2em;
      }

      @include from-breakpoint(md) {
        margin-top: 2em;
      }

      h4 {
        display: block;
        margin: 0 -16px 20px;
        line-height: 60px;
        background: $vulcan;
        color: $ghost-white;

        i {
          margin: 0;
          padding: 0 36px;
          vertical-align: middle;
          font-size: 28px;
        }

        span {
          vertical-align: middle;
        }
      }

      .comments {
        .comments-form_wrapper,
        ul li {
          padding: 0;
        }

        .comments_more {
          display: block;
          width: auto;
          margin: 0 -16px;

          color: $blue-dark;
          background: white;

          border: none;
          border-top: 1px dashed $gray-lighter;
          box-shadow: 0 5px 5px rgba(0, 0, 0, .1);

          transition: all 0.2s ease;

          .fa {
            font-size: 18px;
            line-height: 40px;
            vertical-align: -1px;

            &:before {
              @include fa-angle-down;
              -webkit-font-smoothing: auto;
            }
          }

          &:hover {
            color: $brand-primary;
            box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
            .fa:before { @include fa-angle-double-down; }
          }
        }
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    #go_top .fa {
      margin: 0;
      padding: .5em 1em;
      color: #fff;
      background: $blue-dark;
    }
  }

  .modal-backdrop.fade.in {
    opacity: .65;
  }

  #change_list_background_modal {
    .modal-dialog {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 750px;
      margin: 0;

      .modal-content {
        border-radius: 0;

        .modal-header {
          min-height: 0;
          padding: 0;
          border: none;

          .close {
            position: absolute;
            right: 0;
            bottom: 100%;

            width: 40px;
            line-height: 40px;
            font-size: 40px;
            font-family: 'Lato Thin';
            font-weight: normal;
            text-align: center;

            opacity: 1;
            background: $blue-dark;
            color: white;

            &:hover {
              background: $blue-light;
            }
          }
        }

        .modal-body {
          padding: 0;
        }
      }
    }

    .thing_list_background_wrapper {
      position: relative;

      display: inline-block;
      width: 25%;

      opacity: .5;
      transition: opacity .2s;

      i {
        display: none;

        position: absolute;
        top: 50%;
        left: 50%;
        width: 34px;
        text-align: center;
        line-height: 34px;
        margin: -17px 0 0 -17px;

        color: white;
        font-size: 24px;
      }

      &:hover {
        opacity: 1;

        i {
          display: block;
          background: rgba($blue-light, .7);
          border-radius: 50%;
        }
      }

      &.thing_list_background_wrapper--active {
        position: relative;
        opacity: 1;

        i {
          display: block;
          background: transparent;
        }

        &:before {
          content: '';

          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;

          background: rgba($blue-light, .6);
        }
      }
    }
  }

  &.mobile {
    #wrapper {
      > header {
        > nav {
          display: none;
        }

        .user_avatar {
          top: 30px;
        }
      }

      .thing_list_nav {
        @include clearfix;
        background-color: #fff;
        margin: 2em 0;
        padding: 10px 15px;

        .user_avatar {
          img {
            height: 40px;
            width: 40px;
          }
        }

        .thing_list_nav_list {
          color: $text-color;
          float: right;
          line-height: 68px;
          margin-right: 10px;

          .fa {
            margin: 0 0 0 1em;
          }
        }
      }
    }
  }
}
