@import '../base';

html.things_new,
html.things_create,
html.things_update,
html.things_edit {

  #thing_candidate {
    display: none;
    background-color: $text-color;
    border-radius: $border-radius-base;
    margin: 0 -15px 2em;
    min-width: 100%;
    padding-bottom: 25px;
    padding-top: 40px;
    position: relative;

    @media screen and (min-width: $screen-sm-min) {
      margin-left: auto;
      margin-right: auto;
      min-width: 0;
      width: 100%;
    }

    > h5 {
      color: #fff;
      left: 15px;
      position: absolute;
      top: 0;
    }

    .close {
      color: #fff;
      position: absolute;
      right: 10px;
      top: 10px;
    }

    .slideshow_control {
      bottom: 25px;
      box-shadow: none;
      color: #fff;
      height: auto;
      top: 40px;
    }

    .slideshow_inner {
      margin: 0;

      > li {
        margin-bottom: 0;
        opacity: 1;
        padding: 0;
        width: 160px;
      }
    }
  }

  .thing_form,
  .uploader {
    margin: {
      left: auto;
      right: auto;
    }
    max-width: 992px;
    width: 55%;
  }

  .form-group {
    margin: 0 0 2em;

    &.required {
      &::before {
        color: $brand-primary;
        content: '*';
        left: -15px;
        margin-top: -.5em;
        position: absolute;
        top: 50%;
      }
    }

    label {
      display: none;
      visibility: hidden;
    }

    .form-control {
      @include placeholder-color($text-muted);
      border: none;
      border-radius: 0;
      box-shadow: none;
      color: $text-color;
      font-size: 16px;
      padding: {
        left: 0;
        right: 0;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .uploader_label {
    font-size: 16px;
    color: $text-muted;
    display: block;
    margin-bottom: $padding-large-vertical;
    position: relative;
    padding: {
      bottom: 6px;
      top: 6px;
    }

    &.is-valid {
      color: $text-color;
    }

    &::before {
      color: $brand-primary;
      content: '*';
      left: -15px;
      margin-top: -.5em;
      position: absolute;
      top: 50%;
    }
  }

  .uploader_queue {
    border: none;

    .help-block {
      font-style: normal;
      height: 60px;
      line-height: 32px;
    }
  }

  form.pro_edit_thing_form {
    .form-group {
      margin: 1em 0;
      label {@include make-sm-column(2);}
      .controls {@include make-sm-column(8);}
    }

    select, select.datetime {width: 100px;}

    #thing_price_unit {
      display: inline-block;
      width: 60px;
    }
    #thing_price {
      display: inline-block;
      width: 100px;
    }

    .kinds {
      margin-bottom: 2em;
    }

    .submit {
      text-align: center;
    }
  }
}

