@import '../base';

html.users_show,
html.users_fancies,
html.users_owns,
html.users_lists,
html.users_reviews,
html.users_feelings,
html.users_things,
html.users_groups,
html.users_topics,
html.users_followings,
html.users_followers,
html.users_activities {

  // Layout
  // ---------------------------------------------------------------------------

  #wrapper {
    @include wrapper(grid, 0);
    color: $gray;

    .user_info {
      @include make-md-column(3, $gutter: 40px);
      @include make-md-column-push(9);

      border-bottom: 1px solid #eee;
      color: $text-muted;
      margin-bottom: 20px;

      @media (min-width: $screen-sm-min) {
        border-bottom: 0;
        margin-bottom: 0;
        padding-left: 2em;
        padding-right: 2em;
      }
    }

    .user_info--bottom {
      border: {
        bottom: 0;
        top: 1px solid #eee;
      }
      padding-top: 20px;

      .vcard {
        margin-bottom: 0;
      }

      .url {
        margin-bottom: 25px;
      }
    }

    .user_content {
      @include make-md-column(9, $gutter: 40px);
      @include make-md-column-pull(3);

      @media (min-width: $screen-sm-min) {
        padding-left: 2em;
        padding-right: 2em;
      }

      @media (min-width: $screen-md-min) {
        border-right: $border-default;
        min-height: 800px;
      }

      > .breadcrumb {
        display: none;
      }
    }
  }

  // Section
  // ---------------------------------------------------------------------------

  .user_content {

    .page-header {
      border-bottom: 0;
    }

    .description {
      border-left: 0;
    }

    ul.things {

      > li {
        margin-bottom: 0;

        @media (min-width: $screen-sm-min) {
          @include make-sm-column(4);
        }
      }
    }

    .thing-lists {
      > .thing_list {
        @media (min-width: $screen-sm-min) {
          @include make-sm-column(4);
          padding: 2em;
        }

        h4 {
          display: inline-block;
          max-width: 80%;

          i {
            display: none;
          }
        }

        .thing_list-destroy {
          display: inline-block;
        }

        .thing_list-description,
        .thing_list-creator {
          display: none;
        }

        .thing_list-counts {
          float: left;
        }
      }
    }
  }

  .nav_primary {
    border-bottom: $border-default;
    margin-bottom: 20px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 30px;
    }

    > li {

      &:first-child {
        font-size: 18px;
        height: 32px;
        line-height: 20px;
        margin-left: 2px;

        @media (min-width: $screen-md-min) {
          margin-left: 0;
          width: .2%;
        }

        .fa {
          display: block;
          margin: 0;
        }
      }

      @media (max-width: $screen-xs-max) {

        &.active {
          border-bottom: 0;

          > a {
            &,
            &:hover,
            &:focus {
              border-radius: $nav-pills-border-radius;
              background-color: $nav-pills-active-link-hover-bg;
              color: $nav-pills-active-link-hover-color;
            }
          }
        }
      }

      > a {
        @include clearfix;
        text-align: left;

        @media (min-width: $screen-sm-min) {
          position: relative;
          text-align: center;
        }

        @media (min-width: $screen-md-min) {
          padding: {
            left: 5px;
            right: 5px;
          }
        }

        .fa {
          @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
            display: none;
          }
        }

        em {
          float: right;
          font-size: 1em;
          font-style: normal;

          @media (min-width: $screen-sm-min) {
            float: none;
            font-size: 12px;
            margin-left: 4px;
          }
        }
      }
    }
  }

  dl.vcard {
    @include clearfix;

    dt,
    dd {
      margin-bottom: 10px;

      @media (min-width: $screen-md-min) {
        margin-bottom: 1.5em;
      }
    }

    dd {
      @include clearfix;

      > label {
        float: left;
        line-height: 32px;
        margin-bottom: 0;
        margin-right: 10px;
        width: 1em;
      }

      .data {
        line-height: 32px;
        margin-bottom: 0;
        overflow: hidden;
      }
    }

    .avatar {
      float: left;
      margin-right: 10px;

      @media (min-width: $screen-md-min) {
        float: none;
      }

      img {
        border-radius: 6px;
        height: 60px;
        width: 60px;

        @media (min-width: 500px) {
          height: 110px;
          width: 110px;
        }

        @media (min-width: $screen-sm-min) {
          height: 150px;
          width: 150px;
        }

        @media (min-width: $screen-md-min) {
          height: 180px;
          width: 180px;
        }
      }
    }

    .name {
      overflow: hidden;

      h1 {
        color: $text-color;
        font-size: 18px;
        margin: 0;

        .gender {
          padding-left: 10px;
        }

        .note {
          display: none;

          @media (min-width: $screen-sm-min) {
            color: $gray;
            display: inline-block;
            font-size: 12px;
            height: 18px;
            line-height: 18px;
            overflow: hidden;
            padding-left: 10px;
          }
        }
      }
    }

    .level {
      display: inline-block;
      overflow: hidden;

      @media (min-width: $screen-md-min) {
        display: block;
      }

      .level_num {
        color: $blue;
        float: left;
        font-family: "orbitron-bold";
        margin-right: 1em;
      }

      .progress {
        display: none;

        @media (min-width: $screen-xs-min) {
          display: block;
          margin-bottom: 0;

          .progress-bar {
            @include transition(width 1s, opacity 0.22s ease-out);
          }
        }

        @media (min-width: $screen-md-min) {
          width: 70%;
        }
      }
    }

    .friendship {
      color: $text-color;
      display: inline-block;
      overflow: hidden;

      @media (min-width: $screen-md-min) {
        display: block;
      }

      > a {
        color: $text-color;
        display: inline-block;
        font-size: 18px;
        font-weight: normal;
        width: 110px;

        small {
          color: $gray;
          font-size: 14px;
          padding-left: .5em;
        }
      }
    }

    .exchange {
      overflow: hidden;

      @media (min-width: $screen-md-min) {
        border-bottom: $border-default;
        margin-bottom: 2em;
        padding-bottom: 2.5em;
      }

      .btn {

        @media (min-width: $screen-sm-min) {
          float: none !important;
        }
      }

      .follow_btn {
        float: left;
        width: 70%;

        @media (min-width: $screen-sm-min) {
          margin-right: 10px;
          min-width: 100px;
          width: 55%;
        }
      }

      .private_message_btn {
        float: right;
        width: 20%;

        @media (min-width: $screen-sm-min) {
          width: auto;
        }
      }
    }

    .url {

      a {
        background-color: #ededed;
        border-radius: 100%;
        color: $gray;
        display: inline-block;
        height: 32px;
        line-height: 32px;
        margin-right: 10px;
        text-align: center;
        width: 32px;

        &:hover {
          @include rotate(-15deg);
          background-color: $gray;
          color: #ededed;
        }

        .fa {
          margin: 0;
        }
      }
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

      .exchange {
        border-bottom: 0;
        padding-bottom: 0;
      }

      .location {
        display: inline-block;
        padding-right: 1em;
      }

      .url {
        display: inline-block;
      }

      .tag {
        margin-top: 10px;
      }
    }
  }
}

html.users_fancies,
html.users_owns,
html.users_lists,
html.users_reviews,
html.users_feelings,
html.users_things,
html.users_groups,
html.users_topics,
html.users_followings,
html.users_followers,
html.users_activities {
  &.mobile {
    #wrapper {
      .user_content {
        > .nav {
          display: none;
        }

        > .breadcrumb {
          display: block;
          padding: {
            bottom: 20px;
            left: 0;
          }

          &:before {
            content: '';
          }

          em {
            font-style: normal;
            padding-left: .5em;
          }
        }
      }
    }
  }
}

html.users_show {

  .user_content {

    .nav-pills-list {
      border-bottom-width: 0;

      @media (min-width: $screen-md-min) {
        border-bottom-width: 1px;
      }
    }
  }
}

html.users_lists {
  nav.thing-list-filter {
    margin-bottom: 20px;
    padding-right: 15px;
    text-align: right;

    .btn-group {
      display: inline-block;
    }
  }
}
