@import '../base';

html[class^="users_"] {
  body {
    padding-top: 45px;
  }

  #header {
    margin-bottom: 0;
  }

  #wrapper {
    @include wrapper(empty);

    $wrapper-max-width: 1280px;
    $header-width: 320px;

    max-width: $wrapper-max-width;

    @include from-breakpoint(md) {
      margin: 0 auto;
      padding-left: $header-width;
    }

    > header {
      position: relative;
      background: white;

      @include from-breakpoint(md) {
        position: fixed;
        top: 45px;
        width: $header-width;
        margin-left: -$header-width;
      }

      .info-avatar {
        position: absolute;
        top: 20px;
        left: 20px;

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
      }

      .info-name {
        margin-left: 90px;
        padding: 30px 0 0;
        font-size: 18px;
      }

      .info-gender {
        margin-left: 10px;
      }

      .info-level {
        width: 160px;
        margin-left: 90px;
      }

      .info-description {
        position: relative;
        margin-top: 20px;
        padding: 0 20px;

        i {
          position: absolute;
          top: 0px;
          left: -18px;
          color: $gray-lighter;

          @include from-breakpoint(md) {
            left: 3px;
          }
        }

        p {
          margin: 0;
        }
      }

      .info-links {
        margin-top: 20px;
        text-align: right;

        @include from-breakpoint(sm) {
          @include to-breakpoint(sm) {
            position: absolute;
            top: 30px;
            right: 0;
            width: 25%;
            margin: 0;
            text-align: center;
          }
        }

        .info-location {
          margin-right: 10px;

          @include from-breakpoint(sm) {
            @include to-breakpoint(sm) {
              display: block;
              margin: 0 0 10px;
            }
          }
        }

        a {
          display: inline-block;

          line-height: 32px;
          width: 32px;
          margin-right: 10px;
          text-align: center;

          border-radius: 50%;
          color: $text-color;
          background: $gray-lighter;

          i {
            margin: 0;
          }

          &:hover {
            color: $gray-lighter;
            background: $text-color;
          }
        }
      }

      .info-friendship {
        margin-top: 20px;
        padding: 10px 0;
        line-height: 1;
        background: $ghost-white;

        @include from-breakpoint(sm) {
          @include to-breakpoint(sm) {
            &:not(.info-friendship--self) {
              display: inline-block;
              vertical-align: middle;
              width: 50%;
            }
          }
        }

        > a {
          display: inline-block;
          width: 50%;
          text-align: center;
          font-size: 10px;
          color: $text-color;

          span {
            display: block;
            margin-top: 2px;
            font-size: 18px;
          }
        }
      }

      .info-actions {
        @include from-breakpoint(sm) {
          @include to-breakpoint(sm) {
            display: inline-block;
            vertical-align: middle;
            margin-top: 20px;
            width: 50%;
          }
        }

        > a {
          @include plain-link($gray-lighter);

          display: inline-block;
          width: 50%;
          line-height: 50px;
          vertical-align: middle;
          text-align: center;
        }

        .follow_btn {
          padding: 0;
          border: none;
          border-radius: 0;

          background: $blue-dark;
          transition: background-color .1s;

          &.follow_btn--followed:hover {
            background-color: $gray;
          }
        }

        .private_message_btn {
          background: $blue-light;
        }
      }

      > nav {
        > ul {
          @include to-breakpoint(xs) {
            > li {
              display: inline-block;
              width: percentage(1 / 3);
              text-align: center;

              border-top: 1px solid $gray-lighter;
              &:nth-child(-n + 3) { border: none; }

              a {
                @include plain-link($blue-dark);

                display: inline-block;
                width: 100%;
                padding: 30px 0;

                i {
                  display: block;
                  margin: 0 0 10px;
                  font-size: 25px;
                }

                span {
                  margin-right: 5px;
                }
              }

              &.nav-home {
                display: none;
              }

              &.nav-fancies a {
                @include plain-link($red);
              }

              &.nav-owns a {
                @include plain-link($blue-light);
              }

              &.nav-lists a {
                @include plain-link($orange);
              }
            }
          }

          @include from-breakpoint(sm) {
            @include to-breakpoint(sm) {
              display: table;
              table-layout: fixed;
              width: 100%;

              background: $body-bg;

              > li {
                display: table-cell;
                width: auto;
                text-align: center;

                a {
                  @include plain-link($text-color);

                  display: inline-block;
                  width: 100%;
                  padding: 15px 0;

                  span {
                    display: none;
                  }
                }

                &.active {
                  background: white;
                  border-top: 3px solid $blue;

                  a {
                    cursor: default;
                  }
                }
              }
            }
          }

          @include from-breakpoint(md) {
            background: $ghost-white;

            > li {
              text-align: right;
              border-top: 1px dashed $gray-lighter;

              &:first-child {
                border-top: none;
              }

              a {
                @include plain-link($text-color);

                display: block;
                padding: 15px 55px 15px 0;

                i,
                span {
                  display: none;
                }
              }

              &.active {
                background: white;
                border-left: 5px solid $blue;

                a {
                  cursor: default;
                }
              }
            }
          }
        }
      }
    }

    ul.contents {
      @include to-breakpoint(xs) {
        display: none;
      }

      > li {
        $gutter-width: 20px;

        position: relative;
        display: block;
        padding: 30px (90px - $gutter-width) 30px 90px;

        h3 {
          position: absolute;
          top: 30px;
          left: 0;

          width: 90px;
          margin: 0;
          padding: 0 10px;

          text-align: center;

          i {
            margin-right: 5px;
            vertical-align: middle;
            font-size: 25px;
            color: $blue-dark;
          }

          span {
            vertical-align: middle;
            font-size: 14px;
          }
        }

        .contents-more {
          position: absolute;
          z-index: 1;
          top: 30px;
          right: 0;

          width: 90px;
          line-height: 40px;
          text-align: center;

          color: $gray-lighter;
          background: $vulcan;

          i {
            margin: 0 0 0 10px;
          }
        }

        .thing {
          display: inline-block;
          vertical-align: top;
          width: percentage(1 / 3);
          border-right: $gutter-width solid transparent;

          a {
            @include plain-link($gray-light);
          }

          .thing-cover {
            position: relative;
            height: 0;
            overflow: hidden;
            padding-bottom: percentage(8 / 11);

            &:before {
              content: '';

              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);

              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 8px 11px 8px;
              border-color: transparent;
            }
          }

          h4 {
            @include text-overflow;

            font-size: 14px;
            margin: 15px 20px;
            text-align: center;
          }

          ul.thing-counts {
            text-align: center;

            li {
              display: inline-block;
              margin-right: 10px;
              padding: 0 0 15px 0;

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }

        .thing_list {
          display: inline-block;
          vertical-align: top;
          width: percentage(1 / 3);
          border-right: $gutter-width solid transparent;

          background: $body-bg;

          h4 .fa-list,
          .thing_list-creator {
            display: none;
          }

          h4 {
            margin: 20px;
            text-align: center;
            font-size: 16px;
            color: $gray;

            .thing_list-size {
              vertical-align: bottom;
              font-size: 80%;
              color: $gray-light;
            }
          }

          .thing_list-description {
            padding: 10px;
            border-top: 1px dashed white;
          }

          .thing_list-info {
            padding: 10px;
          }
        }

        .review {
          border-right: $gutter-width solid transparent;
        }

        &:nth-child(odd) {
          background: white;

          .thing,
          .thing_list,
          .review {
            border-right-color: white;
          }

          .thing {
            background: $ghost-white;

            .thing-cover:before {
              border-bottom-color: $ghost-white;
            }
          }

          .thing_list {
            .thing_list-info {
              background: $ghost-white;
            }
          }

          .review {
            background: $ghost-white;
          }
        }

        &:nth-child(even) {
          background: $ghost-white;

          .thing,
          .thing_list,
          .review {
            border-right-color: $ghost-white;
          }

          .thing {
            background: white;

            .thing-cover:before {
              border-bottom-color: white;
            }
          }

          .thing_list {
            .thing_list-info {
              background: white;
            }
          }

          .review {
            background: white;
          }
        }

        &.contents-fancies {
          h3 i {
            color: $red;
          }
        }

        &.contents-owns {
          h3 i {
            color: $blue-light;
          }
        }

        &.contents-lists {
          h3 i {
            color: $orange;
          }
        }
      }
    }

    ul.categories {
      margin: 0;
      padding: 10px;
      padding-bottom: 20px;
      background: $ghost-white;

      > li {
        display: inline-block;
        margin: 10px 0 0 10px;

        a {
          @include plain-link($gray);

          display: inline-block;
          padding: 10px;
          border-radius: 10px;
          background: $gray-lighter;
        }
      }
    }
  }
}
