@import '../base';

html[class^="users_"] {
  body {
    padding-top: 45px;
  }

  #wrapper {
    @include wrapper(empty);

    > header {
      background: white;

      .info {
        position: relative;
      }

      .info-avatar {
        position: absolute;
        top: 20px;
        left: 20px;

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
      }

      .info-name {
        margin-left: 90px;
        padding: 30px 0 0;
        font-size: 18px;
      }

      .info-gender {
        margin-left: 10px;
      }

      .info-level {
        width: 160px;
        margin-left: 90px;
      }

      .info-description {
        position: relative;
        margin-top: 20px;
        padding: 0 20px;

        i {
          position: absolute;
          top: 0px;
          left: -18px;
          color: $gray-lighter;
        }
      }

      .info-links {
        margin-top: 20px;
        text-align: right;

        @include from-breakpoint(sm) {
          position: absolute;
          top: 30px;
          right: 0;
          width: 25%;
          margin: 0;
          text-align: center;
        }

        .info-location {
          margin-right: 10px;

          @include from-breakpoint(sm) {
            display: block;
            margin: 0 0 10px;
          }
        }

        a {
          display: inline-block;

          line-height: 32px;
          width: 32px;
          margin-right: 10px;
          text-align: center;

          border-radius: 50%;
          color: $text-color;
          background: $gray-lighter;

          i {
            margin: 0;
          }

          &:hover {
            color: $gray-lighter;
            background: $text-color;
          }
        }
      }

      .info-friendship {
        margin-top: 10px;
        padding: 10px 0;
        line-height: 1;
        background: $ghost-white;

        @include from-breakpoint(sm) {
          &:not(.info-friendship--self) {
            display: inline-block;
            vertical-align: middle;
            width: 50%;
          }
        }

        > a {
          display: inline-block;
          width: 50%;
          text-align: center;
          font-size: 10px;
          color: $text-color;

          span {
            display: block;
            margin-top: 2px;
            font-size: 18px;
          }
        }
      }

      .info-actions {
        @include from-breakpoint(sm) {
          display: inline-block;
          vertical-align: middle;
          margin-top: 10px;
          width: 50%;
        }

        > a {
          @include plain-link($gray-lighter);

          display: inline-block;
          width: 50%;
          line-height: 50px;
          vertical-align: middle;
          text-align: center;
        }

        .follow_btn {
          padding: 0;
          border: none;
          border-radius: 0;

          background: $blue-dark;
          transition: background-color .1s;

          &.follow_btn--followed:hover {
            background-color: $gray;
          }
        }

        .private_message_btn {
          background: $blue-light;
        }
      }
    }
  }
}
