@import '../base';

html.home_user_agreement {

  #wrapper {
    @include wrapper(simple, $max-width: $screen-md-min);

    article {
      text-align: justify;
      margin-bottom: 1rem;
      padding: 0 1rem;
    }

    h2 {
      margin-bottom: 2rem;
    }

    p {
      text-indent: 2em;
    }

    ul,
    ol {
      margin-bottom: 1em;
      padding-left: 2rem;
    }

    ul {
      list-style-type: disc;
    }

    ol {
      list-style-type: decimal;
    }
  }
}