@import '../base';

html[class^="users_"] {
  $content-width-sm: 720px;
  $content-width-md: 810px;

  %author {
    height: 36px;
    line-height: 36px;
    margin-bottom: 15px;

    img {
      @include square(36px);
      margin-right: 10px;
    }

    a {
      color: $text-color;
    }
  }

  %photos {
    @include clearfix;
    height: 50px;
    overflow: hidden;

    > li {
      @include square(50px);
      float: left;
      margin-right: 10px;
    }
  }

  // Layout
  // -----------------------------------------------------------------------------

  body {
    background-color: #e3e4e6;
    padding: {
      bottom: 0;
      top: 45px;
    }
  }

  #header {
    margin-bottom: 0;
  }

  #wrapper {
    @include wrapper(empty);
  }

  //
  // Vcard
  //

  .vcard {
    background-color: #fff;
    color: #aaa;
    margin-bottom: 20px;
    padding-bottom: 30px;
    position: relative;

    @media (min-width: $screen-sm-min) {
      height: 450px;
      margin-bottom: 60px;
      padding-bottom: 0;
    }
  }

  .vcard-canopy {
    height: 0;
    overflow: hidden;
    padding-bottom: percentage(9 / 16);
    position: relative;

    img {
      bottom: -1000%;
      left: -1000%;
      margin: auto;
      max-width: 200%;
      position: absolute;
      right: -1000%;
      top: -1000%;

      @media (min-width: 1440px) {
        width: 100%;
      }
    }

    @media (min-width: $screen-sm-min) {
      height: 450px;
      padding-bottom: 0;
      position: absolute;
      width: 100%;
    }
  }

  .vcard-canopy-mask {
    display: none;

    @media (min-width: $screen-sm-min) {
      background-color: rgba(0, 0, 0, .6);
      bottom: 0;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .vcard-main,
  .vcard-friendship,
  .vcard-misc {
    padding: 0 30px;

    @media (min-width: $screen-sm-min) {
      margin: {
        left: auto;
        right: auto;
      }
      padding: 0;
      width: 670px;
    }
  }

  .vcard-main {
    margin: {
      bottom: 30px;
      top: -30px;
    }
    position: relative;
    text-align: center;

    @media (min-width: $screen-sm-min) {
      margin-top: 0;
      padding-top: 80px;
    }
  }

  .vcard-friendship {
    margin-bottom: 30px;
    text-align: center;

    @media (min-width: $screen-sm-min) {
      @include clearfix;
      background-color: #e3e4e6;
      bottom: 0;
      border-radius: 15px;
      left: calc(50% - 335px);
      margin-bottom: -47px;
      padding: 20px;
      position: absolute;
    }
  }

  .vcard-misc {
    @include clearfix;
    @media (min-width: $screen-sm-min) {
      left: calc(50% - 335px);
      position: absolute;
      top: 20px;
    }
  }

  .vcard-avatar {
    display: block;
    margin-bottom: 15px;

    > img {
      border-radius: 50%;
      box-shadow: 0 0 0 2px #fff;
    }
  }

  .vcard-name {
    color: $text-color;
    display: block;
    margin-bottom: 15px;
  }

  .vcard-level,
  .vcard-gender {
    display: inline-block;
  }

  .vcard-level {
    margin-right: 1em;
    width: 150px;

    .level-progress {
      border-radius: 5px;
      height: 8px;
      overflow: hidden;
    }
  }

  .vcard-description {
    margin: {
      bottom: 0;
      top: 15px;
    }
  }

  .vcard-follows {
    @media (min-width: $screen-sm-min) {
      float: left;
      width: 40%;
    }
  }

  .vcard-followings,
  .vcard-followers {
    color: #aaa;
    display: inline-block;
    max-width: 150px;
    text-align: center;
    width: 40%;

    @media (min-width: $screen-sm-min) {
      float: left;
      width: 50%;
    }

    > em {
      color: $blue-dark;
      display: block;
      font-size: 24px;
      font-style: normal;
      font-weight: normal;
    }
  }

  .vcard-actions {
    margin-top: 15px;

    @media (min-width: $screen-sm-min) {
      float: right;
      line-height: 54px;
      margin-top: 0;
    }

    .follow_btn,
    .private_message_btn {
      border: 1px solid $blue-dark;
      border-radius: 15px;
      display: inline-block;
      height: 34px;
      line-height: 32px;
      padding: 0;
      text-align: center;
      vertical-align: middle;
      width: 120px;
    }

    .follow_btn {
      background-color: transparent;
      color: $blue-dark;
      margin-right: 1em;

      &:hover,
      &:focus,
      &:active {
       background-color: $blue-dark;
       color: #fff;
      }
    }

    .private_message_btn {
      background-color: $blue-dark;
      color: #fff;
    }
  }

  .vcard-location {
    float: left;
    height: 30px;
    line-height: 30px;
  }

  .vcard-social {
    float: right;

    > a {
      background-color: $smoke-white;
      border-radius: 50%;
      color: #aaa;
      display: inline-block;
      height: 30px;
      line-height: 30px;
      margin-right: 1em;
      text-align: center;
      width: 30px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background-color: #aaa;
        color: $smoke-white;
      }

      .fa {
        margin: 0;
      }

      @media (min-width: $screen-sm-min) {
        background-color: #aaa;
        color: #4b4748;

        &:hover {
          background-color: #4b4748;
          color: #aaa;
        }
      }
    }
  }

  .vcard-name,
  .vcard-gender,
  .vcard-description {
    @media (min-width: $screen-sm-min) {
      color: $ghost-white;
    }
  }

  .vcard--tiny {
    @include clearfix;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    
    .vcard-avatar {
      float: left;
      margin-right: 20px;
    }

    .vcard-content {
      overflow: hidden;
    }
  }

  //
  // Navs
  //

  .page-nav--tiny {
    > ul {
      @include clearfix;

      > li {
        float: left;
        width: 25%;

        > a {
          background-color: #fff;
          color: #aaa;
          display: block;
          height: 50px;
          line-height: 50px;
          text-align: center;

          .fa {
            font-size: 20px;
            margin: 0;
          }
        }

        &.active {
          > a {
            background-color: $smoke-white;
            color: $blue-dark;
          }
        }
      }
    }
  }

  .page-nav {
    margin: 0 auto;
    width: $content-width-sm;

    @media (min-width: $screen-md-min) {
      width: $content-width-md;
    }

    > ul {
      @include clearfix;

      > li {
        float: left;
        width: 80px;

        @media (min-width: $screen-md-min) {
          width: 90px;
        }

        > a {
          background-color: #fff;
          color: $gray;
          display: block;
          height: 50px;
          line-height: 50px;
          text-align: center;

          .fa {
            display: none;

            @media (min-width: $screen-md-min) {
              display: inline-block;
            }
          }
        }

        &.active {
          > a {
            background-color: $smoke-white;
            color: $text-color;
          }
        }
      }
    }
  }

  .page-subnav {
    background-color: $smoke-white;
    padding: 10px 0;

    > ul {
      display: table;
      width: 100%;

      @media (min-width: $screen-sm-min) {
        margin: {
          left: auto;
          right: auto;
        }
        width: $content-width-sm;
      }

      @media (min-width: $screen-md-min) {
        width: $content-width-md;
      }

      > li {
        display: table-cell;
        text-align: center;

        > a {
          color: #aaa;
          display: inline-block;
          height: 30px;
          line-height: 28px;
          min-width: 40px;
          padding-bottom: 2px;
        }

        &.active {
          > a {
            border-bottom: 2px solid $blue;
            padding-bottom: 0;
          }
        }
      }
    }

    & + .page-content {
      @media (max-width: $screen-xs-max) {
        padding-top: 0;
      }
    }
  }

  //
  // Content
  //

  .page-content {
    background-color: $smoke-white;
    padding-top: 20px;
  }

  .page-content-switch {
    background-color: $smoke-white;
    border-bottom: 1px solid $gray-white;
    color: $gray;
    display: block;
    margin-top: -20px;
    text-align: center;
    height: 51px;
    line-height: 50px;
  }

  //
  // Block List
  //

  .block_list {
    background-color: #e3e4e6;

    @media (min-width: $screen-sm-min) {
      background-color: transparent;
      font-size: 0;
      margin: {
        left: auto;
        right: auto;
      }
      width: $content-width-sm + 30px;
    }

    @media (min-width: $screen-md-min) {
      width: $content-width-md + 30px;
    }

    > li,
    > .activity:not(.activity--text),
    > .thing,
    > .thing_list,
    > .feeling {
      margin-bottom: 20px;

      @media (min-width: $screen-sm-min) {
        display: inline-block;
        font-size: 14px;
        padding: {
          left: 15px;
          right: 15px;
        }
        vertical-align: top;
      }
    }

    > .activity:not(.activity--text) {
      @media (min-width: $screen-sm-min) {
        width: 50%;
      }
    }

    > li,
    > .thing,
    > .thing_list,
    > .feeling {
      @media (min-width: $screen-sm-min) {
        width: percentage(1 / 3);
      }
    }
  }

  //
  // Others
  //

  .thing_tags {
    padding: 0 20px 10px 20px;

    @media (min-width: $screen-sm-min) {
      margin: {
        left: auto;
        right: auto;
      }
      padding: {
        left: 0;
        right: 0;
      }
      width: $content-width-sm;
    }

    @media (min-width: $screen-md-min) {
      width: $content-width-md;
    }

    .tags {
      @media (min-width: $screen-sm-min) {
        overflow: hidden;
        text-align: right;
      }

      &.is-collapsed {
        max-height: 84px;
      }

      > a {
        background-color: #fff;
        color: $gray;

        &:hover {
          background-color: $gray;
          border-color: $gray;
          color: #fff;
        }
      }
    }
  }

  .thing_tags-toggle {
    cursor: pointer;
    display: none;
    font-size: 12px;
    text-align: right;
  }

  //
  // Footer
  //

  .page-footer {
    padding-bottom: 42px;

    @media (min-width: $screen-sm-min) {
      background-color: $smoke-white;
    }

    .pagination {
      @media (min-width: $screen-sm-min) {
        float: none;
        margin: {
          left: auto;
          right: auto;
        }
        text-align: right;
        width: $content-width-sm;
      }

      @media (min-width: $screen-md-min) {
        width: $content-width-md;
      }
    }
  }

  // Components
  // -----------------------------------------------------------------------------

  .score {
    height: 33px;
  }

  .thing {
    a {
      @include plain-link($gray-light);
    }

    > header {
      background-color: #fff;
      position: relative;

      [data-fancy] {
        display: none;

        @include to-breakpoint(sm) {
          display: block;
        }

        position: absolute;
        top: 0;
        right: 0;

        height: 30px;
        width: 30px;
        font-size: 20px;
        line-height: 30px;
        text-align: center;

        background: $vulcan;
        color: rgba(white, .5);

        .fa {
          vertical-align: -2px;
        }
      }

      &:hover [data-fancy] {
        display: block;
      }
    }

    .thing-cover {
      position: relative;
      height: 0;
      overflow: hidden;
      padding-bottom: percentage(8 / 11);

      img {
        width: 100%;
      }

      &:before {
        content: '';

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 8px 11px 8px;
        border-color: transparent;
      }
    }

    h4 {
      @include text-overflow;

      font-size: 14px;
      margin: 0;
      padding: 15px 20px;
      text-align: center;
    }

    > footer {
      background-color: #fff;
    }

    ul.thing-counts {
      text-align: center;

      li {
        display: inline-block;
        margin-right: 10px;
        padding: 0 0 15px 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    section.thing-impression {
      padding: 0 15px;
      border-top: 1px dashed $gray-white;

      .thing-description {
        margin-bottom: 0;
        padding: {
          bottom: 15px;
          top: 15px;
        }
        border-top: 1px dashed white;
        text-align: right;

        &:before {
          @include fa-quote-left;
          color: $gray-white;
          font-family: 'KnewOne-Icon';
          font-size: 14px;
          margin-right: 10px;
        }
      }

      .score {
        margin: 15px 0;
        text-align: right;

        .rate {
          padding: 0;
        }
      }

      ul.thing-tags {
        @include clearfix;

        margin-top: 15px;
        margin-bottom: 5px;

        > li {
          @include text-overflow;

          float: right;
          max-width: 100%;
          margin: 0 0 10px 15px;

          i {
            color: $iron;
          }
        }

        @at-root html.flexbox ul.thing-tags {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;

          > li {
            float: none !important;
          }
        }
      }
    }
  }

  .thing_list {
    position: relative;

    &::before,
    &::after {
      border-top: 2px solid #fff;
      content: '';
      display: block;
      height: 0;
      position: absolute;
    }


    &::before {
      left: 20px;
      top: -4px;
      width: calc(100% - 40px);
    }

    &::after {
      left: 25px;
      top: -8px;
      width: calc(100% - 50px);
    }

    h4 .fa-list-ko,
    .thing_list-creator {
      display: none;
    }

    h4 {
      text-align: center;
      font-size: 16px;
      color: $gray;
      padding: 20px;
      margin: 0;
      padding: {
        bottom: 1em;
        top: 1em;
      }

      > .fa {
        display: none;
      }

      .thing_list-size {
        vertical-align: bottom;
        font-size: 80%;
        color: $gray-light;
      }
    }

    > header {
      background-color: #fff;
      position: relative;

      .thing_list-destroy {
        display: none;

        @include to-breakpoint(sm) {
          display: block;
        }

        position: absolute;
        top: 0;
        right: 0;

        width: 30px;
        line-height: 30px;
        font-size: 24px;
        font-family: 'Lato Thin';
        text-align: center;

        background: $vulcan;
        a { color: white; }

        &:hover {
          background: $red;
        }
      }

      &:hover .thing_list-destroy {
        display: block;
      }
    }

    > footer {
      background-color: #fff;
    }

    .thing_list-description {
      border-top: 0;
      margin: 0;
      position: relative;
      padding: 10px 34px;
      text-align: center;

      &:before {
        @include fa-quote-left;
        position: absolute;
        top: -8px;
        left: 10px;
        color: $gray-white;
        font-family: 'KnewOne-Icon';
        font-size: 14px;
      }

      p {
        @include multi-line-text-overflow(3, 1.4);
        font-size: 12px;
        text-align: left;
      }
    }

    .thing_list-info {
      border-top: 1px dashed $gray-white;
      padding: 5px 10px;
    }

    .thing_list-counts {
      margin-top: 0;
    }
  }

  .feeling {
    background-color: #fff;
    padding: 20px;

    .score {
      margin: 0;
    }
  }

  .feeling-content {
    color: $text-color;
    display: block;
    margin-bottom: 15px;

    > p {
      margin-bottom: 0;

      &::before,
      &::after {
        color: $iron;
        font-family: 'Knewone-Icon';
        font-size: 14px;
      }

      &::before {
        @include fa-quote-left;
        margin-right: .5em;
      }

      &::after {
        @include fa-quote-right;
        margin-left: .5em;
      }
    }

    & + .feeling-thing,
    & + .feeling-photos {
      margin-top: 15px;
    }
  }

  .feeling-author {
    @extend %author;
  }

  .feeling-photos {
    @extend %photos;
    margin: {
      bottom: 15px;
      top: 15px;
    }
  }

  .feeling-metas {
    @include clearfix;
    margin-bottom: 15px;

    > li {
      float: right;

      &:last-child {
        margin-right: 1em;
      }

      &:first-child {
        margin-right: 0;
      }
    }
  }

  .feeling-thing {
    background-color: $smoke-white;
    border-radius: 4px;
    display: block;
    height: 70px;
    overflow: hidden;

    > img {
      @include square(70px);
      float: left;
    }
  }

  .feeling-thing-info {
    overflow: hidden;
    padding: 0 5px;
    text-align: center;

    h6 {
      @include text-overflow;
      color: $text-color;
      font-size: 10px;
    }

    .metas {
      color: $iron;
      font-size: 12px;
    }
  }

  .review {
    background-color: #fff;
    padding: 20px 20px 15px;
  }

  .review-header {
    margin-bottom: 15px;

    .score {
      margin: 0;
    }
  }

  .review-title {
    margin: 0;

    > a {
      font-size: 18px;
    }
  }

  .review-author {
    @extend %author;
  }

  .review-body {
    margin-bottom: 15px;

    > p {
      margin-bottom: 15px;
    }
  }

  .review-photos {
    @extend %photos;
  }

  .review-footer {
    @include clearfix;

    > .metas {
      float: right;

      > li {
        color: $iron;
        height: 32px;
        line-height: 32px;

        .fa {
          margin-right: .5em;
        }

        time {
          color: $iron;
        }
      }
    }
  }

  .review-time {
    @media (min-width: $screen-sm-min) {
      display: none;
    }
  }

  .topic {
    background-color: #fff;
    padding: 20px;
  }

  .topic-header {
    margin-bottom: 15px;
  }

  .topic-title {
    margin: 0;

    > a {
      font-size: 18px;
    }
  }

  .topic-body {
    margin-bottom: 15px;

    > p {
      margin: 0;
    }
  }

  .topic-footer {
    @include clearfix;

    .metas {
      color: $iron;
      float: right;
    }
  }
}

html.users_activities {
  .page-content {
    @media (min-width: $screen-sm-min) {
      background-color: #e3e4e6;
      padding: 30px 0;
    }
  }

  .page-footer {
    background-color: transparent;
  }

  .thing {
    section.content {
      padding-bottom: 0;

      h4 {
        max-width: 60%;
        padding: 0;
        text-align: left;

        > a {
          color: $text-color;
        }
      }
    }

    > footer {
      background-color: $smoke-white;

      .stats {
        a {
          color: $iron;
        }
      }

      .interactions {
        margin-top: -22px;
      }
    }

    .fancy_button i {
      color: $red;
      vertical-align: middle;
    }

    .fanciers_count {
      color: $iron;
    }
  }

  .thing_list {
    background-color: $smoke-white;

    &::before,
    &::after {
      display: none;
    }

    > header {
      background-color: transparent;

      h4 {
        padding: {
          bottom: 0;
          left: 20px;
          right: 20px;
        }
        text-align: left;

        .fa {
          display: none;
        }
      }
    }
    
    > footer  {
      background-color: transparent;
      padding: 10px 20px 20px;
      position: relative;
    }

    .thing_list-cover {
      background-color: $smoke-white;
      .thing_list-image_wrapper {
        > img {
          box-shadow: none;
        }
      }
    }

    .thing_list-name {
      max-width: 60% !important;
    }

    .thing_list-description {
      border-top: 0;
      padding: 0;
      text-align: left;

      &::before {
        display: none;
      }
    }

    .thing_list-info {
      border: 0;
      padding: 0;

      .thing_list-creator {
        display: none;
      }

      .thing_list-counts {
        position: absolute;
        right: 20px;
        top: -20px;
      }
    }
  }

  .feeling-time {
    display: none;
  }

  .review-time {
    display: none;
  }
}

html.users_activities_text {
  .page-content {
    @media (min-width: $screen-sm-min) {
      padding: {
        bottom: 0;
        top: 0;
      }
    }
  }

  .activity--text {
    background-color: $smoke-white;

    @media (min-width: $screen-sm-min) {
      font-size: 14px;
      margin: {
        left: 15px;
        right: 15px;
      }
      padding: {
        left: 20px;
        right: 20px;
      }
    }
  }
}

html.users_feelings {
  @media (min-width: $screen-sm-min) {
    .feeling-thing {
      height: 60px;

      > img {
        @include square(60px);
      }

      .metas {
        > li {
          margin-right: 5px;
        }
      }
    }
  }
}

html.users_followers,
html.users_followings {
  .page-nav--tiny {
    display: none !important;
  }

  .page-content {
    padding-top: 0;
  }

  .follows {
    @include clearfix;
    background-color: #fff;
    
    > a {
      border-bottom: 2px solid transparent;
      color: $text-color;
      height: 80px;
      float: left;
      font-size: 12px;
      padding-top: 20px;
      text-align: center;
      width: 50%;

      em {
        color: $blue-dark;
        display: block;
        font-size: 20px;
        font-style: normal;
      }

      &.active {
        border-color: $blue-dark;

        em {
          color: $text-color;
        }
      }
    }
  }

  .block_list {
    padding: 20px;

    @media (min-width: $screen-sm-min) {
      > li {
        width: calc(50% - 15px);

        &:nth-child(odd) {
          margin-right: 15px;
        }

        &:nth-child(even) {
          margin-left: 15px;
        }
      }
    }
  }

  .author {
    @include clearfix;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 0;
    overflow: hidden;
    padding: 20px;
    padding-right: 100px !important;
    position: relative;

    @media (min-width: $screen-sm-min) {
      height: 90px;
    }

    .follow_btn {
      background-color: transparent;
      border-color: $blue;
      border-radius: 15px;
      color: $blue;
      margin-right: 0;
      position: absolute;
      top: 20px;
      right: 20px;

      .fa {
        display: none;
      }
    }

    .follow_btn--followed {
      background-color: $blue-light;
      border-color: $blue-light;
      color: #fff;

      &:hover {
        background-color: $gray;
        border-color: $gray;
      }
    }

    .follow_btn--mutual_followed {
      background-color: $blue-dark;
      border-color: $blue-dark;
    }
  }

  .author-avatar {
    float: left;
    margin-right: 8px;

    img {
      @include square(48px);
    }
  }

  .author-name {
    display: block;
    margin: {
      bottom: 4px;
      right: 0;
    }
    overflow: hidden;
  }

  .author-description {
    color: #aaa;
    display: block;
    font-size: 12px;
    margin-right: 0;
    overflow: hidden;
  }
}
