label 商家名
= f.text_field :name, required: true, class: "form-control"
label 描述
= f.text_field :description, class: "form-control"
label 小组
= f.text_field :group_id, class: "form-control", placeholder: "请填写小组 id"
label 美洽代码
= f.text_field :meiqia, class: "form-control", placeholder: "格式：https://s.meiqia.com/js/mechat.js?unitid=4075&btn=hide"
label 管理者
= f.text_field :owner_names, required: true, class: "form-control", placeholder: "用逗号隔开，例如：沙昕哲,李路"
