<div class="comments">
  <h4>
    <i class="fa fa-comments-o"></i>
    {{title}}
  </h4>
  <form id="create_comment" class="comment_form">
    <div class="controls">
      <textarea class="form-control" name="comment_content" rows="3" maxlength="300" placeholder="{{title}}（不超过300字）" required></textarea>
    </div>
    <button type="submit" class="btn btn--blue pull-right" data-toggle="tooltip" data-placement="bottom" title="按 Command + Enter 或 Control + Enter 键发布回复">
      <i class="fa fa-comments-o"></i>
      {{title}}
    </button>
  </form>
  <ul></ul>
  <button type="button" class="btn btn-info comments_more is-hidden pull-right">
    <i class="fa"></i>
    更早的{{title}}...
  </button>
</div>
