<div class="comments">
  <h4>
    <i class="icon-comments-alt"></i>
    {{title}}
  </h4>
  <form id="create_comment" class="comment_form">
    <div class="controls">
      <textarea name="comment_content" rows="5" maxlength="255" required></textarea>
      <p class="help-block">不超过250字</p>
    </div>  
    <button type="submit" class="btn">
      <i class="icon-comment-alt"></i>
      发布
    </button>
  </form>
  <ul></ul>
  <a href="#" class="all">查看全部</a>
</div>  
