<div id="new_review">
  <button class="btn btn-primary">
    <i class="icon-pencil"></i>
    发布评测 
  </button>
</div>  

<form id="review_form_template" class="review_form hide">
  <div class="controls">
    <input name="review_title" type="text" placeholder="标题">
  </div>
  <div class="controls">
    <textarea name="review_content" rows="20"></textarea>
  </div>  
  <button type="submit" class="btn">发布</button>
</form>

<ul></ul>
