<div class="photo">
  <a href="{{url}}" title="{{name}}" target="_blank">
    <img src="{{small_url}}">
  </a>
</div>
<div class="file_info">
  <span>{{name}}</span>
  <a class="move" title="拖动以改变顺序" href="#">
    <i class="fa fa-move"></i>
  </a>
  <a class="destroy" title="删除" href="#">
    <i class="fa fa-trash-o"></i>
  </a>
</div>
