<div class="photo" data-preview-width="80" data-preview-height="80">
</div>
<div class="file_info">
  <span>{{name}}</span>
  <small>{{readable_size}}</small>
</div>
<div class="progress progress-striped active">
  <div class="progress-bar" style="width: 0%;">
  </div>
</div>
