<div class="preview" data-preview-width="80" data-preview-height="80">
</div>
<div class="file_info">
  <span>{{name}}<span>
  <span>{{readable_size}}</span>
</div>
<div class="progress progress-striped active">
  <div class="bar" style="width: 0%;">
  </div>
</div>
