<div class="file" data-preview-width="80" data-preview-height="80">
  {{name}}
  {{readable_size}}
</div>
<div class="progress progress-striped active">
  <div class="bar" style="width: 0%;">
  </div>
</div>
