<figure class="uploader_item photo" data-preview-width="80" data-preview-height="80">
  <div class="progress progress-striped active">
    <div class="progress-bar" style="width: 0%;"></div>
  </div>
</figure>
