= render 'things_subnav'
.page-content
  - if @things.present?
    = render 'things_tags'
    ul.block_list= render partial: 'thing', collection: @things
  - else
    = render 'shared/nothing'

= paginate @impressions

- content_for :script do
  javascript:
    $thingTags = $('.thing_tags')
    $tags      = $thingTags.find('.tags')
    $toggle    = $thingTags.find('.thing_tags-toggle')

    if ($tags[0].scrollHeight > $tags[0].offsetHeight) {
      $toggle.show()

      $toggle.on('click', function (event) {
        event.preventDefault()
        if ($tags.hasClass('is-collapsed')) {
          $tags.removeClass('is-collapsed')
          $toggle.text('收起标签')
        } else {
          $tags.addClass('is-collapsed')
          $toggle.text('展开所有标签')
        }
      })
    }
