= content_tag :aside, "", id: id, data: {signin: user_signed_in?,
  auth: auth,
  type: post.is_a?(Post) ? 'posts' : 'lists',
  id: post.id.to_s,
  title: post.is_a?(Post) ? '回复' : '评论',
  count: post.comments.count,
  per: Settings.comments.per_page}
