- if @thing && @thing.merchant && !@thing.merchant.meiqia.blank?
  script src="#{@thing.merchant.meiqia}" async="true"
- else
  script src="https://s.meiqia.com/js/mechat.js?unitid=4075&btn=hide" async="true"
