p#subscribe-wechat-tip
  = link_to "关注新奇内容", "http://mp.weixin.qq.com/s?__biz=MzA5ODMzMzUyOA==&mid=201014765&idx=1&sn=12965fb83a3426632804721c5042689f"
  span.separator |
  = link_to "获得每周优惠", "http://mp.weixin.qq.com/s?__biz=MjM5MDczNjgwMA==&mid=203221484&idx=1&sn=36439eef831408b83e01062b896051ce"
