p#subscribe-wechat-tip
  = link_to "关注新奇内容", "http://mp.weixin.qq.com/s?__biz=MzA5ODMzMzUyOA==&mid=204415731&idx=1&sn=80a76eb07794e94f2bba23c5f002ea84"
  span.separator |
  = link_to "获得每周优惠", "http://mp.weixin.qq.com/s?__biz=MjM5MDczNjgwMA==&mid=203754979&idx=1&sn=021de5ecf444b72421d8aa63961fbe7f"
