<%- if user_signed_in? && !current_user.role?(:editor) %>
  <div id="ticket">
    <div class="ticket-header">
      <h1 class="title">在线客服 (Beta™)</h1>
      <ul class="actions">
        <li><a href="javascript:void(0)" class="hide"><i class="icon-minus"></i></a></li>
        <li><a href="javascript:void(0)" class="show"><i class="icon-plus"></i></a></li>
        <li><a href="javascript:void(0)" class="close"><i class="icon-remove"></i></a></li>
      </ul>
    </div>
    <div class="ticket-body">
      <div class="dialogs"></div>
      <div class="dialog-form">
        <textarea id="cs_msg" rows="2" placeholder="在这里输入，按<回车>提交"></textarea>
      </div>
    </div>
    <div class="ticket-message">
      <p>
        我们暂时不在线，请留言，我们会尽快联系你，谢谢。
      </p>
      <%= render 'customer_service/tickets/form' %>
    </div>
  </div>
  <%= content_for :script do %>
    <script>
      if ($.cookie('ticket_autorun') === 'true') {
        window.Making.TicketOn();
      }
    </script>
  <% end -%>
<% end -%>
