defaults: &defaults
  host: "knewone.com"
  image_host: "image.knewone.com"
  upyun:
    username: "leslielilu"
    password: "g4l4pg2sh13sm"
    photo_bucket: "making-photos"
    photo_bucket_domain: "image.knewone.com"
    form_secret: "ogvh4ldum4Qklv6h0DZufU31uMs="
  weibo:
    consumer_key: ""
    consumer_secret: ""
  wechat:
    consumer_key: "wx26788de83c861cef"
    consumer_secret: "45c496514b9159a7c70eb3a9239e483c"
    token: "680c25abb672bd09513c01d280e01ad9"
  twitter:
    consumer_key: ""
    consumer_secret: ""
  qq:
    consumer_key: '101097605'
    consumer_secret: '20ca8f3cc9ba72c9b2f4126d1a4ffc49'
  douban:
    consumer_key: '0e15780d13b4f5832a4068273b1ee089'
    consumer_secret: '2231d26bdaf58224'
  bong:
    consumer_key: '1409808185075'
    consumer_secret: '69cdc295f4224ed4898e29f4e6ac2666'
  kexue:
    enable: false
  karma:
    thing: 10
    post: 5
    fancy: 1
    own: 1
    order: 10
  messages:
    length: 100
  comments:
    per_page: 25
  feelings:
    per_page: 25
  tenpay:
    pid: '1900000109'
    key: '8934e7d15453e97507ef794cf7b0519d'
  invitation:
    secret: "Not so secret, Baby"
  keywords: 'KnewOne, 剁手网, 新奇酷'
  description: 'KnewOne, 探索分享新奇酷'

staging:
  <<: *defaults
  host: "staging.knewone.com"
  weibo:
    consumer_key: "3079511285"
    consumer_secret: "c61380eac5aef30a3a88a8818cc16263"
  twitter:
    consumer_key: "0thYXvlBsdzmrqyPMIjT0A"
    consumer_secret: "U6CYRLqg51HPaod4P2in3Mw3bHSKq5301g27mnicJo"

development:
  <<: *defaults
  host: "making.dev"
  weibo:
    consumer_key: "3586287992"
    consumer_secret: "92f84cf379a956af446cefc990859de8"
    official_uid: 3160959662
    official_screen_name: "KnewOne舵手"
  twitter:
    consumer_key: "b7yWjr8pVZzebB3LELi2g"
    consumer_secret: "HF2HZgjiQuLy88xqwMeORuvC3RvEBrWi38ZMrDMFBpY"
    official_uid: 1188607028
    official_screen_name: "KnewOneCom"

test:
  <<: *defaults
  host: "making.dev"

production:
  <<: *defaults
  weibo:
    consumer_key: "3754720038"
    consumer_secret: "017ac4a56f1e3630366574fa405602b2"
    official_uid: 3160959662
    official_screen_name: "KnewOne舵手"
  twitter:
    consumer_key: "0thYXvlBsdzmrqyPMIjT0A"
    consumer_secret: "U6CYRLqg51HPaod4P2in3Mw3bHSKq5301g27mnicJo"
    official_uid: 1188607028
    official_screen_name: "KnewOneCom"
  kexue:
    enable: true
    proxy: 'http://127.0.0.1:8087'
    cert_file: '/usr/local/goagent/local/CA.crt'
  tenpay:
    pid: '1217836601'
    key: '7130fa61604c9926418dbe140ccaaf19'
  bong:
    consumer_key: '1411886389171'
    consumer_secret: 'a0c8de58c7b94b4484640784f4c44df5'
