$black:       #333;
$smoke-white: #f7f7f7;
$gray-white:  #e7e7e7;
$blue-bright: #50c0ed;
$blue-dark:   #7aa9cc;
$blue-light:  #97ceec;
$blue:        #47b2e2;
$ghost-white: #fafafa;
$green:       #46a546;
$orange:      #ef7e4b;
$pink:        #c3325f;
$purple:      #7a43b6;
$red:         #fd5a46;
$vulcan:      #37383c;
$yellow:      #ffc40d;
