$blue: #049cdb;
$blue-dark: #8cadca;
$blue-light: #97ceec;
$blue-bright: #50c0ed;
$blue-dark: #8cadca;
$green: #46a546;
$red: #e03c2f;
$yellow: #ffc40d;
$orange: #ea764b;
$pink: #c3325f;
$purple: #7a43b6;
$gray: #666666;
$black: #333333;
$ghost-white: #fafafa;
