$black:       #333333;
$blue-bright: #50c0ed;
$blue-dark:   #8cadca;
$blue-light:  #97ceec;
$blue:        #049cdb;
$ghost-white: #fafafa;
$green:       #46a546;
$iron:        #eeeeee;
$orange:      #ea764b;
$pink:        #c3325f;
$purple:      #7a43b6;
$red:         #e03c2f;
$smoke-white: #f7f7f7;
$vulcan:      #37383c;
$yellow:      #ffc40d;
