// Base
// -----------------------------------------------------------------------------

body {
  padding-bottom: $navbar-margin-bottom + $font-size-base;
}

html.touch {
  body {
    padding-top: 45px;

    @media (min-width: $screen-sm-min) {
      padding-top: 80px;
    }
  }
}

html.no-touch {
  body {
    padding-top: 0;
  }
}

p {
  word-wrap: break-word;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  max-width: 100%;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

a {
  word-wrap: break-word;

  &:focus {outline: none;}
  &:hover {text-decoration: none;}
}

i {
  margin-right: .5em;
}

time {
  color: $text-muted;
}

textarea {
  resize: vertical;
}

iframe {
  border: none;
  max-width: 100%;
}

// Typography
// -----------------------------------------------------------------------------

.page-header {
  margin-bottom: 10px;
  margin-top: 0;

  > h1 {
    font-size: 24px;
    margin: 0;
  }

  > h2 {
    color: $text-color;
    font-size: $font-size-h3;
    margin: 0;
  }

  > p {
    color: $text-muted;
    margin-left: $font-size-h3 * 1.5;
    margin-top: .5em;
  }
}

// Buttons
// -----------------------------------------------------------------------------

.btn {
  &:focus,
  &.active:focus {
    outline: none;
  }
}

.btn-link {
  &:hover {text-decoration: none;}
}

.btn-block {

  @media (max-width: $screen-sm-max) {
    line-height: 26px;
  }
}

.btn-xs {
  text-shadow: none;
}

// Forms
// -----------------------------------------------------------------------------

legend {
  color: $text-muted;
  margin-bottom: 0 !important;
  & + *:before {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    margin-bottom: 1em;
  }
}

label {
  font-weight: normal;
}

input {
  &:focus {outline: none !important;}
}

input[type="radio"],
input[type="checkbox"] {
  height: 14px;
  margin-right: 4px;
  margin-top: 4px \9;
  width: 14px;
}

input[type="number"] {
  max-width: 100px;
}

.form-group.date,
.form-group.datetime {

  select {
    display: inline-block;
    width: 25%;
  }
}

.help-block {
  color: $text-muted;
  font-style: italic;
}

.form-inline {

  @media (min-width: $screen-sm-min) {

    .radio input[type="radio"],
    .checkbox input[type="checkbox"] {
      margin-right: 6px;
    }
  }
}


// =============================================================================
// Components
// =============================================================================

// Page header
// -----------------------------------------------------------------------------

.page-header {
  @include clearfix;

  h1 {
    float: left;

    small {
      font-size: 14px;
      margin-left: 1em;
    }
  }
}

// Carousel
// -----------------------------------------------------------------------------

.carousel {
  &:hover {
    .carousel-control {
      display: block;
    }
  }
}
.carousel-inner {
  > .item {
    > img {
      display: inline-block;
    }
  }
}
.carousel-control {
  display: none;
}
@media screen and (min-width: $screen-md-min) {
  .carousel-control {
    @include border-radius(100px);
    font-size: 28px;
    width: 40px;
    height: 40px;
    top: 40%;
    &.left,
    &.right {
      background-color: rgba(0, 0, 0, 0.3);
      background-image: none;
    }
    &.left {
      left: 20px;
      text-align: left;
      padding-left: 8px;
    }
    &.right {
      text-align: right;
      padding-right: 8px;
      right: 20px;
    }
    i {
      margin: 8px 0 0;
    }
  }
}
html.mobile,
html.tablet {
  .carousel {
    .carousel-control {
      display: none;
    }
  }
}

// Input Groups
// -----------------------------------------------------------------------------

.input-group-addon {
  margin-right: -1px;

  .fa {
    margin-right: 0;
  }
}

// Navbar
// -----------------------------------------------------------------------------

.navbar-toggle {
  line-height: 1;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-inverse {
  background-color: $navbar-inverse-bg;
  color: #ccc;

  .navbar-brand {
    color: $navbar-default-brand-color;
    &:hover,
    &:focus {
      color: $navbar-default-brand-color;
    }
  }
}

// Breadcrumbs
// -----------------------------------------------------------------------------

.breadcrumb {
  background: transparent;
  padding: 0;
  margin: 0;
}


// =============================================================================
// Components w/ JavaScript
// =============================================================================

// Modals
// -----------------------------------------------------------------------------

.modal {
  form {margin: 0;}
}

.modal-dialog {
  margin: 50px 10px;

  @media (min-width: $screen-sm-min) {
    margin: 50px auto;
  }
}

.modal-footer {
  margin-top: 0;
}

html.touch {

  .modal {
    bottom: -300px;
  }

  .modal-dialog {
    margin-bottom: 350px;
  }

  .modal-backdrop {
    bottom: -300px;
  }
}

// Tooltip
// -----------------------------------------------------------------------------

.tooltip {
  z-index: $zindex-tooltip;
}

// Popovers
// -----------------------------------------------------------------------------

.popover {
  color: $text-muted;
}


// =============================================================================
// Utility classes
// =============================================================================
