body {
  padding-bottom: $navbar-margin-bottom + $font-size-base;
}

html.touch {
  body {
    padding-top: 45px;

    @media (min-width: $screen-sm-min) {
      padding-top: 80px;
    }
  }
}

html.no-touch {
  body {
    padding-top: 0;
  }
}

p {
  word-wrap: break-word;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  max-width: 100%;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

a {
  word-wrap: break-word;

  &:focus {outline: none;}
  &:hover {text-decoration: none;}
}

i {
  margin-right: .5em;
}

time {
  color: $text-muted;
}

textarea {
  resize: vertical;
}

iframe {
  border: none;
  max-width: 100%;
}
