// ==========================================================================
// Bootstrap
// ==========================================================================

$blue  : #049cdb;
$green : #46a546;
$red   : #9d261d;
$yellow: #ffc40d;
$orange: #f89406;
$pink  : #c3325f;
$purple: #7a43b6;
$gray  : #666666;
$black : #333333;

$font-family-base    : "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
$headings-font-weight: normal;
$headings-line-height: 1.5;

$screen-lg: 1440px;
$screen-lg-min: $screen-lg;
$container-large-desktop: 1380px;

$screen-xl: 1920px;
$screen-xl-min: $screen-xl;
$screen-lg-max: ($screen-xl-min - 1) !default;
$grid-float-breakpoint    : 992px;
$grid-float-breakpoint-max: $grid-float-breakpoint - 1;

$body-bg       : #ebeced;
$link-color    : #588cc7;
$btn-primary-bg: #049cdb;

$navbar-height                  : 40px;
$navbar-default-brand-color     : #049cdb;
$navbar-inverse-bg              : #363d48;
$navbar-inverse-link-color      : #ccc;
$navbar-inverse-link-hover-color: #fff;
$navbar-inverse-link-active-bg  : #333;

$thumbnail-bg: #fff;

$zindex-tooltip: 1029;

$popover-max-width: none;
