$site-margin: 5%;
$wrapper-margin: 5%;
$border-default: 1px solid #eee;
$border-dashed: 1px dashed #eee;
$border-default-active: 1px solid $red;
$background-default-active: #f8f8fa;
$background-text: #eee;

// z-index
$zindex-menu: $zindex-modal-background + 1;
$zindex-search-menu: $zindex-navbar-fixed - 1;
$zindex-backdrop: $zindex-search-menu - 1;
$zindex-selectpicker: $zindex-navbar-fixed - 1;
$zindex-editor: $zindex-navbar-fixed + 1;
$zindex-go-top: 500;

$brand-color: #049cdb;
$blue-light: #97ceec;
$blue-bright: #50c0ed;
$light_blue: $blue-light;
$navbar-bg: #36383a;
$navbar-dropdown-bg: #3d3f40;
$navbar-search-bg: #5e6775;
$navbar-color--bg: #36383a;
$light_grey: #e7e7e7;

$XS: 320px;
$S: 480px;
$M: 768px;
$L: 992px;
$XL: 1200px;
