.page-header {
  h2 {
    font-size: $font-size-h3;
    margin: 0;
  }
}

.offcanvas_mix {
  @include clearfix;
  overflow: hidden;
  position: relative;

  @media screen and (min-width: $screen-md-min) {
    @include make-row;
    @include site_margin;
  }

  #main,
  #aside {
    @media screen and (max-width: $screen-md-min) {
      @include transition-property(all);
      @include transition-duration(.2s);
      @include transition-timing-function(ease-in);
      width: 100%;
    }
  }

  #aside {
    @media screen and (max-width: $screen-md-min) {
      float: left;
      margin-left: -100%;
      padding-left: 5%;
      padding-right: 5%;
    }

    @media screen and (min-width: $screen-md-min) {
      @include make-md-column(3);
    }
  }

  #main {
    background-color: #fff;

    @media screen and (max-width: $screen-md-min) {
      float: left;
      margin-left: 0;
      padding: 45px 5%;
    }

    @media screen and (min-width: $screen-md-min) {
      @include make-md-column(9);

      border: 1px solid $list-group-border;
      border-radius: $list-group-border-radius;
      padding-bottom: 20px;
      padding-top: 20px;
    }
  }

  #switch_main,
  #switch_aside {
    background-color: #333332;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    height: 38px;
    line-height: 38px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 38px;

    @media screen and (min-width: $screen-md-min) {
      display: none !important;
    }

    [class^="icon-"] {
      margin-right: 0;
    }
  }

  #switch_aside {
    left: 0;
  }

  #switch_main {
    display: none;
    right: 0;
  }

  &.is_aside_active {

    #aside {
      @media screen and (max-width: $screen-md-min) {
        margin-left: 0;
        width: 85%;
      }
    }

    #switch_main {
      display: block;
    }

    #switch_aside {
      display: none;
    }

    #main {
      @media screen and (max-width: $screen-md-min) {
        margin-right: -100%;
      }
    }
  }
}