@import "normalize";

img,
video,
iframe,
embed,
object {
    max-width: 100% !important;
    height: auto !important;
    vertical-align: middle !important;
}

body,
p {
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}
