.carts_wrapper
  = form_tag batch_cart_items_path, method: :put
    .cart_header
      h1.title.pull-left 我的购物车
      .opts.pull-right
        = place_order_link
    .cart_items
      = render @cart_items
    .cart_items_price
      p.pull-right
        | 总计（不包含运费）
        span.total_price
          | ￥
          = @cart_items.map(&:price).reduce(&:+) || 0
    .cart_footer
      .pull-right
        = place_order_link

- content_for :script do
  javascript:
    $('.item_quantity').blur(function() {
       var $this = $(this);
       var quantity = $this.val();
       var id = $this.parent().find('.item_id').val();
       $.ajax({
         url: '/cart_items/' + id,
         type: 'PUT',
         data: { quantity: quantity },
         success: function(data) {
           $this.val(data.quantity);
           $this.parent().parent().find('.price').text('￥' + data.price);
           $('.total_price').text('￥' + data.total_price);
         },
       });
    });

    $('.increment').on("ajax:success", function(xhr, data, status) {
                                            $(this).parent().find('.item_quantity').val(data.quantity);
                                            $(this).parent().parent().find('.price').text('￥ ' + data.price);
                                            $('.total_price').text('￥' + data.total_price);
                                          });
