<label class="radio">
  <input class="radio_buttons required" id="order_address_id_<%= @address.id %>" name="order[address]" required="required" type="radio" value="<%= @address.id %>">
  <%= @address.full_with_contact %>
</label>
