ul {
  > li.activity {
    @include clearfix;

    border-bottom: $border-dashed;
    padding: 10px;

    &:last-child {
      border-bottom: none;
    }

    a {
      margin-left: .5em;
      margin-right: .5em;
    }

    time {
      line-height: 20px;
      float: right;
      padding-left: 2em;
    }

    .activity-fancied,
    .activity-desired,
    .activity-owned,
    .activity-voted,
    .activity-list {
      margin-right: .5em;
    }

    .activity-fancied {
      color: $red;
    }

    .activity-desired {
      color: $orange;
    }

    .activity-owned {
      color: $blue-light;
    }

    .activity-voted {
      color: $blue-light;
    }

    .activity-list {
      color: $orange;
    }
  }
}
