article.post {
  header {
    margin-bottom: 2em;
    word-wrap: break-word;
  }

  section {
    p {word-wrap: break-word;}
  }

  footer {
    > * {
      display: inline-block;
      margin-top: 1em;
      margin-right: 2em;
    }
  }
}

article.post_show {
  > header {
    h3 {
      word-wrap: break-word;
      margin: 0;
    }
  }

  > section {
    margin-top: 1em;
    padding: 1em 0;
    border-top: 1px solid #eee;
  }

  > footer {
    @include clearfix;
    margin-bottom: 1em;
    border-bottom: $border-default;
    padding-bottom: 1em;

    > * {
      margin-right: 20px;
    }

    .voting {
      display: inline-block;
      button {
        margin-right: 1em;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .feed_action {
      display: inline-block;
    }

    .share_btn {
      color: $text-muted;
    }

    .fanciers {
      float: right;
      i {margin-right: 2em;}
    }
  }

  aside#comments {
    margin-top: 2em;
  }
}

// Deprecated
.post_content {
  word-wrap: break-word;
  img {@extend .img-responsive;}
  iframe {
    border: none;
    max-width: 100%;
  }
  .fluid-width-video-wrapper {overflow: hidden;}
  blockquote { font-size: 1.1em; }
}

.post_actions {
  a {
    color: $text-muted;
    margin-right: 1.5em;
  }
}

form.edit_post {
  margin: 0;

  input[type="text"], input[type="url"] {
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 70%;
    }
  }

  .submit {
    margin-bottom: 2em;

    input[type="submit"] {
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      float: right;
      width: 20%;
      text-align: right;
    }
  }

  #thing_content > & {
    padding-bottom: 1em;
  }
}

.author {
  margin-top: 1em;
  > * {
    margin-right: 1em;
  }

  a {
    color: $gray;
    &:hover {color: $text-color;}
  }

  a i {
    color: $text-muted;
  }

  img {
    @include square(60px);
    @extend .img-circle;
    vertical-align: -2px;
  }
}

.reviews_count {
  color: $blue;
}

.comments_count {
  color: $text-muted;
}

.article_compact {
  border-bottom: $border-dashed;
  margin-bottom: 10px;
  padding: 1em;
  position: relative;

  @media screen and (min-width: $screen-sm-min) {
    padding-left: 85px;
  }

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  .metas {
    margin-bottom: 10px;
    text-align: center;

    @media (min-width: $screen-sm-min) {
      text-align: left;
    }

    .meta {

      &.fa-pencil,
      &.fa-plus {
        color: #134f5c;
      }
    }
  }

  .article_header {
    margin: 0 0 1em 0;
  }

  .article_title {
    font-size: 14px;
    margin: 0;
    text-align: center;

    @media screen and (min-width: $screen-sm-min) {
      text-align: left;
    }

    small {
      padding-left: 1em;
    }
  }

  .article_body {
    @include clearfix;

    figure {
      display: center;
      margin-bottom: 10px;
      text-align: center;

      @media screen and (min-width: $screen-sm-min) {
        float: right;
        margin-bottom: 0;
        margin-left: 50px;
        text-align: center;
        width: 100px;
      }

      a {
        color: $text-color;
        display: block;
      }

      img {
        display: none;

        @media screen and (min-width: $screen-sm-min) {
          display: block;
          height: 80px;
          margin: {
            left: auto;
            right: auto;
          }
          width: 80px;
        }
      }

      figcaption {

        @media screen and (min-width: $screen-sm-min) {
          display: block;
          height: 40px;
          line-height: 20px;
          margin-top: 5px;
          overflow: hidden;
          text-align: center;

          &:before {
            content: '';
          }
        }
      }
    }

    .article_content {
      @include clearfix;

      background-color: #eee;
      overflow: hidden;
      padding: 1em;

      img {
        display: block;
        height: auto;
        margin-bottom: 10px;
        width: 100%;

        @media screen and (min-width: $screen-sm-min) {
          float: left;
          margin-right: 15px;
          height: 80px;
          width: 80px;
        }
      }

      p {
        color: $text-muted;
        height: 80px;
        line-height: 26px;
        margin-bottom: 0;
        overflow: hidden;
      }
    }
  }

  .article_feature {
    bottom: 10px;
    line-height: 30px;
    padding: 0 10px;
    position: absolute;
    right: 0;

    @media screen and (min-width: $screen-sm-min) {
      bottom: auto;
      left: 0;
      line-height: 20px;
      right: auto;
      top: 20px;
    }
  }
}

.article {

  > header,
  > .body,
  > .content,
  > .pager {
    margin-bottom: 2rem;

    @media (min-width: $screen-md-min) {
      margin-bottom: 4rem;
    }
  }

  > header {

    .title {
      border-bottom: 1px solid darken($page-header-border-color, 10%);
      color: $text-color;
      font-size: 2rem;
      margin: 0 0 $line-height-computed;
      padding-bottom: (($line-height-computed / 2) - 1) * 2;
      text-align: center;

      @media (min-width: $screen-md-min) {
        font-size: 3rem;
        text-align: left;
      }
    }

    .metas {
      text-align: center;

      @media (min-width: $screen-md-min) {

        &:first-child {
          float: left;
        }

        &:last-child {
          float: right;
        }
      }

      > li {
        height: 30px;
        line-height: 30px;
      }
    }
  }

  > .body,
  > .content {
    @include clearfix;

    color: $text-color;
    font-size: 16px;
    line-height: 1.8;
    word-wrap: break-word;

    h1, h2, h3,
    h4, h5, h6 {
      color: #555;
      font-weight: bold;
    }
    h1 { font-size: 2em; }
    h2 { font-size: 1.6em; }
    h3 { font-size: 1.2em; }
    h4 { font-size: 1.1em; }
    h5 { font-size: 1em; }
    h6 { font-size: .85em; }

    h2,
    h3 {
      margin-bottom: 24px;
      margin-top: 0;
    }

    ol,
    ul,
    blockquote,
    iframe,
    embed,
    object,
    video,
    audio,
    .embed-responsive {
      margin-bottom: 1.5em;
    }

    .knewone-embed {
      margin-bottom: 1.5em;
    }

    b,
    strong {
      color: #000;
      font-weight: 700;
      padding: 0 4px;
    }

    i {
      margin: 0;
      padding: 0 4px;
    }

    del,
    strike {
      color: $text-muted;
    }

    figure {
      margin-bottom: 1.5em;

      img {
        margin-bottom: 0;
      }
    }

    img {
      display: block;
      margin: {
        bottom: 1.5em;
        left: auto;
        right: auto;
      }
    }

    ol,
    ul {
      padding-left: 1.5em;
    }

    ol {
      list-style-type: decimal;
    }

    ul {
      list-style-type: disc;
    }

    p {
      margin: 0 0 1.5em 0;
    }

    blockquote {
      border-left-color: #ebeced;
      border-left-width: 4px;
      color: #aaa;
      padding: {
        bottom: 0;
        top: 0;
      }
    }

    table {
      width: auto;
    }

    hr {
      border-top: $border-default;
      font-size: 0;
      height: 0;
      line-height: 0;
      margin: 48px auto;
      width: 40%;
    }

    iframe,
    embed,
    object,
    video {
      display: block;
      margin: {
        left: auto;
        right: auto;
      }
      width: 100%;
    }

    .embed-responsive {

      iframe,
      embed,
      object,
      video {
        margin-bottom: 0;
      }
    }
  }

  > .actions {
    @include clearfix;
    padding: 2em 0;
    position: relative;

    > .interactions,
    > .advanced {
      display: inline-block;
      margin-right: 0;
      vertical-align: middle;
    }

    > .interactions {

      .btn--like {
        width: auto;
        padding-left: 2em;
        padding-right: 1em;

        @extend .btn--blue_light;
        @extend .btn--square;
        @extend .btn--tall;

        &.done {
          background-color: $navbar-search-bg;
          &:hover {
            background-color: $gray-light;
          }
        }
      }

      .share_btn {
        display: inline-block;
        vertical-align: middle;

        @extend .btn--orange;
        @extend .btn--square;
        @extend .btn--tall;
      }
    }

    > .advanced {
      .post_actions {
        margin-left: 2em;
      }
    }

    > time {
      position: absolute;
      right: 2em;
      margin-top: 9px;
      color: #999999;
    }

    .tiny_share {
      float: right;
      height: 40px;
      line-height: 40px;
      padding: {
        left: 1rem;
        right: 1rem;
      }
      @media (min-width: $screen-lg-min) {
        padding: {
          left: 0;
          right: 0;
        }
      }

      .fa {
        font-size: 2em;
        vertical-align: middle;
      }
    }
  }

  > .pager {
    border-top: $border_default;
    margin-top: 0;

    &:empty {
      display: none;
    }

    > li {
      color: $text-muted;
      display: block;
      width: 45%;

      &.previous {
        float: left;
        text-align: left;

        &:before {
          content: '<';
        }
      }

      &.next {
        float: right;
        text-align: right;

        &:after {
          content: '>';
        }
      }

      > a {
        @include text-overflow;
        border: none;
        border-radius: 0;
        color: $text-muted;
        display: inline-block;
        float: none;
        max-width: 80%;
        padding: {
          left: 0;
          right: 0;
        }
        vertical-align: middle;

        &:hover,
        &:focus {
          background-color: transparent;
          color: $gray;
        }
      }
    }
  }
}
