.card_compact {
  @include transition(background-color .2s ease);
  @include clearfix;

  background-color: #eee;
  color: $gray;
  display: block;
  margin-bottom: 30px;
  padding: 15px;

  &:hover {
    color: $text-color;
    background-color: darken(#eee, 5%);
  }

  img {
    float: right;
    height: 100px;
    width: 100px;
  }
}
