.comments {
  @include clearfix;

  h4 {color: $text-muted;}

  .comment_form {
    @include clearfix;
    textarea {margin: 1em 0;}
    .auth_tip {color: $text-muted;}
    .help-block {text-align: right;}
  }

  ul {
    margin: 1em 0 2em;
    padding-top: 2em;

    li:not(:last-child) {
      border-bottom: $border-dashed;
    }
  }

  .comment {
    @include clearfix();
    padding: {
      bottom: 1em;
      top: 1em;
    }
    position: relative;

    .anchor--hidden {
      top: -55px;
    }

    .avatar {
      float: left;
      margin-right: 10px;
      img {
        @include square(60px);
        @extend .img-circle;
      }
    }

    header {
      margin: 0;
      padding-left: 80px;

      .fa {margin-right: 0;}
    }

    section {
      padding-left: 80px;
      p {
        margin: .5em 0 0;
        word-wrap: break-word;
      }
    }
  }
}

html.mobile {

  .comments {

    h4 {
      display: none;
    }

    .comment_form {

      button[type="submit"] {
        @extend .btn-block;
      }
    }

    > ul {
      margin-bottom: 1rem;
    }

    .comment {

      .avatar {

        img {
          @include square(30px);
        }
      }

      header,
      section {
        padding-left: 40px;
      }
    }

    .comments_more {
      @extend .btn-block;
      @extend .btn-sm;
    }
  }
}

html.desktop {

  .comment {

    .destroy {
      display: none;
    }

    &:hover {

      .destroy {
        display: inline-block;
      }
    }
  }
}
