.comments {
  @include clearfix;

  h4 {color: $text-muted;}

  .comments-form_wrapper {
    position: relative;
    padding: 1em 2em;

    .user_avatar {
      position: absolute;
      margin-top: 1em;

      & + .comment_form {
        margin-left: 90px;
      }
    }

    .comment_form {
      @include clearfix;

      .auth_tip {color: $text-muted;}
      .help-block {text-align: right;}

      textarea {
        margin: 1em 0;
        resize: none;
      }
    }
  }

  &.comments--compact .comments-form_wrapper {
    padding: 0;
  }

  ul {
    margin: 1em 0 2em;
    padding-top: 2em;

    li:not(:last-child) {
      border-bottom: $border-dashed;
    }

    li {
      padding: 1em 2em;
    }
  }

  .comment {
    @include clearfix();
    padding: {
      bottom: 1em;
      top: 1em;
    }
    position: relative;

    .anchor--hidden {
      top: -55px;
    }

    .avatar {
      float: left;
      margin-right: 10px;
      img {
        @include square(60px);
        @extend .img-circle;
      }
    }

    header {
      margin: 0;
      padding-left: 80px;

      .fa {margin-right: 0;}
    }

    section {
      padding-left: 80px;
      p {
        margin: .5em 0 0;
        word-wrap: break-word;
      }
    }
  }
}

.comments:not(.comments--compact) {
  textarea {
    background-color: #f7f7f7;
    border: none;
    border-bottom: 1px solid #f7f7f7;
    border-radius: 0;
    box-shadow: none;

    &:focus {
      background-color: #fff;
      color: $brand-primary;
      border-bottom: 1px dashed $brand-primary;
    }
  }
}

html.mobile {

  .comments {

    h4 {
      display: none;
    }

    > ul {
      margin-bottom: 1rem;
    }

    .comment {

      .avatar {

        img {
          @include square(30px);
        }
      }

      header,
      section {
        padding-left: 40px;
      }
    }

    .comments_more {
      @extend .btn-block;
      @extend .btn-sm;
    }
  }
}

html.desktop {

  .comment {

    .destroy {
      display: none;
    }

    &:hover {

      .destroy {
        display: inline-block;
      }
    }
  }
}
