// Dropdown Boxes.
//
//

.dropdown_box {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
  display: none;
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  width: 300px;
  z-index: $zindex-dropdown;

  &:before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    content: '';
    display: inline-block;
    position: absolute;
    top: -7px;
  }

  > header {
    padding: 8px 10px;

    > h5 {
      color: $text-color;
      margin: 0;
    }
  }

  > section {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    color: $text-color;
    height: 280px;
    min-height: 280px;
    overflow: auto;
  }

  > footer {
    @include clearfix;

    padding: 5px 10px;

    a {
      color: $text-muted;

      &:hover {
        color: $text-color;
      }
    }
  }
}

.open {

  > .dropdown_box {
    display: block;
  }
}

