.editable {
  color: $text-color;

  &.editable-disabled {
    color: $text-color;
  }

  &:focus {
    outline: none;
  }
}

.editable-container.editable-inline {
  width: 100%;

  .control-group {
    width: 100%;

    .editable-input {
      width: 100%;

      input,
      textarea {
        width: 100%;
        padding: 0;
        resize: none;

        color: $blue-dark;
        background: transparent;
        font-size: inherit;

        &,
        &:focus {
          border: none;
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}

.editable-buttons i {
  margin-right: 0;

  @extend .fa;
  &.glyphicon-ok { @extend .fa-check; }
  &.glyphicon-remove { @extend .fa-times; }
}

.editable-click {
  cursor: pointer;
}

.editable-empty {
  @include plain-link($gray-light);
}
