// Editors.
//
//.editor
//  .editor-menu
//    output
//     .pull-right
//       button.editor-help-toggle type="button" data-toggle="modal" data-target="#editor-help"
//         i.fa.fa-question.fa-alone
//       button.editor-close type="button" 退出
//       button.editor-drop type="button" 舍弃
//       button.editor-save type="button" 保存
//       button.editor-submit type="submit" 发布
//  article.editor-content.article
//    header
//      input.title type="text" required placeholder="标题"
//      .editor-metas
//    .body
//

.editor {
  background-color: #fff;
  bottom: 0;
  display: none;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $zindex_editor;
  // @TODO
  padding-bottom: 0 !important;
  border-bottom: none !important;
  margin-bottom: 0 !important;

  & + #file {
    display: none;
  }
}

.editor-menu {
  background-color: #fff;
  box-shadow: 0 1px 3px #eee;
  height: $navbar-height;
  left: 0;
  padding: 0 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  output {
    color: $text-color;
    display: block;
    height: $navbar-height;
    left: calc(50% - 4em);
    line-height: $navbar-height;
    padding-top: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 8em;
  }

  .btn {
    margin: {
      bottom: 6px;
      left: 1em;
      top: 6px;
    }

    &:focus {
      outline: none;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.editor-target {
  color: $text-muted;
  float: left;
  height: $navbar-height;
  line-height: $navbar-height;
  margin-bottom: 0;

  a {
    @include text-overflow;
    color: $text-muted;
    display: inline-block;
    margin-top: -2px;
    max-width: 15em;
    vertical-align: middle;

    &:hover {
      color: $text-color;
    }
  }
}

.editor-help-toggle {
  @extend .btn;
  @extend .btn-link;

  border: none;
  color: $text-muted;
  padding: {
    bottom: 4px;
    top: 4px;
  }

  &:hover,
  &:focus {
    color: $text-color;
  }

  .popover-content {
    width: 250px;
  }
}

.editor-help {

  .nav {
    padding-bottom: $padding-large-vertical;
  }

  .well {
    background-color: #fff;
    border-radius: 0;
    margin: {
      left: -15px;
      right: -15px;
    }

    h4 {
      font-size: 16px;
      margin-top: 0;
    }

    ol {
      margin-bottom: 0;
    }
  }
}

.editor-close,
.editor-drop,
.editor-save,
.editor-submit {
  @extend .btn;
  @include button_compact(#fff, $text-muted);
  border-radius: 4px;
  font-size: 14px;
  padding: {
    top: 3px;
    bottom: 3px;
  }
  width: 60px;
}

.editor-content {
  bottom: 0;
  left: 0;
  padding-top: $navbar-height + $padding-large-vertical * 3;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  > header,
  > .body {
    margin: {
      left: auto;
      right: auto;
    }
    // @TODO
    max-width: $screen-md-min;
    width: 55%;
  }

  > header {
    margin-bottom: $padding-large-vertical * 2;

    .title {
      border: none;
      border-bottom: $border-default;
      box-shadow: none;
      display: block;
      font-size: $font-size-h1;
      margin-bottom: $padding-large-vertical;
      padding-bottom: $padding-large-vertical;
      width: 100%;
    }
  }

  > .body {
    margin-bottom: 0;
    min-height: 350px;
    padding-bottom: 100px;

    &:focus {
      outline: none;
    }

    *:last-child {
      margin-bottom: 0;
    }

    .is-focused {

      &::selection {
        background-color: transparent;
      }

      *::selection,
      &~*::selection {
        background-color: transparent;
      }

      img {
        outline: 3px solid $text-color;
      }
    }
  }

  [data-edit="insertImage"] {
    @include mask;
  }
}

.editor-metas {
  @extend .form-inline;

  .form-group {
    margin-bottom: 10px;

    &:not(:first-child)::before {
      color: #eee;
      content: '|';
      display: inline-block;
      line-height: 32px;
      margin: 0 1.5em;
    }

    &.form-group--block {
      display: block;

      &::before {
        display: none !important;
      }

      label {
        display: block;
      }

      .form-control {
        display: block;
        width: 100%;
      }
    }
  }

  label {
    color: $text-muted;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin-bottom: 0;
  }

  .form-control {
    padding: {
      bottom: 5px;
      top: 5px;
    }
  }

  .twitter-typeahead {
    vertical-align: middle;
  }
}

.medium-editor-placeholder:after {
  color: $text-muted;
  font-style: normal;
  top: 0;
}

.editor-lite {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1.5em;

  > .toolbar {
    border-bottom: $border-default;
    padding: 8px;

    .btn {
      color: $text-muted;
    }
  }

  > .content {
    border: none;
    height: 250px;
    margin-bottom: 0;
    overflow: auto;
    margin: 8px 0;
    padding: 0 8px;
    resize: none;
    width: 100%;

    &:focus {
      outline: none;
    }

    &:empty {

      &:before {
        content: attr(placeholder);
        color: $text-muted;
        line-height: 1.8;
      }
    }
  }
}

html.mobile {
  .editor-target,
  .editor-help-toggle {
    display: none;
  }
}

html.mobile,
html.tablet {
  .medium-editor-toolbar {
    display: none;
  }
}

.editor_compact {

  .editor_content {
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));

    border: 1px solid #ccc;
    border-radius: $input-border-radius;

    &:focus {
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rbba(102,175,233,0.6));
      border-color: $input-border-focus;
      outline: none;
    }

    textarea {
      border: none;
      resize: none;

      &:focus {
        box-shadow: none;
      }
    }

    &.uploading {

      textarea {
        @include border-bottom-radius(0);
        border-bottom: 0;
      }
    }
  }

  > footer {
    @include clearfix;

    @media (min-width: $screen-sm-min) {
      padding-left: 104px;
    }

    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }

    .separator {
      padding: {
        left: 1em;
        right: 1em;
      }

      &:first-child {
        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
    }

    .counter {
      color: $gray;
      display: inline-block;
      line-height: 34px;
      text-align: center;
      width: 50px;

      &.error {
        color: $red;
      }
    }

    .submit {
      float: right;
    }
  }

  + .uploader {
    height: 0;
    margin-bottom: 0;

    @media (max-width: $screen-xs-max) {
      display: none;
    }

    .uploader_button {
      margin:{
        bottom: 0;
        top: -56px;
      }
    }

    .uploader_queue {
      border: none;
      border-top: $border-dashed;
      display: none;
      margin: {
        bottom: 0;
        top: -119px;
      }

      &.dragover {
        background-color: transparent;
      }

      > ul {

        &:empty {
          height: 0;
        }

        > li {
          display: inline-block;
          float: none;
          vertical-align: middle;
        }
      }

      .uploader_button {
        display: none;
      }
    }
  }

  &.uploading {

    .editor_content {
      padding-bottom: 49px;
    }

    & + .uploader .uploader_queue {
      display: block;
    }
  }
}

#editor {
  display: none;
  overflow: scroll;
  max-height: 800px;
  max-width: 100%;
  height: 300px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 4px 6px;
  color: #555;
  outline: none;
  resize: both;
  margin-bottom: 1em;
  @include border-radius(4px);

  img {
    display: block;
  }
  ol {list-style: decimal inside;}
  ul {list-style: disc inside;}

  & + .alert {
    margin-bottom: 0;
  }
}

#editor-toolbar {
  @include user-select(none);
  display: none;
  margin: 0;

  .btn-group {
    margin-bottom: 12px;
  }

  .dropdown-menu {
    padding: 10px 1em;
    a {cursor: pointer;}
    .form-inline {
      width: 350px;
      input {width: 280px;}
      button {
        margin-left: 1em;
      }
      .help-block {
        font-size: 12px;
        strong {
          color: $text-color;
        }
      }
    }
  }

  i {margin-right: 0;}

  .link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -1px;
  }

  #pictureBtn {
    margin-right: -1px;
  }

  @media screen and (max-width: 767px) {
    .btn-group {
      display: block;
      margin-left: 0;
    }
    .dropdown-menu {
      input {width: 160px;}
    }
  }
}

#editor-wrapper {
  position: relative;
  margin-bottom: 2em;

  .file-uploading {
    display: none;
    position: absolute;
    text-align: center;
    line-height: 300px;
    background: rgba(255, 255, 255, 0.5);
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
