@import '../base';

.knewone-embed {
  border: $border-default;

  .user_avatar {
    img {
      display: inline-block;
      margin: {
        bottom: 0;
        right: .5em;
      }
    }
  }
}

.knewone-embed-edit {
  background-color: #333;
  border: none;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;

  .fa {
    margin-right: 0;
  }
}

#thing--embed_form {
  .fieldset--photo {
    figure {
      outline: 1px dashed #444;
      height: 0;
      margin-bottom: 1rem;
      overflow: hidden;
      padding-bottom: percentage(1/2.39);
    }

    footer {
      text-align: center;

      [type="file"] {
        display: inline-block;
        height: 34px;
        margin-left: -110px;
        opacity: 0;
        position: absolute;
        vertical-align: middle;
        width: 110px;
      }
    }
  }
}

.knewone-embed-tip {
  color: $text-muted;
  margin: 0 !important;
  padding: 1em 0;
  text-align: center;
}

.knewone-embed--thing {
  @include clearfix;
  border: none;

  .thing--embed {
    position: relative;
  }
}

.knewone-embed--review {
  .review {
    img {
      margin-bottom: 0;
    }

    section.content,
    footer.info {
      padding-left: $padding-base-horizontal;
      padding-right: $padding-base-horizontal;
    }

    footer.info {
      padding-bottom: $padding-base-vertical;
    }
  }
}

.knewone-embed--list {
  .thing_list {
    background: $ghost-white;
    padding: 1em;

    > header {
      h4 {
        color: $gray-light;
        font-size: 14px;
        font-weight: normal;
      }
    }

    .thing_list-info {
      list-style-type: none;
      margin-bottom: 0;
      padding-left: 0;
    }
  }
}
