@import '../base';

.knewone-embed {
  border: $border-default;

  .user_avatar {
    img {
      display: inline-block;
      margin: {
        bottom: 0;
        right: .5em;
      }
    }
  }
}

.knewone-embed-tip {
  color: $text-muted;
  margin: 0 !important;
  padding: 1em 0;
  text-align: center;
}

.knewone-embed--thing {
  @include clearfix;
  border: none;
}

.knewone-embed--review {
  .review {
    @media (min-width: $screen-sm-min) {
      section.content {
        .summary {
          min-height: 90px;
        }
      }
    }

    @media (min-width: $screen-md-min) {
      /* So thing:review is golden porpotion */
      padding: 10px;
      header.cover {
        padding-right: 20px;
      }
    }
  }
}

.knewone-embed--list {
  .thing_list {
    background: $ghost-white;
    padding: 1em;

    > header {
      h4 {
        font-size: 14px;
      }
    }

    .thing_list-info {
      list-style-type: none;
      margin-bottom: 0;
      padding-left: 0;
    }
  }
}
