.fancy-button {
  @include plain-link($red);
  font-size: $font-size-small;

  i {
    vertical-align: middle;
    margin-right: $padding-small-horizontal;

    color: $red;
    font-size: 2em;
  }
}

[data-fancy].desired {
  i:after {
    content: "\f004";
    font-size: 50%;
    margin-left: -5px;
  }
}
