.fancy-button {
  @include plain-link($red);
  font-size: $font-size-small;

  i {
    vertical-align: middle;
    margin-right: $padding-small-horizontal;

    color: $red;
    font-size: 2em;
  }
}

[data-fancy].fancied,
[data-fancy].desired,
[data-fancy].owned {
  &:hover {
    i {
      &:before {
        @extend .fa-pencil;
        animation: swing .5s;
      }
    }
  }
}
