#fancy_modal {
  .modal-content {
    background: $smoke-white;

    @include from-breakpoint(md) {
      width: 600px;
    }
  }

  .modal-header {
    color: $gray-light;
    padding: 10px 15px 0;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;

    h4 {
      @include text-overflow;

      display: inline-block;
      vertical-align: middle;

      max-width: 80%;
      margin: 0;
      font-size: 14px;
    }

    .fancy_modal-cancel_button {
      vertical-align: middle;

      margin-left: 1em;
      color: #ccc;
      font-size: 80%;
    }

    .close {
      margin-top: 0;
      margin-left: .5em;
      font-family: 'Lato Thin';
    }
  }

  .modal-body {
    .fancy_modal-main_form {
      textarea {
        resize: none;
      }

      .word_counter {
        margin-top: 5px;
        text-align: right;

        color: $gray-light;
        b { color: $gray; }
      }
    }

    .fancy_modal-options {
      @include clearfix;

      label {
        margin-bottom: 0;
      }

      .fancy_modal-state,
      .fancy_modal-rating {
        float: left;
      }

      .fancy_modal-sync_to_feeling {
        float: right;
      }

      .fancy_modal-state {
        [value="none"] {
          display: none;
        }

        label {
          margin-right: 1em;
        }
      }

      .fancy_modal-rating {
        .rating {
          padding: 1px 0 0;
        }
      }
    }

    .fancy_modal-tags_form_toggle {
      margin-top: 15px;
      cursor: pointer;
    }

    .fancy_modal-tags_form {
      margin-top: 15px;

      .input-group {
        .form-control {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        .btn {
          margin-left: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      .selectize-dropdown {
        display: none !important;
      }

      .help-block {
        margin-bottom: 0;
        padding-left: 12px;
        color: $brand-danger;
        font-size: 90%;
      }

      .fancy_modal-all_tags {
        overflow: auto;
        max-height: 220px;

        > section {
          > ul {
            margin-top: 5px;

            > li {
              display: inline-block;

              margin: 10px 10px 0 0;
              padding: 7px 12px;
              border-radius: 10px;
              background: white;

              cursor: pointer;
              white-space: nowrap;

              color: #999;
              i { color: #ccc; }

              &:hover {
                color: #777;
                i { color: #999; }
              }

              &.selected {
                background: $gray-light;
                color: white;
                i { color: white; }
              }
            }
          }
        }
      }

      .fancy_modal-recent_tags,
      .fancy_modal-popular_tags {
        position: relative;
        padding-left: 32px;

        h6 {
          position: absolute;
          top: 19px;
          left: 0;
          margin: 0;
        }
      }
    }
  }

  .modal-footer {
    padding-top: 0;
    border: 0;

    .btn {
      padding: 7px 30px;
    }
  }

  input[type="text"],
  textarea {
    border-radius: 10px;

    &,
    &:focus {
      border: none;
      box-shadow: none;
    }
  }

  .btn {
    border: none;
    border-radius: 10px;
    color: white;
  }

  .btn-default {
    background: $gray-light;
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  .btn-primary {
    background: $blue-dark;
    &:hover {
      background: darken($blue-dark, 10%);
    }
  }
}
