// Forms.
//

.form-group {

  .controls label.radio {
    margin-left: 20px;
  }

  @media (min-width: $screen-md-min) {
    position: relative;
  }

  &.search {
    position: relative;

    .form-control {
      border: 1px solid $input-border;
      border-radius: $border-radius-base;
      padding: {
        left: 30px;
        right: 30px;
      }
    }

    .fa {
      color: $text-muted;
      margin: 0;
      position: absolute;
      top: 10px;
    }

    .fa-search,
    .fa-spinner {
      left: 10px;
    }

    .fa-times {
      cursor: pointer;
      display: none;
      right: 10px;
    }
  }

  .selectpicker_label {
    display: none;

    @media (min-width: $screen-md-min) {
      display: inline-block;
      font-size: 14px;
      height: 14px;
      left: 12px;
      margin-right: 0;
      margin-top: -7px;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 14px;
      z-index: 3;
    }
  }

  select.selectpicker {

    @media (min-width: $screen-md-min) {
      visibility: hidden;
    }
  }

  @media (min-width: $screen-md-min) {

    .bootstrap-select {
      min-width: 160px;

      > .btn {
        padding-left: 35px;
      }

      .dropdown-menu {

        > li {

          > a {
            padding-left: 35px;
          }
        }
      }
    }
  }
}

.help-block {
  &:empty {
    display: none;
  }

  > li {
    font-size: 12px;
    line-height: 18px;
  }
}
