@import '../base';

html.touch {

  #header {
    $header_inner_height: 44px;

    background-color: $navbar-inverse-bg;
    border-bottom: 1px solid $navbar-inverse-border;
    height: $header_inner_height + 1;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $zindex-navbar;

    h1 {
      height: $header_inner_height;
      margin: 0 auto;
      text-align: center;
      width: 150px;
    }

    .logo {
      color: $navbar-default-brand-color;
      display: block;
      font-size: $font-size-large;
      line-height: $header_inner_height;
      text-shadow: 0 1px 1px #111;
    }

    .btn {
      color: $navbar-inverse-link-color;
      margin-top: -$header_inner_height;
      padding: {
        bottom: 11px;
        top: 11px;
      }
      min-width: 60px;
    }

    .notification {
      position: relative;

      .badge {
        left: 30px;
        position: absolute;
        top: 5px;
      }
    }
  }
}

.navbar {
  $navbar-inverse-link-active-bg: #3d485d;

  border: none;
  box-shadow: 0 1px 3px #555;

  .nav,
  .user_link.user {

    .open {

      > a {

        &,
        &:hover,
        &:focus {
          background-color: transparent;

          @media (min-width: $grid-float-breakpoint) {
            background-color: $navbar-inverse-link-active-bg;
          }
        }
      }
    }
  }

  #nav_publish {
    a {color: white;}
    background-color: $blue;
    margin-left: 15px;
  }

  .dropdown-menu {

    @media (min-width: $grid-float-breakpoint) {
      background-color: $navbar-inverse-link-active-bg;
      border-color: $navbar-inverse-link-active-bg;
      border-radius: 0 0 4px 4px;
      box-shadow: none;
      margin-top: 0;
    }

    > li {
      overflow: hidden;

      &:last-child {
        border-radius: 0 0 4px 4px;
      }
      
      &.is-active {
        > a + .dropdown-submenu-wrapper {
          display: block;
        }
      }

      > a {
        color: $navbar-inverse-link-color;

        &:hover,
        &:focus {
          color: $navbar-inverse-link-hover-color;
          background-color: $navbar-inverse-link-hover-bg;
        }
      }
    }
  }

  .dropdown-submenu {
    @media (min-width: $grid-float-breakpoint) {
      background-color: $navbar-dropdown-bg;
      border-radius: 4px;

      > li {
        overflow: hidden;

        &:first-child {
          border-radius: 4px 4px 0 0;
        }

        &:last-child {
          border-radius: 0 0 4px 4px;
        }

        > a {
          color: $navbar-inverse-link-color;
          display: block;
          line-height: 40px;
          padding: 0 20px;

          &:hover {
            color: $navbar-inverse-link-hover-color;
          }
        }
      }
    }
  }
}

.navbar-brand {
  position: relative;
  margin-left: 40px;
  font-family: "orbitron-bold";

  img {
    position: absolute;
    left: -40px;
    z-index: 100;
    width: 48px;
    height: 48px;
  }

  .logo {
    text-shadow: 0 1px 1px #111;
  }

  .logo-full {
    display: none;
  }
}

.navbar-nav {

  > li {

    > a {
      line-height: 40px;
      padding: 0 15px;

      .badge {
        margin-left: 2px;
        vertical-align: 1px;
      }
    }
  }
}

.navbar-form {
  padding: {left: 0; right: 30px;}
  @media (max-width: $grid-float-breakpoint) {
    border-bottom-width: 0;
    margin-bottom: 0;
  }

  @media (min-width: $grid-float-breakpoint) {
    margin-bottom: 7px;
    margin-top: 7px;
    transition-duration: .2s;
    transition-property: width;
  }

  @media (min-width: $screen-md-min) {
    width: 14%;
  }

  @media (min-width: $grid-float-breakpoint) {
    &.navbar-right:last-child {
      margin-right: 20px;
    }
  }

  &.focus {
    @media (min-width: $grid-float-breakpoint) {
      width: 25%;
    }
  }

  .search {
    margin-bottom: 0;
    width: 100%;

    .form-control {
      background-color: #fcfcfc;
      font-size: 12px;
      height: 26px;
      line-height: 14px;
      padding: {
        bottom: 5px;
        top: 5px;
      }
      width: 100%;

      &:focus {
        background-color: #fff;
      }
    }

    .fa {
      top: 6px;
    }
  }
}

.navbar-collapse {
  padding-top: $padding-large-vertical;

  @media (max-width: $grid-float-breakpoint) {
    max-height: none;
  }

  @media (min-width: $grid-float-breakpoint) {
    padding-top: 0;
  }
}

#nav_primary {

  .fa-comment {
    @media (min-width: $grid-float-breakpoint) {
      vertical-align: baseline;
    }
  }

  @media (max-width: $screen-sm-max) {
    @include clearfix;

    > li {
      float: left;
      text-align: center;
      width: 33.333333%;

      &.nav_group {
        @include clearfix;
        > a {
          float: left;
          padding: {
            left: 15px;
            right: 0;
          }

          @media (min-width: $grid-float-breakpoint) and (max-width: $screen-md-max) {
            padding: {
              left: 8px;
            }
          }

          + a {
            padding: {
              left: 10px;
              right: 15px;
            }

            @media (min-width: $grid-float-breakpoint) and (max-width: $screen-md-max) {
              padding: {
                left: 8px;
                right: 8px;
              }
            }
          }
        }

        > .dropdown-menu {
          clear: both;
          text-align: left;
        }
      }
    }
  }
}

#nav_secondary {
  margin-right: 10px;
  a.nav_group_more {
    margin: 0;
    padding: 0 18px;
    @include MQ(XLplus) { padding: 0 24px }
    line-height: 40px;
    color: #fff;
  }
  .dropdown-menu {
    @include MQ(L) { right: 0; }
    width: 220px;
    margin: 0;
    padding: 0;
    border: none;
    @include box-shadow(0 2px 5px rgba(0,0,0,.1));
    > li {
      > a {
        @include clearfix;
        display: block;
        padding: 0;
        padding-left: 4px;
        line-height: 40px;
        color: $light_grey;
        text-align: left;
        border-left: 4px solid transparent;
        i {
          width: 20%;
          color: $light_grey;
          text-align: center;
          line-height: 40px;
          float: left;
        }
        em {
          float: left;
          font-style: normal;
        }
      }
      &:hover,
      &.is-active {
        background: $navbar-color--bg;
        > a {
          color: $light_blue;
          i, span { color: #fff }
        }
      }
      &.is-active {
        > a {
          border-left-color: $brand-color;
        }
      }
    }
  }
  .dropdown-submenu {
    > li {
      overflow: hidden;

      > a {
        @include clearfix;

        > em {
          @include text-overflow;
          float: left;
          font-style: normal;
          width: 5em;
        }

        > span {
          @include text-overflow;
          color: $light_blue;
          float: right;
          font-size: 12px;
          text-align: right;
          width: 40px;
        }

        &:hover {
          background: $navbar-color--bg;

          > em {
            color: $light_blue;
          }

          > span {
            color: #fff;
          }
        }
      }

      &:last-child {
        > a {
          background: $navbar-color--bg;
        }
      }
    }
  }
}

.user_links {
  @include clearfix;

  margin: ($navbar-padding-vertical / 2) (-$navbar-padding-horizontal);

  @media (min-width: $grid-float-breakpoint) {
    margin: 0;
  }

  &.login {
    border-top: 1px solid darken($navbar-inverse-bg, 7%);
    padding: $padding-small-vertical $padding-large-horizontal;
    padding-bottom: 0;

    @media (min-width: $grid-float-breakpoint) {
      border-top: none;
      padding: 0;
    }
  }

  &.logout {

    .user_link {
      width: auto;

      @media (min-width: $grid-float-breakpoint) {
        margin-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

.user_link {

  @mixin icon {
    > .fa {
      line-height: 40px;

      @media (min-width: $grid-float-breakpoint) {
        font-size: 1.3333333333333333em;
        vertical-align: middle;

        &.fa-bolt {font-size: 1.25em;}
        &.fa-envelope-o {font-size: 1.2em;}
      }
    }
  }

  @mixin badge {
    > .badge {
      color: #fff;
      font-weight: normal;
      left: 28px;
      margin-top: -12px;
      padding: 1px 6px;
      position: absolute;
      top: 50%;
      z-index: 1;

      @media (min-width: $grid-float-breakpoint) {
        font-size: 14px;
        left: 18px;
      }
    }
  }

  background-color: transparent;
  color: $navbar-inverse-link-color;
  display: block;
  float: left;
  height: 40px;
  padding: 0 18px;
  position: relative;
  width: 50px;

  &:hover {
    color: $navbar-inverse-link-hover-color;
  }

  @media (min-width: $grid-float-breakpoint) {
    padding: {
      left: 0;
      right: 30px;
    }
  }

  @include icon;
  @include badge;

  &.user {
    height: auto;
    padding: 0;
    width: 80px;

    @media (min-width: $grid-float-breakpoint) {
      float: right;
      width: 70px;
    }

    .avatar {
      float: left;

      img {
        display: block;
        height: 40px;
        width: 40px;
      }
    }

    .more {
      float: left;
      width: 40px;

      @media (min-width: $grid-float-breakpoint) {
        width: 30px;
      }

      .dropdown-toggle {
        color: $navbar-inverse-link-color;
        display: block;
        line-height: 40px;
        padding: {
          left: 13px;
          right: 13px;
        }
        text-align: center;

        @media (min-width: $grid-float-breakpoint) {
          padding: {
            left: 8px;
            right: 8px;
          }
        }
      }

      .dropdown-menu {
        @media (min-width: $grid-float-breakpoint) {
          right: 0;
        }
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {

      .open .dropdown-menu {
        position: relative;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        left: -40px;

        > li > a {
          color: $navbar-inverse-link-color;
          line-height: $line-height-computed;
          padding: 5px 15px;

          &:hover,
          &:focus {
            background: transparent;
            color: $navbar-inverse-link-hover-color;
          }
        }
      }
    }
  }

  &.cart {
    & + .popover {
      .popover-title {display: none;}
    }
  }

  &.notification {
    padding: 0;

    > a {
      color: $navbar-inverse-link-color;
      line-height: 40px;
      padding: 0 18px;

      &:hover,
      &:focus {
        color: $navbar-inverse-link-hover-color;
      }

      @media (min-width: $grid-float-breakpoint) {
        padding: {
          left: 0;
          right: 30px;
        }
      }

      @include icon;
      @include badge;
    }
  }
}

html.no-touch {
	#header {
		margin-bottom: 45px;
		@include MQ(Mplus) { margin-bottom: 74px }
	}
}
.navbar {
  height: 45px;
  min-height: 45px;
  background-color: $navbar-bg;
  background-color: rgba($navbar-bg,.98);
  border: none;
  @include box-shadow(0 1px 5px #555);
  @include box-shadow(0 1px 5px rgba(#000,.1));
}
.navbar-brand {
  margin: 0;
  margin-left: 40px;
  padding: 0 10px 0 20px;
  line-height: 45px;
  img {
    margin-top: 10px;
    padding: 0;
  }
  span.logo {
    display: block;
    font-family: "Orbitron-Bold", sans-serif;
    font-size: 18px;
    vertical-align: middle;
    color: $brand-primary;
    font-weight: 700;
    text-shadow: none;
    line-height: 45px;
    vertical-align: middle;
    letter-spacing: 1px;
  }
}
.navbar-toggle {
  float: right;
  display: block;
  color: #fff;
  border: none;
  @include MQ(Lplus) { display: none }
}
.navbar-collapse {
  width: 100%;
  padding: 0;
  @include MQ(Lplus) {
    width: auto;
      border-top: 0;
      box-shadow: none;
  }
}
@include MQ(Lplus) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}
#nav_primary {
  @include MQ(Mneg) { margin: 0 -15px }
  > li {
    @include MQ(Mneg) {
      float: left;
      width: 20%;
      text-align: center;
    }
    > a {
      display: block;
      margin: 0 auto;
      padding: 0 10px;
      @include MQ(XLplus) { padding: 0 20px }
      font-size: 14px;
      line-height: 45px;
      color: $gray-lighter;
      text-align: center;
      @include transition-property(all);
        @include transition-duration(0.2s);
        @include transition-timing-function(ease);
      &:hover {
        color: $brand-primary;
        background-color: #fafafa;
      }
    }
    &#nav_publish {
      a {
        color: #fff;
        background-color: $brand-primary;
        i {
          display: none;
          @include MQ(XLplus) { display: inline-block }
        }
      }

    }
  }
}
#nav_secondary {
  margin-right: 10px;
  .dropdown.open { background: $navbar-dropdown-bg }
  a.nav_group_more {
    margin: 0;
    padding: 0 18px;
    @include MQ(XLplus) { padding: 0 24px }
    line-height: 45px;
    color: #fff;
    background: none;
    &:hover { 
      color: $blue-light;
      background: $navbar-dropdown-bg;
    }
  }
  .dropdown-menu {
    @include MQ(L) { left: -4px }
    @include MQ(XLplus) { right: 0 }
    width: 180px;
    margin: 0;
    padding: 0;
    background: $navbar-dropdown-bg;
    background: rgba($navbar-dropdown-bg,.99);
    border: none;
    @include box-shadow(0 2px 5px rgba(0,0,0,.1));
    > li {
      height: 40px;

      > a {
        @include clearfix;
        display: block;
        padding: 0;
        padding-left: 4px;
        line-height: 40px;
        color: $gray-lighter;
        text-align: left;
        border-left: 4px solid transparent;
        i {
          width: 20%;
          color: $gray-lighter;
          text-align: center;
          float: left;
        }
        em {
          float: right;
          margin-right: 20px;
        }
        span {
          float: right;
          margin-right: 24px;
          font-size: 12px;
          line-height: 50px;
          color: $blue-light;
          text-align: right;
        }
      }
      &:hover {
        background: $navbar-bg;
        > a {
          color: $blue-light;
          border-left-color: $brand-primary;
          i, span { color: #fff }
        }
      }
      &.all_categories {
        background: $navbar-bg;
        border-radius: 0 0 5px 5px;
      }
    }
  }
}
#navbar_search {
  float: left;
  margin: 0;
  padding: 0;
  width: 11%;
  @include MQ(Lplus) { width: 15% }
  .form-control {
    height: 45px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    line-height: 29px;
    background-color: $navbar-search-bg;
    border: none;
    @include border-radius(0);
    &:focus {
      height: 45px;
      margin: 0;
      line-height: 45px;
      color: $gray-lighter;
      letter-spacing: 1px;
      border-left: 3px solid $brand-primary;
      @include box-shadow(none);
      @include border-radius(0);
    }
  }
  .fa {
    color: #999;
    top: 8px;
    line-height: 29px;
  }
  &.focus {
    width: 42%;
    @include MQ(XLplus) { width: 57% }
    .form-control {
      background-color: rgba(#5e6775,.6);
    }
  }
}
.user_links {
  height: 45px;
  .user_link {
    float: left;
    height: 45px;
    margin: 0;
    padding: 0;
    line-height: 45px;
    color: $gray-lighter;
    &:hover { color: #fff }
    text-align: center;
    background-color: transparent;
    text-decoration: none;
    #notification_trigger {
      color: $gray-lighter;
      &:hover { color: #fff }
    }
    .fa {
      padding: 0;
      line-height: 45px;
    }
    .badge {
      position: absolute;
      top: 50%;
      left: 28px;
      z-index: 1;
      margin-top: -15px;
      padding: 1px 6px;
      font-size: 14px;
      color: #fff;
    }
    .badge_success { background-color: $orange }
    .badge_primary { background-color: $blue-bright }
    .private_messages_count { background-color: $brand-primary }
  }
  .user_link.notification {
    > a {
      padding: 0;
      line-height: 45px;
      color: $gray-lighter;
    }
  }
  #notification_box  {
    .dropdown_box {
      position: absolute;
      top: calc(100% + 10px);
      z-index: 1000;
      width: 300px;
      background-color: $navbar-bg;
      background-color: rgba($navbar-bg,.95);
      border-radius: 0 0 4px 4px;
      box-shadow: none;
      &:before {
        display: inline-block;
        position: absolute;
        top: -5px;
        right: 25px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $navbar-bg;
        content: '';
      }
      > header {
        padding: 0;
        ul {
          li {
            line-height: 20px;
            a {
              color: $gray-lighter;
              background: $navbar-bg;
              border-bottom: 2px solid $navbar-dropdown-bg;
              &:hover {
                color: $brand-primary;
                border-color: $brand-primary;
              }
            }
            &.active {
              a { 
                color: $brand-primary;
                background: $navbar-dropdown-bg;
                &:hover {
                  background: $navbar-dropdown-bg;
                  border-color: $navbar-dropdown-bg;
                  cursor: default;
                }
              }
            }
            .fa { line-height: 20px }
          }
        }
      }
      > section {
        height: 280px;
        min-height: 280px;
        padding: 0;
        overflow: auto;
        background: $navbar-dropdown-bg;
        border: none;
        .notifications li {
          padding: 1em 1.5em;
          line-height: 1.4;
          color: $gray-lighter;
          text-align: left;
          border-bottom: 1px dashed $text-color;
          &:last-child {
            border-bottom: none;
          }
          a {
            margin: 0;
            padding: 0;
            color: $blue-light;
            &:hover {
              color: $blue-bright;
            }
          }
          time {
            float: right;
            line-height: 2;
          }
        }
      }
      > footer {
        padding: 0 2em;
        background-color: $navbar-bg;
        border-radius: 0 0 4px 4px;
        a {
          color: $gray-lighter;
          &:hover {
            color: #fff;
          }
          i { margin-right: 5px }
        }
      }
    }
  }
  .user_link.user {
    float: right;
    width: 70px;
    .dropdown.open { background: $navbar-dropdown-bg }
    .more {
      width: 70px;
      height: 45px;
      .dropdown-toggle {
        background: none;
        &:hover { background: $navbar-dropdown-bg }
        img {
          display: inline-block;
          margin-left: 10px;
          width: 35px;
          height: 35px;
          line-height: 45px;
          @include border-radius(50%);
        }
      }
      .dropdown-menu {
        top: 45px;
        right: 0;
        margin: 0;
        padding: 2em 1.5em;
        background: $navbar-dropdown-bg;
        border-radius: 0 0 0 4px;
        border: none;
        box-shadow: none;
        li {
          margin-bottom: 15px;
          &:last-child { margin-bottom: 0 }
          a {
            display: block;
            padding: 0;
            line-height: 1.25;
            color: $gray-lighter;
            text-align: center;
            font-weight: normal;
            letter-spacing: 3px;
            white-space: nowrap;
            &:hover { color: #fff }
            .fa {
              line-height: 1;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

html.home_index.landing.desktop {
  .navbar-brand {
    .logo {
      display: none;
    }
    .logo-full {
      display: inline-block !important;
      height: 12px;
      position: static;
      vertical-align: 0;
      width: auto;
    }
  }
}

.dropdown-submenu-wrapper {
  display: none;
  left: calc(100% + 1px);
  position: absolute;
  top: 1px;
  width: 175px;
  height: 100%;
}
