html.touch {

  #header {
    $header_inner_height: 44px;

    background-color: $navbar-inverse-bg;
    border-bottom: 1px solid $navbar-inverse-border;
    height: $header_inner_height + 1;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $zindex-navbar;

    h1 {
      height: $header_inner_height;
      margin: 0 auto;
      text-align: center;
      width: 150px;
    }

    .logo {
      color: $navbar-default-brand-color;
      display: block;
      font-size: $font-size-large;
      line-height: $header_inner_height;
      text-shadow: 0 1px 1px #111;
    }

    .btn {
      color: $navbar-inverse-link-color;
      margin-top: -$header_inner_height;
      padding: {
        bottom: 11px;
        top: 11px;
      }
      min-width: 60px;
    }

    .notification {
      position: relative;

      .badge {
        left: 30px;
        position: absolute;
        top: 5px;
      }
    }
  }
}

html.no-touch {
  #header {
    margin-bottom: $navbar-height + $navbar-margin-bottom + $font-size-base;
  }
}

.navbar {
  $navbar-inverse-link-active-bg: #3e4653;

  border: none;
  box-shadow: 0 1px 3px #555;

  .nav,
  .user_link.user {

    .open {

      > a {

        &,
        &:hover,
        &:focus {
          background-color: transparent;

          @media (min-width: $grid-float-breakpoint) {
            background-color: $navbar-inverse-link-active-bg;
          }
        }
      }
    }
  }

  .nav {
    > li {
      &.nav_group {
        @include clearfix;
        > a {
          float: left;
          padding: {
            left: 15px;
            right: 0;
          }

          @media (min-width: $grid-float-breakpoint) and (max-width: $screen-md-max) {
            padding: {
              left: 8px;
            }
          }

          + a {
            padding: {
              left: 10px;
              right: 15px;
            }

            @media (min-width: $grid-float-breakpoint) and (max-width: $screen-md-max) {
              padding: {
                left: 8px;
                right: 8px;
              }
            }
          }
        }
      }
    }
  }

  #nav_publish {
    a {color: white;}
    background-color: $blue;
    margin-left: 15px;
  }

  .dropdown-menu {

    @media (min-width: $grid-float-breakpoint) {
      background-color: $navbar-inverse-link-active-bg;
      border-color: $navbar-inverse-link-active-bg;
      border-radius: 0 0 2px 2px;
      box-shadow: none;
      margin-top: 0;
    }

    > li {

      > a {
        color: $navbar-inverse-link-color;

        &:hover,
        &:focus {
          color: $navbar-inverse-link-hover-color;
          background-color: $navbar-inverse-link-hover-bg;
        }
      }
    }
  }
}

.navbar-brand {
  position: relative;
  margin-left: 40px;
  font-family: "orbitron-bold";

  img {
    position: absolute;
    left: -40px;
    z-index: 100;
    width: 48px;
    height: 48px;
  }

  .logo {
    text-shadow: 0 1px 1px #111;
  }

  .logo-full {
    display: none;
  }
}

.navbar-nav {

  > li {

    > a {
      line-height: 40px;
      padding: 0 15px;

      .badge {
        margin-left: 2px;
        vertical-align: 1px;
      }
    }
  }
}

.navbar-form {
  padding: {left: 0; right: 30px;}
  @media (max-width: $grid-float-breakpoint) {
    border-bottom-width: 0;
    margin-bottom: 0;
  }

  @media (min-width: $grid-float-breakpoint) {
    margin-bottom: 7px;
    margin-top: 7px;
    transition-duration: .2s;
    transition-property: width;
  }

  @media (min-width: $screen-md-min) {
    width: 14%;
  }

  @media (min-width: $grid-float-breakpoint) {
    &.navbar-right:last-child {
      margin-right: 20px;
    }
  }

  &.focus {
    @media (min-width: $grid-float-breakpoint) {
      width: 25%;
    }
  }

  .search {
    margin-bottom: 0;
    width: 100%;

    .form-control {
      background-color: #fcfcfc;
      font-size: 12px;
      height: 26px;
      line-height: 14px;
      padding: {
        bottom: 5px;
        top: 5px;
      }
      width: 100%;

      &:focus {
        background-color: #fff;
      }
    }

    .fa {
      top: 6px;
    }
  }
}

.navbar-collapse {
  padding-top: $padding-large-vertical;

  @media (max-width: $grid-float-breakpoint) {
    max-height: none;
  }

  @media (min-width: $grid-float-breakpoint) {
    padding-top: 0;
  }
}

#nav_primary {

  .fa-comment {
    @media (min-width: $grid-float-breakpoint) {
      vertical-align: baseline;
    }
  }

  @media (max-width: $screen-sm-max) {
    @include clearfix;

    > li {
      float: left;
      text-align: center;
      width: 33.333333%;

      &.nav_group {

        > .dropdown-menu {
          clear: both;
          text-align: left;
        }
      }
    }
  }
}

#nav_secondary {
  margin-right: 15px;
  > li > a {
    padding-left: 15px;
    padding-right: 15px;
    i {margin-right: 0;}
    color: white;
  }

  .dropdown-menu {
    width: 240px;
    padding: 1em 2em 0;
    right: -100px;
  }

  .categories {
    @include clearfix;
    li {
      float: left;
      padding: .5em 0;
      width: 100%;
      text-align: center;
      &:hover {background-color: $gray;}
      a {
        color: white;
        float: left;
        width: 50%;
      }
      em {
        float: right;
        font-style: normal;
        width: 50%;
      }
    }
  }

  .category_more {
    margin: .5em 0 1em;
    text-align: right;
    > a {
      color: white;
    }
  }
}

.user_links {
  @include clearfix;

  margin: ($navbar-padding-vertical / 2) (-$navbar-padding-horizontal);

  @media (min-width: $grid-float-breakpoint) {
    margin: 0;
  }

  &.login {
    border-top: 1px solid darken($navbar-inverse-bg, 7%);
    padding: $padding-small-vertical $padding-large-horizontal;
    padding-bottom: 0;

    @media (min-width: $grid-float-breakpoint) {
      border-top: none;
      padding: 0;
    }
  }

  &.logout {

    .user_link {
      width: auto;

      @media (min-width: $grid-float-breakpoint) {
        padding-right: 20px;
      }
    }
  }
}

.user_link {

  @mixin icon {
    > .fa {
      line-height: 40px;

      @media (min-width: $grid-float-breakpoint) {
        font-size: 1.3333333333333333em;
        vertical-align: middle;

        &.fa-bolt {font-size: 1.25em;}
        &.fa-envelope-o {font-size: 1.2em;}
      }
    }
  }

  @mixin badge {
    > .badge {
      color: #fff;
      font-weight: normal;
      left: 28px;
      margin-top: -12px;
      padding: 1px 6px;
      position: absolute;
      top: 50%;
      z-index: 1;

      @media (min-width: $grid-float-breakpoint) {
        font-size: 14px;
        left: 18px;
      }
    }
  }

  background-color: transparent;
  color: $navbar-inverse-link-color;
  display: block;
  float: left;
  height: 40px;
  padding: 0 18px;
  position: relative;
  width: 50px;

  &:hover {
    color: $navbar-inverse-link-hover-color;
  }

  @media (min-width: $grid-float-breakpoint) {
    padding: {
      left: 0;
      right: 30px;
    }
  }

  @include icon;
  @include badge;

  &.user {
    height: auto;
    padding: 0;
    width: 80px;

    @media (min-width: $grid-float-breakpoint) {
      float: right;
      width: 70px;
    }

    .avatar {
      float: left;

      img {
        display: block;
        height: 40px;
        width: 40px;
      }
    }

    .more {
      float: left;
      width: 40px;

      @media (min-width: $grid-float-breakpoint) {
        width: 30px;
      }

      .dropdown-toggle {
        color: $navbar-inverse-link-color;
        display: block;
        line-height: 40px;
        padding: {
          left: 13px;
          right: 13px;
        }
        text-align: center;

        @media (min-width: $grid-float-breakpoint) {
          padding: {
            left: 8px;
            right: 8px;
          }
        }
      }

      .dropdown-menu {
        @media (min-width: $grid-float-breakpoint) {
          right: 0;
        }
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {

      .open .dropdown-menu {
        position: relative;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        left: -40px;

        > li > a {
          color: $navbar-inverse-link-color;
          line-height: $line-height-computed;
          padding: 5px 15px;

          &:hover,
          &:focus {
            background: transparent;
            color: $navbar-inverse-link-hover-color;
          }
        }
      }
    }
  }

  &.cart {
    & + .popover {
      .popover-title {display: none;}
    }
  }

  &.notification {
    padding: 0;

    > a {
      color: $navbar-inverse-link-color;
      line-height: 40px;
      padding: 0 18px;

      &:hover,
      &:focus {
        color: $navbar-inverse-link-hover-color;
      }

      @media (min-width: $grid-float-breakpoint) {
        padding: {
          left: 0;
          right: 30px;
        }
      }

      @include icon;
      @include badge;
    }
  }
}

html.home_index.landing.desktop {
  .navbar-brand {
    .logo {
      display: none;
    }
    .logo-full {
      display: inline-block !important;
      height: 12px;
      position: static;
      vertical-align: 0;
      width: auto;
    }
  }
}
