.fa-douban:before {
  content: '豆';
  -webkit-font-smoothing: auto;
}

.fa-bong {
  background-image: asset_url("icons/bong-icon.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.fa-alipay {
  background-image: asset_url("icons/alipay-black.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  height: 1em;
  vertical-align: middle;
  width: 1em;
}

.fa-alipay--white {
  background-image: asset_url("icons/alipay-white.png");
}

.fa-desire {
  @extend .fa-heart;

  &:before {
    @extend .fa-heart:before;
  }

  &:after {
    @extend .fa-heart:before;

    font-size: 50%;
    margin-left: -5px;
  }
}

.fa-huaban {
  background-image: asset_url("icons/huaban.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  filter: grayscale(100%);
  height: 1em;
  vertical-align: middle;
  width: 1em;
}
