.fa-douban:before {
  content: 'è±†';
  -webkit-font-smoothing: auto;
}

.fa-bong {
  background-image: asset_url("icons/bong-icon.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  height: 20px;
  width: 20px;
}
