@mixin fa-list-ko {
  content: "\e600";
}

@mixin fa-alipay-ko {
  content: "\e80b";
}

@mixin fa-douban-ko {
  content: "\e80c";
}

@mixin fa-bong-ko {
  content: "\e601";
}

@mixin fa-bong-point-ko {
  content: "\e602";
}

@mixin fa-huaban-ko {
  content: "\e603";
}

@mixin fa-adjust {
  content: "\e604";
}

@mixin fa-adn {
  content: "\e605";
}

@mixin fa-align-center {
  content: "\e606";
}

@mixin fa-align-justify {
  content: "\e607";
}

@mixin fa-align-left {
  content: "\e608";
}

@mixin fa-align-right {
  content: "\e609";
}

@mixin fa-ambulance {
  content: "\e60a";
}

@mixin fa-anchor {
  content: "\e60b";
}

@mixin fa-android {
  content: "\e60c";
}

@mixin fa-angellist {
  content: "\e60d";
}

@mixin fa-angle-double-down {
  content: "\e60e";
}

@mixin fa-angle-double-left {
  content: "\e60f";
}

@mixin fa-angle-double-right {
  content: "\e610";
}

@mixin fa-angle-double-up {
  content: "\e611";
}

@mixin fa-angle-down {
  content: "\e612";
}

@mixin fa-angle-left {
  content: "\e613";
}

@mixin fa-angle-right {
  content: "\e614";
}

@mixin fa-angle-up {
  content: "\e615";
}

@mixin fa-apple {
  content: "\e616";
}

@mixin fa-archive {
  content: "\e617";
}

@mixin fa-area-chart {
  content: "\e618";
}

@mixin fa-arrow-circle-down {
  content: "\e619";
}

@mixin fa-arrow-circle-left {
  content: "\e61a";
}

@mixin fa-arrow-circle-o-down {
  content: "\e61b";
}

@mixin fa-arrow-circle-o-left {
  content: "\e61c";
}

@mixin fa-arrow-circle-o-right {
  content: "\e61d";
}

@mixin fa-arrow-circle-o-up {
  content: "\e61e";
}

@mixin fa-arrow-circle-right {
  content: "\e61f";
}

@mixin fa-arrow-circle-up {
  content: "\e620";
}

@mixin fa-arrow-down {
  content: "\e621";
}

@mixin fa-arrow-left {
  content: "\e622";
}

@mixin fa-arrow-right {
  content: "\e623";
}

@mixin fa-arrow-up {
  content: "\e624";
}

@mixin fa-arrows-alt {
  content: "\e625";
}

@mixin fa-arrows-h {
  content: "\e626";
}

@mixin fa-arrows-v {
  content: "\e627";
}

@mixin fa-arrows {
  content: "\e628";
}

@mixin fa-asterisk {
  content: "\e629";
}

@mixin fa-at {
  content: "\e62a";
}

@mixin fa-backward {
  content: "\e62b";
}

@mixin fa-ban {
  content: "\e62c";
}

@mixin fa-bar-chart {
  content: "\e62d";
}

@mixin fa-barcode {
  content: "\e62e";
}

@mixin fa-bars {
  content: "\e62f";
}

@mixin fa-bed {
  content: "\e630";
}

@mixin fa-beer {
  content: "\e631";
}

@mixin fa-behance-square {
  content: "\e632";
}

@mixin fa-behance {
  content: "\e633";
}

@mixin fa-bell-o {
  content: "\e634";
}

@mixin fa-bell-slash-o {
  content: "\e635";
}

@mixin fa-bell-slash {
  content: "\e636";
}

@mixin fa-bell {
  content: "\e637";
}

@mixin fa-bicycle {
  content: "\e638";
}

@mixin fa-binoculars {
  content: "\e639";
}

@mixin fa-birthday-cake {
  content: "\e63a";
}

@mixin fa-bitbucket-square {
  content: "\e63b";
}

@mixin fa-bitbucket {
  content: "\e63c";
}

@mixin fa-bold {
  content: "\e63d";
}

@mixin fa-bolt {
  content: "\e63e";
}

@mixin fa-bomb {
  content: "\e63f";
}

@mixin fa-book {
  content: "\e640";
}

@mixin fa-bookmark-o {
  content: "\e641";
}

@mixin fa-bookmark {
  content: "\e642";
}

@mixin fa-briefcase {
  content: "\e643";
}

@mixin fa-btc {
  content: "\e644";
}

@mixin fa-bug {
  content: "\e645";
}

@mixin fa-building-o {
  content: "\e646";
}

@mixin fa-building {
  content: "\e647";
}

@mixin fa-bullhorn {
  content: "\e648";
}

@mixin fa-bullseye {
  content: "\e649";
}

@mixin fa-bus {
  content: "\e64a";
}

@mixin fa-buysellads {
  content: "\e64b";
}

@mixin fa-calculator {
  content: "\e64c";
}

@mixin fa-calendar-o {
  content: "\e64d";
}

@mixin fa-calendar {
  content: "\e64e";
}

@mixin fa-camera-retro {
  content: "\e64f";
}

@mixin fa-camera {
  content: "\e650";
}

@mixin fa-car {
  content: "\e651";
}

@mixin fa-caret-down {
  content: "\e652";
}

@mixin fa-caret-left {
  content: "\e653";
}

@mixin fa-caret-right {
  content: "\e654";
}

@mixin fa-caret-square-o-down {
  content: "\e655";
}

@mixin fa-caret-square-o-left {
  content: "\e656";
}

@mixin fa-caret-square-o-right {
  content: "\e657";
}

@mixin fa-caret-square-o-up {
  content: "\e658";
}

@mixin fa-caret-up {
  content: "\e659";
}

@mixin fa-cart-arrow-down {
  content: "\e65a";
}

@mixin fa-cart-plus {
  content: "\e65b";
}

@mixin fa-cc-amex {
  content: "\e65c";
}

@mixin fa-cc-discover {
  content: "\e65d";
}

@mixin fa-cc-mastercard {
  content: "\e65e";
}

@mixin fa-cc-paypal {
  content: "\e65f";
}

@mixin fa-cc-stripe {
  content: "\e660";
}

@mixin fa-cc-visa {
  content: "\e661";
}

@mixin fa-cc {
  content: "\e662";
}

@mixin fa-certificate {
  content: "\e663";
}

@mixin fa-chain-broken {
  content: "\e664";
}

@mixin fa-check-circle-o {
  content: "\e665";
}

@mixin fa-check-circle {
  content: "\e666";
}

@mixin fa-check-square-o {
  content: "\e667";
}

@mixin fa-check-square {
  content: "\e668";
}

@mixin fa-check {
  content: "\e669";
}

@mixin fa-chevron-circle-down {
  content: "\e66a";
}

@mixin fa-chevron-circle-left {
  content: "\e66b";
}

@mixin fa-chevron-circle-right {
  content: "\e66c";
}

@mixin fa-chevron-circle-up {
  content: "\e66d";
}

@mixin fa-chevron-down {
  content: "\e66e";
}

@mixin fa-chevron-left {
  content: "\e66f";
}

@mixin fa-chevron-right {
  content: "\e670";
}

@mixin fa-chevron-up {
  content: "\e671";
}

@mixin fa-child {
  content: "\e672";
}

@mixin fa-circle-o-notch {
  content: "\e673";
}

@mixin fa-circle-o {
  content: "\e674";
}

@mixin fa-circle-thin {
  content: "\e675";
}

@mixin fa-circle {
  content: "\e676";
}

@mixin fa-clipboard {
  content: "\e677";
}

@mixin fa-clock-o {
  content: "\e678";
}

@mixin fa-cloud-download {
  content: "\e679";
}

@mixin fa-cloud-upload {
  content: "\e67a";
}

@mixin fa-cloud {
  content: "\e67b";
}

@mixin fa-code-fork {
  content: "\e67c";
}

@mixin fa-code {
  content: "\e67d";
}

@mixin fa-codepen {
  content: "\e67e";
}

@mixin fa-coffee {
  content: "\e67f";
}

@mixin fa-cog {
  content: "\e680";
}

@mixin fa-cogs {
  content: "\e681";
}

@mixin fa-columns {
  content: "\e682";
}

@mixin fa-comment-o {
  content: "\e683";
}

@mixin fa-comment {
  content: "\e684";
}

@mixin fa-comments-o {
  content: "\e685";
}

@mixin fa-comments {
  content: "\e686";
}

@mixin fa-compass {
  content: "\e687";
}

@mixin fa-compress {
  content: "\e688";
}

@mixin fa-connectdevelop {
  content: "\e689";
}

@mixin fa-copyright {
  content: "\e68a";
}

@mixin fa-credit-card {
  content: "\e68b";
}

@mixin fa-crop {
  content: "\e68c";
}

@mixin fa-crosshairs {
  content: "\e68d";
}

@mixin fa-css3 {
  content: "\e68e";
}

@mixin fa-cube {
  content: "\e68f";
}

@mixin fa-cubes {
  content: "\e690";
}

@mixin fa-cutlery {
  content: "\e691";
}

@mixin fa-dashcube {
  content: "\e692";
}

@mixin fa-database {
  content: "\e693";
}

@mixin fa-delicious {
  content: "\e694";
}

@mixin fa-desktop {
  content: "\e695";
}

@mixin fa-deviantart {
  content: "\e696";
}

@mixin fa-diamond {
  content: "\e697";
}

@mixin fa-digg {
  content: "\e698";
}

@mixin fa-dot-circle-o {
  content: "\e699";
}

@mixin fa-download {
  content: "\e69a";
}

@mixin fa-dribbble {
  content: "\e69b";
}

@mixin fa-dropbox {
  content: "\e69c";
}

@mixin fa-drupal {
  content: "\e69d";
}

@mixin fa-eject {
  content: "\e69e";
}

@mixin fa-ellipsis-h {
  content: "\e69f";
}

@mixin fa-ellipsis-v {
  content: "\e6a0";
}

@mixin fa-empire {
  content: "\e6a1";
}

@mixin fa-envelope-o {
  content: "\e6a2";
}

@mixin fa-envelope-square {
  content: "\e6a3";
}

@mixin fa-envelope {
  content: "\e6a4";
}

@mixin fa-eraser {
  content: "\e6a5";
}

@mixin fa-eur {
  content: "\e6a6";
}

@mixin fa-exchange {
  content: "\e6a7";
}

@mixin fa-exclamation-circle {
  content: "\e6a8";
}

@mixin fa-exclamation-triangle {
  content: "\e6a9";
}

@mixin fa-exclamation {
  content: "\e6aa";
}

@mixin fa-expand {
  content: "\e6ab";
}

@mixin fa-external-link-square {
  content: "\e6ac";
}

@mixin fa-external-link {
  content: "\e6ad";
}

@mixin fa-eye-slash {
  content: "\e6ae";
}

@mixin fa-eye {
  content: "\e6af";
}

@mixin fa-eyedropper {
  content: "\e6b0";
}

@mixin fa-facebook-official {
  content: "\e6b1";
}

@mixin fa-facebook-square {
  content: "\e6b2";
}

@mixin fa-facebook {
  content: "\e6b3";
}

@mixin fa-fast-backward {
  content: "\e6b4";
}

@mixin fa-fast-forward {
  content: "\e6b5";
}

@mixin fa-fax {
  content: "\e6b6";
}

@mixin fa-female {
  content: "\e6b7";
}

@mixin fa-fighter-jet {
  content: "\e6b8";
}

@mixin fa-file-archive-o {
  content: "\e6b9";
}

@mixin fa-file-audio-o {
  content: "\e6ba";
}

@mixin fa-file-code-o {
  content: "\e6bb";
}

@mixin fa-file-excel-o {
  content: "\e6bc";
}

@mixin fa-file-image-o {
  content: "\e6bd";
}

@mixin fa-file-o {
  content: "\e6be";
}

@mixin fa-file-pdf-o {
  content: "\e6bf";
}

@mixin fa-file-powerpoint-o {
  content: "\e6c0";
}

@mixin fa-file-text-o {
  content: "\e6c1";
}

@mixin fa-file-text {
  content: "\e6c2";
}

@mixin fa-file-video-o {
  content: "\e6c3";
}

@mixin fa-file-word-o {
  content: "\e6c4";
}

@mixin fa-file {
  content: "\e6c5";
}

@mixin fa-files-o {
  content: "\e6c6";
}

@mixin fa-film {
  content: "\e6c7";
}

@mixin fa-filter {
  content: "\e6c8";
}

@mixin fa-fire-extinguisher {
  content: "\e6c9";
}

@mixin fa-fire {
  content: "\e6ca";
}

@mixin fa-flag-checkered {
  content: "\e6cb";
}

@mixin fa-flag-o {
  content: "\e6cc";
}

@mixin fa-flag {
  content: "\e6cd";
}

@mixin fa-flask {
  content: "\e6ce";
}

@mixin fa-flickr {
  content: "\e6cf";
}

@mixin fa-floppy-o {
  content: "\e6d0";
}

@mixin fa-folder-o {
  content: "\e6d1";
}

@mixin fa-folder-open-o {
  content: "\e6d2";
}

@mixin fa-folder-open {
  content: "\e6d3";
}

@mixin fa-folder {
  content: "\e6d4";
}

@mixin fa-font {
  content: "\e6d5";
}

@mixin fa-forumbee {
  content: "\e6d6";
}

@mixin fa-forward {
  content: "\e6d7";
}

@mixin fa-foursquare {
  content: "\e6d8";
}

@mixin fa-frown-o {
  content: "\e6d9";
}

@mixin fa-futbol-o {
  content: "\e6da";
}

@mixin fa-gamepad {
  content: "\e6db";
}

@mixin fa-gavel {
  content: "\e6dc";
}

@mixin fa-gbp {
  content: "\e6dd";
}

@mixin fa-gift {
  content: "\e6de";
}

@mixin fa-git-square {
  content: "\e6df";
}

@mixin fa-git {
  content: "\e6e0";
}

@mixin fa-github-alt {
  content: "\e6e1";
}

@mixin fa-github-square {
  content: "\e6e2";
}

@mixin fa-github {
  content: "\e6e3";
}

@mixin fa-glass {
  content: "\e6e4";
}

@mixin fa-globe {
  content: "\e6e5";
}

@mixin fa-google-plus-square {
  content: "\e6e6";
}

@mixin fa-google-plus {
  content: "\e6e7";
}

@mixin fa-google-wallet {
  content: "\e6e8";
}

@mixin fa-google {
  content: "\e6e9";
}

@mixin fa-graduation-cap {
  content: "\e6ea";
}

@mixin fa-gratipay {
  content: "\e6eb";
}

@mixin fa-h-square {
  content: "\e6ec";
}

@mixin fa-hacker-news {
  content: "\e6ed";
}

@mixin fa-hand-o-down {
  content: "\e6ee";
}

@mixin fa-hand-o-left {
  content: "\e6ef";
}

@mixin fa-hand-o-right {
  content: "\e6f0";
}

@mixin fa-hand-o-up {
  content: "\e6f1";
}

@mixin fa-hdd-o {
  content: "\e6f2";
}

@mixin fa-header {
  content: "\e6f3";
}

@mixin fa-headphones {
  content: "\e6f4";
}

@mixin fa-heart-o {
  content: "\e6f5";
}

@mixin fa-heart {
  content: "\e6f6";
}

@mixin fa-heartbeat {
  content: "\e6f7";
}

@mixin fa-history {
  content: "\e6f8";
}

@mixin fa-home {
  content: "\e6f9";
}

@mixin fa-hospital-o {
  content: "\e6fa";
}

@mixin fa-html5 {
  content: "\e6fb";
}

@mixin fa-ils {
  content: "\e6fc";
}

@mixin fa-inbox {
  content: "\e6fd";
}

@mixin fa-indent {
  content: "\e6fe";
}

@mixin fa-info-circle {
  content: "\e6ff";
}

@mixin fa-info {
  content: "\e700";
}

@mixin fa-inr {
  content: "\e701";
}

@mixin fa-instagram {
  content: "\e702";
}

@mixin fa-ioxhost {
  content: "\e703";
}

@mixin fa-italic {
  content: "\e704";
}

@mixin fa-joomla {
  content: "\e705";
}

@mixin fa-jpy {
  content: "\e706";
}

@mixin fa-jsfiddle {
  content: "\e707";
}

@mixin fa-key {
  content: "\e708";
}

@mixin fa-keyboard-o {
  content: "\e709";
}

@mixin fa-krw {
  content: "\e70a";
}

@mixin fa-language {
  content: "\e70b";
}

@mixin fa-laptop {
  content: "\e70c";
}

@mixin fa-lastfm-square {
  content: "\e70d";
}

@mixin fa-lastfm {
  content: "\e70e";
}

@mixin fa-leaf {
  content: "\e70f";
}

@mixin fa-leanpub {
  content: "\e710";
}

@mixin fa-lemon-o {
  content: "\e711";
}

@mixin fa-level-down {
  content: "\e712";
}

@mixin fa-level-up {
  content: "\e713";
}

@mixin fa-life-ring {
  content: "\e714";
}

@mixin fa-lightbulb-o {
  content: "\e715";
}

@mixin fa-line-chart {
  content: "\e716";
}

@mixin fa-link {
  content: "\e717";
}

@mixin fa-linkedin-square {
  content: "\e718";
}

@mixin fa-linkedin {
  content: "\e719";
}

@mixin fa-linux {
  content: "\e71a";
}

@mixin fa-list-alt {
  content: "\e71b";
}

@mixin fa-list-ol {
  content: "\e71c";
}

@mixin fa-list-ul {
  content: "\e71d";
}

@mixin fa-list {
  content: "\e71e";
}

@mixin fa-location-arrow {
  content: "\e71f";
}

@mixin fa-lock {
  content: "\e720";
}

@mixin fa-long-arrow-down {
  content: "\e721";
}

@mixin fa-long-arrow-left {
  content: "\e722";
}

@mixin fa-long-arrow-right {
  content: "\e723";
}

@mixin fa-long-arrow-up {
  content: "\e724";
}

@mixin fa-magic {
  content: "\e725";
}

@mixin fa-magnet {
  content: "\e726";
}

@mixin fa-male {
  content: "\e727";
}

@mixin fa-map-marker {
  content: "\e728";
}

@mixin fa-mars-double {
  content: "\e729";
}

@mixin fa-mars-stroke-h {
  content: "\e72a";
}

@mixin fa-mars-stroke-v {
  content: "\e72b";
}

@mixin fa-mars-stroke {
  content: "\e72c";
}

@mixin fa-mars {
  content: "\e72d";
}

@mixin fa-maxcdn {
  content: "\e72e";
}

@mixin fa-meanpath {
  content: "\e72f";
}

@mixin fa-medium {
  content: "\e730";
}

@mixin fa-medkit {
  content: "\e731";
}

@mixin fa-meh-o {
  content: "\e732";
}

@mixin fa-mercury {
  content: "\e733";
}

@mixin fa-microphone-slash {
  content: "\e734";
}

@mixin fa-microphone {
  content: "\e735";
}

@mixin fa-minus-circle {
  content: "\e736";
}

@mixin fa-minus-square-o {
  content: "\e737";
}

@mixin fa-minus-square {
  content: "\e738";
}

@mixin fa-minus {
  content: "\e739";
}

@mixin fa-mobile {
  content: "\e73a";
}

@mixin fa-money {
  content: "\e73b";
}

@mixin fa-moon-o {
  content: "\e73c";
}

@mixin fa-motorcycle {
  content: "\e73d";
}

@mixin fa-music {
  content: "\e73e";
}

@mixin fa-neuter {
  content: "\e73f";
}

@mixin fa-newspaper-o {
  content: "\e740";
}

@mixin fa-openid {
  content: "\e741";
}

@mixin fa-outdent {
  content: "\e742";
}

@mixin fa-pagelines {
  content: "\e743";
}

@mixin fa-paint-brush {
  content: "\e744";
}

@mixin fa-paper-plane-o {
  content: "\e745";
}

@mixin fa-paper-plane {
  content: "\e746";
}

@mixin fa-paperclip {
  content: "\e747";
}

@mixin fa-paragraph {
  content: "\e748";
}

@mixin fa-pause {
  content: "\e749";
}

@mixin fa-paw {
  content: "\e74a";
}

@mixin fa-paypal {
  content: "\e74b";
}

@mixin fa-pencil-square-o {
  content: "\e74c";
}

@mixin fa-pencil-square {
  content: "\e74d";
}

@mixin fa-pencil {
  content: "\e74e";
}

@mixin fa-phone-square {
  content: "\e74f";
}

@mixin fa-phone {
  content: "\e750";
}

@mixin fa-picture-o {
  content: "\e751";
}

@mixin fa-pie-chart {
  content: "\e752";
}

@mixin fa-pied-piper-alt {
  content: "\e753";
}

@mixin fa-pied-piper {
  content: "\e754";
}

@mixin fa-pinterest-p {
  content: "\e755";
}

@mixin fa-pinterest-square {
  content: "\e756";
}

@mixin fa-pinterest {
  content: "\e757";
}

@mixin fa-plane {
  content: "\e758";
}

@mixin fa-play-circle-o {
  content: "\e759";
}

@mixin fa-play-circle {
  content: "\e75a";
}

@mixin fa-play {
  content: "\e75b";
}

@mixin fa-plug {
  content: "\e75c";
}

@mixin fa-plus-circle {
  content: "\e75d";
}

@mixin fa-plus-square-o {
  content: "\e75e";
}

@mixin fa-plus-square {
  content: "\e75f";
}

@mixin fa-plus {
  content: "\e760";
}

@mixin fa-power-off {
  content: "\e761";
}

@mixin fa-print {
  content: "\e762";
}

@mixin fa-puzzle-piece {
  content: "\e763";
}

@mixin fa-qq {
  content: "\e764";
}

@mixin fa-qrcode {
  content: "\e765";
}

@mixin fa-question-circle {
  content: "\e766";
}

@mixin fa-question {
  content: "\e767";
}

@mixin fa-quote-left {
  content: "\e768";
}

@mixin fa-quote-right {
  content: "\e769";
}

@mixin fa-random {
  content: "\e76a";
}

@mixin fa-rebel {
  content: "\e76b";
}

@mixin fa-recycle {
  content: "\e76c";
}

@mixin fa-reddit-square {
  content: "\e76d";
}

@mixin fa-reddit {
  content: "\e76e";
}

@mixin fa-refresh {
  content: "\e76f";
}

@mixin fa-renren {
  content: "\e770";
}

@mixin fa-repeat {
  content: "\e771";
}

@mixin fa-reply-all {
  content: "\e772";
}

@mixin fa-reply {
  content: "\e773";
}

@mixin fa-retweet {
  content: "\e774";
}

@mixin fa-road {
  content: "\e775";
}

@mixin fa-rocket {
  content: "\e776";
}

@mixin fa-rss-square {
  content: "\e777";
}

@mixin fa-rss {
  content: "\e778";
}

@mixin fa-rub {
  content: "\e779";
}

@mixin fa-scissors {
  content: "\e77a";
}

@mixin fa-search-minus {
  content: "\e77b";
}

@mixin fa-search-plus {
  content: "\e77c";
}

@mixin fa-search {
  content: "\e77d";
}

@mixin fa-sellsy {
  content: "\e77e";
}

@mixin fa-server {
  content: "\e77f";
}

@mixin fa-share-alt-square {
  content: "\e780";
}

@mixin fa-share-alt {
  content: "\e781";
}

@mixin fa-share-square-o {
  content: "\e782";
}

@mixin fa-share-square {
  content: "\e783";
}

@mixin fa-share {
  content: "\e784";
}

@mixin fa-shield {
  content: "\e785";
}

@mixin fa-ship {
  content: "\e786";
}

@mixin fa-shirtsinbulk {
  content: "\e787";
}

@mixin fa-shopping-cart {
  content: "\e788";
}

@mixin fa-sign-in {
  content: "\e789";
}

@mixin fa-sign-out {
  content: "\e78a";
}

@mixin fa-signal {
  content: "\e78b";
}

@mixin fa-simplybuilt {
  content: "\e78c";
}

@mixin fa-sitemap {
  content: "\e78d";
}

@mixin fa-skyatlas {
  content: "\e78e";
}

@mixin fa-skype {
  content: "\e78f";
}

@mixin fa-slack {
  content: "\e790";
}

@mixin fa-sliders {
  content: "\e791";
}

@mixin fa-slideshare {
  content: "\e792";
}

@mixin fa-smile-o {
  content: "\e793";
}

@mixin fa-sort-alpha-asc {
  content: "\e794";
}

@mixin fa-sort-alpha-desc {
  content: "\e795";
}

@mixin fa-sort-amount-asc {
  content: "\e796";
}

@mixin fa-sort-amount-desc {
  content: "\e797";
}

@mixin fa-sort-asc {
  content: "\e798";
}

@mixin fa-sort-desc {
  content: "\e799";
}

@mixin fa-sort-numeric-asc {
  content: "\e79a";
}

@mixin fa-sort-numeric-desc {
  content: "\e79b";
}

@mixin fa-sort {
  content: "\e79c";
}

@mixin fa-soundcloud {
  content: "\e79d";
}

@mixin fa-space-shuttle {
  content: "\e79e";
}

@mixin fa-spinner {
  content: "\e79f";
}

@mixin fa-spoon {
  content: "\e7a0";
}

@mixin fa-spotify {
  content: "\e7a1";
}

@mixin fa-square-o {
  content: "\e7a2";
}

@mixin fa-square {
  content: "\e7a3";
}

@mixin fa-stack-exchange {
  content: "\e7a4";
}

@mixin fa-stack-overflow {
  content: "\e7a5";
}

@mixin fa-star-half-o {
  content: "\e7a6";
}

@mixin fa-star-half {
  content: "\e7a7";
}

@mixin fa-star-o {
  content: "\e7a8";
}

@mixin fa-star {
  content: "\e7a9";
}

@mixin fa-steam-square {
  content: "\e7aa";
}

@mixin fa-steam {
  content: "\e7ab";
}

@mixin fa-step-backward {
  content: "\e7ac";
}

@mixin fa-step-forward {
  content: "\e7ad";
}

@mixin fa-stethoscope {
  content: "\e7ae";
}

@mixin fa-stop {
  content: "\e7af";
}

@mixin fa-street-view {
  content: "\e7b0";
}

@mixin fa-strikethrough {
  content: "\e7b1";
}

@mixin fa-stumbleupon-circle {
  content: "\e7b2";
}

@mixin fa-stumbleupon {
  content: "\e7b3";
}

@mixin fa-subscript {
  content: "\e7b4";
}

@mixin fa-subway {
  content: "\e7b5";
}

@mixin fa-suitcase {
  content: "\e7b6";
}

@mixin fa-sun-o {
  content: "\e7b7";
}

@mixin fa-superscript {
  content: "\e7b8";
}

@mixin fa-table {
  content: "\e7b9";
}

@mixin fa-tablet {
  content: "\e7ba";
}

@mixin fa-tachometer {
  content: "\e7bb";
}

@mixin fa-tag {
  content: "\e7bc";
}

@mixin fa-tags {
  content: "\e7bd";
}

@mixin fa-tasks {
  content: "\e7be";
}

@mixin fa-taxi {
  content: "\e7bf";
}

@mixin fa-tencent-weibo {
  content: "\e7c0";
}

@mixin fa-terminal {
  content: "\e7c1";
}

@mixin fa-text-height {
  content: "\e7c2";
}

@mixin fa-text-width {
  content: "\e7c3";
}

@mixin fa-th-large {
  content: "\e7c4";
}

@mixin fa-th-list {
  content: "\e7c5";
}

@mixin fa-th {
  content: "\e7c6";
}

@mixin fa-thumb-tack {
  content: "\e7c7";
}

@mixin fa-thumbs-down {
  content: "\e7c8";
}

@mixin fa-thumbs-o-down {
  content: "\e7c9";
}

@mixin fa-thumbs-o-up {
  content: "\e7ca";
}

@mixin fa-thumbs-up {
  content: "\e7cb";
}

@mixin fa-ticket {
  content: "\e7cc";
}

@mixin fa-times-circle-o {
  content: "\e7cd";
}

@mixin fa-times-circle {
  content: "\e7ce";
}

@mixin fa-times {
  content: "\e7cf";
}

@mixin fa-tint {
  content: "\e7d0";
}

@mixin fa-toggle-off {
  content: "\e7d1";
}

@mixin fa-toggle-on {
  content: "\e7d2";
}

@mixin fa-train {
  content: "\e7d3";
}

@mixin fa-transgender-alt {
  content: "\e7d4";
}

@mixin fa-transgender {
  content: "\e7d5";
}

@mixin fa-trash-o {
  content: "\e7d6";
}

@mixin fa-trash {
  content: "\e7d7";
}

@mixin fa-tree {
  content: "\e7d8";
}

@mixin fa-trello {
  content: "\e7d9";
}

@mixin fa-trophy {
  content: "\e7da";
}

@mixin fa-truck {
  content: "\e7db";
}

@mixin fa-try {
  content: "\e7dc";
}

@mixin fa-tty {
  content: "\e7dd";
}

@mixin fa-tumblr-square {
  content: "\e7de";
}

@mixin fa-tumblr {
  content: "\e7df";
}

@mixin fa-twitch {
  content: "\e7e0";
}

@mixin fa-twitter-square {
  content: "\e7e1";
}

@mixin fa-twitter {
  content: "\e7e2";
}

@mixin fa-umbrella {
  content: "\e7e3";
}

@mixin fa-underline {
  content: "\e7e4";
}

@mixin fa-undo {
  content: "\e7e5";
}

@mixin fa-university {
  content: "\e7e6";
}

@mixin fa-unlock-alt {
  content: "\e7e7";
}

@mixin fa-unlock {
  content: "\e7e8";
}

@mixin fa-upload {
  content: "\e7e9";
}

@mixin fa-usd {
  content: "\e7ea";
}

@mixin fa-user-md {
  content: "\e7eb";
}

@mixin fa-user-plus {
  content: "\e7ec";
}

@mixin fa-user-secret {
  content: "\e7ed";
}

@mixin fa-user-times {
  content: "\e7ee";
}

@mixin fa-user {
  content: "\e7ef";
}

@mixin fa-users {
  content: "\e7f0";
}

@mixin fa-venus-double {
  content: "\e7f1";
}

@mixin fa-venus-mars {
  content: "\e7f2";
}

@mixin fa-venus {
  content: "\e7f3";
}

@mixin fa-viacoin {
  content: "\e7f4";
}

@mixin fa-video-camera {
  content: "\e7f5";
}

@mixin fa-vimeo-square {
  content: "\e7f6";
}

@mixin fa-vine {
  content: "\e7f7";
}

@mixin fa-vk {
  content: "\e7f8";
}

@mixin fa-volume-down {
  content: "\e7f9";
}

@mixin fa-volume-off {
  content: "\e7fa";
}

@mixin fa-volume-up {
  content: "\e7fb";
}

@mixin fa-weibo {
  content: "\e7fc";
}

@mixin fa-weixin {
  content: "\e7fd";
}

@mixin fa-whatsapp {
  content: "\e7fe";
}

@mixin fa-wheelchair {
  content: "\e7ff";
}

@mixin fa-wifi {
  content: "\e800";
}

@mixin fa-windows {
  content: "\e801";
}

@mixin fa-wordpress {
  content: "\e802";
}

@mixin fa-wrench {
  content: "\e803";
}

@mixin fa-xing-square {
  content: "\e804";
}

@mixin fa-xing {
  content: "\e805";
}

@mixin fa-yahoo {
  content: "\e806";
}

@mixin fa-yelp {
  content: "\e807";
}

@mixin fa-youtube-play {
  content: "\e808";
}

@mixin fa-youtube-square {
  content: "\e809";
}

@mixin fa-youtube {
  content: "\e80a";
}