#login-modal {
  .modal-dialog {
    @include MQ(Mplus) { width: 500px }
    margin-top: -1px;
  }
  .modal-content {
    background-color: #fafafa;
    border: none;
    border-radius: 4px;
    @include box-shadow(0 0 10px rgba(0,0,0,.2));
  }
  .modal-header {
    padding: 0;
    border: none;
    ul li {
      float: left;
      width: 50%;
      height: 50px;
      @include MQ(Mplus) { height: 60px }
      margin: 0;
      padding: 0;
      background: $blue;
      border: none;
      @include box-shadow(inset rgba(0,0,0,.1) 0 0 5px);
      a {
        display: block;
        padding: 0 20px;
        font-size: 1.2em;
        line-height: 50px;
        @include MQ(Mplus) { line-height: 60px }
        color: #fafafa;
        letter-spacing: 2px;
        &:hover {
          color: #fafafa;
          background: #588cc7;
        }
        span {
          @include MQ(Sneg) { display: none }
          margin-left: 10px;
          font-family: "Helvetica Neue";
          font-weight: lighter;
          text-transform: uppercase;
        }
      }
      &.active {
        background: #fafafa;
        border: none;
        @include box-shadow(none);
        a {
          color: $blue;
          font-weight: bold;
          &:hover {
            color: $blue;
            Background: transparent;
          }
        }
      }
    }
  }
  .modal-body {
    padding: 30px 30px 0 30px;
    @include MQ(Mplus) { padding: 30px 30px 20px 30px }
    .form-group {
      margin-bottom: 20px;
      .form-action {
        margin-top: 20px;
        input {
          background: $blue;
          border: none;
          border-radius: 4px;
          &:hover { background: #588cc7 }
        }
      }
    }
    .input-group {
      width: 100%;
      height: 50px;
    }
    .input-group-addon {
      width: 50px;
      height: 50px;
      padding: 0;
      line-height: 50px;
      color: #fff;
      text-align: center;
      background-color: $blue;
      border: none;
      @include border-radius(0);
      @include border-corner-radius(top,left,5px);
      @include border-corner-radius(bottom,left,5px);
      i {
        display: block;
        margin: 0;
        padding: 0;
      }
    }
    .form-control {
      height: 50px;
      line-height: 50px;
      letter-spacing: 1px;
      border: 1px solid #e7e7e7;
      @include border-radius(0);
      @include border-corner-radius(top,right,5px);
      @include border-corner-radius(bottom,right,5px);
      &:focus {
        background: #fff;
        border-color: $blue;
        outline: 0;
        @include box-shadow(inset 0 1px 1px rgba(0,0,0,.05), 0 0 8px rgba(102, 175, 233, .6));
      }
    }
    .form-group.addon {
      &:before,
      &:after {
        content:" ";
        display:table;
      }
      &:after { clear:both }
      > div {
        float: right;
        div {
          display: inline-block;
          min-height: 20px;
          padding: 0;
          label {
            color: #949494;
            font-weight: normal;
          }
        }
      }
      a {
        margin-left: 20px;
        i {
          margin: 0;
          margin-right: 5px;
        }
      }
    }
    .user_agreement {
      text-align: right;
      label {
        color: #949494;
        font-weight: normal;
      }
      a {
        i { margin: 0 5px }
        span {
          margin-right: 5px;
          font-family: "Orbitron-Bold";
        }
      }
    }
    .alert {
      color: #ddd;
      background-color: #404b53;
      border-color: #181818;
    }
    .social_sign_in {
      > span {
        display: block;
        line-height: 40px;
        color: $blue;
        text-align: center;
        i { margin-left: 10px }
      }
      div {
        margin: 0 auto;
        margin-top: 10px;
        text-align: center;
        a {
          display: inline-block;
          width: 40px;
          height: 40px;
          margin-right: 8px;
          text-align: center;
          background: $blue;
          vertical-align: middle;
          @include border-radius(4px);
          @media (min-width: $screen-sm-min) {
            margin-right: 10px;
          }
          &:hover {
            background: #588cc7;
          }
          i {
            display: block;
            margin: 0 auto;
            font-size: 1.5em;
            line-height: 40px;
            color: #fff;

            &.fa-bong {
              height: 22px;
              margin-top: 9px;
              width: 22px;
            }
          }
        }
      }
      @include MQ(Mplus) {
        margin-top: 40px;
        @include clearfix;
        > span {
          float: left;
        }
        div {
          float: right;
          display: inline-block;
          margin-top: 0;
          a {
            margin-left: 10px;
            margin-right: 0;
          }
        }
      }
    }
  }
  .modal-footer {
    position: relative;
    width: 100%;
    padding: 0 30px 20px 30px;
    @include MQ(Mneg) { padding-top: 20px }
    border: none;
    text-align: right;
    button {
      padding: 0;
      font-size: 1em;
      color: #949494;
      text-align: center;
      background: none;
      border: none;
      &:hover { color: #588cc7 }
      &:focus { outline: none }
    }
  }
}
