#login-modal,
#find_password_modal {
  .modal-dialog {
    @media (max-width: $screen-sm-max) {
      margin: {
        left: 0;
        right: 0;
      }
    }
  }

  .modal-content {
    background-color: #f6f6f6;
    border-radius: 0;
    padding-top: 25px;

    > .close {
      float: none;
      height: 30px;
      position: absolute;
      right: 5px;
      text-align: center;
      top: 4px;
      width: 30px;
    }

    @media (min-width: $screen-sm-min) {
      border-radius: 10px;
      padding: {
        left: 30px;
        right: 30px;
      }
    }
  }

  .modal-body {
    padding: 0;
  }

  .form-main {
    .form-group {
      padding: {
        left: 0;
        right: 0;
      }
    }

    @media (min-width: $screen-sm-min) {
      @include make-row;

      .col-sm-4 {
        padding: {
          left: 5px;
          right: 5px;
        }
      }

      .col-sm-6 {
        padding: {
          left: 10px;
          right: 10px;
        }
      }
    }
  }

  legend {
    border-bottom: 0;
    color: #9a9a9a;
    font-size: 18px;
    text-align: center;

    @media (min-width: $screen-sm-min) {
      text-align: left;
    }
  }

  .form-group {
    margin-bottom: 15px;

    &.addon {
      padding: {
        bottom: 0;
        left: 35px;
        right: 35px;
      }

      @media (min-width: $screen-sm-min) {
        text-align: center;

        .checkbox,
        > a {
          display: inline-block;
          float: none !important;
          padding: {
            left: 30px;
            right: 30px;
          }
          width: 160px;
        }
      }
    }

    &.is-invalid {
      margin-bottom: 8px;

      > label,
      .form-control,
      .help-block {
        color: $red;
      }

      .help-block {
        margin-bottom: 0;
      }
    }
  }

  .form-control {
    @include placeholder-color(#B6BABF);
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #79acd9;
    height: 44px;
    line-height: 44px;

    &:focus {
      box-shadow: 0 1px 0 0 $blue;
    }
  }

  .help-block {
    padding: 0 12px;
  }

  .checkbox {
    & ~ a {
      display: inline-block;
      margin: {
        bottom: 10px;
        top: 10px;
      }
    }
  }

  .form-results {
    color: $red;
    text-align: center;
  }

  .form-actions {
    padding-top: 15px;
    text-align: center;
  }

  [type="submit"] {
    border-radius: 15px;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    width: 220px;
  }

  .section-footer {
    padding: 20px;
    text-align: center;

    @media (min-width: $screen-sm-min) {
      border-top: 1px solid #79acd9;
    }

    a {
      color: #79acd9;
      display: block;

      .logo {
        color: #79acd9;
        margin-left: .25em;
      }
    }

    .fa-angle-left  { margin-right: .5em; }
    .fa-angle-right { margin-left: .5em; }
  }

  .auth {
    margin-bottom: 10px;
    text-align: center;

    > h6 {
      color: #9a9a9a;
      font-size: 14px;
    }

    > p {
      margin-bottom: 0;
    }

    @media (min-width: $screen-sm-min) {
      margin: {
        bottom: 20px;
        top: 10px;
      }

      > h6 {
        display: inline-block;
        line-height: 40px;
        margin: 0 30px 0 0;
      }

      > p {
        display: inline-block;
      }
    }
  }

  .modal-dialog_wrapper {

    &.is-flipped {
      .modal-dialog--front { display: none; }
      .modal-dialog--back  { display: block; }
    }
  }

  .modal-dialog--back {
    display: none;
  }

  .modal-dialog--signup {
    .auth {
      display: none;

      @media (min-width: $screen-sm-min) {
        display: block;
      }
    }
  }
}

html.csstransforms3d {
  #login-modal {
    perspective: 800px;

    .modal-dialog_wrapper {
      overflow: visible;
      position: relative;
      transform-style: preserve-3d;
      transition: transform .25s;

      &.is-flipped {
        transform: rotateY(180deg);
      }
    }

    .modal-dialog {
      backface-visibility: hidden;
      display: block !important;
      left: 0;
      margin: {
        left: auto;
        right: auto;
      }
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;

      @media (min-width: $screen-sm-min) {
        max-width: 720px;
        width: auto;
      }
    }

    .modal-dialog--back {
      transform: translate3d(0, 0, 0) rotateY(180deg);
    }
  }
}

#find_password_modal {
  .modal-dialog {
    margin: {
      left: auto;
      right: auto;
    }
  }

  .form-actions {
    @media (min-width: $screen-sm-min) {
      padding-top: 0;
      text-align: right;
    }
  }
}
