// Metas.
//
//  ul.metas
//    li
//

.metas {
  color: $text-muted;
  display: block;
  font-style: normal;

  > li {
    display: inline-block;
    font-style: normal;
    line-height: 20px;
    margin: 0;
    margin-right: 1em;
    vertical-align: middle;

    &:last-child {
      margin-right: 0;
    }

    .fa-comments-o:only-child,
    .share_btn i {
      margin-right: 0;
    }

    > em {
      font-style: normal;
      margin-right: .5em;
    }

    > a {
      color: $text-muted;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.metas_group {
  border-right: $border-default;
  display: inline-block;
  font-size: 14px;
  height: 20px;
  margin: {
    bottom: 5px;
    right: 1em;
    top: 5px;
  }
  padding-right: 1em;

  &:last-child {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
  }
}

// Deprecated
.meta {
  display: inline-block;
  font-style: normal;
  line-height: 20px;
  margin: 0;
  margin-right: 1em;
  vertical-align: middle;

  &:last-child {
    margin-right: 0;
  }

  &.feed_users {
    max-width: 40%;
    display: inline-block;
    @include text-overflow;
  }
}

a.meta, .meta a {
  color: $text-muted;

  &:hover {
    color: $text-muted;
    text-decoration: underline;
  }
}
