.logo {
  color: $navbar-default-brand-color;
  font-family: "orbitron-bold";
  font-style: normal;
  font-weight: normal;
}

.separator {
  color: #eee;
  padding: 0 .5em;
}

.score {
  margin: .5em 0;
}

i.fa-alone,
i.fa_alone {
  margin: 0;
}

.list > * {
  border-top: $border_default;

  &:first-child {
    border-top: none;
  }
}

.list_block {

  > li {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

.fanciers {
  color: $red;
  a {color: $red;}

  .fancied .fa-heart-o,
  .unfancied .fa-heart {
    display: none !important;
  }

  .unfancied {
    &:hover {
      span:last-child {color: $red;}
    }
  }
}

.owners {
  color: $green;
  a {color: $green;}

  .owned {
    .fa-circle-o {display: none !important;}
  }

  .unowned {
    .fa-check-circle-o {display: none !important;}
    &:hover {
      span:last-child {color: $green;}
    }
  }
}

.tip-block,
.nothing {
  font-size: 18px;
  margin-bottom: 0;
  padding: 50px 0;
  text-align: center;

  .fa {
    font-size: 60px;
    margin: 0;
  }
}

.nothing {
  color: $text-muted;
}

.tip-block {

  &.small {
    padding: 20px 0;
  }

  &.success {
    color: $green;
  }
}

.nomore {
  clear: both;
  color: $text-muted;
  display: block;
  font-size: 16px;
  font-style: italic;
  padding: 20px 0;
  text-align: center;
}

img.lazy {
  visibility: hidden;
}

.is-hidden {
  @extend .hidden;
}

.anchor--hidden {
  display: block;
  height: 0;
  line-height: 0;
  position: relative;
  top: -40px;
  width: 0;
}

.is-targeted {
  @include animation-name(glint);
  @include animation-duration(2s);
}

@include keyframes(glint) {
  0% {background-color: #fbf0b9;}
  100% {background-color: transparent;}
}

#check_provider_sync {
  color: $text-muted;
  margin: {left: 2em; right: 2em;}
  vertical-align: bottom;
  input {margin-right: 1em;}
}

.breadcrumb {
  display: inline-block;
  padding-left: 1em;
  position: relative;

  &:before {
    color: $text-muted;
    content: '/';
    position: absolute;
    left: .3em;
  }

  &:first-child {
    padding-left: 0;

    &:before {
      display: none;
    }
  }
}

label.avatar {
  @extend %avatar;
}

.tiny_share {

  a {
    color: $text-muted;
    display: inline-block;

    &:hover {
      color: $gray;
    }

    &:last-child {

      .fa {
        margin-right: 0;
      }
    }

    &.weixin {
      display: none;
    }
  }
}

html.desktop {

  .tiny_share {

    a.weixin {
      display: inline-block;
    }
  }
}

.btn_block {
  color: $text-muted;
  display: block;
  text-align: center;

  > .fa {
    font-size: 3em;
    margin-right: 0;
  }

  > label {
    cursor: pointer;
    display: block;
    font-weight: normal;
    margin-top: 5px;
  }
}

a.btn_block {

  &:hover {
    color: $gray;
  }
}

.bootstrap-select.form-control:not([class*="span"]) {
  width: auto;
}

.bootstrap-select.btn-group .dropdown-menu {
  z-index: $zindex_selectpicker;
}

#go_top {
  color: $text-muted;
  display: none;
  position: fixed;
  bottom: 0%;
  right: 5%;
  cursor: pointer;
  z-index: $zindex_go_top;
  @include opacity(0.5);

  .fa {
    margin: 0;
    padding: .25em .5em;
  }

  @include MQ(Mneg) {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    .fa {
      width: 100%;
      margin-top: 1em;
      padding-right: 24px;
      text-align: right;
    }
  }
  @include MQ(M) { right: 24px }
  @include MQ(Mplus) {
    bottom: 0;
    .fa {
      margin: 0;
      color: #fff;
      background: $blue-dark;
    }
    &:hover .fa { background: $brand-primary }
  }
}

#share--wechat-tip {
  background-color: rgba(0, 0, 0, .8);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $zindex-navbar + 1;

  img {
    position: absolute;
    right: 25px;
    top: 15px;
  }
}

#MECHAT-PCBTN,
#MECHAT-BTN-1,
#MECHAT-BTN-2 {
  display: none;
}

html.mobile {

  .hidden-xs {
    display: none;
  }
}

html.tablet,
html.desktop {

  .visible-xs-block {
    display: none;
  }
}

/* fucking baidu analystics */
a[href^='http://tongji.baidu.com'] {
  display: none;
}

.warning {
  color: red !important;
}
