#setting-email {

  .form-group {
    margin-left: 0;
    margin-right: 0;

    .controls {
      margin-bottom: 15px;
    }

    @media screen and (min-width: $screen-sm-min) {

      .control-label {
        @include make-sm-column(3);
      }

      .controls {
        @include make-sm-column(5);
      }

      .control-action {
        @include make-sm-column(4);
      }
    }
  }
}

.share-modal {

  .box {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }

    h5 {
      background-color: $panel-default-heading-bg;
      color: $panel-default-text;
      margin: 0 0 10px;
      text-align: center;
      padding: 5px;
    }

    p {
      margin-bottom: 0;
      text-align: center;

      .share-button {
        &:last-child {
          .fa {
            margin-right: 0;
          }
        }
      }
    }
  }

  .share-button {
    color: $gray;
  }
}

// Deprecated
.share_modal {
  .words-check {
    margin-right: 5px;
  }
}

.modal-header {
  background: #f7f7f7;
  .modal-title {
    width: 95%;
    font-size: 16px;
    color: $text-color;
    font-weight: bold;
  }
}

.modal-footer {
  .btn + .btn {
    margin-left: 1em;
  }
}

#new-thing-similar-modal {
  .modal-body {
    figure {
      margin: auto;
      text-align: center;

      img {
        max-width: 300px;
      }

      figcaption {
        margin-top: 25px;
        color: $gray;
      }
    }
  }
}

#new-thing-edit-modal {
  img {
    max-width: 100%;
  }

  textarea {
    width: 100%;
    padding: 10px;
    resize: none;
    outline: none;
  }

  #new-thing-edit-modal-images-container {
    display: none;
  }

  #new-thing-edit-modal-images {
    &.more-than-one {
      .carousel:hover .carousel-control { display: block; }
      #new-thing-edit-modal-sortable    { display: block; }
    }

    .carousel {
      max-height: 300px;
      visibility: hidden;

      .item {
        min-height: 100px;
        text-align: center;
        overflow: hidden;
        position: relative;
        background: white;
        width: 568px;

        &:hover {
          .image_select {
            opacity: 1;
          }
        }

        img {
          margin: 0 auto;
          max-width: 75%;
          max-height: 300px;
        }

        .select_backdrop {
          background-color: rgba(0, 3, 9, 0.6);
          display: block;
          height: 100%;
          width: 80%;
          position: absolute;
          left: 10%
        }

        .image_select {
          @include transition(opacity .2s ease);

          height: 100%;
          left: 0;
          opacity: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 100;

          .select_btn_container {
            position: absolute;
            left: 45%;
            top: 45%;
            a {
              display: block;
              font-size: 50px;
              line-height: 50px;
              height: 50px;
              width: 50px;

              .fa {
                color: #46a546;
                margin-right: 0;
              }
            }
          }
        }
      }

      .carousel-control {
        display: none;

        position: absolute;
        top: 50%;
        margin-top: -20px;
        font-size: 28px;
        width: 40px;
        height: 40px;
        background: transparent;
        color: $gray;
        z-index: 200;
        &.left {
          text-align: left;
          padding-left: 10px;
        }
        &.right {
          text-align: right;
          padding-right: 10px;
        }
        i {margin-right: 0;}
      }
    }
  }

  .slideshow_body {
    margin: { top: 15px; bottom: 15px; }

    .slideshow_inner {
      text-align: left;
    }

    li {
      position: relative;

      opacity: 1;
      img {
        opacity: .3;
        &:hover { opacity: 1; }
      }

      .selected_icon {
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: 100;
        i {
          margin: 0;
          height: 25px;
          width: 25px;
          font-size: 25px;
          display: block;
          color: #46a546;
        }
      }
    }
  }

  #new-thing-edit-modal-sortable {
    display: none;

    li {
      display:inline-block;
      margin: 2px;

      &, img {
        width: 80px;
        height: 80px;
      }
    }
  }
}

#share_wechat {
  .modal-body {text-align: center;}

  .qr-field {
    padding: 1em 0;
    text-align: center;
  }
}

#new_private_message_modal {
  z-index: $zindex-modal + 1;
}

#share_modal {
  p {
    a {
      color: $blue-dark;
      &:hover { color: $brand-primary }
    }
  }
}
#welcome_binding_modal,
#binding_to_exists_user_modal {
  .modal-content {
    border-radius: 0;
  }

  .modal-header {
    border-top: 8px solid $brand-primary;
    padding: {
      bottom: 10px;
      top: 10px;
    }

    > p {
      color: $text-muted;
      margin-bottom: 0;
    }
  }
  
  .modal-title {
    color: $text-color;
    line-height: 32px;

    .logo {
      color: $text-color;
    }
  }

  .modal-footer {
    border-top: 0;
    text-align: center;

    .btn {
      margin: {
        bottom: 1rem;
        left: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .btn-primary {
      border: 0;
      box-shadow: 0px 3px 0px 0px darken($brand-primary, 10%);

      &:active {
        background-color: darken($brand-primary, 5%);
        position: relative;
        top: 1px;
      }

      .logo {
        color: #fff;
      }
    }

    a:not(.btn) {
      border-bottom: 1px solid lighten($text-color, 20%);
      color: $text-color;
      padding-bottom: 1px;

      &:hover,
      &:active {
        border-bottom: 0;
        padding-bottom: 2px;
      }
    }
  }

  .authorization {
    @extend .btn;
    @extend .btn-link;
    color: #fff;
    background-color: $brand-primary;
    border-radius: 5px;
    line-height: 20px;
    margin: 0 3px;

    &:hover,
    &:active {
      background-color: darken($brand-primary, 10%);
    }

    .fa {
      font-size: 20px;
      margin-right: 0;
      vertical-align: middle;
    }
  }
}
