.nav-pills {

  > li {

    > a {
      padding: 5px 10px;

      > .badge {
        border-radius: $nav-pills-border-radius;
        margin-left: .5em;
      }
    }
  }

  &.nav-pills-list {

    > li {

      > a {
        color: $text-muted;
      }

      &.active {
        border-color: $red;
        border-style: solid;
        border-width: 0;
        border-bottom-width: 1px;

        > a {
          &,
          &:hover,
          &:focus {
            background-color: transparent;
            color: $text-color;
          }
        }
      }
    }

    &.vertical {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: $border-radius-base;
      padding: 0;
      margin-bottom: 1em;

      > li {
        float: none;

        & + li {
          margin-left: 0;
        }

        &.nav-group-title {
          border-top: $border-default;
          margin-top: 10px;
          padding: 20px 20px 10px;

          &:first-child {
            border-top: none;
            margin-top: 0;
          }
        }

        > a {
          @include border-radius(0);
          display: block;
          padding: 10px 20px;

          &:hover,
          &:focus {
            background-color: $background-default-active;
          }
        }

        &.active {
          border: none;

          > a {
            background-color: $background-default-active;
          }
        }
      }
    }
  }
}

.nav-layout {
  margin-bottom: 2em;

  > li a {
    span:first-of-type {
      display: none;
      margin-right: .5em;
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    > li {
      display: table-cell;
      width: 1%;
      float: none;
      > a { margin-bottom: 0; }
    }
  }

  @media screen and (min-width: $screen-sm-min) {
    > li a span:first-of-type {display: inline;}
  }
}

.nav_compact {

  > li {

    > a {
      border-radius: $border-radius-base;
      padding: {
        bottom: 5px;
        top: 5px;
      }
    }
  }
}

.nav--underline {
  > li {
    display: inline-block;
    font-size: 16px;

    > a {
      color: $gray;
      padding: $padding-small-vertical $padding-small-horizontal;

      &:hover,
      &:focus {
        background: transparent;
      }
    }

    &.active {
      border-bottom: 2px solid $blue;
    }
  }
}
