// Notifications.
//
//

.notifications {

  > li {
    @include clearfix;

    border-bottom: $border-dashed;
    padding: 10px;
    word-wrap: break-word;

    &:last-child {
      border-bottom: none;
    }

    &.unread {
      background-color: #eff7fd;
    }

    &.unopened {
      background-color: #eff7fd !important;
    }

    &.read,
    &.empty {
      background-color: transparent;
      color: $text-muted;
    }

    &.empty {
      text-align: center;
    }

    &.error {
      color: $red;
      text-align: center;
    }

    time {
      float: right;
      padding-left: 2em;
    }
  }
}

#notification_box {
  .spinner {
    bottom: 0;
    height: 28px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
  }
}
