.popover {
  .profile {
    $profile-popover-width: 360px;
    $profile-popover-aside-width: 0.4 * $profile-popover-width;
    $profile-popover-avatar-height: $profile-popover-aside-width - 25px;

    width: $profile-popover-width;
    padding-left: $profile-popover-aside-width;

    margin: 16px 11px;

    position: relative;

    .profile_info {
      height: 148px;
      overflow: hidden;

      .profile_name {
        @include text-overflow;

        a {
          color: black;
          font-weight: bold;
          font-size: 24px;
          line-height: 27px;
        }

        .gender {
          margin-left: 7px;
          color: $gray-light;
          font-size: 24px;
        }
      }

      .profile_level {
        margin-top: 15px;

        .profile_level_rank {
          vertical-align: middle;
          color: $blue;
          font-family: 'orbitron-bold';
        }

        .progress {
          display: inline-block;
          margin: 0 0 0 1em;
          width: 150px;
          vertical-align: middle;
        }
      }

      .profile_description {
        margin-top: 15px;
        font-size: 17px;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }

      .profile_avatar,
      .profile_location,
      .profile_followers {
        position: absolute;
        left: 0;
        width: $profile-popover-avatar-height;
      }

      .profile_avatar {
        top: 0;

        img {
          @extend .img-circle;
          height: $profile-popover-avatar-height;
          width:  $profile-popover-avatar-height;
        }
      }

      .profile_location {
        top: $profile-popover-avatar-height;
        margin-top: 10px;

        text-align: center;

        @include text-overflow;
      }

      .profile_followers {
        top: 160px;
        padding: 10px 0;

        border: solid $gray-lighter;
        border-width: 1px 0;

        text-align: center;

        a { color: black; }
      }
    }

    .profile_actions {
      margin-top: 12px;

      .profile_action_dialog,
      .profile_action_follow {
        display: inline-block;

        .btn {
          line-height: 28px;
          font-size: 16px;
        }
      }

      .profile_action_dialog .btn {
        width: 50px;
      }

      .profile_action_follow .btn {
        margin-left: 20px;
        width: 146px;
      }
    }

    .profile_links {
      margin-top: 25px;

      position: relative;
      left: -$profile-popover-aside-width;
      width: $profile-popover-width;

      // http://stackoverflow.com/questions/11589590/
      text-align: justify;
      &:before {
        content: '';
        display: block;
        width: 100%;
        margin-bottom: -$line-height-base * 1em;
      }
      &:after {
        content: '';
        display: inline-block;
        width: 100%;
      }
      li {
        display: inline-block;
        position: relative;
        top: $line-height-base * 1em;
      }

      a {
        color: $gray-light;
      }

      b {
        margin-left: 0.5em;
        font-weight: normal;
        color: black;
      }
    }
  }
}
