[type="range"].range-rating,
[type="range"].range_rating {
  visibility: hidden;
  position: absolute;
  width: 0;
  z-index: -1;
}

.rating {
  direction: rtl;
  display: inline-block;
  padding-bottom: 6px;
  padding-top: 6px;
  unicode-bidi: bidi-override;

  .star {
    @include knewone-icon("\e7a8");
    cursor: pointer;
    font-size: 1em;

    &:before {
      color: #999;
      padding-right: 5px;
    }

    &:hover:before,
    &:hover ~ .star:before,
    &.selected:before,
    &.selected ~ .star:before {
      content: "\e7a9";
    }

    &.selected:before,
    &.selected ~ .star:before {
      color: $red;
    }

    &:hover:before,
    &:hover ~ .star:before {
      color: lighten($red, 20%) !important;
    }
  }
}

.rate {
  direction: rtl;
  display: inline-block;
  padding-bottom: 6px;
  padding-top: 6px;
  unicode-bidi: bidi-override;

  .star {
    @include knewone-icon("\e7a8");
    font-size: 1em;

    &:before {
      color: #999;
      padding-right: 5px;
    }

    &.active:before {
      color: $red;
      content: "\e7a9";
    }
  }
}
