article.review {
  background: white;
  font-size: 14px;

  header.cover {
    position: relative;

    overflow: hidden;
    height: 0;
    padding-bottom: 40% / 550 * 400;

    background: $smoke-white;

    img {
      float: left;
      width: 40%;
    }

    .info {
      position: absolute;
      top: 50%;
      right: 0;
      width: 60%;
      transform: translateY(-50%);
      text-align: center;

      .title {
        @include multi-line-text-overflow(2, 16px);
        padding: 0 1em;
        color: $gray-dark;
      }

      .counts {
        margin-top: 10px;
        font-size: 80%;
        color: $gray-light;

        span {
          margin-right: 5px;
        }
      }
    }

    @include from-breakpoint(sm) {
      padding-bottom: 30% / 550 * 400;
      img { width: 30%; }
      .info { width: 70%; }
    }

    @include from-breakpoint(md) {
      padding-bottom: 20% / 550 * 400;
      img { width: 20%; }
      .info { width: 80%; }
    }
  }

  section.content {
    padding: 1em 0;

    h4, p {
      margin: 0;
      font-size: $font-size-base;
    }

    h4 {
      font-weight: normal;

      a {color: $black;}
      i {color: $gray-light;}
    }

    p {
      margin-top: 1em;
      color: $gray-light;
    }

    .score {
      .star {font-size: 12px;}
      margin: 0;
    }
  }

  footer.info {
    @include clearfix;
    width: 100%;

    .user_avatar {
      float: left;
      max-width: 50%;
    }

    .interactions {
      float: right;
      max-width: 50%;
      @include text-overflow;
      margin-top: 3px;

      > * {
        margin-left: 1em;
        color: $gray-light;
      }
    }
  }
}
