
.search_candidate {
  $slideshow_control_width: 40px;
  $thing_height: 281px;
  $user_height: 139px;

  background-color: $navbar-bg;
  display: none;
  padding-top: 40px;
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: $zindex_search_candidate;

  @media (max-width: $screen-sm-min - 1) {
    display: none !important;
  }

  &:before {
    border-color: transparent transparent $navbar-bg transparent;
    border-style: solid;
    border-width: 15px;
    content: '';
    position: fixed;
    right: 20%;
    top: 30px;
  }

  .search_title {
    color: #fff;
    left: 15px;
    position: absolute;
    top: 0;

    .search_keyword {
      color: $brand-success;
      padding-right: .5em;
    }
  }

  .close {
    color: #fff;
    position: absolute;
    right: 8px;
    top: 10px;
  }

  .slideshow {
    padding: 0 $slideshow_control_width;
    width: 100%;

    &.things {

      .slideshow_control {
        height: $thing_height;
      }
    }

    &.users {

      .slideshow_control {
        height: $user_height;
      }
    }
  }

  .slideshow_control {
    background: transparent;
    box-shadow: none;
    color: #fff;
    width: $slideshow_control_width;
  }

  .slideshow_inner {
    $gap: 15px;

    > li {
      opacity: 1;

      &.more {
        background-color: darken($text-color, 10);
        border-radius: 8px;
        padding: $gap;

        > a {
          border: 1px dashed $text-muted;
          border-radius: 6px;
          color: $text-muted;
          display: block;
          font-weight: bold;
          font-size: 1.2em;
          height: 100%;
          text-align: center;

          &:hover {
            color: #fff;
          }

          .fa {
            margin-right: 0;
          }
        }
      }

      &.empty {
        color: #fff;
        cursor: default;
        font-size: 18px;
        text-align: center;
      }
    }

    &.things {
      margin: 0;

      > li {
        float: none;
        margin-bottom: 0;
        margin-right: $gap;
        padding: 0;
        width: 220px;

        &.more {
          height: $thing_height;
          padding: $gap;
          width: 220px;

          > a {
            line-height: ($thing_height - $gap * 2);
          }
        }

        &.empty {
          height: $thing_height;
          line-height: $thing_height;
          margin-right: 0;
        }
      }
    }

    &.users {

      > li {

        > a {

          &:hover {
            color: #fff;
          }
        }

        .follow_btn { display: none; }

        &.more {
          height: 97px;
          width: 100px;

          > a {
            margin-bottom: 0;
            line-height: 65px;
          }
        }

        &.empty {
          height: 125px;
          line-height: 125px;
          margin: 0;

          > a {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  figure.thing {

    .thing_fancy_backdrop {
      opacity: 0 !important;
    }

    .thing_fancy {

      .fanciers {
        display: none;
      }
    }
  }
}

.search_backdrop {
  @extend .modal-backdrop;
  display: none;
  opacity: 0.5;
  z-index: $zindex_backdrop;
}
