.slideshow {
  overflow: hidden;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
}

.slideshow_body {
  position: relative;
}

.slideshow_inner {
  $gap: 10px;

  text-align: center;
  min-width: 100%;

  > li {
    cursor: pointer;
    display: inline-block;
    margin-right: $gap;
    opacity: .3;
    vertical-align: middle;

    &:hover,
    &.active {
      opacity: 1;
    }
  }
}

.slideshow_control {
  background: transparent;
  border: none;
  color: $text-color;
  cursor: pointer;
  display: block;
  font-size: 20px;
  height: 100%;
  opacity: .5;
  padding: 0;
  position: absolute;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  top: 0;
  width: 25px;
  z-index: 2;

  &:hover {opacity: .9;}
  &:focus {outline: 0;}
  &.left {left: 0;}
  &.right {right: 0;}
  &.disabled {display: none;}

  .fa {
    left: 50%;
    margin: -.5em 0 0 -7px;
    position: absolute;
    top: 50%;
    width: 14px;
  }
}

.carousel_overview {
  margin-top: 1em;

  @media screen and (max-width: $screen-sm-min - 1) {
    display: none;
  }

  .slideshow_body {

    .slideshow_inner {
      height: 80px;

      > li {
        height: 80px;
        width: 80px;
      }
    }
  }
}
