.loading-things {
  float: left;
  width: 100%;
  text-align: center;
}

.spinning {
  color: $gray-light;
  text-align: center;
}

.spinner {
  padding: 20px 0;
  text-align: center;
}

.spinner-fullscreen {
  background-color: #fff;
  display: table;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $zindex-navbar-fixed + 1;

  em {
    color: $gray;
    display: table-cell;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    vertical-align: middle;
  }
}

.spinner-static {
  display: block;
  font-style: normal;
  height: 20px;
  line-height: 20px;
  margin-bottom: -20px;
  text-align: center;
  width: 100%;

  & + * {
    min-height: 20px;
  }
}
