.thing-list {
  background: white;

  header {
    position: relative;

    .thing-list-cover {
      height: 0;
      padding-bottom: 100%;

      img {
        width: 50%;
        &:only-child { width: 100%; }

        padding: 2px;
        background: white;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
      }
    }

    .thing-list-info {
      position: relative;
      padding: 1em 0;

      > li {
        vertical-align: middle;
      }

      .thing-list-create,
      .thing-list-name {
        @include text-overflow;
        max-width: 50%;
      }

      .thing-list-fancy {
        position: absolute;
        top: 16px;
        right: 0;
        padding: 0;
      }

      color: $gray-light;
      a {
        @include plain-link($gray-light);
      }
    }
  }

  footer {
    position: relative;

    .thing-list-timestamp {
      font-size: 13px;
      color: $gray-light;

      time {
        margin-right: .5em;
      }
    }

    .thing-list-destroy {
      margin-left: .5em;
    }
  }
}

.thing-list-item {
  padding: 15px;
  background: white;

  article.thing {
    .title {
      font-size: 18px;
    }

    .interactions {
      display: none;
    }

    .fancy_button a {
      right: 0;
      bottom: -3.1em;
    }

    .content {
      padding-left: 0;
    }

    .info {
      padding: 0;
    }
  }

  .thing-list-item-description {
    width: 95%;
    margin-top: 16px;
    color: $gray;

    .fa-quote-left { margin-right: .5em; }
    .fa-quote-right { margin-left: .5em; }
  }

  .thing-list-item-destroy {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
}
