#thing-list-popup {
  .modal-content {
    @include border-radius(10px);

    @include breakpoint(md) {
      width: 560px;
    }
  }

  .modal-header {
    background: $blue;
    color: white;
    @include border-radius(8px 8px 0 0);

    h4 {
      @include text-overflow;

      margin: 0;
      font-size: 16px;

      .title {
        display: none;

        @include breakpoint(md) {
          display: inline;
          margin-left: 1em;
          color: $gray-lighter;
        }
      }
    }

    .close {
      margin-top: 0;
      color: white;
      opacity: 1;
    }
  }

  .modal-body {
    position: relative;

    img {
      position: absolute;
      top: 15px;
      left: 15px;
      width: 64px;
      height: 64px;

      @include breakpoint(md) {
        width: 256px;
        height: 256px;
      }
    }

    > header {
      height: 64px;
      margin-left: 64px;
      margin-bottom: 16px;

      .title {
        padding: 10px 0 10px 18px;

        h5,
        small {
          @include text-overflow;
          line-height: 1;
        }

        h5 {
          margin: 0;
          font-size: 18px;
          color: $black;
        }

        small {
          display: block;
          margin-top: 10px;
          font-size: 16px;
          color: $gray-light;
        }
      }

      @include breakpoint(md) {
        display: none;
      }
    }

    > form {
      @include breakpoint(md) {
        margin-left: 270px;
      }

      background: #fbfbfb;

      h5 {
        margin: 0;
        padding: 7px;
        border-radius: 3px 3px 0 0;
        color: white;
        background: $blue;
      }

      ul {
        @include always-show-scrollbar;

        overflow: auto;
        height: 136px;
        @include breakpoint(sm) { height: 170px; }

        border: solid $gray-lighter;
        border-width: 0 1px;

        li {
          position: relative;

          color: $gray-light;

          label {
            @include text-overflow;

            display: block;
            width: 100%;
            margin: 0;
            padding: 7px;
            padding-right: 32px;

            cursor: pointer;

            &.selected {
              background: #f1f1f1;
            }

            &:hover {
              background: #dcddde;
              border-radius: 3px;
            }
          }

          input {
            height: 0;
            width: 0;
            visibility: hidden;

          }

          .fa-check {
            margin-right: 0;
            position: absolute;
            top: 9px;
            right: 12px;
          }
        }
      }

      > fieldset {
        padding: 10px 7px 7px;
        border: 1px solid $gray-lighter;

        .input-group {
          width: 100%;
        }

        .input-group-btn {
          width: 1%;
        }

        input,
        button {
          height: 32px;
          font-size: 13px;
        }
      }
    }
  }

  .modal-footer {
    padding-top: 0;
    border: 0;

    button {
      margin-top: 10px;
    }
  }
}
