ul.things {
  @include make-row;

  > li {
    margin-bottom: 2em;

    @media (min-width: $screen-xs-min + 1) { @include make-xs-column(6); }
    @media (min-width: $screen-sm-min + 1) { @include make-sm-column(4); }
    @media (min-width: $screen-md-min + 1) { @include make-md-column(3); }
    @media (min-width: $screen-lg-min + 1) { @include make-lg-column(2); }
  }
}

.things {
  @include make-row;
  > article.thing {
    margin-bottom: 20px; 
    @media (min-width: $screen-sm-min) { @include make-sm-column(6); }
    @media (min-width: $screen-md-min) { @include make-md-column(4); }
  }
}

figure.thing {
  $zindex_ribbon: 100;

  overflow: hidden;
  position: relative;
  background: white;
  padding: 1em;
  @include border-radius(8px);

  @media (min-width: $screen-md-min) {
    &:hover {
      .thing_fancy {
        opacity: 1;
      }
    }
  }

  .thing_thumb {
    @include stretch_img;

    display: block;
  }

  .thing_fancy {
    @include transition(opacity .2s ease);

    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: $zindex_ribbon + 1;

    .fanciers {
      display: none;

      @media (min-width: $screen-md-min) {
        display: block;
        left: 50%;
        margin: {
          left: -25px;
          top: -25px;
        }
        position: absolute;
        top: 50%;
      }

      a {
        display: block;
        font-size: 50px;
        line-height: 50px;
        height: 50px;
        width: 50px;

        .fa {
          color: #ff3b3b;
          margin-right: 0;
        }

        .fanciers_count,
        small {
          display: none;
        }
      }
    }
  }

  .thing_fancy_backdrop {
    background-color: rgba(0, 3, 9, 0.6);
    display: block;
    height: 100%;
    opacity: 0;
    width: 100%;

    @media (min-width: $screen-md-min) {
      opacity: 1;
    }
  }

  figcaption {
    margin-left: -1em;
    margin-right: -1em;
    padding: 0 1em;

    h5, .figure_detail {
      text-align: center;
      height: $font-size-base * $line-height-base;
      @include text-overflow;
    }

    h5 {
      margin: 1em 0 .5em;

      a {
        color: $gray;
      }
    }

    .figure_detail {
      display: block;
      font-style: normal;
      margin: 0;
      > * {margin-right: 1em;}
    }
  }

  .pre_ribbon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: $zindex_ribbon;
    height: 100px;
    width: 100px;
    overflow:hidden;
    color: #fff;
    font-weight: bold;
    letter-spacing: .5em;

    span {
      display: block;
      width: 150px;
      padding-left: 10px;
      padding-top: 3px;
      position:relative;
      left: 20px;
      top: -30px;
      text-align: center;
      font-size: 14px;

      @include transform-origin(0 0);
      @include rotate(45deg);
      @include opacity(0.8);
    }

    &.ship {
      letter-spacing: .25em;
      span {@include background($brand-warning);}
    }
    &.stock {
      span {@include background($brand-success);}
    }
    &.pre_order {
      span {@include background($brand-success);}
    }
  }
}

/* TODO: figure.thing should be merged into this */
article.thing {
  background: white;

  header.cover {
    position: relative;
    height: 0;
    padding-bottom: (600 / 800 * 100%);

    img {width: 100%;}
  }

  section.content {
    padding: 1em;

    h4 a {color: $black;}
    p a {color : $gray;}

    h4, p {
      margin: 0;
      font-size: $font-size-base;
      min-height: $font-size-base * $line-height-base;
    }

    @media (max-width: $screen-sm-max) {
      width: 75%;
    }

    @media (min-width: $screen-sm-min) {
      .title,
      .subtitle {
        @include text-overflow;
      }
    }
  }

  footer.info {
    @include clearfix;
    padding: 0 1em 1em;
    width: 100%;

    .user_avatar,
    .shopping {
      float: left;
      max-width: 50%;
      @include text-overflow;
      > a {color: $gray;}
    }

    .shopping {
      margin-top: 5px;
      > a {margin-right: 1em;}
    }

    .interactions {
      float: right;
      max-width: 50%;
      @include text-overflow;
      margin-top: 5px;

      > * {
        margin-left: .5em;
        color: $gray-light;
      }

      .fanciers_count {display: none;}
      @media (min-width: $screen-md-min) {
        .fanciers_count {display: inline;}
      }
    }
  }

  .fancy_thing {
    .fancy_backdrop {
      @include stretch;
      display: none;
    }

    .fancy_button a {
      .fa {color: #ff3b3b;}
      small {display: none;}
    }

    @media (max-width: $screen-sm-max) {
      .fancy_button a {
        display: block;
        position: absolute;
        bottom: -3.5em;
        right: 1em;
        padding: .5em 1em;
        .fanciers_count {color: $gray-light;}
        background-color: #eee;
        color: $gray;
        @include border-radius(3px);
      }
    }

    @media (min-width: $screen-md-min) {
      opacity: 0;
      &:hover {opacity: 1;}
      @include transition(opacity .2s ease);

      .fancy_backdrop {
        display: block;
        background-color: rgba(black, 0.5);
      }

      .fancy_button a {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        margin: -25px 0 0 -25px;
        font-size: 50px;
        line-height: 1;

        .fa {margin-right: 0;}

        .fanciers_count {display: none;}
      }
    }
  }
}

div#thing_title {
  text-align: center;
  margin-bottom: 1em;

  h1, p {margin: 0;}
  h1 {
    font-size: $font-size-h3;
    a {
      color: $text-color;
      &:hover {color: $link-color;}
    }
  }
  p {
    font-size: $font-size-h4;
    color: $text-muted;
  }

  @media screen and (max-width: $screen-xs-max) {
    h1, p {@include text-overflow;}
    h1 {font-size: $font-size-h4;}
    p {font-size: $font-size-base;}
  }
}

#thing_content {
  #reviews_sort {
    border: none !important;
    margin-bottom: 0 !important;
  }

  .edit_post {padding-bottom: 0;}
}

#thing_author {
  background-color: #f5f5f5;
  border-bottom: 0;
  height: 40px;
  line-height: 40px;
  margin-bottom: 40px !important;
  padding-bottom: 0 !important;

  > label {
    color: $text-muted;
    font-weight: normal;
  }

  img {
    @extend .img-circle;

    height: 60px;
    margin: 10px;
    vertical-align: top;
    width: 60px;
  }
}

#thing_photos {
  .carousel {
    .item {
      text-align: center;
      max-height: 200px;
      @media screen and (min-width: $screen-xs-min) {
        max-height: 480px;
      }
      img {
        margin: 0 auto;
        max-height: 100%;
      }
    }

    .carousel-control {display: none;}
  }

  .carousel-thumb {
    height: 80px;
    overflow: hidden;

    li {
      width: 80px;
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    .carousel-thumb {
      display: none;
    }
  }

  @media screen and (min-width: $screen-md-min) {
    .carousel {
      .carousel-control {
        position: absolute;
        top: 40%;
        font-size: 28px;
        width: 40px;
        height: 40px;
        background: rgba(0, 0, 0, 0.3);
        @include border-radius(100px);
        &.left {
          text-align: left;
          padding-left: 8px;
        }
        &.right {
          text-align: right;
          padding-right: 8px;
        }
        i {
          margin: 8px 0 0;
        }
      }
      &:hover .carousel-control {display: block;}
    }
  }
}

#thing_actions {
  @include clearfix;

  .shop {
    @include clearfix;

    .shopping_desc {
      color: $text-muted;
      a {
        margin-left: .5em;
      }
    }

    @media screen and (max-width: $screen-sm-max) {
      #new_cart_item {display: none;}
      .shopping_desc span {display: none;}
      .price, .shopping_desc, .buy, .mobile_buy {display: inline-block;}

      .buy {
        float: right;
        margin-top: -.5em;
      }

      .buy_button {
        padding: 1px 0;
        width: 8em;
      }
    }

    @media screen and (min-width: $screen-sm-min) {
      .price {
        font-size: 1.2em;
        font-weight: bold;
      }
    }

    @media screen and (min-width: $screen-md-min) {
      > *:not(:last-child) {margin-bottom: 1em;}
      .mobile_buy {display: none;}

      .buy {
        padding-bottom: 2em;
        border-bottom: $border-default;
        margin-bottom: 2em;
      }

      .buy_button,
      .adoption_button {
        width: 65%;
        i {
          margin-right: 10%;
          vertical-align: -1px;
        }
      }
    }
  }

  .categories {
    display: none;

    a {
      display: inline-block;
      margin-right: 1em;
      background: #eee;
      color: #666;
      margin: 0 1em 1em 0;
      padding: .3em .5em;
      @include border-radius(3px);
      &:hover {color: $text-color;}
    }

    @media screen and (min-width: $screen-md-min) {
      display: block;
    }
  }

  .actions {
    margin: 1em 0;
    > * {
      display: inline-block;
      width: 25%;
      border-right: $border-default;
      text-align: center;
      a {
        display: block;
        width: 100%;
        i {
          display: block;
          margin: 0 auto .2em;
          font-size: 1.5em;
        }
      }
      &:hover {background: #eee;}
    }

    .share, .new_review {
      a {color: $text-muted;}
      &:hover, &:active {
        a {color: $text-color;}
      }
    }

    > *:last-child {border: none;}

    .tooltip {

      &.bottom {

        @media screen and (min-width: $screen-md-min) {
          margin-top: -10px;
        }
      }

      .tooltip-inner {
        padding-bottom: 6px;
        padding-top: 6px;
      }
    }

    @media screen and (min-width: $screen-md-min) {
      margin-top: 0;

      > * {
        border: none;
        width: 49%;

        a {
          padding: 1em 0;
          i {font-size: 2em;}
          small {margin-left: .5em;}
        }
      }

      > *:nth-child(2n+1) {border-right: $border-default;}
      > *:nth-child(-n+2) {border-bottom: $border-default;}
      > *:nth-child(n+3)  {a {padding-top: 1.5em;}}
    }
  }

  .operations {
    display: none;

    li {
      display: inline-block;
      margin-bottom: 1.2em;
      width: 80%;
      a {color: $text-muted;}
    }

    @media screen and (min-width: $screen-md-min) {
      display: block;
    }

    @media screen and (min-width: 1280px) {
      li {width: 50%;}
    }
  }

  .kinds {
    display: none;
    margin-top: 1em;
    border-top: $border-default;
    padding-top: 1em;

    > ul > li {
      margin-bottom: 1em;

      h5 {font-weight: bold;}
      .price {
        em {
          color: $green;
          font-size: 1.5em;
        }
      }
      .note {
        margin: 1em 0;
        color: $text-muted;
      }
      .estimated_at {
        time {
          font-size: 1em;
          color: $green;
        }
      }
    }

    @media screen and (min-width: $screen-md-min) {
      display: block;
    }
  }

  .fancy_groups, .related_things {
    display: none;
    margin-top: 1em;
    border-top: $border-default;
    padding-top: 1em;
    h4 {color: $text-muted;}

    @media screen and (min-width: $screen-md-min) {
      display: block;
    }
  }

  .fancy_groups {
    > ul > li {
      @media (min-width: $screen-sm-min) {
        @include make-sm-column(12);
      }
    }
  }

  .related_things {
    > ul > li {
      float: left;
      width: 46%;
      margin: 1em 2%;
    }
  }

  .related-lists {
    margin-top: 1em;
    padding-top: 1em;
    border-top: $border-default;

    h4 {
      margin: 1em 0;
      color: $text-muted;
    }

    .thing-lists {
      li {
        margin-top: 1em;
      }

      .thing-list-title {
        @include text-overflow;
        font-size: 16px;
        color: $black;
      }

      .thing-list-items {
        > img {
          display: inline-block;
          width: 22%;

          margin-left: 4%;
          &:first-child { margin-left: 0; }
        }
      }
    }
  }
}

#thing_actions_compact {

  @media (min-width: $screen-md-min) {
    display: none;
  }

  .shop {
    @include clearfix;

    margin-bottom: 2rem;
  }

  .shopping_desc {
    clear: both;
    padding-top: 1rem;
  }

  .price {
    float: left;
    font-weight: bold;
    line-height: 34px;
    width: 40%;
  }

  .buy {
    float: right;
    width: 60%;

    > #new_cart_item {display: none;}
  }

  .actions {
    @include clearfix;

    .fa {
      @extend .fa-fw;
    }

    small {
      font-size: 1em;
      margin-left: .25em;
    }

    > div {
      border-bottom: $border_default;
      float: left;
      width: 50%;

      &:nth-child(odd) {
        border-right: $border_default;
      }

      &:last-child,
      &:nth-last-child(2) {
        border-bottom: none;
      }

      > a {
        @extend .btn;
        @extend .btn-link;

        color: $gray;
        height: 40px;
        line-height: 26px;
        width: 100%;

        &:hover {
          color: $text-color;
        }
      }
    }

    @media (min-width: $screen-md-min) {
      display: none;
    }
  }
}

.cart_success {
  color: $green;
  i {color: $green;}
}

#new_cart_item {
  abbr {display: none;}

  label {
    display: inline-block;
    color: $text-muted;
    margin-right: .5em;
  }

  select, input, .help-block {
    display: inline-block;
  }

  .cart_item_kind_id {
    select {width: 80%;}
  }

  .cart_item_quantity {
    input {
      min-width: 50px;
      width: 50px;
    }
    .help-block {
      display: none;
      strong {color: $green;}
    }
  }

  .cart_estimated_prompt, .cart_success {
    display: none;
  }

  .cart_estimated_prompt {
    color: $text-muted;
    time {
      color: $green;
      font-size: 1em;
      margin: 0 .5em;
    }
  }

  .submit {
    .support {
      display: inline-block;
      color: $text-muted;
      vertical-align: -.2em;
      i {font-size: 1.2em;}
    }
  }

  @media screen and (min-width: $screen-md-min) {
    label {
      width: 16%;
      margin-right: 4%;
    }

    .cart_item_kind_id {
      select {width: 80%;}
    }

    .cart_item_quantity {
      input {width: 20%;}
      .help-block {
        width: 94px;
        text-align: right;
      }
    }

    .cart_estimated_prompt, .cart_success {
      margin-bottom: 1em;
    }

    .submit {
      .support {
        text-align: right;
        width: 30%;
      }
    }
  }
}

#thing_reviews {
  .new_review {
    @include clearfix;
    a {
      color: $gray;
      margin-bottom: 1em;
    }
  }
}

.things_wrapper {
  @media screen and (min-width: 512px) {
    padding: 0 7%;
  }
}

#thing_supplier {
  input[type="text"], input[type="url"], textarea {width: 80%;}
}

.lovers {
  color: $text-muted;
}

#timeline {
  .story {
    position: relative;
    border-left: 5px solid #eee;
    padding-left: 2em;
    margin-bottom: 1em;

    figure {
      position: absolute;
      margin: 0;
      background: white;
      color: $text-muted;
      left: -.5em;
      font-size: 1.6em;
      padding-bottom: .625em;
    }
  }
}
