ul.things {
  @include make-row;

  > li {
    margin-bottom: 2em;

    @media (min-width: $screen-xs-min + 1) { @include make-xs-column(6); }
    @media (min-width: $screen-sm-min + 1) { @include make-sm-column(4); }
    @media (min-width: $screen-md-min + 1) { @include make-md-column(3); }
  }
}

.things {
  @include make-row;
  > article.thing {
    margin-bottom: 20px;
    @media (min-width: $screen-sm-min) { @include make-sm-column(6); }
    @media (min-width: $screen-md-min) { @include make-md-column(4); }
  }
}

article.thing {
  background: white;
  position: relative;

  header.cover {
    position: relative;

    .cover-inner {
      display: block;
      height: 0;
      overflow: hidden;
      padding-bottom: (600 / 800 * 100%);
    }

    img {width: 100%;}
  }

  section.content {
    padding: 1em;

    h4 {
      @include text-overflow;

      margin: 0;
      font-size: $font-size-base;
      min-height: $font-size-base * $line-height-base;

      a {
        color: $black;
      }
    }
  }

  footer.info {
    @include clearfix;
    padding: 0 1em 1em;
    width: 100%;

    .stats {
      float: left;
      max-width: 57%;
      @include text-overflow;
      margin-top: 6px;

      > * {
        margin-right: .5em;
        color: $gray-light;
      }

      .fanciers_count {display: none;}
      @media (min-width: $screen-md-min) {
        .fanciers_count {display: inline;}
      }
    }

    .interactions {
      float: right;

      .fancy_button {
        margin-right: 1em;
      }

      .add_to_list {
        color: $orange;

        i {
          font-size: 24px;
          margin-right: 0;
        }
      }
    }
  }

  .fancy_button {
    a {
      color: $red;
    }

    i {
      font-size: 24px;
      margin-right: 3px;
    }

    .fanciers_count {
      font-size: 12px;
    }

    small {
      display: none;
    }
  }

  &.shop_thing {
    footer.info {
      .shopping {
        @include text-overflow;

        > a {
          margin-right: .6em;
          &:last-child {
            margin-right: 0;
          }

          color: $gray;

          .fa {
            height: 1em;
            margin: {
              left: 5px;
              right: 0;
            }
            vertical-align: -2px;
            width: 1em;
          }
        }

        .bong-point {
          color: $gray-light;
        }
      }
    }
  }
}

figure.thing--embed {
  margin-bottom: 0 !important;
  overflow: hidden;
  padding: 0;

  @media (max-width: $screen-xs-max) {
    > a {
      img {
        width: 100%;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    position: relative;

    &.col-sm-6 {
      > a {
        img {
          width: 100%;
        }
      }

      figcaption {
        padding: 0 0 55% 0;
        top: 22.5%;
        width: 55%;
      }
    }

    &.col-sm-12 {
      > a {
        padding-bottom: percentage(9/16);
      }

      figcaption {
        padding: 0 0 27.5% 0;
        top: 25.65%;
        width: 27.5%;
      }
    }
  }

  > a {
    @include stretch_img;
    display: block;

    img {
      bottom: -1000%;
      left: -1000%;
      margin: auto !important;
      max-height: none;
      max-width: 100%;
      right: -1000%;
      top: -1000%;
    }
  }

  figcaption {
    background-color: $smoke-white;
    text-align: center;
    padding: 1rem;

    @media (max-width: $screen-xs-max) {
      position: relative;

      &::before {
        border-color: transparent transparent $smoke-white transparent;
        border-style: solid;
        border-width: 10px;
        content: '';
        left: 50%;
        margin-left: -10px;
        position: absolute;
        top: -20px;
      }
    }

    @media (min-width: $screen-sm-min) {
      height: 0;
      opacity: .8;
      position: absolute;
    }

    h5 {
      font-weight: normal !important;
      margin: 0;
      padding: 10px 2rem;
      text-align: center;

      @media (min-width: $screen-sm-min) {
        margin: {
          bottom: 1rem;
          top: 20%;
        }
      }

      a {
        color: $text-color;
        display: block;
        font-size: 20px;

        @media (min-width: $screen-sm-min) {
          height: 60px;
          line-height: 30px;
          overflow: hidden;
        }
      }
    }

    em {
      font-size: 12px;
      font-style: normal;
      line-height: 40px;
      padding: 0 5px;

      .fa-heart { color: $red; }
      .fa-check-circle-o { color: $blue-light; }
      .fa-comment-o { color: $text-color; }
    }
  }
}
