.recommended-users {
  background: white;

  .recommended-user {
    margin: 1em 1em 0;
  }

  .user_info {
    @include clearfix;
  }

  .author_avatar {
    img {
      @extend .img-circle;
      height: 40px;
      width: 40px;
    }
  }

  .author_name {
    @include text-overflow;
    color: $gray;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
    max-width: 6em;

    @media (min-width: $screen-md-min) {
      max-width: 12em;
    }
  }

  .follow_btn {
    float: right;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 6px;
    color: #666;
    background: $gray-lighter;
    &.active { background: darken($gray-lighter, 10%); }
    border: none;
  }

  .recommend_note {
    @include text-overflow;
    color: $text-muted;
    padding-left: 54px;
    max-width: 90%;

    @media (min-width: $screen-md-min) {
      max-width: 16em;
    }
  }
}

.author {
  .author-description,
  .followers_count {
    display: none;
  }
}

#users_index {
  @include clearfix;
  li {
    background-color: #fff;
    border-radius: 8px;
    float: left;
    height: 97px;
    padding: 1em 1em 0;
    margin: 1em;
    overflow: hidden;
    width: 102px;
    a {
      display: block;
    }
  }
}

.user_list,
.users {
  text-align: center;

  li {
    display: inline-block;
    margin: 1.5em;
    width: 80px;
    text-align: center;
    img {
      @extend .img-circle;
    }
    > * {
      display: block;
      margin-bottom: .5em;
      color: $text-muted;
      @include text-overflow;
    }
    &.author {

      > * {
        margin-right: 0;
      }

      .btn {
        @extend .btn-xs;
      }

      .btn-primary {
        color: #fff;

        i {
          color: #fff;
        }
      }
    }
  }
}

%new_user {
  position: relative;
  margin-top: 0;
  padding: 15px;
  background: white;

  .author-avatar {
    img {
      width: 60px;
      height: 60px;
    }
  }

  .author-name {
    @include text-overflow;

    position: absolute;
    top: 25px;
    left: 85px;
    right: 100px;
    margin: 0;

    font-size: 12px;
  }

  .author-description {
    @include multi-line-text-overflow(2, 15px);

    position: absolute;
    top: 45px;
    left: 85px;
    right: 100px;
    margin: 0;

    font-size: 10px;
    color: $gray-light;
  }

  .follow_btn {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);

    width: 75px;
    margin: 0;

    font-size: 12px;
    text-align: center;

    color: $blue-dark;
    background: white;
    border: 1px solid $blue-dark;

    transition: background .2s;

    i {
      display: none;
    }

    &.follow_btn--followed {
      color: white;
      background: $blue-bright;
      border: none;

      &.follow_btn--mutual_followed {
        background: $blue-dark;
      }

      &:hover {
        background: $gray-light;
      }
    }
  }
}
