.user_avatar {
  @include text-overflow;
  @include plain-link;

  vertical-align: middle;

  > .user_avatar-name,
  > img {
    vertical-align: middle;
  }

  img {
    @extend %img-circle;

    width: 26px;
    margin-right: .5em;
  }
}

.user_avatar--vertical {
  img,
  .user_avatar-name {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  img {
    width: 60px;
    margin-bottom: $padding-large-vertical;
  }
}

.user_avatar--without_name {
  .user_avatar-name {
    display: none;
  }

  img {
    width: auto;
    margin-right: 0;
  }
}
