.recommended-users {
  background: white;

  .recommended-user {
    margin: 1em 1em 0;
  }

  .user_info {
    @include clearfix;
  }

  .author_avatar {
    img {
      @extend .img-circle;
      height: 40px;
      width: 40px;
    }
  }

  .author_name {
    @include text-overflow;
    color: $gray;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
    max-width: 6em;

    @media (min-width: $screen-md-min) {
      max-width: 12em;
    }
  }

  .follow_btn {
    float: right;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 6px;
    color: #666;
    background: $gray-lighter;
    &.active { background: darken($gray-lighter, 10%); }
    border: none;
  }

  .recommend_note {
    @include text-overflow;
    color: $text-muted;
    padding-left: 54px;
    max-width: 90%;

    @media (min-width: $screen-md-min) {
      max-width: 16em;
    }
  }
}

.author {
  .followers_count {
    display: none;
  }
}

#users_index {
  @include clearfix;
  li {
    background-color: #fff;
    border-radius: 8px;
    float: left;
    height: 97px;
    padding: 1em 1em 0;
    margin: 1em;
    overflow: hidden;
    width: 102px;
    a {
      display: block;
    }
  }
}

.user_list,
.users {
  text-align: center;

  li {
    display: inline-block;
    margin: 1.5em;
    width: 80px;
    text-align: center;
    img {
      @extend .img-circle;
    }
    > * {
      display: block;
      margin-bottom: .5em;
      color: $text-muted;
      @include text-overflow;
    }
    &.author {

      > * {
        margin-right: 0;
      }

      .btn {
        @extend .btn-xs;
      }

      .btn-primary {
        color: #fff;

        i {
          color: #fff;
        }
      }
    }
  }
}
