#alerts {
  position: fixed;
  right: 1em;
  top: $navbar-height + $line-height-computed;
  z-index: 100;

  .alert {
    margin-bottom: $line-height-computed / 2;
    min-width: 15em;
    max-width: 24em;
  }
}
