
// Rotate
// --------------------------------------------------------------------------

.rotate {
  animation-name: rotate;
  -webkit-animation-name: rotate;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

@include keyframes(rotate) {
  0% {@include transform(rotate(0deg));}
  100% {@include transform(rotate(360deg));}
}
