article.post {
  header {
    margin-bottom: 2em;
    word-wrap: break-word;
  }

  section {
    p {word-wrap: break-word;}
  }

  footer {
    > * {
      display: inline-block;
      margin-top: 1em;
      margin-right: 2em;
    }
  }
}

article.post_show {
  > header {
    h3 {
      word-wrap: break-word;
      margin: 0;
    }
  }

  > section {
    margin-top: 1em;
    padding: 1em 0;
    border-top: 1px solid #eee;
  }

  > footer {
    @include clearfix;
    margin-bottom: 1em;
    border-bottom: $border-default;
    padding-bottom: 1em;

    > * {
      margin-right: 2em;
    }

    .voting {
      display: inline-block;
      form {
        button {margin-right: 1em;}
      }
    }

    .share {margin-top: -5px;}

    .fanciers {
      float: right;
      i {margin-right: 2em;}
    }
  }

  aside#comments {
    margin-top: 2em;
  }
}

.post_content {
  img {@extend .img-responsive;}
  iframe {
    border: none;
    margin: .5em 0;
    max-width: 100%;
  }
  .fluid-width-video-wrapper {overflow: hidden;}
  ol {list-style: decimal inside;}
  ul {list-style: disc inside;}
  blockquote { font-size: 1.1em; }
  word-wrap: break-word;
}

.post_actions {
  i {
    color: $text-muted;
    margin-right: 1em;
  }
}

form.edit_post {
  margin: 0;

  input[type="text"], input[type="url"] {
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 70%;
    }
  }

  .submit {
    margin-bottom: 2em;

    input[type="submit"] {
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      float: right;
      width: 20%;
      text-align: right;
    }
  }

  #thing_content > & {
    padding-bottom: 1em;
  }
}

.author {
  margin-top: 1em;
  > * {
    margin-right: 1em;
  }

  a {
    color: $gray;
    &:hover {color: $text-color;}
  }

  a i {
    color: $text-muted;
  }

  img {
    vertical-align: -2px;
    @extend .img-rounded;
    width: 60px;
    height: 60px;
  }
}

.reviews_count {
  color: $blue;
}

.comments_count {
  color: $text-muted;
}

.article_compact {
  border-bottom: 1px dashed #eee;
  margin-bottom: 10px;
  padding: {
    bottom: 10px;
    top: 10px;
  }
  position: relative;

  @media screen and (min-width: $screen-sm-min) {
    padding-left: 85px;
  }

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  .article_header {
    margin: 0 0 1em 0;
  }

  .article_title {
    font-size: 14px;
    margin: 0;
    text-align: center;

    @media screen and (min-width: $screen-sm-min) {
      text-align: left;
    }
  }

  .article_body {
    @include clearfix;

    figure {
      text-align: right;
      margin-bottom: 10px;

      @media screen and (min-width: $screen-sm-min) {
        display: block;
        float: right;
        margin-bottom: 0;
        margin-left: 50px;
        text-align: center;
        width: 100px;
      }

      a {
        color: $text-color;
        display: block;
      }

      img {
        display: none;

        @media screen and (min-width: $screen-sm-min) {
          display: block;
          height: 80px;
          margin: {
            left: auto;
            right: auto;
          }
          width: 80px;
        }
      }

      figurecaption {

        &:before {
          content: '—';
        }

        @media screen and (min-width: $screen-sm-min) {
          display: block;
          height: 40px;
          line-height: 20px;
          margin-top: 5px;
          overflow: hidden;
          text-align: center;

          &:before {
            content: '';
          }
        }
      }
    }

    .article_content {
      @include clearfix;

      background-color: #eee;
      overflow: hidden;
      padding: 15px;

      img {
        display: block;
        height: auto;
        margin-bottom: 10px;
        width: 100%;

        @media screen and (min-width: $screen-sm-min) {
          float: left;
          margin-right: 15px;
          height: 80px;
          width: 80px;
        }
      }

      p {
        color: $text-muted;
        height: 80px;
        line-height: 26px;
        margin-bottom: 0;
        overflow: hidden;
      }
    }

    .metas {
      text-align: left;

      .meta.fa-pencil {
        color: #134f5c;
      }
    }
  }

  .article_feature {
    bottom: 10px;
    line-height: 30px;
    padding: 0 10px;
    position: absolute;
    right: 0;

    @media screen and (min-width: $screen-sm-min) {
      bottom: auto;
      left: 0;
      line-height: 20px;
      right: auto;
      top: 10px;
    }
  }
}
