article.post {
  header {
    margin-bottom: 2em;
    word-wrap: break-word;
  }

  section {
    p {word-wrap: break-word;}
  }

  footer {
    > * {
      display: inline-block;
      margin-top: 1em;
      margin-right: 2em;
    }
  }
}

.post_content {
  img {@extend .img-responsive;}
  iframe {
    border: none;
    margin: .5em 0;
    max-width: 100%;
  }
  .fluid-width-video-wrapper {overflow: hidden;}
  ol {list-style: decimal inside;}
  ul {list-style: disc inside;}
  blockquote { font-size: 1.1em; }
  word-wrap: break-word;
}

.post_actions {
  i {
    color: $text-muted;
    margin-right: 1em;
  }
}

form.edit_post {
  margin: 0;

  input[type="text"], input[type="url"] {
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 70%;
    }
  }

  .submit {
    margin-bottom: 2em;

    input[type="submit"] {
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      float: right;
      width: 20%;
      text-align: right;
    }
  }

  #thing_content > & {
    padding-bottom: 1em;
  }
}

.author {
  margin-top: 1em;
  > * {
    margin-right: 1em;
  }

  a i {
    color: $text-muted;
  }

  img {
    vertical-align: -2px;
    @extend .img-rounded;
    width: 60px;
    height: 60px;
  }
}

.reviews_count {
  color: $blue;
}

.comments_count {
  color: $text-muted;
}

.article_compact {
  border-bottom: 1px dashed #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-left: 85px;
  position: relative;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  .article_header {
    margin: 0 0 1em 0;
  }

  .article_title {
    font-size: 14px;
  }

  .article_body {
    @include clearfix;

    figure {
      display: none;

      @media screen and (min-width: $screen-md-min) {
        display: block;
        float: right;
        margin: -35px 0 0 80px;
      }

      img {
        height: 80px;
        width: 80px;
      }

      figurecaption {
        @include text-overflow;

        color: $gray;
        display: block;
        margin-top: 5px;
        text-align: center;
        width: 80px;
      }
    }

    .article_content {
      @include clearfix;

      background-color: #eee;
      overflow: hidden;
      padding: 15px;

      img {
        float: left;
        margin-right: 15px;
        height: 80px;
        width: 80px;
      }

      p {
        color: $text-muted;
        height: 80px;
        line-height: 26px;
        margin-bottom: 0;
        overflow: hidden;
      }
    }
  }

  .atricle_footer {

    time,
    .comments_count {
      display: inline-block;
      line-height: 32px;
      margin: 0 20px 0 0;
    }
  }

  .article_feature {
    left: 0;
    padding: 0 10px;
    position: absolute;
    top: 0;
  }
}
