// Extend Bootstrap Badge.
//

.badge_primary { background-color: $brand-primary; }
.badge_success { background-color: $brand-success; }
.badge_info    { background-color: $brand-info; }
.badge_warning { background-color: $brand-warning; }
.badge_danger  { background-color: $brand-danger; }