ul.categories {
  @include make-row;

  > li {

    @media (min-width: $screen-sm-min) {
      @include make-sm-column(6);
      @include make-md-column(4);
      @include make-lg-column(3);
    }
  }
}

.category {
  @include clearfix;

  background-color: #eee;
  color: $gray;
  display: block;
  margin-bottom: 30px;
  padding: 15px;

  &:hover {
    color: $text-color;
  }

  img {
    float: right;
    height: 100px;
    width: 100px;
  }
}