// Dropdown Box.
//
// .dropdown_box_hover
//

.dropdown_box {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
  // display: none;
  min-width: 260px;
  position: absolute;
  right: 15px;
  top: calc(100% + 15px);
  z-index: $zindex-dropdown;

  .dropdown_box_header {
    padding: 8px 10px;

    > h5 {
      font-size: 16px;
      line-height: 16px;
      margin: 0;

      .badge {
        vertical-align: middle;
      }
    }
  }

  .dropdown_box_body {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    min-height: 280px;
    overflow: scroll;

    .dropdown_box_content {

      > li {
        border-bottom: 1px dashed #eee;
        padding: 10px;

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  .dropdown_box_footer {
    @include clearfix;

    padding: 5px 10px;

    a {
      color: $text-muted;

      &:hover {
        color: $text-color;
      }
    }
  }
}