.entry {
  @include border-radius(8px);
  background-color: #fff;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  margin: 0 auto 1em;
  padding: 15px;

  @media screen and (min-width: $screen-md-min + 1) {
    margin: 0;
  }

  .greet {
    border-bottom: $border_default;
    color: $text-color;
    font-size: 14px;
    margin-bottom: 15px;
    padding-bottom: 15px;

    .logo {
      color: $navbar-default-brand-color;
    }
  }

  .oauth {
    text-align: center;

    .btn {
      width: 118px;
    }
  }

  .nav-pills-list {

    > li {

      > a {

        &:hover,
        &:focus {
          background-color: transparent;
          color: #333;
        }
      }
    }
  }

  .entry_email {
    margin-top: 1em;

    .nav-justified {

      > li {
        display: table-cell;
        width: 1%;
      }
    }

    .tab-content {
      padding-top: 1em;

      .form-group {

        &:nth-last-child(2) {
          margin-bottom: 0;
        }

        &:last-child {
          margin-bottom: 0;
          margin-top: 15px;
        }

        &.addon {
          @include clearfix;

          > #remember_me {
            float: left;
            margin: 0;
          }

          > a {
            float: right;
          }
        }
      }

      .fa {
        width: 14px;
      }

      .btn {
        font-size: 14px;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }

        @media screen and (min-width: $screen-md-min + 1) {
          margin-bottom: 0;
        }
      }

      .alert {
        margin-bottom: 0;
      }
    }
  }
}
