// Feeds.
//
// article.feed_article
//   header
//   figure
//     a
//       img
//     figcaption
//       a
//   section
//     img
//     p
//     ul
//       li
//         img
//   footer
//     ul.metas
//       li
//     section.comments
//   .feed_action
//     a.btn
//

.feed_article {
  @include clearfix;

  padding: 1em;
  position: relative;

  @media (min-width: $screen-sm-min) {
    padding-left: 90px;
  }

  .metas {

    .score {
      display: none;
      margin: 0;

      @media (min-width: $screen-sm-min) {
        display: inline-block;
      }

      .rate {
        padding: 0;
      }
    }
  }

  > header {
    margin-bottom: 15px;

    @media (min-width: $screen-sm-min) {
      float: left;
      width: 80%;
    }

    h5 {
      margin: 0;

      a {
        color: $text-color;
        font-size: 16px;
      }
    }
  }

  > figure {
    @include clearfix;
    margin-bottom: 10px;
    border: 1px solid #f9f9f9;
    border-left: none;
    border-right: none;
    padding: 10px 30px;
    position: relative;

    @media (min-width: $screen-sm-min) {
      border: none;
      float: right;
      margin: {
        bottom: 0;
        top: 4px;
      }
      padding: 0;
      text-align: center;
      width: 100px;
    }

    a {
      color: $gray;
      display: block;
    }

    img {
      float: right;
      height: 60px;
      margin-left: 15px;
      width: 60px;

      @media (min-width: $screen-sm-min) {
        float: none;
        height: 80px;
        margin: {
          left: auto;
          right: auto;
        }
        width: 80px;
      }
    }

    figcaption {
      overflow: hidden;

      @media (max-width: $screen-xs-max) {
        @include translate(0, -50%, 0);
        position: absolute;
        top: 50%;
      }

      @media (min-width: $screen-sm-min) {
        display: block;
        height: 40px;
        line-height: 20px;
        margin-top: 5px;
        overflow: hidden;
        text-align: center;

        &:before {
          content: '';
        }
      }

      a {
        @media (max-width: $screen-sm-max) {
          @include text-overflow;
          line-height: 30px;
        }
      }

      // TODO
      .score {
        margin: {
          bottom: 5px;
          top: 5px;
        }
        .rate {padding: 0;}

        @media (min-width: $screen-sm-min) {
          display: none;
        }
      }
    }
  }

  > section {
    margin-bottom: 15px;
    position: relative;

    @media (min-width: $screen-sm-min) {
      @include clearfix;
      float: left;
      width: 80%;
    }

    .cover_small {
      display: none;

      @media (min-width: $screen-sm-min) {
        display: block;
        float: left;
        margin-right: 15px;
      }

      img {
        height: 80px;
        width: 80px;
      }
    }

    .cover_normal {
      margin-top: 15px;

      @media (min-width: $screen-sm-min) {
        display: none;
      }

      img {
        width: 100%;
      }
    }

    > p {
      color: $gray;
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 0;
      overflow: hidden;
    }

    > ul {
      @include clearfix;

      margin-top: 15px;

      > li {
        float: left;
        margin-right: 4px;

        @media (min-width: $screen-sm-min) {
          margin-right: 10px;
        }
      }
    }
  }

  > footer {
    @include clearfix;
    clear: both;

    .metas {
      float: left;

      @media (min-width: $screen-sm-min) {
        float: none;
      }
    }

    .feed_action {
      float: right;
      margin-top: -4px;

      @media (min-width: $screen-sm-min) {
        display: none;
      }
    }

    .comments_wrap {
      border: $border_default;
      display: none;
      float: left;
      margin-top: 15px;
      padding: {
        bottom: 15px;
        left: 20px;
        right: 20px;
        top: 5px;
      }
      width: 100%;

      @media (min-width: $screen-sm-min) {
        float: none;
        width: auto;
      }

      // TODO
      h4 {display: none;}
      ul {
        margin: 0;
        padding-top: 10px;
      }
    }
  }

  .feed_action {
    color: $text-color;

    .btn {
      @include button_inverse(#ececec, #6e6e6e);

      width: 60px;
    }
  }

  > .feed_action {
    display: none;

    @media (min-width: $screen-sm-min) {
      display: block;
      left: 0;
      margin-bottom: -4px;
      position: absolute;
      top: 18px;
    }
  }
}
