// Feeds.
//
// article.feed_article
//   header
//   figure
//     a
//       img
//     figcaption
//       a
//   section
//     img
//     p
//     ul
//       li
//         img
//   footer
//     ul.metas
//       li
//     section.comments
//   .feed_action
//     a.btn
//

.feed_article {
  @include clearfix;

  padding: 2em 1em;
  position: relative;

  @media (min-width: $screen-sm-min) {
    min-height: calc(4em + 110px);
    padding-left: 120px;
    padding-right: 90px;
  }

  .metas {

    .score {
      display: none;
      margin: 0;

      @media (min-width: $screen-sm-min) {
        display: inline-block;
      }

      .rate {
        padding: 0;
      }
    }
  }

  > header {
    margin-bottom: 15px;

    h5 {
      margin: 0;

      a {
        color: $text-color;
        font-size: 16px;
      }
    }
  }

  > figure {
    @include clearfix;
    margin-bottom: 10px;
    border: 1px solid #f6f6f6;
    border-left: none;
    border-right: none;
    padding: 10px 30px;
    position: relative;

    @media (min-width: $screen-sm-min) {
      border: none;
      left: 0;
      margin: {
        bottom: 0;
      }
      padding: 0;
      position: absolute;
      text-align: center;
      top: calc(2em + 4px);
      width: 100px;
    }

    a {
      color: $gray;
      display: block;
    }

    img {
      float: right;
      height: 60px;
      margin-left: 15px;
      width: 60px;

      @media (min-width: $screen-sm-min) {
        float: none;
        height: 80px;
        margin: {
          left: auto;
          right: auto;
        }
        width: 80px;
      }
    }

    figcaption {

      @media (max-width: $screen-xs-max) {
        @include translate(0, -50%, 0);

        position: absolute;
        top: 50%;
        max-width: 50%;
      }

      @media (min-width: $screen-sm-min) {
        display: block;
        height: 20px;
        line-height: 20px;
        margin-top: 10px;
        text-align: center;

        &:before {
          content: '';
        }
      }

      a {
        @include text-overflow;

        @media (max-width: $screen-sm-max) {
          line-height: 30px;
        }
      }

      // TODO
      .score {
        margin: {
          bottom: 5px;
          top: 5px;
        }
        .rate {padding: 0;}

        @media (min-width: $screen-sm-min) {
          display: none;
        }
      }
    }
  }

  > section {
    margin-bottom: 15px;

    @media (min-width: $screen-sm-min) {
      @include clearfix;
    }

    > p {
      color: $gray;
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 0;
      overflow: hidden;
    }

    > img {
      margin-top: 15px;
      width: 100%;

      @media (min-width: $screen-sm-min) {
        float: right;
        height: 80px;
        margin-top: 0;
        width: 80px;
      }
    }

    > ul {
      @include clearfix;

      margin-top: 15px;

      > li {
        float: left;
        margin-right: 4px;

        @media (min-width: $screen-sm-min) {
          margin-right: 10px;
        }
      }
    }
  }

  > footer {
    @include clearfix;
    clear: both;

    @media (min-width: $screen-sm-min) {
      clear: none;
    }

    .metas {
      float: left;

      @media (min-width: $screen-sm-min) {
        float: none;
      }

      time {
        font-size: 14px;
      }

      .score {
        display: none;

        @media (min-width: $screen-sm-min) {
          display: block;
        }
      }
    }

    .feed_action {
      float: right;
      margin-top: -4px;

      @media (min-width: $screen-sm-min) {
        display: none;
      }
    }

    .comments_wrap {
      border: $border_default;
      display: none;
      float: left;
      margin-top: 15px;
      padding: {
        bottom: 15px;
        left: 20px;
        right: 20px;
        top: 5px;
      }
      width: 100%;

      @media (min-width: $screen-sm-min) {
        float: none;
        width: auto;
      }

      // TODO
      h4 {display: none;}
      ul {
        margin: 0;
        padding-top: 10px;
      }
    }
  }

  > .feed_action {
    display: none;

    @media (min-width: $screen-sm-min) {
      display: block;
      right: 0;
      margin-bottom: -4px;
      position: absolute;
      top: 30px;
    }
  }

  &.review {

    > section {

      > p {
        @media (min-width: $screen-sm-min) {
          float: left;
          width: 80%;
        }
      }
    }
  }
}

.feed_type {
  display: inline-block;

  a {
    color: $gray;

    @media (max-width: $screen-xs-max) {
      @include text-overflow;
      display: inline-block;
      max-width: 45px;
      vertical-align: middle;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .fa {
    color: $text-muted;
    margin-left: .5em;
  }

  .fa-heart  { color: $red; }
  .fa-check  { color: $green; }
  .fa-pencil { color: #134f5c; }
  .fa-plus   { color: #134f5c; }
  .fa-magic  { color: #134f5c; }

  .feed_text {
    display: none;

    @media (min-width: $screen-sm-min) {
      display: inline-block;
    }
  }
}

.feed_action {
  color: $text-color;
  display: inline-block;
  vertical-align: middle;

  .btn {
    @include button_inverse(#ececec, #6e6e6e);

    width: 60px;

    &.done {
      background-color: #6e6e6e;
      color: #ececec;
      opacity: 1;
    }
  }
}

.feed_thing {

  .feed_type {
    border-right: $border_default;
    padding-right: .5em;
  }
}

html.things_show,
html.feelings_index,
html.feelings_show,
html.reviews_index {
  figure.feeling_thing {display: none;}
  figure.review_thing {display: none;}
}

html.signed_in_homepage,
html.users_show,
html.users_feelings,
html.users_reviews {
  figure.feeling_author {display: none;}
  figure.review_author {display: none;}
}