// Feeds.
//
// article.feed_article
//   figure
//     a
//       img
//     figcaption
//       a
//   a
//     header
//     section
//       img
//       p
//       ul
//         li
//           img
//   footer
//     ul.metas
//       li
//     section.comments
//   .feed_action
//     a.btn
//

.feed_article {
  @include clearfix;

  padding: 1em;
  position: relative;

  @media screen and (min-width: $screen-sm-min) {
    padding-left: 90px;
  }

  > figure {
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: $screen-sm-min) {
      float: right;
      margin: {
        bottom: 0;
        top: 4px;
      }
      text-align: center;
      width: 100px;
    }

    a {
      color: $text-color;
      display: block;
    }

    img {
      display: none;

      @media screen and (min-width: $screen-sm-min) {
        display: block;
        height: 80px;
        margin: {
          left: auto;
          right: auto;
        }
        width: 80px;
      }
    }

    figcaption {

      @media screen and (min-width: $screen-sm-min) {
        display: block;
        height: 40px;
        line-height: 20px;
        margin-top: 5px;
        overflow: hidden;
        text-align: center;

        &:before {
          content: '';
        }
      }
    }
  }

  > header {
    margin-bottom: 20px;

    h5 {
      color: $text-color;
      font-size: 16px;
      margin: 0;
    }
  }

  > section {
    position: relative;

    @media (min-width: $screen-sm-min) {
      float: left;
      width: 80%;
    }

    > img {
      display: block;
      height: auto;
      margin-bottom: 1em;
      width: 100%;

      @media screen and (min-width: $screen-sm-min) {
        float: left;
        margin-bottom: 0;
        margin-right: 1em;
        height: 80px;
        width: 80px;
      }
    }

    > p {
      color: $gray;
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 20px;
    }

    > ul {
      @include clearfix;

      margin-bottom: 20px;

      > li {
        float: left;
        margin-right: 10px;
      }
    }
  }

  > footer {
    clear: both;
  }

  .metas {

    .score {
      margin: 0;

      .rate {
        padding: 0;
      }
    }
  }

  .feed_action {
    color: $text-color;
    bottom: 0;
    font-weight: normal;
    line-height: 30px;
    position: absolute;
    right: 20px;

    @media screen and (min-width: $screen-sm-min) {
      bottom: auto;
      left: 0;
      right: auto;
      top: 18px;
    }

    .btn {
      @include button_inverse(#ececec, #6e6e6e);

      width: 60px;
    }
  }
}
