.separator {
  color: #ddd;
  padding: 0 .5em;
}

.score {
  margin: .5em 0;
}

i.fa_alone {
  margin: 0;
}

.list_block {

  > li {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

.fanciers {
  color: $red;
  a {color: $red;}

  .fancied .fa-heart-o,
  .unfancied .fa-heart {
    display: none !important;
  }

  .unfancied .fa-heart-o,
  .fancied .fa-heart {
    @extend .heartbeat;
  }

  .unfancied {
    &:hover {
      span:last-child {color: $red;}
    }
  }
}

.owners {
  color: $green;
  a {color: $green;}

  .owned {
    .fa-circle-o {display: none !important;}
  }

  .unowned {
    .fa-check-circle-o {display: none !important;}
    &:hover {
      span:last-child {color: $green;}
    }
  }
}

.nothing {
  color: $text-muted;
  font-size: 18px;
  padding: 50px 0;
  text-align: center;

  .fa {
    font-size: 60px;
    margin: 0;
  }
}

.nomore {
  color: $text-muted;
  display: block;
  font-size: 16px;
  font-style: italic;
  padding: 20px 0;
  text-align: center;
}

img.lazy {
  visibility: hidden;
}

#check_provider_sync {
  color: $text-muted;
  margin-left: 2em;
}

.form-group.search {
  position: relative;

  .form-control {
    padding-left: 30px;
  }

  .fa {
    color: $text-muted;
    left: 10px;
    margin: 0;
    position: absolute;
    top: 9px;
  }
}

.breadcrumb {
  display: inline-block;
  padding-left: 1em;
  position: relative;

  &:before {
    color: $text-muted;
    content: '/';
    position: absolute;
    left: .3em;
  }

  &:first-child {
    padding-left: 0;

    &:before {
      display: none;
    }
  }
}

.bootstrap-select.form-control:not([class*="span"]) {
  width: auto;
}

.bootstrap-select.btn-group .dropdown-menu {
  z-index: $zindex_selectpicker;
}

/* fucking baidu analystics */
a[href^='http://tongji.baidu.com'] {
  display: none;
}

#sharing_cover {
  display: none;
}
