
.navbar {
  border: none;
  box-shadow: 0 1px 3px #555;

  .nav {

    .open {

      > a {

        &,
        &:hover,
        &:focus {
          background-color: $navbar-inverse-link-active-bg;
        }
      }
    }
  }

  .navbar-brand {
    position: relative;
    margin-left: 40px;
    margin-right: 8px;
    font-family: "orbitron-bold";

    img {
      position: absolute;
      left: -40px;
      z-index: 100;
      width: 48px;
      height: 48px;
    }

    span {
      text-shadow: 0 1px 1px #111;
    }
  }

  .navbar-collapse {
    padding-top: $padding-large-vertical;

    @media (max-width: $screen-sm-min) {
      max-height: none;
    }

    @media (min-width: $screen-sm-min) {
      padding-top: 0;
    }

    .navbar-nav {

      > li {

        > a {
          line-height: 40px;
          padding: 0 15px;

          .fa {

            @media (min-width: $screen-sm-min) {
              font-size: 1.3333333333333333em;
              line-height: 0.75em;
              vertical-align: -15%;
            }
          }
        }

        &.nav_olark {

          .fa {
            @media (min-width: $screen-sm-min) {
              vertical-align: baseline;
            }
          }
        }
      }
    }

    .navbar-form {
      @media (max-width: $screen-sm-min) {
        border-bottom-width: 0;
        margin-bottom: 0;
      }

      @media (min-width: $screen-sm-min) {
        margin-bottom: 7px;
        margin-top: 7px;
        transition-duration: .4s;
        transition-property: width;
        width: 12%;
      }

      @media (min-width: $screen-md-min) {
        width: 20%;
      }

      &.focus {

        @media (min-width: $screen-sm-min) {
          width: 25%;
        }
      }

      .search {
        margin-bottom: 0;
        width: 100%;

        .form-control {
          background-color: #fcfcfc;
          font-size: 12px;
          height: 26px;
          line-height: 14px;
          padding: {
            bottom: 5px;
            top: 5px;
          }
          width: 100%;

          &:focus {
            background-color: #fff;
          }
        }

        .fa {
          top: 6px;
        }
      }
    }
  }
}

#nav_primary {

  @media (max-width: $screen-sm-max) {
    @include clearfix;

    > li {
      float: left;
      text-align: center;
      width: 33.333333%;
    }
  }
}

.user_links {
  @include clearfix;

  margin: ($navbar-padding-vertical / 2) (-$navbar-padding-horizontal);

  @media (min-width: $screen-sm-min) {
    margin: {
      bottom: 0;
      left: 20px;
      right: 0;
      top: 0;
    }
  }

  &.login {
    border-top: 1px solid darken($navbar-inverse-bg, 7%);
    padding: $padding-small-vertical $padding-large-horizontal;
    padding-bottom: 0;

    @media (min-width: $screen-sm-min) {
      border-top: none;
      padding: 0;
    }
  }

  &.logout {

    .user_link {
      width: auto;

      @media (min-width: $screen-sm-min) {
        padding-right: 20px;
      }
    }
  }
}

.user_link {

  @mixin icon {
    > .fa {
      line-height: 40px;

      @media (min-width: $screen-sm-min) {
        font-size: 1.3333333333333333em;
        vertical-align: middle;
      }
    }
  }

  @mixin badge {
    > .badge {
      color: #fff;
      font-weight: normal;
      left: 28px;
      margin-top: -12px;
      padding: 1px 6px;
      position: absolute;
      top: 50%;
      z-index: 1;

      @media (min-width: $screen-sm-min) {
        font-size: 14px;
        left: 18px;
      }
    }
  }

  background-color: transparent;
  color: $navbar-inverse-link-color;
  display: block;
  float: left;
  height: 40px;
  padding: 0 18px;
  position: relative;
  width: 50px;

  &:hover {
    color: $navbar-inverse-link-hover-color;
  }

  @media (min-width: $screen-sm-min) {
    padding: {
      left: 0;
      right: 30px;
    }
  }

  @include icon;
  @include badge;

  &.user {
    height: auto;
    padding: 0;
    width: 80px;

    @media (min-width: $screen-sm-min) {
      float: right;
      width: 70px;
    }

    .avatar {
      float: left;

      img {
        display: block;
        height: 40px;
        width: 40px;
      }
    }

    .more {
      float: left;
      width: 40px;

      @media (min-width: $screen-sm-min) {
        width: 30px;
      }

      .dropdown-toggle {
        color: $navbar-inverse-link-color;
        display: block;
        line-height: 40px;
        padding: {
          left: 13px;
          right: 13px;
        }
        text-align: center;

        @media (min-width: $screen-sm-min) {
          padding: {
            left: 8px;
            right: 8px;
          }
        }
      }

      .dropdown-menu {

        @media (min-width: $screen-sm-min) {
          right: 2px;
        }
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {

      .open .dropdown-menu {
        position: relative;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        left: -40px;

        > li > a {
          color: $navbar-inverse-link-color;
          line-height: $line-height-computed;
          padding: 10px 15px;

          &:hover,
          &:focus {
            background: transparent;
            color: $navbar-inverse-link-hover-color;
          }
        }
      }
    }
  }

  &.cart {

    & + .popover {
      .popover-title {display: none;}
    }
  }

  &.notification {
    padding: 0;

    > a {
      color: $navbar-inverse-link-color;
      line-height: 40px;
      padding: 0 18px;

      &:hover,
      &:focus {
        color: $navbar-inverse-link-hover-color;
      }

      @media (min-width: $screen-sm-min) {
        padding: {
          left: 0;
          right: 30px;
        }
      }

      @include icon;
      @include badge;
    }
  }
}
