// Notifications.
//
//

.notifications {

  > li {
    @include clearfix;

    border-bottom: $border-dashed;
    padding: 10px;
    word-wrap: break-word;

    &:last-child {
      border-bottom: none;
    }

    &.unread {
      background-color: #eff7fd;
    }

    &.unopened {
      background-color: #eff7fd !important;
    }

    &.read,
    &.empty {
      background-color: transparent;
      color: $text-muted;
    }

    &.empty {
      text-align: center;
    }

    &.error {
      color: $red;
      text-align: center;
    }

    time {
      float: right;
      padding-left: 2em;
    }
  }
}

#notification_box {
  display: inline-block;

  #notification_trigger {
    display: inline-block;
  }

  .dropdown_box {
    right: -20px;

    &:before {
      right: 54px;
    }

    > header {
      overflow: hidden;
      padding: 0;
    }
  }

  .nav {

    > li {

      border-right: 1px solid #eee;

      > a {
        color: $text-muted;
        padding: {
          bottom: 8px;
          top: 8px;
        }
      }

      &.active {

        > a {
          background-color: darken($nav-link-hover-bg, 5%);
          color: $text-color;
        }
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  .spinner {
    bottom: 0;
    height: 28px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
  }

  .notifications {

    > li {

      time {
        display: none;
      }
    }
  }
}
