// Notifications.
//
//

.notifications {

  > li {
    @include clearfix;

    border-bottom: 1px dashed #eee;
    padding: 10px;

    &:last-child {
      border-bottom: none;
    }

    &.unread {
      background-color: #eff7fd;
    }

    &.read {
      background-color: transparent;
      color: $text-muted;
    }

    a {
      padding: 0 1em;
    }

    time {
      float: right;
      padding-left: 2em;
    }
  }
}

#notification_box {

  #notification_trigger {
    display: inline-block;

    @media screen and (min-width: $screen-sm-min) {
      font-size: 1.3333333333333333em;
      line-height: 0.75em;
      vertical-align: -15%;
    }
  }

  header {
    @include clearfix;

    > h5 {
      float: left;
    }

    > a {
      color: $text-muted;
      float: right;

      &:hover {
        color: $text-color;
      }
    }
  }

  .dropdown_box {
    right: -20px;

    &:before {
      right: 52px;
    }

    .notifications {

      > li {

        a {
          padding: 0 5px;
        }

        time {
          float: none;
          padding-left: 1em;
        }
      }
    }
  }
}
