.rule {
  border: none;
  border-bottom-color: $input-border;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 0;
  line-height: 0;
  margin-bottom: 1em;

  &.rule-dotted { border-bottom-style: dotted; }
  &.rule-dashed { border-bottom-style: dashed; }
}