// Page main section wrapper.
//
// @mixin wrapper(grid)   - Bootstrap grid system, none style.
// @mixin wrapper(simple) - Single column, max-width: $screen-md-min.
//

#wrapper {
  margin: 0 10px;

  @media screen and (min-width: $screen-sm-min) {
    margin: 0 $wrapper_margin;
  }

  > nav {
    margin-bottom: 1em;
  }
}

@mixin wrapper($layout) {

  @if $layout == grid {
    @include make-row;
    // calc() isn't common support on mobile.
    margin: 0 $wrapper_margin;

    @media screen and (min-width: $screen-md-min) {
      margin: 0 calc(#{$wrapper_margin} - 15px);
    }

  } @else if $layout == what {
    @include make-row;
    background-color: #fff;
    border-radius: 8px;
    // calc() isn't common support on mobile.
    margin: 0 $wrapper_margin;
    padding: 1em 1.5em;

    @media screen and (min-width: $screen-md-min) {
      margin: 0 calc(#{$wrapper_margin} - 15px);
    }

    @media screen and (min-width: $screen-lg-min + 100) {
      margin-left: auto;
      margin-right: auto;
      width: $screen-lg-min;
    }

  } @else if $layout == simple {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 1em;
    padding: 2em;

    @media screen and (min-width: $screen-md-min + 100) {
      margin-left: auto;
      margin-right: auto;
      max-width: $screen-md-min;
    }
  }
}
