// Page main section wrapper.
//
// @mixin wrapper(grid)   - Bootstrap grid system, none style.
// @mixin wrapper(simple) - Single column, max-width: $screen-md-min.
//

#wrapper {

  @media screen and (min-width: $screen-sm-min) {
    margin: 0 $wrapper_margin;
  }

  > nav {
    margin-bottom: 1em;
  }
}

@mixin wrapper($layout, $columns: -1) {

  @if $layout == grid {
    @include make-row;

    margin: 0;

    @media screen and (min-width: $screen-sm-min) {
      margin: 0 calc(#{$wrapper_margin} - 15px);
    }

    @if $columns >= 0 {
      @include decoration;

      padding: 20px 1.5em;

      @media screen and (min-width: $screen-sm-min) {
        padding-bottom: 40px;
        padding-top: 40px;
      }

      @media screen and (min-width: $screen-lg-min + 100) {
        margin-left: auto;
        margin-right: auto;
        width: $screen-lg-min;
      }

      @if $columns == 2 {

        > main {
          @include make-md-column(9, $gutter: 4em);
        }

        > aside {
          @include make-md-column(3, $gutter: 4em);
        }
      }
    }

  } @else if $layout == simple {
    @include decoration;

    margin-bottom: 1em;
    padding: 2em;

    @media screen and (min-width: $screen-md-min + 100) {
      margin-left: auto;
      margin-right: auto;
      max-width: $screen-md-min;
    }
  }
}
