@import "compass/css3";

@mixin wrapper($padding: 0) {
  @include border-radius($border-radius-base);
  background-color: #fff;
  border: 1px solid #ddd;
  padding: $padding;
}

@mixin fontawesome($content) {
  display: inline-block;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;

  &:before {
    content: $content;
  }
}

@mixin search-input() {
  input[type="search"] {
    border: 1px solid $input-border;
    padding-left: 30px;
    position: relative;
    @include border-radius($border-radius-base);

    + .fa {
      color: $text-muted;
      left: 10px;
      position: absolute;
      top: 7px;
    }
  }
}

@mixin text-noflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
