%container {
  // https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_grid.scss

  @include container-fixed();

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

%img-rounded {
  border-radius: $border-radius-large;
}

%img-circle {
  border-radius: 50%;
}

%avatar {
  color: $gray;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 0;

  a {
    color: $text-color;
  }

  img {
    height: 30px;
    margin-right: 5px;
    width: 30px;
  }

  .name {
    @include text-overflow;

    color: $text-color;
    display: inline-block;
    font-weight: normal;
    font-size: .8em;
    line-height: 30px;
    margin-bottom: 0;
    max-width: 6em;
    vertical-align: middle;
  }

  small {
    color: #bbb;
    font-size: .8em;
  }
}
