$site-margin: 5%;
$border-default: 1px solid #eee;
$border-default-active: 1px solid $red;
$background-default-active: #f8f8fa;
$zindex_search_candidate: $zindex-modal-background - 1;
$zindex_navbar: $zindex_search_candidate;
$zindex_backdrop: $zindex_navbar - 1;