/*
 *= require_self
*/

/* bootstrap customize */
$font-family-base: "Hiragino Sans GB", "Microsoft YaHei", Helvetica, sans-serif;
$headings-font-weight: normal;
$headings-line-height: 1.5;

$body-bg: #eee;
$link-color: #588cc7;
$btn-primary-bg: #049cdb;

$navbar-height: 40px;
$navbar-default-brand-color: #049cdb;

$screen-lg-min: 1440px;
$screen-xl-min: 1920px;

$thumbnail-bg: white;

$blue: #049cdb;
$green: #46a546;
$red: #9d261d;
$yellow: #ffc40d;
$orange: #f89406;
$pink: #c3325f;
$purple: #7a43b6;

// Base
@import "bootstrap";
@import "font-awesome";
@import "compass/css3";
@import "compass/layout/stretching";

@import "datepicker";

@import "base";
@import "layout";
@import "things";
@import "thing_form";
@import "users";
@import "messages";
@import "groups";
@import "lottery";
@import "home";
@import "carts";
@import "orders";
@import "new_home";

// Helper

// UI Component
@import "components/rules";

// Application Module

// Application Part
@import "parts/body";
@import "parts/alerts";
@import "parts/modals";

// Page
@import "pages/settings";
