@mixin triangle {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
}

@mixin section-decorate {
  background: white;
  @include border-radius(8px);
  @include box-shadow(rgba(0, 0, 0, 0.1) 1px 1px 10px);
}

@mixin left-layout($with_border: true) {
  @media screen and (min-width: 1024px) {
    float: left;
    width: 68%;
    @if $with_border {
      width: 64%;
      padding-right: 1.9%;
      border-right: 1px solid #eee;
      margin-right: 1.9%;
    }
    min-height: 800px;
  }
}

@mixin right-layout {
  @media screen and (min-width: 1024px) {
    float: right;
    width: 32%;
  }
}

@mixin fixed-wrapper {
  @include section-decorate;
  @include clearfix;
  padding: 1em 20px;
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    width: 980px;
  }
}

@mixin responsive-wrapper {
  @include section-decorate;
  @include clearfix;
  padding: 1em 20px;
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    min-width: 980px;
    max-width: 1280px;
    width: 62%;
  }
}

@mixin thing($size) {
  float: left;
  width: $size;
  margin: 1em;

  position: relative;

  > a {
    background: white;
    display: table-cell;
    width: $size;
    height: $size;
    text-align: center;
    vertical-align: middle;

    img {
      max-width: $size;
      max-height: $size;
      vertical-align: middle;
    }
  }

  h4 {
    text-align: center;
    margin: 1em 0 .5em;
    height: 20px;
    font-size: $baseFontSize;
    overflow: hidden;
    color: $fontLightColor;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  p {
    text-align: center;
    color: $fontLightColor;
    height: 20px;
    margin: 0;
    > * {margin-right: .5em;}
  }

  .pre_ribbon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    overflow:hidden;
    color: $white;
    font-weight: bold;
    letter-spacing: .5em;

    span {
      display: block;
      width: 150px;
      padding-left: 10px;
      padding-top: 3px;
      position:relative;
      left: 20px;
      top: -37px;
      text-align: center;

      @include transform-origin(0, 0);
      @include rotate(45deg);
      @include box-shadow(rgba(0, 0, 0, 0.3) 1px 1px 10px);
      @include background($orange);
    }
  }

  .pre_over_at {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 1.5em 0;
    color: white;
    font-size: 1.2em;
    @include background(rgba(0,0,0,0.5));
    i {
      font-size: 1.5em;
    }
    time {
      font-size: 1.2em;
      margin-left: .5em;
    }
    i,time {color: $orange;}
  }

  &:hover .pre_over_at {display: block;}
}

@mixin thing-in-list($size) {
  @include thing($size);
  @include section-decorate;
  padding: 1em;

  @media screen and (max-width: 767px) {
    @include thing(228px);
  }
}

ul, ol {
  list-style: none;
  margin: 0;
}

a {
  &:focus {outline: none;}
  &:hover {text-decoration: none;}
}

a.btn-link {
  &:hover {text-decoration: none;}
}

i {
  margin-right: .5em;
}

input {
  &:focus {outline: none !important;}
}

.btn-mini {
  text-shadow: none;
}

.add-on {
  margin-right: -1px;
}

.popover {
  color: $fontLightColor;
}

.brand {
  font-family: "orbitron-bold";
  position: relative;
}

.icon-twitter {
  color: $blue;
}

.spinning {
  text-align: center;
}

time {
  color: $fontLightColor;
  font-size: .8em;
}

.page-header {
  margin-top: 0;
}

.author {
  margin-top: 1em;
  > * {
    margin-right: 1em;
  }

  a i {
    color: $fontLightColor;
  }

  img {
    vertical-align: -2px;
    @extend .img-rounded;
    width: 60px;
    height: 60px;
  }
}

.post_actions {
  margin-left: 5px;
}

.score {
  margin: .5em 0;
}

.help-block {
  color: $fontLightColor;
  font-style: italic;
}

.comments {
  h4 {
    color: $fontLightColor;
  }

  ul {
    margin: 1em 0 2em;
    border-top: 5px solid #eee;
    padding-top: 2em;

    li:not(:last-child) {
      border-bottom: 1px dashed #ccc;
      padding-bottom: 1em;
      margin-bottom: 1em;
    }
  }

  .comment {
    @include clearfix();

    .avatar {
      float: left;
      margin-right: 1em;
      img {
        @extend .img-rounded;
        width: 60px;
        height: 60px;
      }
    }

    header {
      margin: 0;
      padding-left: 80px;

      .reply {margin-right: 0;}
    }

    section {
      padding-left: 80px;
      p {margin: .5em 0 0;}
    }
  }
}

.fanciers {
  color: $red;
  a {color: $red;}
}

.owners {
  color: $green;
  a {color: $green;}
}

.reviews_count {
  color: $blue;
}

.can_buy {
  color: $green;
}

.limit {
  color: $purple;
}

.pre {
  color: $orange;
}

.modal {
  form {
    margin: 0;
    textarea {width: 90%;}
  }
}

#login-modal {
  .modal-body {
    text-align: center;
    .weibo_sign_in img {vertical-align: -5px;}
  }
}


.general_wrapper {
  @include fixed-wrapper;
}

.dashed_divider {
  padding-bottom: 2em;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 2em;
}

.loading-things {
  float: left;
  width: 100%;
  text-align: center;
}

.post_content {
  iframe {border: none;}
  ol {list-style: decimal inside;}
  ul {list-style: disc inside;}
}

.post_summary {
  overflow: hidden;
  margin-bottom: 2em;
}

#editor {
  display: none;
  overflow: scroll;
  max-height: 800px;
  height: 300px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 4px 6px;
  color: #555;
  outline: none;
  resize: both;
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
  @include transition(border linear 0.2s, box-shadow linear 0.2s);

  ol {list-style: decimal inside;}
  ul {list-style: disc inside;}
}

#editor-toolbar {
  @include user-select(none);
  display: none;
  margin: 0;

  .btn-group {
    margin-bottom: 12px;
  }

  .dropdown-menu {
    padding: .5em 1em 0;
    a {cursor: pointer;}
  }

  i {margin-right: 0;}

  .link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -1px;
  }

  #pictureBtn {
    margin-right: -1px;
  }
}

.editor-wrapper {
  position: relative;
  margin-bottom: 2em;

  .file-uploading {
    display: none;
    position: absolute;
    text-align: center;
    line-height: 300px;
    background: rgba(255, 255, 255, 0.5);
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

form.edit_post {
  margin: 0;

  .controls {
    input[type="text"], input[type="url"] {
      width: 100%;
      @media screen and (min-width: 768px) {
        width: 70%;
      }
    }
    input[type="range"] {display: none;}
  }

  .submit {
    margin-bottom: 2em;

    input[type="submit"] {
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      float: right;
      width: 20%;
      text-align: right;
    }
  }

  #thing_content > & {
    padding-bottom: 1em;
  }
}

article.post {
  header {
    margin-bottom: 2em;
    word-wrap: break-word;
  }

  aside {
    float: right;
    margin-top: -3.6em;
  }

  section {
    p {word-wrap: break-word;}
  }

  footer {
    span {padding-right: 1em;}
    a {margin-right: 1em;}
  }
}
