@mixin big-font {
  font-size: 16px;
  line-height: 24px;
}

@mixin triangle {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
}

@mixin section-decorate {
  background: white;
  @include border-radius(8px);
  @include box-shadow(rgba(0, 0, 0, 0.1) 1px 1px 10px);
}

@mixin left-layout {
  float: left;
  width: 67%;

  @media screen and (min-width: 1024px) {
    min-height: 1024px;
  }

  @media screen and (max-width: 979px) {
    float: none;
    width: 100%;
  }
}

@mixin right-layout {
  float: right;
  width: 31%;

  @media screen and (max-width: 979px) {
    float: none;
    width: 100%;
  }
}

@mixin thing($size) {
  float: left;
  width: $size;
  margin: 1em;

  position: relative;

  > a {
    background: white;
    display: table-cell;
    width: $size;
    height: $size;
    text-align: center;
    vertical-align: middle;

    img {
      max-width: $size;
      max-height: $size;
      vertical-align: middle;
    }
  }

  h4 {
    text-align: center;
    margin: 1em 0 .5em;
    height: 20px;
    font-size: $baseFontSize;
    overflow: hidden;
    color: $fontLightColor;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  p {
    text-align: center;
    color: $fontLightColor;
    height: 20px;
    margin: 0;
    > * {margin-right: .5em;}
  }

  .pre_ribbon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    overflow:hidden;
    color: $white;
    font-weight: bold;
    letter-spacing: .5em;

    span {
      display: block;
      width: 150px;
      padding-left: 10px;
      padding-top: 3px;
      position:relative;
      left: 20px;
      top: -37px;
      text-align: center;

      @include transform-origin(0, 0);
      @include rotate(45deg);
      @include box-shadow(rgba(0, 0, 0, 0.3) 1px 1px 10px);
      @include background($orange);
    }
  }
}

@mixin fixed-wrapper {
  @include section-decorate;
  @include clearfix;
  padding: 1em 20px;
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    width: 980px;
  }
}


ul, ol {
  list-style: none;
  margin: 0;
}

a {
  &:focus {outline: none;}
  &:hover {text-decoration: none;}
}

a.btn-link {
  &:hover {text-decoration: none;}
}

i {
  margin-right: .5em;
}

input {
  &:focus {outline: none !important;}
}

.btn-mini {
  text-shadow: none;
}

.add-on {
  margin-right: -1px;
}

.popover {
  color: $fontLightColor;
}

.brand {
  font-family: "orbitron-bold";
  position: relative;
}

.icon-twitter {
  color: $blue;
}

.spinning {
  text-align: center;
}

time {
  color: $fontLightColor;
  font-size: .8em;
}

.author {
  margin-top: 1em;
  > * {
    margin-right: 1em;
  }

  a i {
    color: $fontLightColor;
  }

  img {
    vertical-align: -2px;
    @extend .img-rounded; 
    width: 60px;
    height: 60px;
  }
}

.post_actions {
  margin-left: 5px;
}

.score {
  margin: .5em 0;
}

.help-block {
  color: $fontLightColor;
  font-style: italic;
}

.comments {
  h4 {
    color: $fontLightColor;
  }

  ul {
    margin: 2em 0;
    border-top: 5px solid #eee;
    padding-top: 2em;

    li:not(:last-child) {
      border-bottom: 1px dashed #ccc;
      padding-bottom: 1em;
      margin-bottom: 1em;
    }
  }

  .comment {
    @include clearfix();

    .avatar {
      float: left;
      margin-right: 1em;
      img { 
        @extend .img-rounded; 
        width: 60px;
        height: 60px;
      }
    }

    header {
      margin: 0;
      padding-left: 80px;

      .reply {margin-right: 0;}
    }

    section {
      padding-left: 80px;
      p {margin: .5em 0 0;}
    }
  }
}

.fanciers {
  color: $red;
  a {color: $red;}
}

.owners {
  color: $green;
  a {color: $green;}
}

.reviews_count {
  color: $blue;
}

.can_buy {
  color: $green;
}

.limit {
  color: $purple;
}

.pre {
  color: $orange;
}

.modal {
  form {
    margin: 0;
    textarea {width: 90%;}
  }
}

.redactor_editor {
  ul {list-style: disc;}
  ol {list-style: decimal;}
}

#login-modal {
  .modal-body {
    text-align: center;
    .weibo_sign_in img {vertical-align: -5px;}
  }
}

form.edit_post {
  .controls {
    input[type="text"] {width: 70%;}
    input[type="url"] {width: 70%;}
    input[type="range"] {display: none;}
    textarea {display: none;}

    .redactor_box {
      width: 90%;
      .redactor_editor {
      }
    }
  }

  .submit {
    text-align: center;
    input[type="submit"] {
      width: 25%;
      @media screen and (max-width: 767px) {
        width: 80%;
      }
    }
  }
}

.general_wrapper {
  @include fixed-wrapper;
}

.dashed_divider {
  padding-bottom: 2em;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 2em;
}

.loading-things {
  float: left;
  width: 100%;
  text-align: center;
}

.post_content {
  @include big-font;
  iframe {border: none;}
  ol {list-style: decimal inside;}
  ul {list-style: disc inside;}
}
