.carts_wrapper {
  @include responsive-wrapper;

  ul {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1em;
  }

  .cart_item {
    @include clearfix;
    margin: 1em 0;

    .thing {
      float: left;
      > * {float: left;}
      .cover {margin-right: 3em;}
      .info {
        .title {font-size: 1.25em;}
        .kind {margin-top: 1em;}
      }

      @media screen and (max-width: 767px) {
        .info {width: 8em;}
      }
    }

    .item_opts {
      float: right;
      > * {
        display: inline-block;
        float: right;
      }
      .price {
        text-align: right;
        width: 6em;
        margin-right: 1em;
        font-size: 1.25em;
      }
      .destroy {
        text-align: center;
        margin: 0 2em;
        a {color: $fontLightColor;}
      }
      .quantity {
        margin-right: 1em;
        span {
          display: inline-block;
          text-align: center;
          width: 3em;
        }
        .icon-plus {margin-left: .5em;}
      }

      @media screen and (max-width: 767px) {
        float: left;
        margin-top: 1em;
        width: 100%;
        .quantity {
          float: left;
          span {width: 2em;}
        }
        .destroy {
          margin: 0;
        }
        .price {margin-right: 0;}
      }
    }
  }

  .total_price {
    text-align: right;
    margin-right: 1em;
    color: $fontLightColor;
    strong {
      margin-left: 1em;
      font-size: 1.25em;
      color: $red;
    }
    
    @media screen and (max-width: 767px) {
      margin-right: 0;
    }
  }

  button[type="submit"] {
    float: right;
    margin-right: 1em;
    width: 8em;

    @media screen and (max-width: 767px) {
      margin-right: 0;
    }
  }
}
