.cart_success {
  color: $green;
  i {color: $green;}
}

#new_cart_item {
  .cart_item_quantity {
    label {
      display: inline-block;
      margin-right: 1em;
      color: $fontLightColor;
      padding-top: .4em;
      width: 2em;
      abbr {display: none;}
    }

    .controls {
      display: inline-block;
      input {width: 3em;}
    }
  }

  .cart_prompt {
    color: $fontLightColor;
    i {color: $red;}
    time {
      font-size: 1.2em;
      margin: 0 .5em;
    }

    .cart_success {
      i {color: $green;}
    }
  }

  button[type="submit"] {
    width: 61%;
  }

  .kind {
    margin: 1em 0;

    .select_enabled, .select_disabled {
      @include border-radius(5px);
      display: inline-block;
      padding: 0.5em;
      min-width: 60%;
      background-color: #eee;
      color: $fontLightColor;
    }

    .select_enabled {
      &:hover, &.selected {
        background-color: #ddd;
      }
    }
  }

  @media screen and (max-width: 1023px) {
    @include clearfix();
    margin-top: -1em;
    border-bottom: 1px solid #eee;

    .cart_prompt {
      > * {
        display: inline;
        margin-right: 2em;
      }
    }

    ul {
      @include clearfix();
      li.kind {
        float: left;
        margin-right: 1em;
        > a {display: inline;}
      }
    }

    .cart_item_quantity {
      float: left;
    }

    button[type="submit"], .cart_login {
      float: right;
      width: 30%;
    }
  }

  @media screen and (max-width: 767px) {
    text-align: center;

    .cart_item_quantity {
      float: none;
    }

    button[type="submit"], .cart_login {
      float: none;
      width: 50%;
      margin-bottom: 2em;
    }
  }
}

.carts_wrapper {
  @include responsive-wrapper;

  ul {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1em;
  }

  .cart_item {
    @include clearfix;
    margin: 1em 0;

    .thing {
      float: left;
      > * {float: left;}
      .cover {margin-right: 3em;}
      .info {
        .title {font-size: 1.25em;}
        .kind {margin-top: 1em;}
      }

      @media screen and (max-width: 767px) {
        .info {width: 8em;}
      }
    }

    .item_opts {
      float: right;
      > * {
        display: inline-block;
        float: right;
      }
      .price {
        text-align: right;
        width: 6em;
        margin-right: 1em;
        font-size: 1.25em;
      }
      .destroy {
        text-align: center;
        margin: 0 2em;
        a {color: $fontLightColor;}
      }
      .quantity {
        margin-right: 1em;
        span {
          display: inline-block;
          text-align: center;
          width: 3em;
        }
        .icon-plus {margin-left: .5em;}
      }

      @media screen and (max-width: 767px) {
        float: left;
        margin-top: 1em;
        width: 100%;
        .quantity {
          float: left;
          span {width: 2em;}
        }
        .destroy {
          margin: 0;
        }
        .price {margin-right: 0;}
      }
    }
  }

  .total_price {
    text-align: right;
    margin-right: 1em;
    color: $fontLightColor;
    strong {
      margin-left: 1em;
      font-size: 1.25em;
      color: $red;
    }

    @media screen and (max-width: 767px) {
      margin-right: 0;
    }
  }

  button[type="submit"] {
    float: right;
    margin-right: 1em;
    width: 8em;

    @media screen and (max-width: 767px) {
      margin-right: 0;
    }
  }
}
