.coupons_wrapper {
  @include responsive-wrapper;

  header {
    h1 {
      padding: 0;
      margin-bottom: 22px;
      font-size: 21px;
      line-height: 44px;
      color: #999999;
      border: 0;
      border-bottom: 1px solid #e5e5e5;
    }
  }
}
