.group_wrapper {
  @include fixed-wrapper;
}

#group_header {
  border-bottom: 1px solid #eee;
  margin-bottom: 2em;

  h1 {
    a {
      color: $textColor;
      &:hover {color: $linkColor;}

      i {
        vertical-align: 2px;
      }
    }

    @media screen and (max-width: 767px) {
      font-size: 2em;
    }
  }

  p {color: $fontLightColor;}

  .new_topic {
    float: right;
    margin: {top: 3em; right: 2em;}

    @media screen and (max-width: 767px) {
      margin: {top: .3em; right: 0;}
    }
  }
}

#topics {
  .topic {
    @include clearfix;
    padding: 1em 0;
    border-bottom: 1px dashed #ccc;

    > a:first-child {
      float: left;
      img { @extend .img-rounded; }
      margin-right: 2em;

      @media screen and (max-width: 767px) {
        float: none;
      }
    }

    aside {
      float: right;
      margin: {top: 25px;right: 2em;}
    }

    h4 {
      margin {right: 10%; top: 0;}
      i {
        margin: 0 0 0 1em;
        color: $red;
      }
    }

    .summary {
      margin-top: 20px;

      a {
        color: $fontLightColor;
        &:hover {color: $textColor;}
      }

      .commented_at {
        color: $fontLightColor;
        margin-left: 2em;
        
        time {
          font-size: 1em;
          margin-left: .5em;
        }
        a {margin: 0 .5em;}
      }
    }
  }
}

#topic_show {
  > header {
    margin-bottom: 2em;
  }

  > section {
    ol {list-style: decimal inside;}
    ul {list-style: disc inside;}
  }

  #topic_comments {
    margin-top: 2em;
    border-top: 1px solid #eee;
    padding-top: 2em;

    p.login_tip {
      margin: 2em 0;
    }

    textarea {width: 80%;}
  }
}
