#home_things {
  ul {
    @include make-row;
    margin: 0 5%;

    li {
      @include make-sm-column(6);
      @include make-md-column(4);
      @include make-lg-column(3);
      @include make-xl-column(2);
      margin-bottom: 2em;
    }
  }
}

#home_reviews {
  height: 200px;
  background: white;
}

#site_filling {
  margin: 1em 0;
  text-align: center;
  color: $text-muted;
}

#qr_entry {
  @include responsive-wrapper;
  text-align: center;
  > a {
    display: block;
    margin: 1em 0;
  }
  .icon-comments {color: $green;}
}
