.home_wrapper {
  margin: 0 7%;

  @media screen and (max-width: 767px) {
    margin: 0;
  }

  .pagination {
    float: left;
    margin-left: 1em;
  }
}

#home_things {
  @include clearfix;

  .wrapper {@include clearfix;}

  .pagination {
    margin-top: 2em;
  }

  li.thing {
    @include thing(230px);
    @include section-decorate;
    padding: 1em;
  }

  @media screen and (min-width: 768px) {
    li.thing {
      @include thing(274px);
    }

    li.thing:nth-of-type(3n+1) {
      @include thing(604px);
    }
  }

  @media screen and (min-width: 1024px) {
    @include left-layout;

    li.thing {
      @include thing(250px);
      margin: .5em;
    }

    li.thing:nth-of-type(3n+1) {
      @include thing(544px);
      margin: .5em;
    }
  }

  @media screen and (min-width: 1280px) {
    li.thing {
      @include thing(320px);
      margin: .5em;
    }

    li.thing:nth-of-type(3n+1) {
      @include thing(640px);
      margin: .5em;
      padding: 2em 2.5em;
    }
  }

  @media screen and (min-width: 1440px) {
    li.thing {
      @include thing(360px);
      margin: .5em;
    }

    li.thing:nth-of-type(3n+1) {
      @include thing(640px);
      margin: .5em;
      padding: 2em 5.4em;
    }
  }

  @media screen and (min-width: 1680px) {
    li.thing {
      @include thing(400px);
    }

    li.thing:nth-of-type(3n+1) {
      @include thing(640px);
      padding: 2em 8.8em;
    }
  }

  @media screen and (min-width: 1920px) {
    li.thing {
      @include thing(300px);
    }

    li.thing:nth-of-type(3n+1) {
      @include thing(300px);
      padding: 1em;
    }

    li.thing:nth-of-type(4n+1) {
      @include thing(640px);
      padding: 2em 14.25em;
    }
  }

  @media screen and (min-width: 2560px) {
    li.thing {
      @include thing(300px);
    }

    li.thing:nth-of-type(4n+1) {
      @include thing(300px);
      padding: 1em;
    }

    li.thing:nth-of-type(6n+1), li.thing:nth-of-type(6n+2) {
      @include thing(640px);
      padding: 2em 1.58em;
    }
  }
}

#home_gifts {
  @include section-decorate;
  margin: 1em;
  display: none;

  .wrapper {padding: 1em 2em;}

  .activate_success {
    background: #eee;
    font-weight: bold;
    color: $red;
    padding: 1em;
    @include border-radius(10px);
  }

  .welcome_guests {
    color: $fontLightColor;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 1em;

    i {
      color: $red;
      margin-right: .2em;
    }
  }

  h4 {
    margin: 1em 0;
    color: $blue;

    a {
      display: inline-block;
      float: right;
      font-size: $baseFontSize;
    }
  }

  @media screen and (min-width: 1024px) {
    @include right-layout;
    display: block;
    margin: .5em;
  }

  @media screen and (min-width: 1680px) {
    margin: 1em;
  }
}

#home_new_things {
  li.thing {
    h4, p {display: none;}
    margin: 1em 0;
    text-align: center;
  }

  padding-bottom: 2em;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 2em;
}

#home_new_reviews {
  li {
    margin: 1em 0;
  }
}
