@include font-face("orbitron-bold", font-files(
                     "orbitron-bold.woff", woff,
                     "orbitron-bold.ttf", truetype,
                     "orbitron-bold.svg", svg),
                   "orbitron-bold.eot");

body > header {
  margin-bottom: $navbar-height;

  > nav.navbar {

    .icon-caret-down {margin: 0 0 0 .2em;}

    .navbar-brand {
      position: relative;
      margin-left: 40px;
      margin-right: 1em;
      font-family: "orbitron-bold";
      position: relative;

      img {
        position: absolute;
        left: -40px;
      }
    }

    .nav_user {
      position: relative;
      width: 70px;

      > a {
        position: absolute;
        z-index: 100;
        img {
          width: 40px;
          height: 40px;
        }
      }

      > ul {
        margin-top: 60px;
      }
    }

    #navbar_search {
      position: relative;
      margin-right: 1em;

      input.search-query, input.search-query:focus {
        padding-left: 29px; 
        margin-top: 4px;
        border: 1px solid $input-border;
        @include border-radius(4px);
      }

      .icon-search {
        position: absolute; 
        top: 9px; 
        left: 21px;
        color: $text-muted; 
      }
    }

    .nav_messages, .nav_cart {
      a > span {color: $red;}
    }

    .nav_cart {
      a > span {font-weight: bold;}
      .popover-title {display: none;}
      .popover-content {color: $green;}
    }

    .nav_messages {
      a {padding-left: 0;}
    }

  }

/* > nav { */
/*   .navbar-inner { */
/*     @media screen and (max-width: 863px) { */
/*       .nav.pull-left > li a { */
/*         span, i.icon-caret-down {display: none;} */
/*       } */
/*     } */
/*     @media screen and (max-width: 767px) { */
/*       form.navbar-search {display: none;} */

/*       .navbar-brand { */
/*         margin-left: 0; */
/*         img {display: none;} */
/*         width: 90%; */
/*       } */

/*       .nav.pull-left {padding-left: 6px;} */
/*       .nav > li > a {padding: 5px;} */
/*       .nav_user { */
/*         width: 50px; */
/*         > a {top: -23px;} */
/*       } */
/*     } */
/*   } */
/* } */
}

body > section.container {
  padding: 2em 0;
}

body > footer {
  padding: 2em 0;
  margin: 2em 0 0;
  background: #e4e4e4;
  padding-left: 10%;

  #contacts {
    width: 40%;

    li {
      margin: 1em 0;
      color: $text-muted;
      a {
        color: $text-muted;
        &:hover {color: $blue;}
      }

      i {
        margin-right: 1em;
      }

      &.icon-copyright a {
        font-size: 12px;
      }
    }
  }
}

/* fucking baidu analystics */
a[href^='http://tongji.baidu.com'] {
  display: none;
}
