@include font-face("orbitron-bold", font-files(
                     "orbitron-bold.woff", woff,
                     "orbitron-bold.ttf", truetype,
                     "orbitron-bold.svg", svg),
                   "orbitron-bold.eot");

.user_avatar {
  width: 30px;
  height: 30px;
}

body {
  background: #eee;
}

body > header {
  margin-bottom: 3em;

  @media screen and (max-width: 979px) {
    margin-bottom: -2em;
  }

  > nav {
    .navbar-inner {
      padding: 0 2%;

      .icon-caret-down {margin: 0 0 0 .2em;}
      .nav.pull-left > li {margin-top: 1px;}
      .nav.pull-right > li {margin-top: 2px;}

      .brand {
        position: relative;
        margin-left: 40px;
        color: $blue;

        img {
          position: absolute;
          left: -40px;
        }
      }

      form.navbar-search#nav_search {
        margin-right: 1em;

        input.search-query, input.search-query:focus {
          padding-left: 29px;
          margin-top: 2px;
          height: 16px;
          @include border-radius(4px);
        }

        .icon-search {
          position: absolute;
          top: 7px;
          left: 11px;
          color: $navbarText;
        }
      }

      .nav_lotteries {
        i {color: $red;}
      }

      .nav_messages, .nav_cart {
        a > span {color: $red;}
      }

      .nav_cart {
        a > span {font-weight: bold;}
        .popover-title {display: none;}
        .popover-content {color: $green;}
      }

      .nav_messages {
        a {padding-left: 0;}
      }

      .nav_user {
        position: relative;
        width: 70px;

        > a {
          position: absolute;
          z-index: 100;
          img {
            width: 40px;
            height: 40px;
          }
        }

        > ul {
          margin-top: 60px;
          margin-right: 10px;
        }
      }

      @media screen and (max-width: 1279px) {
        .nav_help {display: none;}
      }
      @media screen and (max-width: 1151px) {
        .nav_lotteries {display: none;}
      }
      @media screen and (max-width: 1024px) {
        .nav_new_thing {display: none;}
      }
      @media screen and (max-width: 863px) {
        .nav.pull-left > li a {
          span, i.icon-caret-down {display: none;}
        }
      }
      @media screen and (max-width: 767px) {
        form.navbar-search {display: none;}

        .brand {
          margin-left: 0;
          img {display: none;}
          width: 90%;
        }

        .nav.pull-left {padding-left: 6px;}
        .nav > li > a {padding: 5px;}
        .nav_user {
          width: 50px;
          > a {top: -23px;}
        }
      }
    }
  }
}

body > section.container-fluid {
  padding: 2em 0;
}

body > footer {
  padding: 2em 0;
  margin: 2em 0 0;
  background: #e4e4e4;
  padding-left: 10%;

  #contacts {
    width: 40%;

    li {
      margin: 1em 0;
      color: $fontLightColor;
      a {
        color: $fontLightColor;
        &:hover {color: $blue;}
      }

      i {
        margin-right: 1em;
      }

      &.icon-copyright a {
        font-size: 12px;
      }
    }
  }
}

/* fucking baidu analystics */
a[href^='http://tongji.baidu.com'] {
  display: none;
}
