@include font-face("orbitron-bold", font-files(
                     "orbitron-bold.woff", woff,
                     "orbitron-bold.ttf", truetype,
                     "orbitron-bold.svg", svg),
                   "orbitron-bold.eot");

body {padding-top: $navbar-height*2;}

.navbar {

  .navbar-brand {
    position: relative;
    margin-left: 40px;
    margin-right: 8px;
    font-family: "orbitron-bold";

    img {
      position: absolute;
      left: -40px;
      z-index: 100;
    }
  }

  .navbar-collapse {
    padding-top: $padding-large-vertical;

    @media screen and (max-width: $screen-sm-min) {
      max-height: none;
    }

    @media screen and (min-width: $screen-sm-min) {
      padding-top: 0;
    }

    .navbar-form {
      @media screen and (max-width: $screen-sm-min) {
        border-bottom-width: 0;
        margin-bottom: 0;
      }

      @media screen and (min-width: $screen-sm-min) {
        margin-bottom: 7px;
        margin-top: 7px;
        width: 20%;
      }

      @media screen and (min-width: $screen-md-min) {
        width: 17%;
      }

      .form-group {
        margin-bottom: 0;
        position: relative;
        width: 100%;
        @include search-input;

        input[type="search"] {
          font-size: 12px;
          height: 26px;
          line-height: 14px;
          padding: 5px 10px 5px 30px;

          & + .icon-search {
            top: 6px;
          }
        }
      }
    }
  }

  .nav_user {

    &.is_login {
      border-top: 1px solid darken($navbar-default-bg, 6.5%);
      padding: $padding-small-vertical $padding-large-horizontal;
      padding-bottom: 0;
      @include clearfix;

      .nav_user_action {
        float: left;
        margin: 10px 8px;

        @media screen and (min-width: $screen-sm-min) {
          float: right;
        }

        .badge {
          font-family: $font-family-sans-serif;
          padding: 1px 6px;
        }
      }

      .nav_cart {
        .badge {
          background-color: $brand-success;
          color: #fff;
        }
        
        &+.popover {
          .popover-title {display: none;}
        }
      }

      .nav_messages {

        .badge {
          background-color: $brand-primary;
          color: #fff;
        }
      }

      &.open {

        .nav_user_action {
          background-color: $navbar-default-link-hover-bg;
          color: $navbar-default-link-color;

          &:hover {
            background-color: $navbar-default-link-hover-bg;
            color: $navbar-default-link-hover-color;
          }
        }

        .nav_user_avatar {

          img {
            box-shadow: 0 0 10px $brand-primary;
          }
        }
      }

      @media screen and (max-width: $screen-sm-min) {
        & > .dropdown-menu > li > a {
          padding: $padding-base-vertical $padding-large-horizontal;
        }
      }

      @media screen and (min-width: $screen-sm-min) {
        border-top: none;
        padding: 0;

        & > .dropdown-menu {
          margin-top: 15px;
        }
      }
    }

    &.is_not_login {

      .nav_user_action {
        display: block;
        padding: $nav-link-padding;
      }
    }

    .nav_user_avatar {
      float: left;
      z-index: 100;

      @media screen and (min-width: $screen-sm-min) {
        float: right;
        margin-left: 5px;
        position: relative;
        top: 10px;
      }
    }

    .nav_user_action {
      color: $navbar-default-link-color;

      &:hover,
      &:focus {
        background-color: $navbar-default-link-hover-bg;
        color: $navbar-default-link-hover-color;
      }
    }
  }
}

body > section.container {
  padding: 2em 0;
}

body > footer {
  padding: 2em 0;
  margin: 2em 0 0;
  background: #e4e4e4;
  padding-left: 10%;

  #contacts {
    width: 40%;

    li {
      margin: 1em 0;
      color: $text-muted;
      a {
        color: $text-muted;
        &:hover {color: $blue;}
      }

      i {
        margin-right: 1em;
      }

      &.icon-copyright a {
        font-size: 12px;
      }
    }
  }
}

/* fucking baidu analystics */
a[href^='http://tongji.baidu.com'] {
  display: none;
}
