#link_show {
  > header {
    h3 { 
      word-wrap: break-word;          
      margin: 0; 
      i {margin-left: .5em;}
    }
    .actions {margin-top: .5em;}
  }

  aside#link_comments {
    margin-top: 2em;

    .comments {
      form#create_comment {
        textarea {width: 50%;}
        @media screen and (max-width: 979px) {
          textarea {width: 95%;}
        }
      }
    }
  }
}

.digging, .diggers {
  color: $red;
  a {color: $fontLightColor;}
}

#links {
  .link {
    &:not(:last-child) {
      padding-bottom: 1em;
      border-bottom: 1px dashed #ccc;
      margin-bottom: 1em;
    }

    article {
      header {
        margin-bottom: 1em;
        word-wrap: break-word;
      }

      footer {
        span {padding-right: 1em;}
      }
    }
  }
}
