#lotteries {
  @include section-decorate;
  padding: 2em;

  > header {
    padding-bottom: 1em;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 2em;

    h3 {
      font-weight: bold;
      color: $red;
      i {margin-right: 6px;}
    }

    p {
      color: $fontLightColor;
      i {
        color: $red;
      }
    }

    ol {
      list-style: decimal;
      color: $fontLightColor;
      margin-left: 1.5em;
      margin-bottom: 1em;
    }
  }

  > section {
    th, td {
      text-align: center;
      vertical-align: middle;
      padding-top: 1em;
      img {margin-bottom: .5em;}
    }

    caption {
      text-align: left;
      color: $fontLightColor;

      i {
        color: $red;
      }
    }

    .lottery {
      .date {
        width: 25%;
        color: $red;
        font-size: 1.2em;
        a {margin-left: 1em;}
      }

      .thing {
        width: 40%;
      }
    }
  }
}
