.orders_wrapper {
  @include responsive-wrapper;

  button[type="submit"] {
    float: right;
    margin-right: 1em;
    width: 8em;

    @media screen and (max-width: 767px) {
      margin-right: 0;
    }
  }

  .total_price {
    text-align: right;
    color: $fontLightColor;
    strong {
      margin-left: 1em;
      font-size: 1.25em;
      color: $red;
    }

    @media screen and (max-width: 767px) {
      margin-right: 0;
    }
  }

  .controls {
    li {
      margin-top: 4px;
    }
    .deliver_by_list {
      li {
        display: inline-block;
        margin-right: 1em;
      }
    }
  }

  .form-actions {
    border-top: 1px solid #e5e5e5;
    padding-top: 1em;
    background-color: transparent;
    padding-right: 0;
  }

  abbr[title] {
    border-bottom: none;
  }

  .make_order {
    float: right;
  }

  .order_items {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1em;
  }

  .price {
    text-align: right;
    width: 6em;
    font-size: 1.25em;
  }

  .order_item {
    @include clearfix;
    margin: 1em 0;

    .thing {
      float: left;
      > * {
        float: left;
      }
      .cover {
        margin-right: 3em;
      }
      .info {
        .title {
          font-size: 1.25em;
        }
        .kind {
          margin-top: 1em;
        }
      }

      @media screen and (max-width: 767px) {
        //.info {width: 8em;}
        .cover {
          display: none
        }
      }
    }

    .item_opts {
      float: right;
      > * {
        display: inline-block;
        float: right;
      }

      .quantity {
        margin-right: 1em;
        span {
          display: inline-block;
          text-align: center;
          width: 3em;
        }
        .tip {
          display: none
        }
      }

      @media screen and (max-width: 767px) {
        float: left;
        margin-top: 1em;
        width: 100%;
        .quantity {
          span {
            width: 2em;
          }
          .tip {
            display: inline;
          }
        }
      }
    }
  }

  header {
    h1 {
      padding: 0;
      margin-bottom: 22px;
      font-size: 21px;
      line-height: 44px;
      color: #999999;
      border: 0;
      border-bottom: 1px solid #e5e5e5;
    }
  }

  .orders {
    .order {
      @include clearfix;
      border-bottom: 1px solid #e5e5e5;
      margin: 1em 0;

      header {
        @include clearfix;
        margin-bottom: 0.5em;

        .summary {
          float: left;
        }
        .info {
          float: right;
          > * {
            float: right;
          }
        }
        .tip {
          display: none;
        }
        .total_price {
          font-size: 1em;
        }
        @media screen and (min-width: 900px) {
          width: 90%;
          float: left;
        }
        @media screen and (max-width: 574px) {
          .tip {
            display: inline;
          }
        }
      }

      section {
        width: 90%;
        margin: 1em 0;
        @media screen and (max-width: 899px) {
          width: 100%;
        }
      }

      aside {
        float: right;

        @media screen and (min-width: 900px) {
          > * {
            display: block;
          }
          > *:not(:first-child) {
            margin-top: 0.5em;
          }
        }
        @media screen and (max-width: 899px) {
          float: none;
          text-align: right;
          > *:not(:first-child) {
            margin-left: 0.5em;
          }
        }
      }
    }
  }
}
