.orders_wrapper {
  @include responsive-wrapper;

  padding: 2em;

  .btn {
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 1em;
  }

  .price {
    color: #cc3300;
    font-size: 1.25em;
  }

  .order_items, .cart_items {
    .order_item {
      @include clearfix;
      margin-bottom: 1em;

      .item_info {
        float: left;
        width: 65%;
        .thing_cover {
          float: left;
          width: 180px;
          margin-right: 1em;
          img {
            height: 120px;
          }
        }

        .info {
          float: left;
          width: 280px;
          .title {
            height: 48px;
            a {
              color: #374a75;
              font-size: 1.25em;
            }
          }
          .kind {
            line-height: (120px - 48px - 22px);
          }
        }
      }

      .item_quantity {
        float: left;
        width: 10%;
      }

      .item_opt {
        float: right;
        width: 25%;
        text-align: right;

        .item_note {
          margin-top: (120px - 32px - 11px - 22px);
        }
      }

      @media screen and (max-width: 800px) {
        .item_info {
          .thing_cover {
            display: none;
          }
        }
      }

      @media screen and (max-width: 512px) {
        .item_info {
          @include clearfix;
          float: none;
          display: block;
          width: 100%;
          .thing_cover {
            display: none;
          }
          .info {
            width: auto;
            .kind {
              margin-top: 1em;
              margin-bottom: 1em;
              line-height: 1em;
            }
            .title {
              height: auto;
            }
          }
        }
        .item_opt {
          .item_note {
            margin: 0;
          }
        }
      }
    }
  }

  .order_header {
    @include clearfix;

    margin-bottom: 1em;

    .title {
      margin: 0;
    }
  }

  .order_header, .cart_items, .order_form, .order_items_price, .order, .order_info {
    padding: 1em 0 1em 0;
    border-bottom: 1px solid darkgray;
  }

  .order_items_price {
    margin-bottom: 1em;
  }

  .order_footer {
    ul {
      li {
        float: left;
      }
    }

    @media screen and (max-width: 767px) {
      .btn_back {
        display: none;
      }
    }
  }

  .order_items_price, .order_info {
    @include clearfix;
    p {
      margin: 0;
    }
  }

  .order {
    @include clearfix;
    .order_info {
      @include clearfix;
      margin-bottom: 2em;

      .left {
        float: left;
        width: 50%;
      }

      .middle {
        float: left;
        width: 20%;
        text-align: right;
      }

      .right {
        float: left;
        width: 30%;
        text-align: right;
      }

      li {
        margin-bottom: 1em;
        .field {
          width: 5em;
          text-align: right;
          display: inline-block;
        }

        span strong {
          padding-left: 0.1em;
          padding-right: 0.5em;
        }
      }
    }

    .order_items {
      float: left;
      width: 70%;
    }

    .order_opts {
      float: left;
      width: 30%;
      text-align: right;
      .btn {
        margin-bottom: 0.5em;
      }
    }
  }
}

.control-group {
  @include clearfix;

  .control-label {
    float: left;
    margin-right: 1em;
    width: 6em;
    text-align: right;

    abbr[title] {
      border-bottom: none;
    }
  }

  .controls {
    float: left;
  }

  .deliver_by_list {
    @include clearfix;

    li {
      float: left;
      margin-right: 1em;
    }
  }

  @media screen and (max-width: 767px) {
    .control-label {
      text-align: left;
      float: none;
      width: auto;
    }
  }
}

.hidden_submit_btn {
  display: none;
}
