form.edit_review {
  .controls {
    input[type="text"] {width: 60%;}
    input[type="range"] {display: none;}
    textarea {display: none;}

    .redactor_box {
      width: 90%;
      .redactor_editor {
      }
    }
  }

  .submit {
    text-align: center;
    input[type="submit"] {
      width: 25%;
      @media screen and (max-width: 767px) {
        width: 80%;
      }
    }
  }
}

.lovers {
  color: $fontLightColor;
}

#review_show {
  > header {
    h3 { margin: 0; }
    .actions {margin-top: .5em;}
  }

  > section {
    margin-top: 1em;
    padding: 1em 0;
    border-top: 1px solid #eee;
  }

  > footer {
    @include clearfix;

    > * {
      float: left;
      margin-right: 2em;
      @media screen and (max-width: 767px) {
        float: none;
      }
    }

    .voting {
      form {
        small {color: $fontLightColor;}
        button {margin-left: 1em;}
      }
    }

    .share {margin-top: -5px;}
  }

  aside#review_comments {
    margin-top: 2em;

    .comments {
      form#create_comment {
        textarea {width: 50%;}
        @media screen and (max-width: 979px) {
          textarea {width: 95%;}
        }
      }
    }
  }
}

#reviews {
  .review {
    &:not(:last-child) {
      padding-bottom: 2em;
      border-bottom: 1px dashed #ccc;
      margin-bottom: 2em;
    }

    /* @include clearfix; */

    /* figure { */
    /*   float: right; */
    /*   width: 36%; */
    /*   text-align: center; */
    /*   margin: 1em; */

    /*   img { */
    /*     max-width: 100%; */
    /*     max-height: 280px; */
    /*   } */

    /*   @media screen and (max-width: 979px) { */
    /*     float: none; */
    /*     width: 95%; */
    /*     text-align: left; */
    /*     margin: 1em 0; */
    /*   } */
    /* } */

    article {
      header {
        margin-bottom: 2em;
        h3 {
          background: transparent;
          padding: 0;
        }
      }

      section {
        p {
          word-wrap: break-word;
        }
      }

      footer {
        span {
          padding-right: 1em;
        }
      }
    }
  }
}
