form.edit_review {
  .controls {
    input[type="text"] {width: 60%;}
    input[type="range"] {display: none;}
    textarea {display: none;}

    .redactor_box {
      width: 90%;
      .redactor_editor {
      }
    }
  }

  .submit {
    text-align: center;
    input[type="submit"] {
      width: 25%;
      @media screen and (max-width: 767px) {
        width: 80%;
      }
    }
  }
}

#review_details {
  @include left-layout;
  @include section-decorate;

  .review_wrapper {
    padding: 2em;

    > header {
      @include clearfix;

      h1 {
        font-size: 28px;
        margin: 0;
      }

      .author .actions a {
        margin-left: 1em;
        vertical-align: bottom;
      }
    }

    > section {
      margin-top: 2em;
      padding: 2em 0;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }

    > footer {
      padding-top: 2em;
      @include clearfix;

      > * {
        float: left;
        margin-right: 2em;
        @media screen and (max-width: 767px) {
          float: none;
        }
      }

      .share {margin-top: -5px;}
    }

    aside#review_comments {
      margin-top: 2em;

      .comments {
        form#create_comment {
          textarea {width: 39%;}
          @media screen and (max-width: 979px) {
            textarea {width: 95%;}
          }
        }
      }
    }
  }
}
