.lovers {
  color: $fontLightColor;
}

#review_show, #update_show {
  > header {
    h3 {
      word-wrap: break-word;          
      margin: 0;
      i {margin-left: .5em;}
    }
    .actions {margin-top: .5em;}
  }

  > section {
    margin-top: 1em;
    padding: 1em 0;
    border-top: 1px solid #eee;
  }

  > footer {
    @include clearfix;

    > * {
      float: left;
      margin-right: 2em;
      @media screen and (max-width: 767px) {
        float: none;
      }
    }

    .voting {
      form {
        small {color: $fontLightColor;}
        button {margin-left: 1em;}
      }
    }

    .share {margin-top: -5px;}
  }

  aside#comments {
    margin-top: 2em;

    .comments {
      form#create_comment {
        textarea {width: 50%;}
        @media screen and (max-width: 979px) {
          textarea {width: 95%;}
        }
      }
    }
  }
}

#reviews {
  .review {
    &:not(:last-child) {
      padding-bottom: 2em;
      border-bottom: 1px dashed #ccc;
      margin-bottom: 2em;
    }

    article {
      @media screen and (min-width: 768px) {
        .author, .score {display: inline;}
      }

      .details {
        i {margin-left: 1em;}
      }

      footer {margin-top: 1em;}
    }
  }
}

#new_review_link {text-align: center;}
