hgroup#thing_form_header {
  margin: 0 3% 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;

  h1 {
    font-size: 24px;
    margin: 0;
  }
  p {
    color: $fontLightColor;
    b {color: $blue;}
  }
}

$formWidth: 46%;
$marginWidth: 50% - $formWidth;

form.thing_form {
  width: $formWidth;
  margin-left: $marginWidth;

  label.control-label {
    width: 15%;
  }

  .controls {
    margin-left: 20%;
    input[type="text"], input[type="url"], textarea {
      width: 80%;
    }
    p.help-block {
      width: 80%;
    }
  }

  input[type="submit"] {
    margin-left: 20%;
    margin-top: 2em;
    width: 66.66%;
  }
}

form#new_photo {
  width: $formWidth;
  margin-right: $marginWidth;

  .fileinput-button {
    position: relative;
    overflow: hidden;
    margin-bottom: 1em;
    width: 39%;

    i {margin-right: 2em;}

    input {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      cursor: pointer;
      @include opacity(0);
    }
  }

  #photos {
    border: 1px dashed #ccc;
    min-height: 680px;
    @include transition(background, 0.3s);

    &.dragover {
      background: lighten($pink, 40%);
    }

    p {
      text-align: center;
      font-size: $fontSizeSmall;
      color: $fontLightColor;
    }

    ul {
      li {
        margin: 1em;
        padding: 1em;
        background: white;
        @include clearfix();

        .photo {
          float: left;
          max-width: 80px;
          max-height: 80px;
          margin-right: 1em;
          overflow: hidden;
        }

        .file_info {
          color: $fontLightColor;
          span:first-child {
            margin-right: 2em;
            border-right: 1px solid $fontLightColor;
            padding-right: 2em;
          }

          > a {
            margin-right: 1em;
          }
        }

        .progress {
          margin-top: 1.5em;
        }

        .fail {
          color: $pink;
        }

        &.uploaded {
          cursor: pointer;
        }
      }
    }

  }
}
