.thing_wrapper {
  @include fixed-wrapper;
}

#thing_header {
  border-bottom: 1px solid #eee;
  margin-bottom: 2em;

  hgroup {
    @include clearfix;
    text-align: center;
    h1 {
      font-size: 24px;
      margin: 0;
    }

    h2 {
      margin: 0;
      line-height: 24px;
      font-size: 18px;
      color: $fontLightColor;
    }
  }

  nav {
    margin-top: 1em;

    i {@extend .icon-large;}

    a {color: $fontLightColor;}

    .nav {
      margin: 0;

      a {
        padding: {left: 11px; right: 11px;}
        small {
          margin-left: .5em;
        }
      }

      .active {
        border-bottom: 1px solid $red;
        a {
          color: $textColor;
          background: transparent;
        }
      }

      @media screen and (max-width: 767px) {
        a {
          span {display: none;}
          i {margin: 0;}
        }
      }

    }

    .operations {
      float: right;
      text-align: right;
      margin-top: .4em;

      @media screen and (max-width: 767px) {
        display: none;
      }

      i {margin-right: 1em;}
      a:hover {
        color: $textColor;
      }
    }
  }
}

#thing_content {
  @media screen and (min-width: 1024px) {
    @include left-layout;
    width: 768px;
    padding-right: 20px;
    border-right: 1px solid #eee;
    margin-right: 20px;
  }

  > * {
    padding-bottom: 2em;
    border-bottom: 1px solid #eee;
    margin-bottom: 2em;
  }

  .photos {
    #photo_main {
      $height: 576px;
      margin: 0;

      .item {
        @media screen and (min-width: 1024px) {
          height: $height;
          line-height: $height;
        }

        text-align: center;

        img {
          display: inline;
          max-height: $height;
          vertical-align: middle;
        }
      }

      .carousel-control {
        font-size: 28px;
        top: 265px;
        i {
          padding-top: 5px;
          margin: 0;
        }
      }

      @media screen and (min-width: 1024px) {
        &:hover {
          .carousel-control {display: block;}
        }
      }
    }

    .photo_indicators {
      @include clearfix;
      li {
        float: left;
        margin: 1em 1em 0 0;
        cursor: pointer;

        img {
          @media screen and (max-width: 767px) {
            width: 56px;
            height: 56px;
          }
        }
      }
    }
  }
}

#thing_actions {

  .shop {
    .self_run {
      a {
        color: $fontLightColor;
        i {
          font-size: 1.2em;
          color: $purple;
        }
      }
    }
  }

  .actions {
    .fanciers {
      .fancied {
        .icon-heart-empty {display: none;}
      }
      .unfancied {
        .icon-heart {display: none;}
        &:hover {
          small {color: $red;}
        }
      }
    }

    .owners {
      .owned {
        .icon-check-empty {display: none;}
      }

      .unowned {
        .icon-check {display: none;}
        &:hover {
          small {color: $green;}
        }
      }
    }

    > * {
      small {color: $fontLightColor;}
    }
  }

  .author_info {
    p {
      color: $fontLightColor;
      time {margin-right: 1em;}
    }
    .author {
      time {display: none;}
    }
  }

  @media screen and (min-width: 1024px) {
    @include right-layout;
    width: 170px;

    > * {
      padding-bottom: 2em;
      border-bottom: 1px solid #eee;
      margin-bottom: 2em;
    }

    .shop {
      > *:not(:last-child) {margin-bottom: 1em;}

      .price {
        display: block;
        small {font-size: 1.2em;}
      }

      .self_run {
        margin-left: 1.2em;
      }

      a {
        width: 100px;
        i {margin-left: -1em; }
      }

    }

    .actions {
      margin-right: 2em;

      > * {
        text-align: right;
        i {float: left;}
        small {
          margin-left: 2em;
          font-size: 1em;
        }
      }

      > *:not(:last-child) {margin-bottom: 1em;}

      .fanciers, .owners, .share {
        a {line-height: 1.8em;}
        i {font-size: 1.8em;}
      }

      .supplier {
        a {
          color: $grayLight;
          i {
            padding-top: 2px;
            margin-left: 5px;
            margin-right: 0;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1023px) {
    @include clearfix();
    margin-bottom: 1em;

    .shop {
      float: left;
      height: 30px;
      > * {
        display: inline;
        margin-right: 1em;
      }

      .self_run {display: none;}
    }

    .actions {
      float: right;
      min-width: 180px;
      text-align: right;
      > * {
        display: inline;
        margin-left: 1em;
        i {
          margin-right: .2em;
          font-size: 1.5em;
        }
        small {display: none;}
      }
      .supplier {display: none;}
    }

    .author_info {display: none;}
  }

  @media screen and (max-width: 767px) {
    .shop {
      float: none;
      text-align: center;
      margin-bottom: 1em;
    }
    .actions {
      float: none;
      text-align: center;
      margin-bottom: 1em;
    }
  }
}

#thing_packages {
  @media screen and (min-width: 1024px) {
    @include right-layout;
    width: 170px;
  }

  .package {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 2em;
  }
}

.things_wrapper {
  @media screen and (min-width: 512px) {
    padding: 0 7%;
  }
}

#things_index {
  @include clearfix();
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 440px;
  }

  @media screen and (min-width: 1024px) {
    width: 880px;
  }

  @media screen and (min-width: 1680px) {
    width: 1360px;
  }

  li {
    @include thing(384px);
    @include section-decorate;
    padding: 1em;

    @media screen and (max-width: 767px) {
      @include thing(228px);
    }
  }

  .btn-group {
    padding-left: 15px;
    margin-bottom: 15px;
    a {
      color: #777;
    }
  }
}

#supplier-modal {
  input[type="text"], input[type="url"], textarea {width: 80%;}
}

#go_top {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  @include opacity(0.5);
}

#thing_comments {
  .comments {
    > h4 {display: none;}

    ul {
      padding: 0;
      border: none;
    }

    .comment_form {
      textarea {width: 95%;}
    }
  }
}

