#thing_layout {
  @include section-decorate;
  @include make-row;
  padding: 1em 1.5em;
  margin: 0 $site-margin 2em;

  #thing_header {
    margin-bottom: 1em;
    border-bottom: $border-default;
  }

  #thing_content {

    > * {
      padding-bottom: 2em;
      border-bottom: $border-default;
      margin-bottom: 2em;
    }

    > *:last-child {border: none;}

    .edit_post {padding-bottom: 0;}
  }

  @media screen and (min-width: $screen-sm-min) {
    #thing_header {
      margin-bottom: 2em;
    }
  }

  @media screen and (min-width: $screen-md-min) {
    #thing_content {
      @include make-md-column(8, $gutter: 4em);
      @include make-md-column-pull(4);
      border-right: $border-default;
      min-height: 800px;
    }

    #thing_actions {
      @include make-md-column(4, $gutter: 4em);
      @include make-md-column-push(8);
    }
  }

  @media screen and (min-width: $screen-lg-min+100) {
    margin: 0 auto;
    max-width: $screen-lg-min;
  }
}

#thing_header {
  hgroup {
    text-align: center;
    margin-bottom: 1em;
    h1, h2 {margin: 0;}
    h1 {font-size: $font-size-h3;}
    h2 {
      font-size: $font-size-h4;
      color: $text-muted;
    }

    @media screen and (max-width: $screen-xs-max) {
      h1, h2 {@include text-overflow;}
      h1 {font-size: $font-size-h4;}
      h2 {font-size: $font-size-base;}
    }
  }

  nav {
    i {@extend .fa-lg;}
    a {color: $text-muted;}

    .nav {
      li {border-bottom: 1px solid #fff;}
      i {margin: 0;}
      .sub {display: none;}

      .active {
        border-bottom: $border-default-active;
        a {
          color: $text-color;
          background: transparent;
        }
      }
    }

    @media screen and (max-width: $screen-xs-max) {
      .nav {
        a {
          padding: {
            left: 7px;
            right: 7px;
          }
        }
        .badge {
          background: transparent;
          color: $text-muted;
          padding: 0;
        }
      }
    }

    @media screen and (min-width: $screen-sm-min) {
      .nav {
        i {margin-right: .5em;}
        .sub {display: inline;}
      }
    }
  }
}

#thing_photos {
  .carousel {
    .item {
      text-align: center;
      max-height: 480px;
      img {
        margin: 0 auto;
        max-height: 100%;
      }
    }

    .carousel-control {display: none;}
  }

  .carousel-thumb {
    height: 80px;
    overflow: hidden;

    li {
      width: 80px;
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    .carousel-thumb {
      display: none;
    }
  }

  @media screen and (min-width: $screen-md-min) {
    .carousel {
      .carousel-control {
        position: absolute;
        top: 40%;
        font-size: 28px;
        width: 40px;
        height: 40px;
        background: rgba(0, 0, 0, 0.3);
        @include border-radius(100px);
        i {margin-left: 12px;}
      }
      &:hover .carousel-control {display: block;}
    }
  }
}

#thing_actions {
  @include clearfix;

  .shop {
    .shopping_desc {
      color: $text-muted;
      a {
        margin-left: .5em;
        font-size: .8em;
      }
    }

    @media screen and (max-width: $screen-sm-max) {
      #new_cart_item {display: none;}
      .shopping_desc span {display: none;}
      .price, .shopping_desc, .buy, .mobile_buy {display: inline-block;}

      .buy {
        float: right;
        margin-top: -.5em;
      }

      .buy_button {
        padding: 1px 0;
        width: 8em;
      }
    }

    @media screen and (min-width: $screen-sm-min) {
      .price {span {font-size: 1.2em;}}
    }

    @media screen and (min-width: $screen-md-min) {
      > *:not(:last-child) {margin-bottom: 1em;}
      .mobile_buy {display: none;}

      .buy {
        padding-bottom: 2em;
        border-bottom: $border-default;
        margin-bottom: 2em;
      }

      .buy_button {
        width: 60%;
        i {
          margin-right: 10%;
          vertical-align: -1px;
        }
      }
    }
  }

  .investors {
    margin-bottom: 1em;
    color: $text-muted;

    h4 {
      margin: 0;
      > * {vertical-align: text-bottom;}
      i {
        color: $red;
      }
      time {
        font-size: 1em;
        margin: 0 .2em;
        color: $red;
      }
    }

    p {
      margin: 0;
      em {font-style: normal;}
      em:first-child {
        color: $green;
      }
    }

    .progress {
      display: none;
      margin: 1em 0 0;
    }

    @media screen and (min-width: $screen-sm-min) {
      @include clearfix;
      h4 {float: left;}
      p {
        float: right;
        margin-top: .5em;
        em {font-size: 1.2em;}
      }
    }

    @media screen and (min-width: $screen-md-min) {
      padding-bottom: 2em;
      border-bottom: $border-default;
      margin-bottom: 2em;
      h4, p {float: none;}
      h4 {i {
            font-size: 2em;
            vertical-align: 3px;
          }}
      .progress {display: block;}
    }

    @media screen and (min-width: $screen-lg-min) {
      p {
        em {font-size: 1.5em;}
        span {font-size: 1.4em;}
      }
    }
  }

  .categories {
    a {
      display: inline-block;
      margin-right: 1em;
      background: #eee;
      color: #666;
      margin: 1em 1em 1em 0;
      padding: .3em .5em;
      @include border-radius(3px);
      &:hover {color: $text-color;}

      @media screen and (min-width: $screen-md-min) {
        margin-top: 0;
      }
    }
  }

  .actions {
    margin: 1em 0;
    > * {
      display: inline-block;
      width: 25%;
      border-right: $border-default;
      text-align: center;
      a {
        display: block;
        width: 100%;
        i {
          display: block;
          margin: 0 auto .2em;
          font-size: 1.5em;
        }
      }
      &:hover {background: #eee;}
    }

    .share, .new_review {
      a {color: $text-muted;}
      &:hover, &:active {
        a {color: $text-color;}
      }
    }

    > *:last-child {border: none;}

    .tooltip {

      &.bottom {

        @media screen and (min-width: $screen-md-min) {
          margin-top: -10px;
        }
      }

      .tooltip-inner {
        padding-bottom: 6px;
        padding-top: 6px;
      }
    }

    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 2em;

      > * {
        border: none;
        width: 40%;

        a {
          padding: 1em 0;
          i {font-size: 2em;}
          small {margin-left: .5em;}
        }
      }

      > *:nth-child(2n+1) {border-right: $border-default;}
      > *:nth-child(-n+2) {border-bottom: $border-default;}
      > *:nth-child(n+3)  {a {padding-top: 1.5em;}}
    }
  }

  .operations {
    display: none;

    li {
      display: inline-block;
      margin-bottom: 1.2em;
      width: 50%;
      a {color: $text-muted;}
    }

    @media screen and (min-width: $screen-md-min) {
      display: block;
    }
  }

  .kinds {
    display: none;
    margin-top: 1em;
    border-top: $border-default;
    padding-top: 1em;

    > ul > li {
      margin-bottom: 1em;

      h5 {font-weight: bold;}
      .price {
        em {
          color: $green;
          font-size: 1.5em;
        }
      }
      .note {
        margin: 1em 0;
        color: $text-muted;
      }
      .estimated_at {
        time {
          font-size: 1em;
          color: $green;
        }
      }
    }

    @media screen and (min-width: $screen-md-min) {
      display: block;
    }
  }

  .related_things {
    display: none;
    margin-top: 1em;
    border-top: $border-default;
    padding-top: 1em;

    h4 {color: $text-muted;}
    
    > ul > li {
      float: left;
      width: 46%;
      margin: 1em 2%;
      figure {@include stretch-img;}
      figcaption {
        h5 {
          text-align: center;
          color: $text-muted;
          @include text-overflow;
        }
      }
    }

    @media screen and (min-width: $screen-md-min) {
      display: block;
    }
  }
}

.cart_success {
  color: $green;
  i {color: $green;}
}

#new_cart_item {
  abbr {display: none;}

  label {
    display: inline-block;
    color: $text-muted;
    margin-right: .5em;
  }

  select, input, .help-block {
    display: inline-block;
  }

  .cart_item_kind_id {
    select {width: 80%;}
  }

  .cart_item_quantity {
    input {
      min-width: 4em;
      width: 4em;
    }
    .help-block {
      display: none;
      strong {color: $green;}
    }
  }

  .cart_estimated_prompt, .cart_success {
    display: none;
  }

  .cart_estimated_prompt {
    color: $text-muted;
    i {margin-left: .5em;}
    time {
      color: $green;
      font-size: 1em;
      margin-right: .5em;
    }
  }

  .submit {
    .support {
      display: inline-block;
      color: $text-muted;
      vertical-align: -.2em;
      i {font-size: 1.2em;}
    }
  }

  @media screen and (min-width: $screen-sm-min) {
  }

  @media screen and (min-width: $screen-md-min) {
    label {
      width: 12%;
      margin-right: 5%;
    }

    .cart_item_kind_id {
      select {width: 80%;}
    }

    .cart_item_quantity {
      input {width: 20%;}
      .help-block {
        width: 60%;
        text-align: right;
      }
    }

    .cart_estimated_prompt, .cart_success {
      margin-bottom: 1em;
    }

    .submit {
      .support {
        text-align: right;
        width: 37%;
      }
    }
  }
}

#thing_reviews {
  .new_review {
    @extend .btn;
    @extend .btn-default;
    @extend .pull-right;
  }
}

.things_wrapper {
  @media screen and (min-width: 512px) {
    padding: 0 7%;
  }
}

#things_index {
  @include site_margin;
  > nav {margin-bottom: 1em;}
  h1 {
    margin-bottom: 1em;
    color: $text-muted;
    font-size: 24px;
  }
  ul#things {
    @include make-row;
    li {
      @include make-sm-column(4);
      @include make-lg-column(2);
      margin-bottom: 2em;
    }
  }
}

#thing_investors {
  text-align: center;

  li {
    display: inline-block;
    margin: 1.6em;
    width: 80px;
    text-align: center;
    img {@extend .img-circle;}
    > * {
      display: block;
      margin-bottom: .5em;
      color: $text-muted;
      @include text-overflow;
    }
  }
}

#thing_supplier {
  input[type="text"], input[type="url"], textarea {width: 80%;}
}

#thing_share_wechat {
  .modal-body {text-align: center;}
}

.lovers {
  color: $text-muted;
}

.post_show {
  > header {
    h3 {
      word-wrap: break-word;
      margin: 0;
    }
  }

  > section {
    margin-top: 1em;
    padding: 1em 0;
    border-top: 1px solid #eee;
  }

  > footer {
    @include clearfix;

    > * {
      margin-right: 2em;
    }

    .voting {
      display: inline-block;
      form {
        small {color: $text-muted;}
        button {margin-left: 1em;}
      }
    }

    .share {margin-top: -5px;}

    .fanciers {
      float: right;
      i {margin-right: 2em;}
    }
  }

  aside#comments {
    margin-top: 2em;
  }
}

#reviews {
  .review {
    &:not(:last-child) {
      padding-bottom: 2em;
      border-bottom: 1px dashed #ccc;
      margin-bottom: 2em;
    }

    article {
      @media screen and (min-width: $screen-sm-min) {
        .author, .score {display: inline;}
      }

      .details {
        i {margin-left: 1em;}
      }
    }
  }
}

#timeline {
  .story {
    position: relative;
    border-left: 5px solid #eee;
    padding-left: 2em;
    margin-bottom: 1em;

    figure {
      position: absolute;
      margin: 0;
      background: white;
      color: $text-muted;
      left: -.5em;
      font-size: 1.6em;
      padding-bottom: .625em;
    }
  }
}

.thing_module {
  h4 {
    color: $text-muted;
    .btn {margin-left: 2em;}
    padding-bottom: .5em;
    border-bottom: 5px solid #eee;
    i.fa-angle-double-right {float: right;}
  }
  ul {margin: 1em 0;}
}
