.thing_wrapper {
  @include section-decorate;
  @include clearfix;
  padding: 1em 20px;
  width: 980px;
  margin: 0 auto;
}

#thing_header {
  border-bottom: 1px solid #eee;
  margin-bottom: 2em;

  hgroup {
    @include clearfix;
    text-align: center;
    h1 {
      font-size: 24px;
      margin: 0;
    }

    h2 {
      margin: 0;
      line-height: 24px;
      font-size: 18px;
      color: $fontLightColor;
    }
  }

  nav {
    margin-top: 1em;

    a {color: $fontLightColor;}
    
    .nav {
      margin: 0;
      .active {
        border-bottom: 1px solid $red;
        a {
          color: $textColor;
          background: transparent;
        }
      }
    }

    .operations {
      float: right;
      text-align: right;
      width: 25%;
      margin-top: .4em;
      i {margin-right: 1em;}
      a:hover {
        color: $textColor;
      }
    }
  }
}

#thing_content {
  @include left-layout;
  width: 768px;
  padding-right: 20px;
  border-right: 1px solid #eee;
  margin-right: 20px;

  > * {
    padding-bottom: 2em;
    border-bottom: 1px solid #eee;
    margin-bottom: 2em;
  }

  .photos {
    #photo_main {
      $height: 576px;
      margin: 0;

      .item {
        height: $height;
        line-height: $height;
        text-align: center;

        img {
          display: inline;
          max-height: $height;
          vertical-align: middle;
        }
      }

      .carousel-control {
        font-size: 28px;
        top: 265px;
        i {
          padding-top: 5px;
          margin: 0;
        }
      }

      @media screen and (min-width: 1024px) {
        &:hover {
          .carousel-control {display: block;}
        }
      }
    }

    .photo_indicators {
      @include clearfix;
      li {
        float: left;
        margin: 1em 1em 0 0;
        cursor: pointer;

        img {
          @media screen and (max-width: 767px) {
            width: 66px;
            height: 66px;
          }
        }
      }
    }
  }

  .author_desc {
    @include clearfix;

    blockquote {
      color: $fontLightColor;
      margin-bottom: 0;
    }

    .author {
      float: right;
      margin: 0 2em;
    }

  }

  .top_review {}
}

#thing_footer {
  @include right-layout;
  width: 171px;

  > * {
    padding-bottom: 2em;
    border-bottom: 1px solid #eee;
    margin-bottom: 2em;
  }

  .shop {
    small {
      display: block;
      font-size: 1.2em;
      margin-bottom: 1em;
    }

    a {
      width: 100px;
      i {
        margin-right: 1.5em;
        margin-left: -1em;
      }
    }
  }

  .actions {
    padding-left: 10px;
    > * {
      margin-bottom: 1em;
      i {
        vertical-align: -3px;
        margin-right: 1em;
      }
      small {
        margin-left: 1em;
        color: $fontLightColor;
      }
    }

    .owners {
      margin-left: 2px;
      ul {
        a {color: $blue;}
        img {margin-right: .7em;}
      }
    }
  }
}

#thing_summary {
  @include right-layout;
  @include section-decorate;

  .summary_wrapper {
    margin: 0 1em;
  }

  hgroup {
    margin-top: 1em;

    h1 {
      margin: 0;
      font-size: 24px;
    }

    h2 {
      font-size: 18px;
      margin: 0;
      color: $fontLightColor;
    }
  }

  .price {
    color: $fontLightColor;
    small {
      font-size: $baseFontSize;
      margin-right: 2em;
    }
    em {color: $pink;}
  }

  .actions {
    .shop, .fancy, .own, .official_site, .share {
      margin: 1em 0;
      a, button {
        text-align: left;
        i {margin-right: 20%;}
      }

      a {width: 100%;}
      button {width: 50%;}
    }

    .fancy {button i {color: $pink;}}
    .own {button i {color: $green;}}
    .official_site {a i {color: $blue;}}
    .share {button i {color: $blue;}}
  }

  .author {
    margin-top: 2em;
  }

  blockquote {
    margin: 1em 0 2em;
  }

  .edits {
    margin: 1em 0;
    > * {
      margin-right: .5em;
      margin-bottom: .5em;
    }
  }

  @media screen and (max-width: 979px) {
    position: fixed;
    bottom: 0;
    margin-left: -53px;
    @include background(rgba(0, 0, 0, 0.5));
    @include border-radius(0);
    @include box-shadow(none);
    text-align: center;

    hgroup, blockquote, .edits, .author {
      display: none;
    }

    .price {
      display: inline-block;
      color: white;
      margin-right: 1em;
      em {color: lighten($pink, 30%);}
      small {margin-right: 1em;}
    }

    .actions {
      display: inline-block;
      .shop, .fancy, .own, .share {
        display: inline-block;
        margin-right: .8em;
        a, button {
          width: auto;
          i {margin-right: 0;}
          span {display: none;}
        }
      }
      .official_site {display: none;}
    }

  }

  @media screen and (max-width: 767px) {
    margin-left: -20px;
  }
}

#things_index {
  .controls {
    @include clearfix();
    width: 100%;
    a {
      display: inline-block;
      i {padding-top: 4px;}
    }
  }

  li {
    @include thing(320px);
    @include section-decorate;
    padding: 1em;
  }
}
