#updates {
  .update {
    &:not(:last-child) {
      padding-bottom: 2em;
      border-bottom: 1px dashed #ccc;
      margin-bottom: 2em;
    }

    article {
      header {
        margin-bottom: 2em;
        word-wrap: break-word;          
      }

      footer {
        font-size: 1.2em;
      }
    }
  }
}

