#user_content {
  @include left-layout;
  @include section-decorate;

  .content_wrapper {padding: 2em;}

  .nav-tabs {
    li a b {margin-left: .5em;}
  }

  #reviews {
    li {
      padding-bottom: 1em;
      border-bottom: 1px dashed #ccc;
      margin: 1em 0;

      @include clearfix;

      figure {
        float: right;
        width: 36%;
        text-align: center;
        margin: 1em;

        img {
          max-width: 100%;
          max-height: 280px;
        }

        @media screen and (max-width: 979px) {
          float: none;
          width: 95%;
          text-align: left;
          margin: 1em 0;
        }
      }

      article {
        header {
          h3 {
            background: transparent;
            padding: 0;
          }
        }
      }
    }
  }

  #things, #fancies, #owns {
    li {
      @include thing(320px);

      @media screen and (max-width: 767px) {
        @include thing(200px);
      }
    }
  }
}

#user_summary {
  @include right-layout;
  @include section-decorate;

  .summary_wrapper {
    margin: 1em;
    @media screen and (max-width: 979px) {
      padding: 1em;
    }
  }

  .avatar {margin-top: 1em;}

  h2.name {
    margin-top: .5em;
    font-size: 18px;
  }

  .karma {
    margin: 0;
    @include clearfix;

    .rank {
      float: left;
      width: 25%;
      margin: 0;
      font-family: "orbitron-bold";
      color: $blue;
    }
    .progress {
      float: left;
      width: 60%;
      .bar {
        @include transition(width 1s, opacity 0.22s ease-out);
      }
    }
  }

  address, blockquote {
    margin-top: 1em;
    color: $fontLightColor;
    i {margin-right: 1em;}
  }

  .urls {
    > * {margin-right: 1em;}
    a i {color: $blue;}
  }
}
