.user_wrapper {
  @include site_margin;

  @media screen and (min-width: $screen-md-min) {
    @include make-row;
    @include site_margin;
  }

  aside[role="complementary"] {
    @include make-md-column(4);
    @include make-lg-column(3);
    @include make-xl-column(2);
  }

  main[role="main"] {
    @include make-md-column(8);
    @include make-lg-column(9);
    @include make-xl-column(10);

    .tab-pane {

      ul.grids {
        @include make-row;

        > li {
          @include make-sm-column(6);
          @include make-lg-column(4);
          @include make-xl-column(3);
        }
      }
    }
  }
}

dl.vcard {
  margin-top: 0;

  dt,
  dd {
    margin-bottom: 1em;
  }

  .avatar img {
    height: 80px;
    width: 80px;
  }

  .name h2 {
    font-size: $font-size-h4;
  }

  .level {
    color: $blue;
    float: left;
    font-family: "orbitron-bold";
    margin-right: 1em;
  }

  .progress {
    float: left;
    margin-bottom: 0;
    width: 70%;

    .progress-bar {
      @include transition(width 1s, opacity 0.22s ease-out);
    }
  }

  .url {
    [class^="icon"] {
      color: $blue;
      margin-right: 1em;
    }
  }

  address,
  blockquote {
    color: $text-muted;
  }
}

#users_index {
  @include clearfix;
  li {
    @include section-decorate;
    float: left;
    padding: 1em 1em 0;
    margin: 1em;
    a {display: block;}
  }
}

.login_wrapper {
  @include responsive-wrapper;
}
