<%- salutation = @resource.name || @resource.email %>
<p>Hi<%= ", #{salutation}" if salutation.present? %>!</p>

<p>你会收到这封邮件是因为你（有可能）在KnewOne提交了一个重置密码的申请。</p>

<p>请点击以下链接重置密码：</p>

<p><%= link_to edit_password_url(@resource, :reset_password_token => @token),
               edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>————————————</p>

<p>如果以上链接无法点击，请将上面的地址复制到你的浏览器(如IE)的地址栏进入KnewOne。</p>
<p>如果你没有申请重置密码，请忽略。</p>
<p><%= link_to 'knewone.com', 'http://knewone.com' %></p>
<p>(这是一封自动产生的email，请不要回复。)</p>
