<% provide :title, '重置密码' %>
<% provide :title_text, '完成注册' %>
<%- salutation = @resource.name || @resource.email %>
<% provide :username, salutation if salutation.present? %>

<p>你会收到这封邮件是因为你（有可能）在KnewOne提交了一个重置密码的申请。</p>

<p>请点击以下链接重置密码：</p>

<p><%= link_to edit_password_url(@resource, :reset_password_token => @token),
               edit_password_url(@resource, :reset_password_token => @token) %></p>

<hr>

<p>如果以上链接无法点击，请将上面的地址复制到你的浏览器(如IE)的地址栏。</p>
<p>如果你没有申请重置密码，请忽略。</p>
<p>(如果您有任何疑问，可以直接回复此封邮件。)</p>
