body {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", Helvetica, Arial, sans-serif;
  /*background-color: #ebeced;*/
  background: url('/valentine/images/pattern/geometryRed.png');
}
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a, a:hover, a:focus { text-decoration: none; }
.container { overflow: hidden; }
.container svg { display: block; }
section { position: relative; text-align: center; }
.row { margin-right: 0; margin-left: 0; }
footer { height: 50px; }
