html
  head
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    css:
      @media all {
        body {
          color: #222;
          font-size: 10px;
          line-height: 1.5;
          padding-bottom: 40px;
          padding-top: 80px;
        }

        * {
          background: transparent !important;
          box-shadow: none !important;
          font-size: 10px;
          text-shadow: none !important;
        }

        a,
        a:visited {
          text-decoration: underline;
        }

        a[href]:after {
          content: " (" attr(href) ")";
        }

        abbr[title]:after {
          content: " (" attr(title) ")";
        }

         a[href^="javascript:"]:after,
         a[href^="#"]:after {
          content: "";
        }

        pre,
        blockquote {
          border: 1px solid #999;
          page-break-inside: avoid;
        }

        table {
          border-collapse: collapse;
          table-layout: fixed;
          width: 100%;
        }

        thead {
          display: table-header-group;
        }

        tr,
        img {
          page-break-inside: avoid;
        }

        th,
        td {
          border: 1px solid #222;
          padding: 5px;
        }

        img {
          max-width: 100% !important;
        }

        p,
        h2,
        h3 {
          orphans: 3;
          widows: 3;
        }

        h2,
        h3 {
          page-break-after: avoid;
        }

        p {
          margin-bottom: 1em;
          margin-top: 0;
        }

        .text-left { text-align: left !important; }
        .text-center { text-align: center !important; }
        .text-right { text-align: right !important; }

        .cutline {
          border: none;
          border-bottom: 1px dashed #222;
          height: 0;
          line-heihgt: 0;
          margin: 2em 0;
        }
        .cutline:before {
          content: '✁';
          font-size: 2em;
          margin-top: -.9em;
          position: absolute;
        }

        .well {
          line-height: 2;
          margin-bottom: 40px;
          margin-top: 40px;
        }

        .card {
          border: 1px solid #222;
          padding: 2em;
        }

        ul.nstyle {
          margin: 0;
          padding-left: 0;
        }
        ul.nstyle li {
          list-style: none;
        }

        table.noborder th,
        table.noborder td {
          border: 0;
        }
        table.noborder th {
          font-weight: normal;
          text-align: right;
        }

        .container {
          margin: 0 auto;
          width: 600px;
        }
      }

  body
    .container
      = yield
